
<div *ngIf="project">
    <h2><span jhiTranslate="agreeGatewayV1App.project.detail.title">Project</span> {{project.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="agreeGatewayV1App.project.tenantId">Tenant Id</span></dt>
        <dd>
            <span>{{project.tenantId}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.project.projectName">Project Name</span></dt>
        <dd>
            <span>{{project.projectName}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.project.startDate">Start Date</span></dt>
        <dd>
            <span>{{project.startDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.project.endDate">End Date</span></dt>
        <dd>
            <span>{{project.endDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.project.enabledFlag">Enabled Flag</span></dt>
        <dd>
            <span>{{project.enabledFlag}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.project.createdBy">Created By</span></dt>
        <dd>
            <span>{{project.createdBy}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.project.lastUpdatedBy">Last Updated By</span></dt>
        <dd>
            <span>{{project.lastUpdatedBy}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.project.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{project.creationDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.project.lastUpdatedDate">Last Updated Date</span></dt>
        <dd>
            <span>{{project.lastUpdatedDate | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'project/'+ project.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
