
<div *ngIf="jobActions">
    <h2><span jhiTranslate="agreeGatewayV1App.jobActions.detail.title">Job Actions</span> {{jobActions.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="agreeGatewayV1App.jobActions.step">Step</span></dt>
        <dd>
            <span>{{jobActions.step}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.jobActions.actionName">Action Name</span></dt>
        <dd>
            <span>{{jobActions.actionName}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.jobActions.schedulerId">Scheduler Id</span></dt>
        <dd>
            <span>{{jobActions.schedulerId}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.jobActions.status">Status</span></dt>
        <dd>
            <span>{{jobActions.status}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'job-actions/'+ jobActions.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
