<div class="component-title">
    <div class="col-md-6">
        <div class="headingIcons">
            <i class="fa fa-arrow-right iconStyle"></i>
        </div>
        <h4>{{purpose ? 'Value' : 'Lookup'}} Set(s)</h4>
    </div>
    <div class="col-md-6">
        <div class="pull-right">
            <button md-icon-button mdTooltip="Bulk Upload" (click)="openDialog()">
                <md-icon>file_upload</md-icon>
            </button>
            <button *ngIf="!purpose" md-icon-button [routerLink]="['/mapping-set', {outlets: { 'content': ['mapping-set-new']}}]" mdTooltip="Add Lookup Set">
                <md-icon>add</md-icon>
            </button>
            <button *ngIf="purpose" md-icon-button [routerLink]="['/value-set', {outlets: { 'content': ['value-set-new']}}]" mdTooltip="Add Value Set">
                <md-icon>add</md-icon>
            </button>
        </div>
    </div>
</div>

<div class="component-body">
    <div class="d-flex justify-content-between sr-pg-con">
        <input type="text" placeholder="Search.." class="form-control search-input" #gb>
        <md-paginator *ngIf="mapingsetRecordsLength>0" [length]="mapingsetRecordsLength" [pageSize]="itemsPerPage" [pageSizeOptions]="pageSizeOptions"
            [pageIndex]="page" (page)="onPaginateChange($event)">
        </md-paginator>
    </div>
	<div class="list-table">
        <p-dataTable [value]="mappingSets" reorderableColumns="true" resizableColumns="true" columnResizeMode="expand"
            scrollable="true" [responsive]="true" [headerCheckboxToggleAllPages]="true"
            [globalFilter]="gb" #dt  (onRowSelect)="onRowSelect($event)" selectionMode="single">
            
            <p-column field="name" header="Name" styleClass="left" [style]="{'width':'25%'}"> 
                <ng-template let-col let-row="rowData" pTemplate="body"> 
                    <span class="d-block">{{row[col.field]}}</span>
                </ng-template> 
            </p-column>

            <p-column *ngIf="!purpose" field="purpose" header="Purpose" styleClass="left" [style]="{'width':'25%'}">
                <ng-template let-col let-row="rowData" pTemplate="body">{{row[col.field]}}</ng-template>
            </p-column>
            
            <p-column field="startDate" header="Start Date" [style]="{'width':'15%'}" styleClass="left" [sortable]="true">
                <ng-template let-col let-row="rowData" pTemplate="body">
                    <span *ngIf="row[col.field]">{{row[col.field] | date: 'mediumDate'}}</span>
                </ng-template>
            </p-column>

            <p-column field="endDate" header="End Date" [style]="{'width':'15%'}" styleClass="left" [sortable]="true">
                <ng-template let-col let-row="rowData" pTemplate="body">
                    <span *ngIf="row[col.field]">{{row[col.field] | date: 'mediumDate'}}</span>
                </ng-template>
            </p-column>

            <p-column [style]="{'width':'5%' }" field="enabledFlag" header="Status" styleClass="text-center"> 
                <ng-template let-col let-row="rowData" pTemplate="body"> 
                    <i *ngIf="row[col.field]==true" style="color: darkgrey" class="material-icons">check_circle</i> 
                    <i *ngIf="row[col.field]==false" style="color: darkgrey" class="material-icons" aria-hidden="true">error</i> 
                </ng-template> 
            </p-column>

            <p-column [style]="{'width':'15%'}" field="description" header="Description" styleClass="text-center overflow-visible" resizableColumns="false">
                <ng-template let-col let-row="rowData" let-i="rowIndex" pTemplate="body">
                    <div class="v-c-h-b">
                        <span>{{row[col.field]}}</span>
                        <div class="icons-list editIcon">
                            <button *ngIf="!purpose" md-icon-button mdTooltip="View" [routerLink]="['/mapping-set', {outlets: {'content': [row['id']]+'/details'}}]" (click)="$event.stopPropagation()">
                                <md-icon>remove_red_eye</md-icon>
                            </button>
                            <button *ngIf="!purpose" md-icon-button mdTooltip="Edit" [routerLink]="['/mapping-set', {outlets: {'content': [row['id']]+'/edit'}}]" (click)="$event.stopPropagation()">
                                <md-icon>edit</md-icon>
                            </button>
                            <button *ngIf="purpose" md-icon-button mdTooltip="View" [routerLink]="['/value-set', {outlets: {'content': [row['id']]+'/details'}}]" (click)="$event.stopPropagation()">
                                <md-icon>remove_red_eye</md-icon>
                            </button>
                            <button *ngIf="purpose" md-icon-button mdTooltip="Edit" [routerLink]="['/value-set', {outlets: {'content': [row['id']]+'/edit'}}]" (click)="$event.stopPropagation()">
                                <md-icon>edit</md-icon>
                            </button>
                        </div>
                    </div>
                </ng-template>
            </p-column>

        </p-dataTable>
        <md-paginator *ngIf="mapingsetRecordsLength>0" [length]="mapingsetRecordsLength" [pageSize]="itemsPerPage" [pageSizeOptions]="pageSizeOptions" 
            [pageIndex]="page" (page)="onPaginateChange($event)" class="sr-pg-con">
        </md-paginator> 
    </div>
</div>