<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTemplateDetailsLabel" jhiTranslate="agreeGatewayV1App.templateDetails.home.createOrEditLabel">Create or edit a Template Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!templateDetails.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="templateDetails.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.templateDetails.tenantId" for="field_tenantId">Tenant Id</label>
            <input type="number" class="form-control" name="tenantId" id="field_tenantId"
                [(ngModel)]="templateDetails.tenantId"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.templateDetails.targetAppSource" for="field_targetAppSource">Target App Source</label>
            <input type="text" class="form-control" name="targetAppSource" id="field_targetAppSource"
                [(ngModel)]="templateDetails.targetAppSource"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.templateDetails.templateName" for="field_templateName">Template Name</label>
            <input type="text" class="form-control" name="templateName" id="field_templateName"
                [(ngModel)]="templateDetails.templateName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.templateDetails.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="templateDetails.description"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.templateDetails.viewId" for="field_viewId">View Id</label>
            <input type="number" class="form-control" name="viewId" id="field_viewId"
                [(ngModel)]="templateDetails.viewId"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.templateDetails.viewName" for="field_viewName">View Name</label>
            <input type="text" class="form-control" name="viewName" id="field_viewName"
                [(ngModel)]="templateDetails.viewName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.templateDetails.startDate" for="field_startDate">Start Date</label>
            <div class="input-group">
                <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker  #startDateDp="ngbDatepicker" [(ngModel)]="templateDetails.startDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="startDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.templateDetails.endDate" for="field_endDate">End Date</label>
            <div class="input-group">
                <input id="field_endDate" type="text" class="form-control" name="endDate" ngbDatepicker  #endDateDp="ngbDatepicker" [(ngModel)]="templateDetails.endDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="endDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.templateDetails.enable" for="field_enable">Enable</label>
            <input type="checkbox" class="form-control" name="enable" id="field_enable"
                [(ngModel)]="templateDetails.enable"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.templateDetails.createdBy" for="field_createdBy">Created By</label>
            <input type="number" class="form-control" name="createdBy" id="field_createdBy"
                [(ngModel)]="templateDetails.createdBy"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.templateDetails.lastUpdatedBy" for="field_lastUpdatedBy">Last Updated By</label>
            <input type="number" class="form-control" name="lastUpdatedBy" id="field_lastUpdatedBy"
                [(ngModel)]="templateDetails.lastUpdatedBy"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.templateDetails.createdDate" for="field_createdDate">Created Date</label>
            <div class="d-flex">
                <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="templateDetails.createdDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.templateDetails.lastUpdatedDate" for="field_lastUpdatedDate">Last Updated Date</label>
            <div class="d-flex">
                <input id="field_lastUpdatedDate" type="datetime-local" class="form-control" name="lastUpdatedDate" [(ngModel)]="templateDetails.lastUpdatedDate"
                  />
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
