<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myFunctionalityLabel" jhiTranslate="agreeGatewayV1App.functionality.home.createOrEditLabel">Create or edit a Functionality</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!functionality.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="functionality.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.functionality.funcName" for="field_funcName">Func Name</label>
            <input type="text" class="form-control" name="funcName" id="field_funcName"
                [(ngModel)]="functionality.funcName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.functionality.funcDesc" for="field_funcDesc">Func Desc</label>
            <input type="text" class="form-control" name="funcDesc" id="field_funcDesc"
                [(ngModel)]="functionality.funcDesc"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.functionality.funcType" for="field_funcType">Func Type</label>
            <input type="text" class="form-control" name="funcType" id="field_funcType"
                [(ngModel)]="functionality.funcType"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.functionality.startDate" for="field_startDate">Start Date</label>
            <div class="input-group">
                <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker  #startDateDp="ngbDatepicker" [(ngModel)]="functionality.startDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="startDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.functionality.endDate" for="field_endDate">End Date</label>
            <div class="input-group">
                <input id="field_endDate" type="text" class="form-control" name="endDate" ngbDatepicker  #endDateDp="ngbDatepicker" [(ngModel)]="functionality.endDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="endDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.functionality.activeInd" for="field_activeInd">Active Ind</label>
            <input type="text" class="form-control" name="activeInd" id="field_activeInd"
                [(ngModel)]="functionality.activeInd"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.functionality.tenantId" for="field_tenantId">Tenant Id</label>
            <input type="number" class="form-control" name="tenantId" id="field_tenantId"
                [(ngModel)]="functionality.tenantId"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
