<div class="component-body">
	<div class="botom-dotted-blue-border component-title">
		<div class="col-md-6 col-sm-6 col-xs-6 pageTitle" style="padding-left:0px;">
			<h3>Roles</h3>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-6 ftlSearch">
			<button md-icon-button [routerLink]="['/roles', {outlets: { 'content': ['roles-new']}}]" class="pull-right  md-36" mdTooltip="Add Role">
				<md-icon>add</md-icon>
            </button>
            
            <button md-icon-button class="pull-right search-icon-body" mdTooltip="Search"><md-icon>search</md-icon></button>
            <!-- <i class="pull-right material-icons md-36 hand ripple search-icon-body ripple">search</i> -->
            <md-input-container class="pull-right hidethis">
                 <input class="mySearchBox" mdInput #gb placeholder="What're we looking for?">
            </md-input-container>
            
			<!-- <button md-icon-button class="pull-right search-icon-body" mdTooltip="Search">
				<md-icon>search</md-icon>
			</button>
			<md-input-container class="pull-right hidethis">
                <input class="mySearchBox" mdInput #gb placeholder="What're we looking for?">
            </md-input-container> -->
		</div>
	</div>
    
    <div style="text-align:right" class="show-hide-class">
        <p-multiSelect [options]="columnOptions" [(ngModel)]="rolesTableColumns" title="Show/Hide Columns"></p-multiSelect>
    </div>
    <p-dataTable [value]="roles" reorderableColumns="true" resizableColumns="true" columnResizeMode="expand"
        scrollable="true" scrollHeight={{TemplatesHeight}} [responsive]="true" [headerCheckboxToggleAllPages]="true"
        [globalFilter]="gb" #dt [rows]="10">
        
        <p-column field="roleName" header="Name" styleClass="left" [style]="{'width':'200px'}"> 
            <ng-template let-col let-row="rowData" pTemplate="body"> 
                <a [routerLink]="['/roles', {outlets: {'content': [row['id']]+'/details'}}]">{{row[col.field]}}</a>
            </ng-template> 
        </p-column>
        <p-column field="roleDesc" header="Description" styleClass="left" [style]="{'width':'200px'}"> 
            <ng-template let-col let-row="rowData" pTemplate="body"> 
                {{row[col.field]}}
            </ng-template> 
        </p-column> 
        <p-column field="startDate" header="Start Date" styleClass="left" [style]="{'width':'200px'}"> 
            <ng-template let-col let-row="rowData" pTemplate="body"> 
                {{row[col.field] | date:'mediumDate'}}
            </ng-template> 
        </p-column> 
        <p-column field="endDate" header="End Date" styleClass="left" [style]="{'width':'200px'}"> 
            <ng-template let-col let-row="rowData" pTemplate="body"> 
                {{row[col.field] | date:'mediumDate'}}
            </ng-template> 
        </p-column>  
<!-- 
        <p-column *ngFor="let col of rolesTableColumns" [style]="{'width':col.width,'text-align':col.align}" [field]="col.field" [header]="col.header" [sortable]="true">
        </p-column> -->

        <p-column [style]="{'width':'80px' }" field="activeInd" header="Status" styleClass="text-center" styleClass="center"> 
            <ng-template let-col let-row="rowData" pTemplate="body"> 
                <i *ngIf="row[col.field]==true" style="color: darkgrey" class="material-icons">check_circle</i> 
                <i *ngIf="row[col.field]==false" style="color: darkgrey" class="material-icons" aria-hidden="true">error</i> 
            </ng-template> 
        </p-column>
    </p-dataTable>
    <md-paginator *ngIf="rolesRecordsLength>0" [length]="rolesRecordsLength" [pageSize]="itemsPerPage" [pageSizeOptions]="pageSizeOptions" [pageIndex]="page" (page)="onPaginateChange($event)"></md-paginator> 
</div>

<!-- <div>
    <h2>
        <span jhiTranslate="agreeGatewayV1App.roles.home.title">Roles</span>
        <button class="btn btn-primary float-right jh-create-entity create-roles" [routerLink]="['/', { outlets: { popup: ['roles-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="agreeGatewayV1App.roles.home.createLabel">
            Create new Roles
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="roles">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tenantId"><span jhiTranslate="agreeGatewayV1App.roles.tenantId">Tenant Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="roleName"><span jhiTranslate="agreeGatewayV1App.roles.roleName">Role Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="roleDesc"><span jhiTranslate="agreeGatewayV1App.roles.roleDesc">Role Desc</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="startDate"><span jhiTranslate="agreeGatewayV1App.roles.startDate">Start Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="endDate"><span jhiTranslate="agreeGatewayV1App.roles.endDate">End Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="activeInd"><span jhiTranslate="agreeGatewayV1App.roles.activeInd">Active Ind</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let roles of roles ;trackBy: trackId">
                <td><a [routerLink]="['../roles', roles.id ]">{{roles.id}}</a></td>
                <td>{{roles.tenantId}}</td>
                <td>{{roles.roleName}}</td>
                <td>{{roles.roleDesc}}</td>
                <td>{{roles.startDate | date:'mediumDate'}}</td>
                <td>{{roles.endDate | date:'mediumDate'}}</td>
                <td>{{roles.activeInd}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../roles', roles.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'roles/'+ roles.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'roles/'+ roles.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="roles && roles.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div> -->
