<style>
    .mat-raised-button[disabled][disabled] {
        background: rgba(0, 0, 0, .12) !important;
        color: rgba(0, 0, 0, .38) !important;
    }
</style>

<div style="margin-top:75px;margin-bottom:75px" class="forget-password">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 jhiTranslate="reset.request.title" class="text-center" style="color:#2197ad">Reset your password</h1>

            <div class="alert alert-danger" jhiTranslate="reset.request.messages.notfound" *ngIf="errorEmailNotExists">
                <strong>Email address isn't registered!</strong> Please check and try again.
            </div>

            <div class="alert alert-warning" *ngIf="!success">
                <p jhiTranslate="reset.request.messages.info" class="text-center" style="margin-bottom:0;color:#2197ad">Enter the email address you used to register.</p>
            </div>

            <div class="alert alert-success" *ngIf="success === 'OK'">
                <p jhiTranslate="reset.request.messages.success">Check your emails for details on how to reset your password.</p>
            </div>

            <div class="col-md-7 offset-3">
                <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" #resetRequestForm="ngForm">
                    <!-- <label class="form-control-label" for="email" jhiTranslate="global.form.email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                           [(ngModel)]="resetAccount.email" minlength=5 maxlength=100 #emailInput="ngModel" required> -->
                    <md-input-container class="example-full-width">
                        <input mdInput type="email" [(ngModel)]="resetAccount.email" name="email" id="email" placeholder="Email" minlength=5 maxlength=100
                            #emailInput="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
                    </md-input-container>
                    <div *ngIf="emailInput.dirty && emailInput.invalid">
                        <small class="form-text text-danger" *ngIf="emailInput.errors.required" jhiTranslate="global.messages.validate.email.required">
                            Your email is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="emailInput.errors.pattern" jhiTranslate="global.messages.validate.email.invalid">
                            Your email is invalid.
                        </small>
                        <small class="form-text text-danger" *ngIf="emailInput.errors.minlength" jhiTranslate="global.messages.validate.email.minlength">
                            Your email is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="emailInput.errors.maxlength" jhiTranslate="global.messages.validate.email.maxlength">
                            Your email cannot be longer than 100 characters.
                        </small>
                    </div>
                    <br>
                    <!-- <button type="submit" [disabled]="resetRequestForm.form.invalid" class="btn btn-primary" jhiTranslate="reset.request.form.button">Reset</button> -->
                    <div class="text-center">
                        <button type="submit" [disabled]="resetRequestForm.form.invalid" md-raised-button style="background:#2197ad;color:white">Reset password</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>