
<div *ngIf="jeLdrDetails">
    <h2><span jhiTranslate="agreeGatewayV1App.jeLdrDetails.detail.title">Je Ldr Details</span> {{jeLdrDetails.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="agreeGatewayV1App.jeLdrDetails.jeTempId">Je Temp Id</span></dt>
        <dd>
            <span>{{jeLdrDetails.jeTempId}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.jeLdrDetails.colType">Col Type</span></dt>
        <dd>
            <span>{{jeLdrDetails.colType}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.jeLdrDetails.colValue">Col Value</span></dt>
        <dd>
            <span>{{jeLdrDetails.colValue}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.jeLdrDetails.createdBy">Created By</span></dt>
        <dd>
            <span>{{jeLdrDetails.createdBy}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.jeLdrDetails.createdDate">Created Date</span></dt>
        <dd>
            <span>{{jeLdrDetails.createdDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.jeLdrDetails.lastUpdatedBy">Last Updated By</span></dt>
        <dd>
            <span>{{jeLdrDetails.lastUpdatedBy}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.jeLdrDetails.lastUpdatedDate">Last Updated Date</span></dt>
        <dd>
            <span>{{jeLdrDetails.lastUpdatedDate | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'je-ldr-details/'+ jeLdrDetails.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
