<!-- <div class="sub-side-navbar" style="margin-top:70px;"> -->
	<!-- <div class="sbSearch">
	<md-input-container class="example-full-width hidethis">
		<input class="mySearchBox ripple" mdInput placeholder="What're we looking for?">
	</md-input-container>
	<i class="material-icons md-36 hand search-icon-sidebar">search</i>
</div>  -->
	<!-- <perfect-scrollbar style="height: 720px; width:100%; overflow-x: auto;">
		<ul>
			<li *ngFor="let job of jobsList; let i = index" routerLinkActive="router-link-active">
				<div class="selecteditem hand ripple">
					<span [routerLink]="['/jobs', {outlets: {'content': [job.jobId]+'/details'}}]">{{job.name}}</span>
				</div>
		</ul>
	</perfect-scrollbar>
</div> -->

<div class="jobSidBarRadBtn radio-sm-btn">
	<md-radio-group [(ngModel)]="frequencyType" (change)="changeFilter(frequencyType, 'Frequency')">
		<md-radio-button value="SCHEDULED">Scheduled</md-radio-button>
		<md-radio-button value="ONDEMAND">On Demand</md-radio-button>
	</md-radio-group>
</div>
<br>
<div class="h-hidden" style="margin-top:-2px;">
	<perfect-scrollbar style="height: auto;max-height:500px; width:100%; overflow-x: auto;">
		<p-accordion (onOpen)="changeFilter($event, 'Program')">
			<p-accordionTab header="{{col.name}}  ({{col.count}})" [selected]="col.firstOpened" *ngFor="let col of jobsList; let i = index">
					<!-- style="height: auto; width:100%; overflow-x: auto;max-height:160px;" -->
				<perfect-scrollbar [class]="getInSidHeight()">
					<ul style="padding-left: 13px;">
						<li *ngFor="let col of jobsList[i].List; let j = index">
							<div class="selecteditem hand ripple" [routerLink]="['/jobs', {outlets: {'content':[col.id]+ '/schedulars-list'}}]">
								<span>{{col.jobName}}</span>
							</div>
						</li>
					</ul>
				</perfect-scrollbar>
			</p-accordionTab>
		</p-accordion>
	</perfect-scrollbar>
</div>