<!-- rule-group-approvals.html ruleGroupService-->
<!-- <div class="row leftmargin-20" style="border-bottom: 1px solid #eee;">
	<div class="col-md-6">
		<p>
			<h4 style="margin-top: 6px;">
				<b>Rules</b>
			</h4>
		</p>
	</div>
	<div class="col-md-6">

		<button md-icon-button class="pull-right  md-36" mdTooltip="New Rule" *ngIf="!isViewOnly" (click)="addNewRuleObject(ruleGroupService.approvalRuleGRoupWithRules.rules.length,0)"
		[disabled]="ruleGroupService.approvalRuleGRoupWithRules.rules && (approvalForm.hasError('required', 'ruleNameDisplay'+(ruleGroupService.approvalRuleGRoupWithRules.rules.length-1))  ||
		approvalForm.hasError('required', 'sdv'+(ruleGroupService.approvalRuleGRoupWithRules.rules.length-1)))" 
		[ngx-scroll-to]="ngxScrollToLastRule">
			<md-icon>add</md-icon>
		</button>
	</div>
</div> -->
<div class="row" style="margin: 0px 16px !important;position: sticky;z-index: 3;top: 40px;background-color: white;border-bottom: 1px solid lightgray;padding-top: 16px;"  >
	<div class="col-md-6 col-sm-6 col-xs-6">
		<h4>
			<b *ngIf=" ruleGroupService.approvalRuleGRoupWithRules &&  ruleGroupService.approvalRuleGRoupWithRules.rules &&  ruleGroupService.approvalRuleGRoupWithRules.rules.length>0">
				Rules(
					<span *ngIf="ruleGroupService .ruleGroup.rulePurpose == 'APPROVALS' && ruleGroupService.approvalRuleGRoupWithRules && ruleGroupService.approvalRuleGRoupWithRules.rules">{{ruleGroupService.approvalRuleGRoupWithRules.rules.length}}</span>
					)</b>
		</h4>
	</div>
	<div class="col-md-6 col-sm-6 col-xs-6" >
		<button md-icon-button class="pull-right  md-36" mdTooltip="Add New Rule" *ngIf="ruleGroupService .ruleGroup.rulePurpose == 'APPROVALS' && !isViewOnly && ruleGroupService.approvalRuleGRoupWithRules.rules" (click)="addNewRuleObject(ruleGroupService.approvalRuleGRoupWithRules.rules.length,0)" 
		[ngx-scroll-to]="ngxScrollToLastRule">
			<md-icon>add</md-icon>
		</button>
		<div class="pull-right" style="padding-top: 12px;padding-right: 8px;" *ngIf="ruleGroupService.approvalRuleGRoupWithRules.rules && ruleGroupService.approvalRuleGRoupWithRules.rules.length>1">
			<span class="hand underline-class" style="font-weight: bold;padding-right: 6px;font-size: 11px;" (click)="expandAll()">Expand All</span>
			<span class="hand underline-class" style="font-weight: bold;font-size: 11px;"  (click)="collapseAll()">Collapse All</span>
		</div>
<!-- 
		<button md-icon-button class=" pull-right md-36" mdTooltip="Hide Header" *ngIf="ruleGroupService showHeader" (click)="ruleGroupService.toggleHeader()" >
				<md-icon>expand_less</md-icon>
			</button>
		<button md-icon-button class="pull-right md-36" mdTooltip="Show Header" *ngIf="!ruleGroupService showHeader" (click)="ruleGroupService.toggleHeader()">
				<md-icon>expand_more</md-icon>
		</button> -->
	</div>
</div> 
<form novalidate #approvalForm="ngForm">
	<div class="row sub-heading-content rule-group-accounting" id="hideIconTable">
		<ng-template ngFor let-ruleObj [ngForOf]="ruleGroupService.approvalRuleGRoupWithRules.rules" let-i="index" ;>
			<div class="setups-accordian" style="padding-bottom: 10px">
				<md-accordion>
					<md-expansion-panel class="mat-overflow-unset"  (opened)="openRuleTab[i] = true" (closed)="openRuleTab[i] = false" [expanded]="openRuleTab[i]">
						<md-expansion-panel-header>
							<md-panel-title>
								<p *ngIf="ruleObj && ruleObj.ruleCode" style= "padding-top:11px">{{ruleObj.ruleCode}}</p>
								<p *ngIf="!ruleObj.ruleCode" style= "padding-top:11px" >New Rule - {{i+1}}</p>

								
							</md-panel-title>

							<md-panel-description>
									<div class="mat-cus-desc">
											<div *ngIf="ruleObj.sourceDataViewName">
												<label>Data Source: </label>
												<span style="margin-right: 1rem;">{{ruleObj.sourceDataViewName}}</span>
											</div>
									
											
									
											<div *ngIf="ruleObj.startDate">
												<label>From: </label>
												<span style="margin-right: 1rem;">{{ruleObj.startDate | date:'mediumDate'}}</span>
											</div>
										</div>
							</md-panel-description>
							<div style="padding-right:13px;padding-top:13px">
							<p class="badge badge-success pull-right" *ngIf="ruleObj.assignmentFlag && isViewOnly">Active</p>
							<p class="badge badge-warning pull-right" *ngIf="(!ruleObj.assignmentFlag || ruleObj.assignment == false )&& isViewOnly">Inactive</p>
							</div>

						</md-expansion-panel-header>
						<div class="row md-accordian-row-padding" style="display:flex;margin-left: 9px;" *ngIf="!ruleCreationInWQ && !isViewOnly && ruleObj.editRule" >
							<div class="col-md-3 col-sm-4" >
								<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 multi-select-placeholder" style="font-size: 12px;color: rgba(0,0,0,.54);padding-right: 0px"
								 [id]="'ruleScroll_'+i">
									<p>Copy from existing rule :</p>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 multi-select-elment-style" style="margin-top: -19px;">
									<angular2-multiselect [data]="ruleGroupService.approvalRuleGRoupWithRules.existingRuleListLOV" [(ngModel)]="ruleObj.copiedRefId"
									 [settings]="dropdownSettings" (onSelect)="getExistingRuleDetailsAndCopy($event,i)" name="ruleTagLOV{{i}}" #ruleTagLOV{{i}}="ngModel"
									 *ngIf="ruleObj.editRule && !isViewOnly">
									</angular2-multiselect>
						
								</div> -->

								<div class="multi-select-placeholder" >
										<div class="ms-label" *ngIf="ruleGroupService.approvalRuleGRoupWithRules && ruleGroupService.approvalRuleGRoupWithRules.existingRuleListLOV && ruleGroupService.approvalRuleGRoupWithRules.existingRuleListLOV.length>0">
											<p>Copy from existing rule :</p>
										</div>
										<div>
												<angular2-multiselect [data]="ruleGroupService.approvalRuleGRoupWithRules.existingRuleListLOV" [(ngModel)]="ruleObj.copiedRefId"
									 [settings]="dropdownSettings" (onSelect)="getExistingRuleDetailsAndCopy($event,i)" name="ruleTagLOV{{i}}" #ruleTagLOV{{i}}="ngModel" *ngIf="ruleGroupService.approvalRuleGRoupWithRules && ruleGroupService.approvalRuleGRoupWithRules.existingRuleListLOV && ruleGroupService.approvalRuleGRoupWithRules.existingRuleListLOV.length>0">
									</angular2-multiselect>
										</div>
									</div>

								<!-- <p style="padding-top:27px;color:red !important;font-size:12px;" *ngIf="!ruleCreationInWQ && ruleObj.editRule && !isViewOnly && ruleGroupService.approvalRuleGRoupWithRules && (!ruleGroupService.approvalRuleGRoupWithRules.existingRuleListLOV || ruleGroupService.approvalRuleGRoupWithRules.existingRuleListLOV .length<=0)">
										Existing rules not found.
								</p> -->
								</div>
								<div class="col-md-8" style="margin-top: 32px;margin-left: 48px;">
										<!-- <div class="col-md-1" *ngIf="isEdit && ruleObj.editRule" style="top:25px;"> -->
												<md-slide-toggle class="pull-right" color="primary" style="padding-top:5px" mdTooltip="Set Status" placeholder="status" [(ngModel)]="ruleObj.assignmentFlag"
												 name="status{{i}}" #status{{i}}="ngModel" *ngIf="isEdit  && ruleObj.editRule">
												</md-slide-toggle>
											<!-- </div> -->
											<button md-icon-button class="pull-right" style="top:-10px" (click)="copyAndCreateNewRule(ruleGroupService.approvalRuleGRoupWithRules.rules.length,i)"[disabled]="approvalForm.hasError('required', 'ruleNameDisplay'+i)  ||
										approvalForm.hasError('required', 'sdv'+i)"  
										*ngIf="!isViewOnly" mdTooltip="Copy and create new">
										<md-icon>content_copy</md-icon>
									</button>
									<button md-icon-button class="pull-right" mdTooltip="Clear rule" style="font-size: 17px;top: -10px;" 	*ngIf="!isViewOnly  && ruleObj.editRule"
									 (click)="clearRuleObject(i);false"
									 >
										<i class="fa fa-eraser" aria-hidden="true"></i>
									</button>
						
									<button md-icon-button class="pull-right " style="top: -10px;" (click)="deleteRuleObject(i);false" *ngIf="!isViewOnly  && (ruleObj.editRule ) && (ruleGroupService.approvalRuleGRoupWithRules.rules.length != 1)"
									 mdTooltip="Delete rule" mdTooltip="Delete Rule">
										<md-icon>delete</md-icon>
									</button>
									
								</div>
							</div>







						<!-- <div class="row md-accordian-row-padding" style="display:flex;padding-bottom: 7px;" *ngIf="!isViewOnly && ruleObj.editRule ">

							

							</div>
						</div> -->

						<div class="row  md-accordian-row-padding">

							<div class="col-md-3" style="padding-top:11px">

								<!-- <form class="form-horizontal" [formGroup]="ruleListformArray[i]" *ngIf="!isViewOnly &&  (!ruleObj.id  || ruleObj.id <=0) && ruleListformArray && ruleListformArray[i]">
									<md-input-container class="example-full-width ">
										<input formControlName="data" mdInput placeholder="Rule Name" [formControl]="ruleObj.formCntrl" auto-complete [(ngModel)]="ruleObj.ruleCode"
										 [source]="ruleListArrays[i]" [list-formatter]="autocompleListFormatter" value-property-name="id" display-property-name="ruleCode"
										 required (valueChanged)="setRuleObject($event,i,ruleListformArray[i].value)" />
									</md-input-container>

								</form> -->

								<md-input-container class="example-full-width " *ngIf="!isViewOnly && ruleObj.editRule">
										<input mdInput [(ngModel)]="ruleObj.ruleCode" placeholder="Rule Name" [ngClass]="{'color-black' : true}"  (ngModelChange)="ruleDuplicationCheck(i)" 
										 name="ruleNameDisplay{{i}}" required #ruleNameDisplay{{i}}="ngModel"> </md-input-container>
								 <p *ngIf="ruleObj.duplicateRuleName"  class="help-block errorFont validation-error" >Rule name already exists</p>
								<p class="help-block errorFont validation-error"  *ngIf="approvalForm.hasError('required', 'ruleNameDisplay'+i) && ruleGroupService.submitted">Rule code is required.</p>
							
								<md-input-container class="example-full-width " *ngIf="isViewOnly || (!ruleObj.editRule)">
									<input mdInput [(ngModel)]="ruleObj.ruleCode" placeholder="Rule Name" [ngClass]="{'color-black' : true,'text-ellipse' : (isViewOnly || !ruleObj.editRule)}" [disabled]="true"
									 name="ruleNameDisplay{{i}}" required #ruleNameDisplay{{i}}="ngModel"> </md-input-container>
							</div>
							<div class="col-md-3">
								<!-- <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 multi-select-placeholder" style="font-size: 12px;color: rgba(0,0,0,.54);padding-right: 0px"
															 *ngIf="!isViewOnly && ruleObj.editRule && ((!ruleObj.sourceDVId || ruleObj.sourceDVId.length <=0) ||(ruleObj.sourceDVId && ruleObj.sourceDVId.length>=0))">
																Selected data source :</div>
															<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 multi-select-elment-style" style="margin-top: -19px">
																<angular2-multiselect [data]="sourceDataViewsAndColumns" [(ngModel)]="ruleObj.sourceDVId" required [settings]="dropdownSettings"
																 (onSelect)="fetchSrcColumns($event,i)" name="sdv{{i}}" #sdv{{i}}="ngModel" *ngIf="!isViewOnly && ruleObj.editRule &&  sourceDataViewsAndColumns 
																 && sourceDataViewsAndColumns.length>0">
																</angular2-multiselect>
							
																<p class="help-block errorFont" style="margin-left: 32px;" *ngIf="approvalForm.hasError('required', 'sdv'+i) && ruleGroupService.submitted">Data source is required.</p>
															</div> -->
							
								<div class="multi-select-placeholder" *ngIf="!isViewOnly && ruleObj.editRule && ((!ruleObj.sourceDVId || ruleObj.sourceDVId.length <=0) ||(ruleObj.sourceDVId && ruleObj.sourceDVId.length>=0))">
									<div class="ms-label">
										<p>Data source :</p>
									</div>
									<div>
											<angular2-multiselect [data]="sourceDataViewsAndColumns" [(ngModel)]="ruleObj.sourceDVId" required [settings]="dropdownSettings"
											(onSelect)="fetchSrcColumns($event,i)" name="sdv{{i}}" #sdv{{i}}="ngModel" *ngIf="!isViewOnly && ruleObj.editRule &&  sourceDataViewsAndColumns 
											&& sourceDataViewsAndColumns.length>0">
										   </angular2-multiselect>
									</div>
								</div>
								<p class="help-block errorFont dropdown-validation-error" *ngIf="approvalForm.hasError('required', 'sdv'+i) && ruleGroupService.submitted">Data
									source is required.</p>
								<div class="col-lg-12 col-md-12 col-sm-12" style="padding-top: 24px;" *ngIf="isViewOnly || !ruleObj.editRule">
									<md-input-container class="example-full-width" *ngIf="isViewOnly || !ruleObj.editRule">
										<input class="inputHeight" mdInput [(ngModel)]="ruleObj.sourceDataViewName" [ngClass]="{'color-black' : true }" [disabled]="true"
										 placeholder="Data View" name="sourceDataViewName{{i}}" required #sourceDataViewName{{i}}="ngModel">
									</md-input-container>
								</div>
							</div>
							<div class="col-md-2 date-field-size" style="padding-top:11px"  [id]="'ruleScroll_'+i">
								<md-form-field>
									<input mdInput [mdDatepicker]="stpicker" placeholder="From" [ngClass]="{'color-black' : true}" [min]="today" (dateChange)="ruleGroupService.approvalRuleGRoupWithRules.rules[i].startDateChange=true;startDateChanged(ruleObj.startDate,i);"
									 [disabled]="isViewOnly || !ruleObj.editRule" [(ngModel)]="ruleObj.startDate" [max]="ruleObj.endDate" name="rulestartDate{{i}}"
									 required>
									<md-datepicker-toggle mdSuffix [for]="stpicker" *ngIf="!isViewOnly && ruleObj.editRule"></md-datepicker-toggle>
									<md-datepicker #stpicker></md-datepicker>
								</md-form-field>
								<p class="help-block errorFont validation-error" *ngIf="approvalForm.hasError('required', 'rulestartDate'+i) && ruleGroupService.submitted">Start date is required.</p>

							</div>
							<div class="col-md-2 date-field-size" style="padding-top:11px">
								<md-form-field class="example-full-width ">
									<input mdInput [mdDatepicker]="edpicker" placeholder="To" [min]="ruleObj.startDate" (dateChange)="ruleGroupService.approvalRuleGRoupWithRules.rules[i].endDateChange=true"
									 [ngClass]="{'color-black' : true}" [disabled]="isViewOnly || !ruleObj.editRule" [(ngModel)]="ruleObj.endDate" name="endDate{{i}}">
									<md-datepicker-toggle mdSuffix [for]="edpicker" *ngIf="!isViewOnly && ruleObj.editRule"></md-datepicker-toggle>
									<md-datepicker #edpicker></md-datepicker>
								</md-form-field>
							</div>

							<!-- <div class="col-md-1" *ngIf="isEdit && ruleObj.editRule" style="top:25px;">
								<md-slide-toggle class="pull-right" color="primary" mdTooltip="Set Status" placeholder="status" [(ngModel)]="ruleObj.assignmentFlag"
								 name="status{{i}}" #status{{i}}="ngModel">
								</md-slide-toggle>
							</div> -->

						</div>
						<div class="row" style="padding-top: 16px">
								<md-tab-group class="ruleGrpType-status-tabs" style="border-bottom: 0px solid rgba(0, 0, 0, 0.12) !important ; float:left!important"
								(focusChange)="switchTabs($event,i)" [selectedIndex]="ruleObj.selectedIndex"  *ngIf="ruleObj.sourceDataViewId">
								   <md-tab>
									   <ng-template md-tab-label>
											Rule Conditions
									   </ng-template>
		
								   </md-tab>
								   <md-tab>
									   <ng-template md-tab-label>
											Rule Actions
									   </ng-template>
		
								   </md-tab>
							   </md-tab-group>

						</div>



						
							
								<div class="table-responsive theme-table table-header-styles" style="margin-top: 35px;margin-left: 10px;width: 99%;margin-right: 10px;	border: 1px solid lightgray;" *ngIf="ruleObj.sourceDataViewId && ruleObj.selectedIndex == 0 && !isViewOnly && ruleObj.editRule &&  ruleObj.approvalConditions">
										<table class="table">
											<thead class="tableheader text-nowrap table-fit">
												<tr >
													<td style="width:80px;background-color: whitesmoke;">Sequence</td>
													<td style="width:110px;background-color: whitesmoke;"><span class="padding-in-rule-view"><b>(</b></span></td>
													<td style="width:300px;background-color: whitesmoke;">Column*</td>
													<td style="width:200px;background-color: whitesmoke;">Operator*</td>
													<td style="width:200px;background-color: whitesmoke;">Value*</td>
													<td style="width:110px;background-color: whitesmoke;"><span  class="padding-in-rule-view"><b>)</b></span></td>
													<td style="background-color: whitesmoke;">Logical Operator</td>
												</tr>
											</thead>
											<tbody>
												<tr  *ngFor="let ruleCondition of ruleObj.approvalConditions;let mcIndex=index">
													<td  style="width:80px;">
															<span style="top: 16px;" class="linetext-input" *ngIf="ruleObj.editRule && !isViewOnly">{{mcIndex+1}}</span>	
													</td>
													<td style="width:110px;" >
															<md-select class="md-no-placeholder" style="width:110px;" [disabled]="isViewOnly  || !ruleObj.editRule" 
															[(ngModel)]="ruleCondition.openBracket" name="openBracket{{i}}{{mcIndex}}" #openBracket{{i}}{{mcIndex}}="ngModel"
															 *ngIf="!isViewOnly && ruleObj.editRule &&  ruleObj.approvalConditions">
															   <md-option size="50"  [value]="'('" ><span>{{openBracket}}</span></md-option>
															   <md-option [value]=""></md-option>
														   </md-select>	
													</td>
													<td style="width:300px;">
															<md-select [(ngModel)]="ruleCondition.columnId" style="width:300px;" (change)="SelectColumn(i,mcIndex,ruleCondition.columnId)" [ngClass]="{'color-black' : true}"
															class="md-no-placeholder" [disabled]="isViewOnly" name="column{{i}}{{mcIndex}}" required #column{{i}}{{mcIndex}}="ngModel"
															*ngIf="!isViewOnly &&  ruleObj.editRule && ruleObj.columnLOV  && ruleObj.columnLOV.length>0">
															   <md-option *ngFor="let col of ruleObj.columnLOV  " [value]="col.id">
																   {{ col.columnName}} </md-option>
														   </md-select>
														   <span class="help-block errorFont validation-error"  *ngIf="approvalForm.hasError('required', 'column'+i+mcIndex) && ruleGroupService.submitted">Column is required.</span>
												   
													</td>
													<td style="width:200px;">
															<md-select [(ngModel)]="ruleCondition.operator" style="width:200px;" (change)="SelectOperator()" [ngClass]="{'color-black' : true}" [disabled]="!ruleCondition.columnId"
														 class="md-no-placeholder" name="operator{{i}}{{mcIndex}}" required #operator{{i}}{{mcIndex}}="ngModel" *ngIf="!isViewOnly && ruleObj.editRule ">
															<md-option *ngFor="let operator of ruleCondition.operators" [value]="operator.lookUpCode">
																{{ operator.meaning}}
															</md-option>
														</md-select>
														<span class="help-block errorFont validation-error" *ngIf="approvalForm.hasError('required', 'operator'+i+mcIndex) && ruleGroupService.submitted">Operator is required.</span>
													
													</td>
													<td style="width:200px;">
															<md-input-container class="example-full-width" style="width:200px;">
																	<input class="inputHeight" mdInput class="md-no-placeholder" [(ngModel)]="ruleCondition.value" [ngClass]="{'color-black' : true}"
																	 [disabled]="" name="value{{i}}{{mcIndex}}" required #value{{i}}{{mcIndex}}="ngModel"> </md-input-container>
																<span class="help-block errorFont validation-error" *ngIf="approvalForm.hasError('required', 'value'+i+mcIndex) && ruleGroupService.submitted">Value is required.</span>
														
													</td>
													<td style="width:110px;">
															<md-select class="md-no-placeholder" style="width:110px;" [disabled]="isViewOnly  || !ruleObj.editRule" 
															[(ngModel)]="ruleCondition.closeBracket" name="closeBracket{{i}}{{mcIndex}}" #closeBracket{{i}}{{mcIndex}}="ngModel"
															 *ngIf="!isViewOnly && ruleObj.editRule &&  ruleObj.approvalConditions">
															   <md-option size="50"  [value]="')'"><span>{{closeBracket}}</span></md-option>
															   <md-option [value]=""></md-option>
														   </md-select>
													</td>
													<td>
															<div class="display-flex">
																	<md-select [(ngModel)]="ruleCondition.logicalOperator" class="md-no-placeholder" (change)="addNewCondition(i,ruleObj.approvalConditions.length)" [ngClass]="{'color-black' : true}"
																	 [disabled]="" name="logoperator{{i}}{{mcIndex}}" #logoperator{{i}}{{mcIndex}}="ngModel" *ngIf="!isViewOnly &&  ruleObj.editRule">
																		<md-option *ngFor="let operator of logicalOperators" [value]="operator.lookUpCode"> {{ operator.meaning}} </md-option>
																	</md-select>
																	<button md-icon-button class="" (click)="deleteRuleCondition(i,mcIndex)" mdTooltip="Delete condition" *ngIf="!isViewOnly && ruleObj.editRule">
																			<md-icon>delete</md-icon>
																		</button>
															</div>
													</td>
												</tr>
											</tbody>
										</table>
												<!-- <div class="row" style="height:28px;margin-left: 5px; background-color:whitesmoke;" [ngStyle]="{'padding-top' : (mcIndex==0) ? '6px' : '25px' }">
													<div class="col-md-1">
												<span>Sequence</span>
													</div>
													<div class="col-md-1">
															<span class="padding-in-rule-view"><b>(</b></span>
													</div>
													<div class="col-md-2">
														<span>Column*</span>
													</div>
													<div class="col-md-2">
														<span>Operator*</span>
													</div>
													<div class="col-md-2">
														<span>Value*</span>
													</div>
													<div class="col-md-1">
															<span  class="padding-in-rule-view"><b>)</b></span>
													</div>
													<div class="col-md-2">
													<span>Logical Operator</span>
													</div>
												</div>
											<ng-template ngFor let-ruleCondition [ngForOf]="ruleObj.approvalConditions" let-mcIndex="index">
												<div class="row" style="height:28px;margin-left: 5px;padding-bottom: 12px;" [ngStyle]="{'padding-top' : (mcIndex==0) ? '6px' : '25px' }">
												<div class="col-md-1">
														<span style="top: 16px;" class="linetext-input" *ngIf="ruleObj.editRule && !isViewOnly">{{mcIndex+1}}</span>
												</div>
												<div class="col-md-1">
														<md-select class="md-no-placeholder" [disabled]="isViewOnly  || !ruleObj.editRule" 
														[(ngModel)]="ruleCondition.openBracket" name="openBracket{{i}}{{mcIndex}}" #openBracket{{i}}{{mcIndex}}="ngModel"
														 *ngIf="!isViewOnly && ruleObj.editRule &&  ruleObj.approvalConditions">
														   <md-option size="50"  [value]="'('" ><span>{{openBracket}}</span></md-option>
														   <md-option [value]=""></md-option>
													   </md-select>
												</div>
												<div class="col-md-2">
														<md-select [(ngModel)]="ruleCondition.columnId" (change)="SelectColumn(i,mcIndex,ruleCondition.columnId)" [ngClass]="{'color-black' : true}"
														 class="md-no-placeholder" [disabled]="isViewOnly" name="column{{i}}{{mcIndex}}" required #column{{i}}{{mcIndex}}="ngModel"
														 *ngIf="!isViewOnly &&  ruleObj.editRule && ruleObj.columnLOV  && ruleObj.columnLOV.length>0">
															<md-option *ngFor="let col of ruleObj.columnLOV  " [value]="col.id">
																{{ col.columnName}} </md-option>
														</md-select>
														<span class="help-block errorFont validation-error"  *ngIf="approvalForm.hasError('required', 'column'+i+mcIndex) && ruleGroupService.submitted">Column is required.</span>
												
												</div>
												<div class="col-md-2">
														<md-select [(ngModel)]="ruleCondition.operator" (change)="SelectOperator()" [ngClass]="{'color-black' : true}" [disabled]="!ruleCondition.columnId"
														 class="md-no-placeholder" name="operator{{i}}{{mcIndex}}" required #operator{{i}}{{mcIndex}}="ngModel" *ngIf="!isViewOnly && ruleObj.editRule ">
															<md-option *ngFor="let operator of ruleCondition.operators" [value]="operator.lookUpCode">
																{{ operator.meaning}}
															</md-option>
														</md-select>
														<span class="help-block errorFont validation-error" *ngIf="approvalForm.hasError('required', 'operator'+i+mcIndex) && ruleGroupService.submitted">Operator is required.</span>
													
												</div>
												<div class="col-md-2">
														<md-input-container class="example-full-width">
																<input class="inputHeight" mdInput class="md-no-placeholder" [(ngModel)]="ruleCondition.value" [ngClass]="{'color-black' : true}"
																 [disabled]="" name="value{{i}}{{mcIndex}}" required #value{{i}}{{mcIndex}}="ngModel"> </md-input-container>
															<span class="help-block errorFont validation-error" *ngIf="approvalForm.hasError('required', 'value'+i+mcIndex) && ruleGroupService.submitted">Value is required.</span>
													
												</div>
												<div class="col-md-1">
														<md-select class="md-no-placeholder" [disabled]="isViewOnly  || !ruleObj.editRule" 
														 [(ngModel)]="ruleCondition.closeBracket" name="closeBracket{{i}}{{mcIndex}}" #closeBracket{{i}}{{mcIndex}}="ngModel"
														  *ngIf="!isViewOnly && ruleObj.editRule &&  ruleObj.approvalConditions">
															<md-option size="50"  [value]="')'"><span>{{closeBracket}}</span></md-option>
															<md-option [value]=""></md-option>
														</md-select>
												</div>
												<div class="col-md-2">
													<div class="display-flex">
														<md-select [(ngModel)]="ruleCondition.logicalOperator" class="md-no-placeholder" (change)="addNewCondition(i,ruleObj.approvalConditions.length)" [ngClass]="{'color-black' : true}"
														 [disabled]="" name="logoperator{{i}}{{mcIndex}}" #logoperator{{i}}{{mcIndex}}="ngModel" *ngIf="!isViewOnly &&  ruleObj.editRule">
															<md-option *ngFor="let operator of logicalOperators" [value]="operator.lookUpCode"> {{ operator.meaning}} </md-option>
														</md-select>
														<button md-icon-button class="" (click)="deleteRuleCondition(i,mcIndex)" mdTooltip="Delete condition" *ngIf="!isViewOnly && ruleObj.editRule">
																<md-icon>delete</md-icon>
															</button>
														</div>
												</div>
												</div>
											</ng-template> -->
								</div>
										
										<div class="row table-header-styles" style="padding-top:35px" *ngIf="ruleObj.sourceDataViewId && ruleObj.selectedIndex == 0  && (isViewOnly  || !ruleObj.editRule )&& ruleObj.approvalConditions">
										<table class="table" style="width:80%" >
											<thead class="text-nowrap" style="background-color : rgba(0, 0, 0, 0.04) !important;">
												<tr>
													<th>Sequence</th>
													<th><span class="padding-in-rule-view"><b>(</b></span></th>
													<th>Column*</th>
													<th>Operator*</th>
													<th>Value*</th>
													<th><span  class="padding-in-rule-view"><b>)</b></span></th>
													<th>Logical Operator</th>
													<th></th>
												</tr>

											</thead>
											<tbody class="text-nowrap">
												<tr *ngFor="let ruleCondition of ruleObj.approvalConditions;let mcIndex=index" (mouseover)="mouseOverRC = mcIndex" (mouseleave)="mouseOverRC=-1"
												 id="hideIconTable">
													<td >

														<!-- <span style="top: 16px;" class="linetext-input" *ngIf="ruleObj.editRule && !isViewOnly">{{mcIndex+1}}</span> -->

														<span style="top: 1px" class="linetext-input padding-in-rule-view" *ngIf="!ruleObj.editRule || isViewOnly">{{mcIndex+1}}</span>

													</td>
													<td  >
														<!-- <md-select class="md-no-placeholder" [disabled]="isViewOnly  || !ruleObj.editRule" 
														 [(ngModel)]="ruleCondition.openBracket" name="openBracket{{i}}{{mcIndex}}" #openBracket{{i}}{{mcIndex}}="ngModel"
														  *ngIf="!isViewOnly && ruleObj.editRule &&  ruleObj.approvalConditions">
															<md-option size="50"  [value]="'('" ><span>{{openBracket}}</span></md-option>
															<md-option [value]=""></md-option>
														</md-select> -->
														<span class="linetext-input padding-in-rule-view" *ngIf="isViewOnly || !ruleObj.editRule">{{ruleCondition.openBracket}}</span>
														
													</td>
													
													<td >
														<span class="padding-in-rule-view" *ngIf="isViewOnly || !ruleObj.editRule">
															{{ruleCondition.columnName}} </span>
														<!-- <md-select [(ngModel)]="ruleCondition.columnId" (change)="SelectColumn(i,mcIndex,ruleCondition.columnId)" [ngClass]="{'color-black' : true}"
														 class="md-no-placeholder" [disabled]="isViewOnly" name="column{{i}}{{mcIndex}}" required #column{{i}}{{mcIndex}}="ngModel"
														 *ngIf="!isViewOnly &&  ruleObj.editRule && ruleObj.columnLOV  && ruleObj.columnLOV.length>0">
															<md-option *ngFor="let col of ruleObj.columnLOV  " [value]="col.id">
																{{ col.columnName}} </md-option>
														</md-select>
														<span class="help-block errorFont" style="margin-left: 32px;" *ngIf="approvalForm.hasError('required', 'column'+i+mcIndex) && ruleGroupService.submitted">Column is required.</span>
													-->
												</td> 
													<td >
														<span class="padding-in-rule-view" *ngIf="isViewOnly || !ruleObj.editRule">
															{{ruleCondition.operatorMeaning}} </span>
														<!-- <md-select [(ngModel)]="ruleCondition.operator" (change)="SelectOperator()" [ngClass]="{'color-black' : true}" [disabled]="!ruleCondition.columnId"
														 class="md-no-placeholder" name="operator{{i}}{{mcIndex}}" required #operator{{i}}{{mcIndex}}="ngModel" *ngIf="!isViewOnly && ruleObj.editRule ">
															<md-option *ngFor="let operator of ruleCondition.operators" [value]="operator.lookUpCode">
																{{ operator.meaning}}
															</md-option>
														</md-select>
														<span class="help-block errorFont" style="margin-left: 32px;" *ngIf="approvalForm.hasError('required', 'operator'+i+mcIndex) && ruleGroupService.submitted">Operator is required.</span>
													-->	</td>

													<td *ngIf="isViewOnly || !ruleObj.editRule">
														<span class="padding-in-rule-view">
															{{ruleCondition.value}} </span>
													</td>
												
													<!-- <td *ngIf="!isViewOnly &&  ruleObj.editRule">
														<md-input-container class="example-full-width">
															<input class="inputHeight" mdInput class="md-no-placeholder" [(ngModel)]="ruleCondition.value" [ngClass]="{'color-black' : true}"
															 [disabled]="" name="value{{i}}{{mcIndex}}" required #value{{i}}{{mcIndex}}="ngModel"> </md-input-container>
														<span class="help-block errorFont" style="margin-left: 32px;" *ngIf="approvalForm.hasError('required', 'value'+i+mcIndex) && ruleGroupService.submitted">Value is required.</span>
													</td> -->
													<td  >
														<!-- <md-select class="md-no-placeholder" [disabled]="isViewOnly  || !ruleObj.editRule" 
														 [(ngModel)]="ruleCondition.closeBracket" name="closeBracket{{i}}{{mcIndex}}" #closeBracket{{i}}{{mcIndex}}="ngModel"
														  *ngIf="!isViewOnly && ruleObj.editRule &&  ruleObj.approvalConditions">
															<md-option size="50"  [value]="')'"><span>{{closeBracket}}</span></md-option>
															<md-option [value]=""></md-option>
														</md-select> -->
														<span class="linetext-input padding-in-rule-view" *ngIf="isViewOnly || !ruleObj.editRule">{{ruleCondition.closeBracket}}</span>
														
													</td>
													<td >
														<span class="padding-in-rule-view" *ngIf="isViewOnly || !ruleObj.editRule">
															{{ruleCondition.logicalOperatorMeaning}} </span>
														<!-- <md-select [(ngModel)]="ruleCondition.logicalOperator" class="md-no-placeholder" (change)="addNewCondition(i,ruleObj.approvalConditions.length)" [ngClass]="{'color-black' : true}"
														 [disabled]="" name="logoperator{{i}}{{mcIndex}}" #logoperator{{i}}{{mcIndex}}="ngModel" *ngIf="!isViewOnly &&  ruleObj.editRule">
															<md-option *ngFor="let operator of logicalOperators" [value]="operator.lookUpCode"> {{ operator.meaning}} </md-option>
														</md-select> -->

													</td>
													<td >
														<!-- <button md-icon-button class="" (click)="deleteRuleCondition(i,mcIndex)" mdTooltip="Delete condition" id="showIcon" *ngIf="!isViewOnly && ruleObj.editRule">
															<md-icon>delete</md-icon>
														</button> -->
														<!-- <button md-icon-button class="color-yellow-green" mdTooltip="Add New Condition" (click)="addNewCondition(i,ruleObj.approvalConditions.length)"
														 *ngIf="ruleCondition.logicalOperator && mcIndex == ruleObj.approvalConditions.length-1 && !isViewOnly && ruleObj.editRule">
															<md-icon>exposure_plus_1</md-icon>
														</button> -->
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									
							

							
						
								<div  style="padding-top: 35px" *ngIf="ruleObj.sourceDataViewId && ruleObj.selectedIndex == 1">
										<div class="row" style="height: 30px;
										font-weight: bold;
										width: 50%;
										box-shadow: 0px 0px 5px 0px rgba(209,209,209,1);">
										<div class="col-md-3">
												<span *ngIf="ruleObj.approvalActions.assigneeType " style="padding-top: 5px;padding-left: 8px">
														Approvers List
													</span>
										</div>
											
												<div class="col-md-8 " style="padding-top: 5px;" *ngIf="!isViewOnly">

													<div class="display-flex radio-sm-btn pull-right" *ngIf="ruleObj.approvalActions && ruleObj.approvalActions.assigneeType">

														<md-radio-group [(ngModel)]="ruleObj.approvalActions.assigneeType" (change)="addNewActionDetails(i)" layout="row" [ngModelOptions]="{standalone: true}">
															<md-radio-button value="user" [ngClass]="{'color-black' : (!ruleObj.editRule || isViewOnly)}" [disabled]="isViewOnly || !ruleObj.editRule">User(s)</md-radio-button>

															<md-radio-button value="group" [ngClass]="{'color-black' : (!ruleObj.editRule || isViewOnly)}" [disabled]="isViewOnly || !ruleObj.editRule">Group</md-radio-button>
														</md-radio-group>
													</div>
												</div>

											
												<div class="col-md-3" *ngIf="ruleObj.approvalActions && ruleObj.approvalActions.assigneeType == 'group' && !isCreateNew && 
												ruleObj.approvalActions.actionDetails && ruleObj.approvalActions.actionDetails.length>0">
													<md-input-container class="example-full-width">
														<input class="inputHeight" mdInput placeholder="Group Name" [(ngModel)]="ruleObj.approvalActions.actionDetails[0].assigneeName"
														 [ngClass]="{'color-black' : true}" [disabled]="true" name="assigneeName{{i}}" #assigneeName{{i}}="ngModel"> </md-input-container>
												</div>




											</div>
										

											<div class="row" style="padding-bottom:11px" *ngIf="ruleObj.approvalActions && ruleObj.approvalActions.assigneeType == 'group' && isCreateNew && 
											ruleObj.approvalActions.actionDetails && ruleObj.approvalActions.actionDetails .length>0 && ruleObj.approvalActions.actionDetails[0] ">

												<div class="col-md-5">
													<md-select class="example-full-width" [ngClass]="{'color-black' : true}" [(ngModel)]="ruleObj.approvalActions.actionDetails[0].assigneeId"
													 placeholder="Group Name" name="assigneeId{{i}}" #assigneeId{{i}}="ngModel" required (change)="getGroupMembers(ruleObj.approvalActions.actionDetails[0].assigneeId)">
														<md-option *ngFor="let group of groupsList" [value]="group.id">
															{{ group.groupName}} </md-option>
													</md-select>
													<p class="help-block errorFont validation-error"  *ngIf="ruleObj.approvalActions && ruleObj.approvalActions.assigneeType == 'group' && (!groupsList || groupsList.length==0)">
														Approval groups not found</p>
													<p class="help-block errorFont validation-error"  *ngIf="approvalForm.hasError('required', 'assigneeId'+i) && ruleGroupService.submitted">Approval Group is required.</p>

												</div>

												<div class="col-md-2">
													<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="font-size: 12px;color: rgba(0,0,0,.54)">
														Email </div>
													<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding-top: 7px;">
														<md-checkbox class="appGrpCheckBox" [(ngModel)]="ruleObj.approvalActions.actionDetails[0].email" name="email{{i}}{{0}}" #email{{i}}{{0}}="ngModel"
														 [checked]="ruleObj.approvalActions.email" [disabled]="isViewOnly || !ruleObj.editRule">
														</md-checkbox>
													</div>

												</div>
												<div class="col-md-2">
													<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="font-size: 12px;color: rgba(0,0,0,.54)">
														Notification </div>
													<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding-top: 7px;">
														<md-checkbox class="appGrpCheckBox" [(ngModel)]="ruleObj.approvalActions.actionDetails[0].notification" name="notification{{i}}{{0}}"
														 #notification{{i}}{{0}}="ngModel" [checked]="ruleObj.approvalActions.actionDetails[0].notification" [disabled]="isViewOnly || !ruleObj.editRule">
														</md-checkbox>
													</div>

												</div>
											</div>
											<div class="row" style="padding-top: 14px;" *ngIf="ruleObj.approvalActions && ruleObj.approvalActions.assigneeType &&
											 ruleObj.approvalActions.assigneeType == 'group' && groupMembers && groupMembers.length>0">

												<div class="col-md-4">

													<div class="">

														<ng-template ngFor let-grpMem [ngForOf]="groupMembers" let-grpMem="index" ;>
															<span style="font-size: 14px;color: rgba(0,0,0,.54)">
																{{grpMem.userName}}
															</span>
															<br>
														</ng-template>
													</div>
												</div>

											</div>

											<span *ngIf="ruleObj.approvalActions && ruleObj.approvalActions.assigneeType && ruleObj.approvalActions.assigneeType == 'user' && (!usersList || usersList.length==0) ">Approvers not found</span>

											<ng-template ngFor let-actionDetail [ngForOf]="ruleObj.approvalActions.actionDetails" let-actionDetailsIndex="index"; *ngIf="ruleObj.approvalActions && ruleObj.approvalActions.assigneeType && ruleObj.approvalActions.assigneeType == 'user'">
												<div class="row" style="padding-bottom: 8px" [ngStyle]="{'padding-top' : (actionDetailsIndex==0) ? '5px' : '' }">
													<div class="col-md-3" *ngIf="ruleObj.editRule && !isViewOnly && usersList && usersList.length>0">
														<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="font-size: 12px;color: rgba(0,0,0,.54)" *ngIf="actionDetailsIndex == 0 ">
															User Name:</div>
														<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
															<angular2-multiselect [data]="usersList" [(ngModel)]="actionDetail.approverId" required [settings]="userDropdownSettings"
															 (onSelect)="setUser($event,i,actionDetailsIndex)" name="user{{i}}{{actionDetailsIndex}}" #user{{i}}{{actionDetailsIndex}}="ngModel">
															</angular2-multiselect>
															<p class="help-block errorFont" style="margin-left: 32px;" *ngIf="approvalForm.hasError('required', 'user'+i+actionDetailsIndex) && ruleGroupService.submitted">Approver is required.</p>
														</div> -->
														<div class="multi-select-placeholder" >
																<div class="ms-label">
																	<p>User Name:</p>
																</div>
																<div>
																		<angular2-multiselect [data]="usersList" [(ngModel)]="actionDetail.approverId" required [settings]="userDropdownSettings"
																		(onSelect)="setUser($event,i,actionDetailsIndex)" name="user{{i}}{{actionDetailsIndex}}" #user{{i}}{{actionDetailsIndex}}="ngModel">
																	   </angular2-multiselect>
																</div>
															</div>
															<p class="help-block errorFont dropdown-validation-error" *ngIf="approvalForm.hasError('required', 'user'+i+actionDetailsIndex) && ruleGroupService.submitted">Approver is required.</p>
													</div>
													<div class="col-md-3" *ngIf="!ruleObj.editRule || isViewOnly">
														<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="font-size: 12px;color: rgba(0,0,0,.54)" *ngIf="actionDetailsIndex == 0">
															User Name:</div>
														<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding-top: 7px;">
															<span>
																{{actionDetail.assigneeName}}
															</span>
														</div>
													</div>

													<div class="col-md-1" style="padding-left:30px">
														<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="font-size: 12px;color: rgba(0,0,0,.54)" *ngIf="actionDetailsIndex == 0">
															Email </div>
														<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding-top: 22px;">
															<md-checkbox class="appGrpCheckBox" [(ngModel)]="actionDetail.email" *ngIf="!isViewOnly && ruleObj.editRule && usersList && usersList.length>0"
															 name="email{{i}}{{actionDetailsIndex}}" #email{{i}}{{actionDetailsIndex}}="ngModel" [checked]="actionDetail.email"
															 [disabled]="isViewOnly || !ruleObj.editRule">
															</md-checkbox>
															<md-checkbox class="appGrpCheckBox" *ngIf="!ruleObj.editRule || isViewOnly" [(ngModel)]="actionDetail.email" name="email{{i}}{{actionDetailsIndex}}"
															 #email{{i}}{{actionDetailsIndex}}="ngModel" [checked]="actionDetail.email" [disabled]="isViewOnly || !ruleObj.editRule">
															</md-checkbox>
														</div>
													</div>
													<div class="col-md-1">
														<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="font-size: 12px;color: rgba(0,0,0,.54)" *ngIf="actionDetailsIndex == 0">
															Notification </div>
														<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding-top: 22px;">
															<md-checkbox class="appGrpCheckBox" [(ngModel)]="actionDetail.notification" *ngIf="!isViewOnly && ruleObj.editRule && usersList && usersList.length>0"
															 name="notification{{i}}{{actionDetailsIndex}}" #notification{{i}}{{actionDetailsIndex}}="ngModel" [checked]="actionDetail.notification"
															 [disabled]="isViewOnly || !(ruleObj.editRule)">
															</md-checkbox>
															<md-checkbox class="appGrpCheckBox" *ngIf="!ruleObj.editRule || isViewOnly" [(ngModel)]="actionDetail.notification" name="notification{{i}}{{actionDetailsIndex}}"
															 #notification{{i}}{{actionDetailsIndex}}="ngModel" [checked]="actionDetail.notification" [disabled]="isViewOnly || !ruleObj.editRule">
															</md-checkbox>
														</div>
													</div>
													<div class="display-flex col-md-1" *ngIf="ruleObj.editRule && !isViewOnly && usersList && usersList.length>0" style=" font-style: italic; font-family: cursive; font-weight: normal; font-size: 20px;padding-top: 27px">
														<button md-icon-button class="pull-right " (click)="deleteApprover(i,actionDetailsIndex)" mdTooltip="Delete approver">
															<md-icon>delete</md-icon>
														</button>
														<button md-icon-button class="color-yellow-green" mdTooltip="Add New User" (click)="addNewUser(i,actionDetailsIndex+1)" *ngIf="actionDetailsIndex == ruleObj.approvalActions.actionDetails.length-1 ">
															<md-icon>exposure_plus_1</md-icon>
														</button>
													</div>
												</div>
											</ng-template>

								</div>

							


						


			</div>




	</div>
	</md-expansion-panel>
	</md-accordion>

	</ng-template>



	</div>

</form>