 <!-- <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0"> -->

<div class="component-title">
	<div class="col-lg-8">
		<!-- <i class="material-icons hand" (click)="subSideNav()">menu</i> -->
		<div class="headingIcons">
				<i class="rec-font-rules iconStyle"></i>
			</div>
		<h4>{{(this.ruleGroupService.ruleGroup.rulePurpose | titlecase)+ this.emptySpace}}Rule Sets</h4>
		<!-- <div  > -->
		<input class="form-control search-input" *ngIf="scrollToTop > 0" style="margin-left:12px"  type="text"  placeholder="Search.." #gb>
	<!-- </div> -->
	</div>
	<div class="col-lg-4 flex-end" style="align-items:center;">
		<!-- <a>
				<i class="fa fa-file-excel-o fa-1x pull-right hand" style="margin-top: 24px;" mdTooltip="Export groups" (click)="rgDT.exportCSV()"></i>
			</a> -->
		<!-- <md-tab-group class="ruleGrpType-status-tabs" style="border-bottom: 0px solid rgba(0, 0, 0, 0.12) !important ; float:left!important"
			(focusChange)="loadContent($event)" [selectedIndex]="selectedTab">
			<md-tab *ngFor="let data of sideBarData">
				<ng-template md-tab-label>
					{{ data.rulePurpose}}({{data.count}})
				</ng-template>
			</md-tab>
		</md-tab-group> -->
		<div class="customToggleTabs" style="margin-right: 5px;">
			<md-button-toggle-group (change)="loadContent($event)">
				<md-button-toggle *ngFor="let key of ruleGroupTabsData | keys ; let i=index" [value]="i" [checked]="i == activePurpose ? true : false">{{key.key}} ({{key.value}})</md-button-toggle>
			</md-button-toggle-group>
		</div>
		<button md-icon-button (click)="rgDT.exportCSV()" mdTooltip="Export groups" *ngIf="ruleGroups && ruleGroups.length>0">
			<i class="fa fa-file-excel-o fa-1x"></i>
		</button>
		<button md-icon-button [routerLink]="['/rule-group', {outlets: { 'content': ['rulegroup-new']}}]" (click)="setRuleGroup()" mdTooltip="Add New Rule Group">
			<md-icon>add</md-icon>
		</button>
		<button md-icon-button (click)="openBulkUpload()" mdTooltip="Bulk upload" *ngIf="showBulkUpload">
			<md-icon>cloud_upload</md-icon>
		</button>
		<div class="paginator-class display-flex" #paginatorClass >
			<button class="paginator-icon" md-icon-button mdTooltip="paginator" (click)="addPaginator()"  *ngIf="length >0 && !showPaginator">
				<md-icon>chevron_left</md-icon>
			</button>
			<button class="paginator-icon" md-icon-button mdTooltip="paginator" (click)="addPaginator()"  *ngIf="length >0 && showPaginator">
					<md-icon>chevron_right</md-icon>
				</button>
			<div class="row" *ngIf="showPaginator && length >0 && (pageSizeOptions && pageSizeOptions[0] && length>pageSizeOptions[0])"   @slide >
				<md-paginator *ngIf="length >0"   [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageEvent.pageIndex"
				 (page)="pageEvent = $event; loadAll(this.ruleGroupTabsData[activePurpose],$event)"></md-paginator>
			</div>
			<div class="row"  style="padding-top: 8px;width:200px" *ngIf="showPaginator && length >0 && (pageSizeOptions && pageSizeOptions[0] && length<=pageSizeOptions[0])"  @slide> 
				<span > 1 - {{length}} of {{length}} </span>
			</div>
		</div>
		<!-- <button md-icon-button class="pull-right search-icon-body" mdTooltip="Search">
				<md-icon>search</md-icon>
			</button> -->
		<!-- <i class="pull-right material-icons md-36 hand ripple search-icon-body ripple">search</i> -->
		<!-- <md-input-container class="pull-right hidethis">
				<input class="mySearchBox" mdInput [(ngModel)]="searchWord" (keyup.enter)="searchData();" placeholder="What're we looking for?"> </md-input-container> -->

	</div>
</div>
<div class="component-body" [@routerTransition]="true"  >
	<!-- <div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 tabsUnderLine">

		</div>
	</div> -->
	<!-- <img class="pull-right" alt="export" src="../../home/media/exportAsCSV.png" height="24" width="24" (click)="rgDT.exportCSV()"> -->
	<div class="d-flex justify-content-between sr-pg-con">
			<!-- <multiselect-dropdown [data]="data" [settings]="settings" (change)="updateFromChild($event)" id="singleSelect"></multiselect-dropdown> -->
			<!-- <multiselect-dropdown [data]="data" [settings]="singleSelectsettings" (change)="singleSelect($event)" id="multipleSelect"></multiselect-dropdown> -->
	<!-- <div > -->
			<input class="form-control search-input" *ngIf="scrollToTop == 0" type="text"  placeholder="Search.." #gb >
		<!-- </div> -->
		<!-- <div class="paginator-class display-flex" #paginatorClass >
			<button class="paginator-icon" md-icon-button mdTooltip="paginator" (click)="addPaginator()" >
				<md-icon>chevron_left</md-icon>
			</button>
			<div class="row" *ngIf="showPaginator"  @slide >
				<md-paginator *ngIf="length >0"   [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageEvent.pageIndex"
				 (page)="pageEvent = $event; loadAll(this.ruleGroupTabsData[activePurpose],$event)"></md-paginator>
			</div>
		</div> -->
		<!-- <md-paginator *ngIf="length >0" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageEvent.pageIndex" (page)="pageEvent = $event; loadAll(this.ruleGroupTabsData[activePurpose],$event)"></md-paginator> -->
	</div>
	<div class="position-relative">
		<div class="show-hide-class">
			<p-multiSelect [options]="columnOptions" [(ngModel)]="ruleGroupColumns" title="Show/Hide Columns"></p-multiSelect>
		</div>
		<div class="list-table" id="list-table">
			<p-dataTable #rgDT [value]="ruleGroups" reorderableColumns="true" resizableColumns="true" columnResizeMode="expand"
			 scrollable="true" [headerCheckboxToggleAllPages]="true" [globalFilter]="gb" #dt (onSort)="changeSourceSort($event)">
	
				<!-- <p-column [style]="{'width':'220px', 'text-align':'left'}" field="name" header="Rule Group Name" [sortable]="true">
					<ng-template let-col let-row="rowData" pTemplate="body">
						<a [routerLink]="['/rule-group', {outlets: {'content': [row['id']]+'/details'}}]">{{row[col.field]}}</a>
					</ng-template>
				</p-column> -->
				<p-column [style]="{'width':'220px', 'text-align':'left'}" field="name" header="Process Name"
				[sortable]="true">
				   <ng-template let-col let-row="rowData" pTemplate="body">
   
					   <div class="flex-column-center" style="width:100%;">
						   <span style="display:block">{{row[col.field]}}</span>
						   <!-- <span class="no-mb" style="color:#a0a0a0 !important;">Profiles : ({{row['taggedToProfCnt']}})</span> -->
						   <!-- <span style="color: green;font-size: 12px;font-weight:bold" *ngIf="row['enableFlag']">
							   Active
							   <span style="color: red;font-size: 12px" *ngIf="row['endDated'] == true"> - End dated</span>
						   </span>
						   <span style="color: red;font-size: 12px;font-weight:bold" *ngIf="!row['enableFlag']">
							   Inactive
							   <span style="color: red;font-size: 12px" *ngIf="row['endDated'] == true"> - End dated</span>
						   </span> -->
					   </div>
   
					   <!-- <a [routerLink]="['/file-templates', {outlets	: {'content': [row['id']]+'/details'}}]" >{{row[col.field]}}</a> -->
				   </ng-template>
			   </p-column>
				<!-- <p-column *ngFor="let col of ruleGroupColumns" [field]="col.field" [header]="col.header" [style]="{'width':col.width,'text-align':'left'}"
				 [sortable]="true"></p-column> -->
				 <p-column field="rulePurpose" header="Rule Purpose" [style]="{'width':'10%','text-align':'left'}" styleClass="left" [sortable]="true">
				
				</p-column>
				 <p-column field="ruleCount" header="Rule Count" [style]="{'width':'10%','text-align':'center'}" styleClass="center" [sortable]="true">
					
				</p-column>
				<p-column field="startDate" header="Start Date" [style]="{'width':'10%'}" styleClass="left" [sortable]="true">
					<ng-template let-col let-row="rowData" pTemplate="body">{{row[col.field] | date:'mediumDate'}}
					</ng-template>
				</p-column>
				<p-column field="enableFlag" header="Status" [style]="{'width':'10%','text-align':'center'}" styleClass="center"  [sortable]="true">
					<ng-template let-col let-row="rowData" pTemplate="body">
							<i *ngIf="row[col.field] == true" class="material-icons" mdTooltip="Active">check_circle</i>
							<i *ngIf="row[col.field] == false" class="material-icons" aria-hidden="true" mdTooltip="InActive">error</i>		
					</ng-template>
				</p-column>
				
				<p-column field="endDate" header="End Date" [style]="{'width':'10%'}" styleClass="left" [sortable]="true">
					<ng-template let-col let-row="rowData" pTemplate="body">
						<!-- <div class="display-flex">
							<span>{{row[col.field] | date:'mediumDate'}}</span>
						</div> -->
					
					<div style="display:flex;justify-content: space-between;">
						<div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin-top: 8px;">{{row[col.field] | date:'mediumDate' }}</div>
						<div class="icons-list">
							<button md-icon-button mdTooltip="View" [routerLink]="['/rule-group', {outlets: {'content': [row['id']]+'/details'}}]">
								<md-icon>remove_red_eye</md-icon>
							</button>
							<button md-icon-button mdTooltip="Edit" [routerLink]="['/rule-group', {outlets: {'content': [row['id']]+'/edit'}}]">
								<md-icon>edit</md-icon>
							</button>
							<button md-icon-button [routerLink]="['/rule-group', {outlets: {'content': [row['id']]+'/copyedit'}}]" mdTooltip="Copy Rule Group">
								<md-icon>content_copy</md-icon>
							</button>
						</div>
					</div>
				</ng-template>
				</p-column>
				<!-- <p-column [style]="{'width':'5%' }" field="enableFlag" header="Status" styleClass="text-center">
					<ng-template let-col let-row="rowData" pTemplate="body">
						<i *ngIf="row[col.field] == 1 || row[col.field] == true" style="color: darkgray" class="material-icons" mdTooltip="Active">check_circle</i>
						<i *ngIf="!row[col.field] || row[col.field] == 0 || row[col.field] == false" style="color: darkgray" class="material-icons"
						 aria-hidden="true" mdTooltip="Inactive">error</i>
					</ng-template>
				</p-column> -->
				<!-- <p-column [style]="{'width':'25%' }" header="Actions" styleClass="text-center">
					<ng-template let-col let-row="rowData" pTemplate="body">
						<div class="editIcon">
							<button md-icon-button mdTooltip="View" [routerLink]="['/rule-group', {outlets: {'content': [row['id']]+'/details'}}]">
								<md-icon>remove_red_eye</md-icon>
							</button>
							<button md-icon-button mdTooltip="Edit" [routerLink]="['/rule-group', {outlets: {'content': [row['id']]+'/edit'}}]">
								<md-icon>edit</md-icon>
							</button>
							<button md-icon-button [routerLink]="['/rule-group', {outlets: {'content': [row['id']]+'/copyedit'}}]" mdTooltip="Copy Rule Group">
								<md-icon>content_copy</md-icon>
							</button>
						</div>
					</ng-template>
				</p-column> -->
				<!-- <p-column [style]="{'width':'80px' }" field="endDated" header="End dated">
				<ng-template let-col let-row="rowData" pTemplate="body">
					
				</ng-template>
			</p-column> -->
			</p-dataTable>
		</div>
	</div>

	<!-- <md-paginator class="sr-pg-con" *ngIf="length >0" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageEvent.pageIndex" (page)="pageEvent = $event; loadAll(this.ruleGroupTabsData[activePurpose])">
	</md-paginator> -->

</div>


<!-- <button md-icon-button class="pull-right" mdTooltip="Column options"><md-icon>more_vert</md-icon></button> -->