<!-- <div class="sub-side-navbar sidebarsmallRuleGroup" style="margin-top: 78px;">
	<perfect-scrollbar
		style="height: auto;max-height:500px; width:100%; overflow-x: auto;">
	<ul>
		<li *ngFor="let rulePurposeData of sideBarData; let i = index">

			<div class="ripple psproviders">
				<i class="fa fa-caret-right hand ripple" aria-hidden="true"
					(click)="expandrulePurpose(rulePurposeData.rulePurpose)"
					*ngIf="rulePurposeBody != rulePurposeData.rulePurpose"></i> <i
					class="fa fa-caret-down hand ripple" aria-hidden="true"
					(click)="expandrulePurpose(rulePurposeData.rulePurpose)"
					*ngIf="rulePurposeBody == rulePurposeData.rulePurpose"></i> <span
					class="hand"
					(click)="expandrulePurpose(rulePurposeData.rulePurpose)">
					{{rulePurposeData.rulePurpose}}</span>
			</div>

			<div class="sourcebody"	style="padding-left: 10px;"
				*ngIf="rulePurposeBody == rulePurposeData.rulePurpose">
				<ul>
					<li	*ngFor="let ruleGroup of rulePurposeData.ruleGroups; let j = index"	>
						<div class="ripple psproviders selecteditem hand ripple">
							<i class="fa fa-caret-right hand ripple" aria-hidden="true"
								(click)="expandRuleGroupBody(j , ruleGroup.name)"
								*ngIf="!expandRuleGroup[j]"></i>
							 <i	class="fa fa-caret-down hand ripple" aria-hidden="true"
								(click)="expandRuleGroupBody(j , ruleGroup.name)"
								*ngIf="expandRuleGroup[j] && ruleGroupBody[j] == ruleGroup.name "></i>
							<span  [routerLink]= "['/rule-group', {outlets: {'content': ruleGroup.id+'/details'}}]" (click)="expandRuleGroupBody(j , ruleGroup.name)" routerLinkActive="router-link-active">
								{{ruleGroup.name}}</span>
						</div>
						<div class="sourcebody"	style="padding-left: 16px;" *ngIf="ruleGroupBody[i] == ruleGroup.name" >
							<ul>
								<li *ngFor="let rule of ruleGroup.rules; let k = index">
									
									<span>{{rule.ruleCode}}</span>
									
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</li>
	</ul>
	</perfect-scrollbar>
</div> -->

<div class="addHeight">
<div class="sub-side-navbar datViewSidePad sideBar-top-styles innerSidebarHover" >
	<perfect-scrollbar style="height: auto; width:100%; overflow-x: auto;">
		<p-accordion [multiple]="true" >
			<p-accordionTab header="{{rulePurposeData.rulePurpose}} ({{rulePurposeData.count}})" [selected]="true" *ngFor="let rulePurposeData of sideBarData; let i = index">
				<perfect-scrollbar [class]="getInSidHeight()">
					<ul style="padding-left: 13px;">
						<li *ngFor="let ruleGroup of rulePurposeData.ruleGroups; let j = index">
							<div class="selecteditem hand ripple" [routerLink]="['/rule-group', {outlets: {'content': ruleGroup.id+'/details'}}]" routerLinkActive="innerSidebarActive">
								<span>{{ruleGroup.name}}</span>
							</div>
						</li>
					</ul>
				</perfect-scrollbar>
			</p-accordionTab>
		</p-accordion>
	</perfect-scrollbar>
</div>
</div>