<h1 md-dialog-title></h1>
<div md-dialog-content>
  <p *ngIf="data.resetApprovalProcessModule">Changing the module will reset all rules and dependent fields. Do you want to proceed?</p>
  <p *ngIf="data.resetAppGrp"> Changing the process will reset all rules and dependent fields. Do you want to proceed?</p>
  <p *ngIf="data.refreshActivityBased">{{data.refreshActivityBased}}</p>
  <p *ngIf="data.message && data.emptyConditionsFound">{{data.message}}</b><br>
    <p *ngIf="data.refreshViews || data.noCOA || data.noFxRate">{{data.message}}</p>
</div>

<div md-dialog-actions align="center">
  <div>
      <button md-button [md-dialog-close]="data.ok" tabindex="2">Ok</button>
      <button md-button [md-dialog-close]="data.no" tabindex="-1">{{data.no}}</button>
  </div>
</div>