/* ==========================================================================
ngPrime Table 
========================================================================== */

.ui-datatable {
    .ui-datatable-thead {
            th {
                font-weight: unset !important;
                position: relative;
            }
        }
        .ui-datatable-data {
            .ui-datatable-even.ui-widget-content, 
            .ui-datatable-odd.ui-widget-content {
                // transition: all 0.1s ease-in-out;
                background: unset;
            }
    }            
}

.ui-datatable tbody > tr.ui-widget-content {
    height: 35px;
    border-bottom: 1px solid rgba(224, 224, 224, 0.54) !important;
}

.ui-datatable .ui-datatable-thead > tr > th, .ui-datatable .ui-datatable-tfoot > tr > td, .ui-datatable .ui-datatable-data > tr > td {
    border-width: 0px;
}

.line-edit-action,
.line-delete-action,
.line-close-action {
    display: none;
}

.ui-datatable tbody tr {
    &:hover {
        .line-edit-action,
        .line-delete-action {
            display: inline-block;
        }
    }
}

.ui-datatable .ui-datatable-thead > tr > th, .ui-datatable .ui-datatable-tfoot > tr > td {
    font-weight: unset !important;
}


.ui-multiselect .ui-multiselect-trigger {
    border-right: 0 !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
    cursor: pointer !important;
    position: absolute !important;
    right: 28px !important;
    top: 3px !important;
    padding-left: 30px !important;
    font-size: 28px !important;
    z-index: 1;
}

.ui-multiselect .ui-multiselect-trigger .fa-caret-down:before {
    content: "\F142" !important;
}

.ui-multiselect .ui-multiselect-label {
    display: none !important;
    padding: .25em 2em .25em .25em;
    width: auto;
    border: none;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ui-multiselect .ui-multiselect-trigger .fa {
    margin-top: .4em;
    margin-left: 0.175em;
}

.reconcile-main .ui-multiselect .ui-multiselect-trigger .fa,
.accounting-main .ui-multiselect .ui-multiselect-trigger .fa {
    margin-left: -15px;
}

.ui-datatable .ui-datatable-thead > tr > th {
    text-align: left;
}

.source-view-table {
    .ui-datatable-resizable {
        overflow: visible !important;
    }

    .ui-datatable-thead {
        position: sticky !important;
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -ms-sticky;
        position: -o-sticky;
        z-index: 100;
    }
}

.file-template-datatable {
    padding: 0 20px;

    .ui-datatable-unfrozen-view {
        display: block;
        overflow-x: auto;
        right: 0;

        th, td {
            white-space: nowrap;
            overflow: hidden;
        }
    }
}

.ui-datatable {
    position: relative;
}

.acct-childtable {
    .ui-datatable th span.ui-column-title {
        display: flex;
    }
}

.ui-accordion > .ui-widget-content,
.ui-accordion > .ui-accordion-header,
.ui-accordion > .ui-accordion-header.ui-state-active {
    background: transparent !important;
}