<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myChartOfAccountLabel" jhiTranslate="agreeGatewayV1App.chartOfAccount.home.createOrEditLabel">Create or edit a Chart Of Account</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!chartOfAccount.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="chartOfAccount.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.chartOfAccount.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="chartOfAccount.name"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.chartOfAccount.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="chartOfAccount.description"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.chartOfAccount.startDate" for="field_startDate">Start Date</label>
            <div class="input-group">
                <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker  #startDateDp="ngbDatepicker" [(ngModel)]="chartOfAccount.startDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="startDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.chartOfAccount.endDate" for="field_endDate">End Date</label>
            <div class="input-group">
                <input id="field_endDate" type="text" class="form-control" name="endDate" ngbDatepicker  #endDateDp="ngbDatepicker" [(ngModel)]="chartOfAccount.endDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="endDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.chartOfAccount.segmentSeperator" for="field_segmentSeperator">Segment Seperator</label>
            <input type="text" class="form-control" name="segmentSeperator" id="field_segmentSeperator"
                [(ngModel)]="chartOfAccount.segmentSeperator"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.chartOfAccount.enabledFlag" for="field_enabledFlag">Enabled Flag</label>
            <input type="checkbox" class="form-control" name="enabledFlag" id="field_enabledFlag"
                [(ngModel)]="chartOfAccount.enabledFlag"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.chartOfAccount.createdBy" for="field_createdBy">Created By</label>
            <input type="number" class="form-control" name="createdBy" id="field_createdBy"
                [(ngModel)]="chartOfAccount.createdBy"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.chartOfAccount.createdDate" for="field_createdDate">Created Date</label>
            <div class="d-flex">
                <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="chartOfAccount.createdDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.chartOfAccount.lastUpdatedBy" for="field_lastUpdatedBy">Last Updated By</label>
            <input type="number" class="form-control" name="lastUpdatedBy" id="field_lastUpdatedBy"
                [(ngModel)]="chartOfAccount.lastUpdatedBy"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.chartOfAccount.lastUpdatedDate" for="field_lastUpdatedDate">Last Updated Date</label>
            <div class="d-flex">
                <input id="field_lastUpdatedDate" type="datetime-local" class="form-control" name="lastUpdatedDate" [(ngModel)]="chartOfAccount.lastUpdatedDate"
                  />
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
