<div>
    <img src="../../../../content/images/logo.PNG">
    <div>
        <p class="theme-text" *ngIf="!success && !keyMissing">Choose a new password</p>
        <h4 class="theme-text" *ngIf="keyMissing">The password reset key is missing.</h4>
        <div *ngIf="!keyMissing">
            <form *ngIf="!success" name="form" role="form" (ngSubmit)="finishReset()" #passwordForm="ngForm">
                <!-- <md-input-container class="mat-input-mb-1"> -->
                    <input type="password" class="form-control" id="password" name="password" #passwordInput="ngModel" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                        [(ngModel)]="resetAccount.password" minlength=4 maxlength=50 required (ngModelChange)="doNotMatch = false">
                <!-- </md-input-container> -->
                <div *ngIf="passwordInput.dirty && passwordInput.invalid">
                    <small class="form-text" *ngIf="passwordInput.errors.required" jhiTranslate="global.messages.validate.newpassword.required">
                        Your password is required.
                    </small>
                    <small class="form-text" *ngIf="passwordInput.errors.minlength" jhiTranslate="global.messages.validate.newpassword.minlength">
                        Your password is required to be at least 4 characters.
                    </small>
                    <small class="form-text" *ngIf="passwordInput.errors.maxlength" jhiTranslate="global.messages.validate.newpassword.maxlength">
                        Your password cannot be longer than 50 characters.
                    </small>
                </div>

                <jhi-password-strength-bar class="strength" [passwordToCheck]="resetAccount.password"></jhi-password-strength-bar>

                <!-- <md-input-container class="mat-input-mb-1"> -->
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
                        placeholder="{{'global.form.confirmpassword.placeholder' | translate}}" [(ngModel)]="confirmPassword" minlength=4 maxlength=50
                        required (ngModelChange)="doNotMatch = false">
                <!-- </md-input-container> -->
                <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                    <small class="form-text" *ngIf="confirmPasswordInput.errors.required" jhiTranslate="global.messages.validate.confirmpassword.required">
                        Your password confirmation is required.
                    </small>
                    <small class="form-text" *ngIf="confirmPasswordInput.errors.minlength" jhiTranslate="global.messages.validate.confirmpassword.minlength">
                        Your password confirmation is required to be at least 4 characters.
                    </small>
                    <small class="form-text" *ngIf="confirmPasswordInput.errors.maxlength" jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                        Your password confirmation cannot be longer than 50 characters.
                    </small>
                </div>


                <div *ngIf="doNotMatch">
                    <small class="form-text">Passwords Mismatched</small>
                </div>

                <div *ngIf="error">
                    <small class="form-text" jhiTranslate="reset.finish.messages.error">Your password couldn't be reset. Remember a password request is only valid for 24 hours.</small>
                </div>

                <div class="action">
                    <p routerLink="/login">Don't reset</p>
                    <button type="submit" md-raised-button [disabled]="passwordForm.form.invalid">Reset Password</button>
                </div>
            </form>
            <div *ngIf="success" class="success-msg">
                <h6 jhiTranslate="reset.finish.messages.success">
                    <strong>Your password has been reset.</strong>
                </h6>
                <button md-raised-button routerLink="/login">Login</button>
            </div>
        </div>
    </div>
</div>