<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLedgerDefinitionLabel" jhiTranslate="agreeGatewayV1App.ledgerDefinition.home.createOrEditLabel">Create or edit a Ledger Definition</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!ledgerDefinition.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="ledgerDefinition.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.ledgerDefinition.tenantId" for="field_tenantId">Tenant Id</label>
            <input type="number" class="form-control" name="tenantId" id="field_tenantId"
                [(ngModel)]="ledgerDefinition.tenantId"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.ledgerDefinition.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="ledgerDefinition.name"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.ledgerDefinition.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="ledgerDefinition.description"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.ledgerDefinition.ledgerType" for="field_ledgerType">Ledger Type</label>
            <input type="text" class="form-control" name="ledgerType" id="field_ledgerType"
                [(ngModel)]="ledgerDefinition.ledgerType"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.ledgerDefinition.startDate" for="field_startDate">Start Date</label>
            <div class="input-group">
                <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker  #startDateDp="ngbDatepicker" [(ngModel)]="ledgerDefinition.startDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="startDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.ledgerDefinition.endDate" for="field_endDate">End Date</label>
            <div class="input-group">
                <input id="field_endDate" type="text" class="form-control" name="endDate" ngbDatepicker  #endDateDp="ngbDatepicker" [(ngModel)]="ledgerDefinition.endDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="endDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.ledgerDefinition.currency" for="field_currency">Currency</label>
            <input type="text" class="form-control" name="currency" id="field_currency"
                [(ngModel)]="ledgerDefinition.currency"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.ledgerDefinition.calendarId" for="field_calendarId">Calendar Id</label>
            <input type="number" class="form-control" name="calendarId" id="field_calendarId"
                [(ngModel)]="ledgerDefinition.calendarId"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.ledgerDefinition.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                [(ngModel)]="ledgerDefinition.status"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.ledgerDefinition.enabledFlag" for="field_enabledFlag">Enabled Flag</label>
            <input type="checkbox" class="form-control" name="enabledFlag" id="field_enabledFlag"
                [(ngModel)]="ledgerDefinition.enabledFlag"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.ledgerDefinition.createdBy" for="field_createdBy">Created By</label>
            <input type="number" class="form-control" name="createdBy" id="field_createdBy"
                [(ngModel)]="ledgerDefinition.createdBy"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.ledgerDefinition.createdDate" for="field_createdDate">Created Date</label>
            <div class="d-flex">
                <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="ledgerDefinition.createdDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.ledgerDefinition.lastUpdatedBy" for="field_lastUpdatedBy">Last Updated By</label>
            <input type="number" class="form-control" name="lastUpdatedBy" id="field_lastUpdatedBy"
                [(ngModel)]="ledgerDefinition.lastUpdatedBy"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.ledgerDefinition.lastUpdatedDate" for="field_lastUpdatedDate">Last Updated Date</label>
            <div class="d-flex">
                <input id="field_lastUpdatedDate" type="datetime-local" class="form-control" name="lastUpdatedDate" [(ngModel)]="ledgerDefinition.lastUpdatedDate"
                  />
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
