<!-- <div class="scheduling">
    <form novalidate #taggingForm="ngForm">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="font-size: 16px;">
            Select Processes :</div>
        <md-select class="example-full-width" placeholder="Process Name" name="processname" [(ngModel)]="processId" (change)="onSelectProcessName(processId)"
            required>
            <md-option *ngFor="let type of processList" [value]="type.id">{{type.itemName}}</md-option>
        </md-select>
    </form>
        <div *ngIf="sourceProfilesList.length > 0" class="source-profiles">
            <label>Tagged Source Profiles : </label>
            <ul>
                <li *ngFor="let col of sourceProfilesList; let i = index;">{{col.sourceProfileName}}</li>
            </ul>
        </div>
        <div *ngIf="reconRuleGroups.length > 0" class="source-profiles">
            <label>Tagged Recon Rule Groups : </label>
            <ul>
                <li *ngFor="let col of reconRuleGroups; let i = index;">{{col.reconcRuleGroupName}}</li>
            </ul>
        </div>
        <div *ngIf="acctRuleGroups.length > 0" class="source-profiles">
            <label>Tagged Acct Rule Groups : </label>
            <ul>
                <li *ngFor="let col of acctRuleGroups; let i = index;">{{col.actRuleGroupName}}</li>
            </ul>
        </div>
        <p-footer>
            <div class="top-border" style="margin-top: 15px !important;">
                <span class="pull-left">Do you want to tag this?</span>
                <button class="pull-right" md-raised-button [disabled]="!taggingForm.valid" style="margin-bottom: 10px !important;" (click)="saveProcess();">Yes</button>
                <button class="pull-right" md-raised-button (click)="test=!test;">Cancel</button>
            </div>
        </p-footer>
</div> -->
<div class="tagging-custom-dialog" style="z-index:9999;top:161px;">
    <div class="custom-dialog-header ui-widget-header">
        <span style="padding-left:10px">Tagging {{basicInfor.name}}</span>
        <i class="material-icons dialogcloseBtn" (click)="closeDialog()">close</i>
    </div>
    <!-- </p-header> -->
    <div class="custom-dialog-body" style="width:400px;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 7px;" class="testcup dataViewsResizeMultiSelect dataViewsMultiSelectWidth">
                    <angular2-multiselect [data]="processList" [(ngModel)]="selectedItems" (onSelect)="onSelectTemplateAndDataView(selectedItems)"
                     (onDeSelect)="onSelectTemplateAndDataView(selectedItems)" name="selectedItems"
                     required> </angular2-multiselect>
        </div>
        <perfect-scrollbar style="max-height: 300px;">
                    <p-accordion [multiple]="false" class="rule-group-recon">
                            <p-accordionTab [selected]="pro.firstOpened" *ngFor="let pro of processDetailsList;let i = index;">
                                <p-header>
                                    <span>{{pro.processName}}</span>    
                                </p-header>
                                <div class="accordioncontenet" style="padding-left:20px;">
                                    <md-card>
                                        <div style="padding:10px;" class="display-flex" *ngIf="processDetailsList[i].processDetailList.spList.length < 1 && processDetailsList[i].processDetailList.recGrpList.length < 1 && processDetailsList[i].processDetailList.actGrpList.length < 1">
                                            <p class="materialLabelProcess">No Source Profiles, Rules Groups Tagged to this Process!</p>
                                        </div>
                                        <div style="padding:10px;" class="display-flex" *ngIf="processDetailsList[i].processDetailList.spList.length > 0">
                                            <p class="materialLabelProcess">Source Profile:</p>
                                            <ul style="text-align:left;white-space:nowrap;">
                                                <li style="font-size:14px;" *ngFor="let srcPrf of processDetailsList[i].processDetailList.spList;let j= index">{{j + 1}}. {{srcPrf.sourceProfileName}}</li>
                                            </ul>
                                        </div>
                                        <div style="padding:10px;" class="display-flex" *ngIf="processDetailsList[i].processDetailList.recGrpList.length > 0">
                                            <p class="materialLabelProcess">Recon Rule Group:</p>
                                            <ul style="text-align:left;white-space:nowrap;">
                                                <li style="font-size:14px;" *ngFor="let recG of processDetailsList[i].processDetailList.recGrpList;let j = index;">{{j + 1}}. {{recG.reconcRuleGroupName}}</li>
                                            </ul>
                                        </div>
                                        <div style="padding:10px;" class="display-flex" *ngIf="processDetailsList[i].processDetailList.actGrpList.length > 0">
                                            <p class="materialLabelProcess">Acct Rule Group:</p>
                                            <ul style="text-align:left;white-space:nowrap;">
                                                <li style="font-size:14px;" *ngFor="let AccG of processDetailsList[i].processDetailList.actGrpList;let j = index;">{{j + 1}}. {{AccG.actRuleGroupName}}</li>
                                            </ul>
                                        </div>
                                    </md-card>
                                </div>
                            </p-accordionTab>
                    </p-accordion>
        </perfect-scrollbar>
    </div>
    <div class="custom-dialog-footer" *ngIf="processDetailsList.length > 0">
        <div class="top-border" style="margin-top: 15px !important;">
            <div class="col-md-12 pull-left">Do you want to tag this {{basicInfor.name}}?</div>
            <button class="pull-right" md-raised-button style="margin-bottom: 10px !important;" (click)="saveProcess();">Yes</button>
            <button class="pull-right" md-raised-button (click)="test=!test;">Cancel</button>
        </div>
    </div>
</div>