<div class="container-fluid component-body" style="min-height: 600px">
    <div class="row botom-dotted-blue-border component-title margin-left-22">
        <div class="col-md-6 pageTitle">
            <h2 *ngIf="isCreateNew">Role creation:</h2>
            <h2 *ngIf="!isCreateNew">Role Details</h2>
        </div>
        <div class="col-md-6">
            <div class="row float-right">
                <button *ngIf="!isViewOnly" md-icon-button class="pull-right color-green" aria-hidden="true" mdTooltip="Save Data View"
                    mdTooltipPosition="above" ><md-icon>save</md-icon>
                </button>
                <button *ngIf="isViewOnly" md-icon-button mdTooltip="Edit" mdTooltipPosition="above">
					<md-icon>mode_edit</md-icon>
				</button>
                <button *ngIf="isEdit" md-icon-button class="pull-right color-gray" mdTooltip="Close" mdTooltipPosition="above">
					<md-icon>clear</md-icon>
				</button>
                <button *ngIf="isCreateNew" md-icon-button class="pull-right color-gray" mdTooltip="Close" mdTooltipPosition="above" [routerLink]="['/notification-batch', {outlets: {'content': ['notification-batch-home']}}]">
					<md-icon>clear</md-icon>
				</button>
                <button *ngIf="isViewOnly" md-icon-button mdTooltip="Go Back" mdTooltipPosition="above">
					<md-icon>undo</md-icon>
				</button>
            </div>
        </div>
    </div>
    <div>details page</div>
</div>





<!-- <div *ngIf="notificationBatch">
    <h2><span jhiTranslate="agreeGatewayV1App.notificationBatch.detail.title">Notification Batch</span> {{notificationBatch.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="agreeGatewayV1App.notificationBatch.notificationName">Notification Name</span></dt>
        <dd>
            <span>{{notificationBatch.notificationName}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.notificationBatch.currentApprover">Current Approver</span></dt>
        <dd>
            <span>{{notificationBatch.currentApprover}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.notificationBatch.parentBatch">Parent Batch</span></dt>
        <dd>
            <span>{{notificationBatch.parentBatch}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.notificationBatch.refLevel">Ref Level</span></dt>
        <dd>
            <span>{{notificationBatch.refLevel}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.notificationBatch.createdBy">Created By</span></dt>
        <dd>
            <span>{{notificationBatch.createdBy}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.notificationBatch.createdDate">Created Date</span></dt>
        <dd>
            <span>{{notificationBatch.createdDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.notificationBatch.lastUpdatedBy">Last Updated By</span></dt>
        <dd>
            <span>{{notificationBatch.lastUpdatedBy}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.notificationBatch.lastUpdatedDate">Last Updated Date</span></dt>
        <dd>
            <span>{{notificationBatch.lastUpdatedDate | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'notification-batch/'+ notificationBatch.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div> -->
