<div class="container-fluid component-body">
	<div class="row botom-dotted-blue-border pageTitle component-title margin-left-22">
		<h2>Run Reports</h2>
	</div>
	<p-accordion class="run-reports" [multiple]="true"> 
	<p-accordionTab header="Report Parameters" selected="true">
	<div class="report-body">
		<md-grid-list cols="3" rowHeight="60px">
			<md-grid-tile class="report-selection" colspan="3" rowspan="2">
			<div class="lable-select">
				<h4>Select Report: </h4>
				<md-select (change)="reportSelected()" [(ngModel)]="selectedReport" name="Report">
					<md-option *ngFor="let rpt of reports" [value]="rpt.value">{{rpt.viewValue}}</md-option>
				</md-select>
			</div>
			<div>
			    <md-radio-group class="report-Type"	[(ngModel)]="reportType"> 
					<md-radio-button class="example-radio-button" value="detail" color="primary"> Detail </md-radio-button>
					<md-radio-button class="example-radio-button" value="summary" color="primary"> Summary </md-radio-button>
				</md-radio-group>
			</div>
			</md-grid-tile>
			<md-grid-tile colspan="1" class="report-parameters-heading"><h5>Report Parameters</h5></md-grid-tile>
			<md-grid-tile colspan="1" class="grouping-parameters-heading"><h5>Grouping </h5></md-grid-tile>
			<md-grid-tile colspan="1" class="CC-parameters-heading"><h5>Code Combinations</h5></md-grid-tile>
			<md-grid-tile colspan="1" rowspan="8" class="report-parameters">
				<table class="report-parameters-table">
					<tr *ngFor="let report of finalFields">
						<td *ngIf="report.Type === 'LOV'">
							<md-select [placeholder]="report.parameters" (change)="reportSelected()" [(ngModel)]="selectedReport1" name="Report">
						    	<md-option *ngFor="let rpt of reports1" [value]="rpt.value">{{rpt.viewValue}}</md-option>
							</md-select>
						</td>
						<td *ngIf="report.Type === 'Multi'">
							<span class="field-title">{{report.parameters}}  :</span>
							<angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" 
									[settings]="limitSelectionSettings" (onSelect)="onSelectTemplateAndDataView(selectedItems)" 
									(onDeSelect)="onSelectTemplateAndDataView(selectedItems)"
									mdTooltip="Select Values" name="selectedItems">
							</angular2-multiselect>
						</td>
						<td *ngIf="report.Type === 'Yes'">
							<section class="example-section">
						      <md-slide-toggle class="example-margin" color="primary">
						        {{report.parameters}}
						      </md-slide-toggle>
						    </section>
						</td>
					</tr>
				</table>
			</md-grid-tile>
			<md-grid-tile colspan="1" rowspan="8" class="grouping-parameters">abc</md-grid-tile>
			<md-grid-tile colspan="1" rowspan="8" class="CC-parameters">cde</md-grid-tile>
		</md-grid-list>
	</div>
	</p-accordionTab>
	</p-accordion>
</div>
<!-- <md-slide-toggle class="example-margin" color="primary" [(ngModel)]="checked" (change)="changed()">{{checked}}</md-slide-toggle> -->
<!-- <div class="row">
	<div class="col-md-9">
		<md-input-container class="example-full-width"> <input
			mdInput [mdDatepicker]="startDate" placeholder="Start Date"
			name="startDate" required>
		<button [mdDatepickerToggle]="startDate"></button>
		</md-input-container>
		<md-datepicker #startDate startView="year"></md-datepicker>
	</div>
</div> -->