@font-face {
  font-family: 'recon';
  src:  url('fonts/recon.eot?ymxn4v');
  src:  url('fonts/recon.eot?ymxn4v#iefix') format('embedded-opentype'),
    url('fonts/recon.ttf?ymxn4v') format('truetype'),
    url('fonts/recon.woff?ymxn4v') format('woff'),
    url('fonts/recon.svg?ymxn4v#recon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="rec-font-"], [class*=" rec-font-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'recon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rec-font-2W:before {
  content: "\e906";
}
.rec-font-3M:before {
  content: "\e907";
}
.rec-font-1W:before {
  content: "\e908";
}
.rec-font-1M:before {
  content: "\e909";
}
.rec-font-rev-acct:before {
  content: "\e905";
}
.rec-font-clear-filter:before {
  content: "\e900";
}
.rec-font-1M-01:before {
  content: "\e901";
}
.rec-font-1W-01:before {
  content: "\e902";
}
.rec-font-2W-01:before {
  content: "\e903";
}
.rec-font-3M-01:before {
  content: "\e904";
}
.rec-font-groups-assign:before {
  content: "\e93a";
}
.rec-font-h-v-view:before {
  content: "\e925";
}
.rec-font-data-extraction:before {
  content: "\e926";
}
.rec-font-data-transformation:before {
  content: "\e927";
}
.rec-font-file-delete:before {
  content: "\e928";
}
.rec-font-accounting:before {
  content: "\e929";
}
.rec-font-administrator:before {
  content: "\e92a";
}
.rec-font-approval:before {
  content: "\e92b";
}
.rec-font-box:before {
  content: "\e92c";
}
.rec-font-connections:before {
  content: "\e92d";
}
.rec-font-csv:before {
  content: "\e92e";
}
.rec-font-drop-box:before {
  content: "\e92f";
}
.rec-font-ETL:before {
  content: "\e930";
}
.rec-font-fx-rates:before {
  content: "\e931";
}
.rec-font-google-drive:before {
  content: "\e932";
}
.rec-font-group:before {
  content: "\e933";
}
.rec-font-ledger:before {
  content: "\e934";
}
.rec-font-lookup-codes:before {
  content: "\e935";
}
.rec-font-profile:before {
  content: "\e936";
}
.rec-font-reconciliation:before {
  content: "\e937";
}
.rec-font-rules:before {
  content: "\e938";
}
.rec-font-tenant:before {
  content: "\e939";
}
