
<div *ngIf="templAttributeMapping">
    <h2><span jhiTranslate="agreeGatewayV1App.templAttributeMapping.detail.title">Templ Attribute Mapping</span> {{templAttributeMapping.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="agreeGatewayV1App.templAttributeMapping.jeTempId">Je Temp Id</span></dt>
        <dd>
            <span>{{templAttributeMapping.jeTempId}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.templAttributeMapping.attributeName">Attribute Name</span></dt>
        <dd>
            <span>{{templAttributeMapping.attributeName}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.templAttributeMapping.mappingType">Mapping Type</span></dt>
        <dd>
            <span>{{templAttributeMapping.mappingType}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.templAttributeMapping.value">Value</span></dt>
        <dd>
            <span>{{templAttributeMapping.value}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.templAttributeMapping.sourceViewColumnId">Source View Column Id</span></dt>
        <dd>
            <span>{{templAttributeMapping.sourceViewColumnId}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.templAttributeMapping.cretaedBy">Cretaed By</span></dt>
        <dd>
            <span>{{templAttributeMapping.cretaedBy}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.templAttributeMapping.lastUpdatedBy">Last Updated By</span></dt>
        <dd>
            <span>{{templAttributeMapping.lastUpdatedBy}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.templAttributeMapping.createdDate">Created Date</span></dt>
        <dd>
            <span>{{templAttributeMapping.createdDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.templAttributeMapping.lastUpdatedDate">Last Updated Date</span></dt>
        <dd>
            <span>{{templAttributeMapping.lastUpdatedDate | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'templ-attribute-mapping/'+ templAttributeMapping.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
