<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myApprovalGroupsLabel" jhiTranslate="agreeGatewayV1App.approvalGroups.home.createOrEditLabel">Create or edit a Approval Groups</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!approvalGroups.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="approvalGroups.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.approvalGroups.groupName" for="field_groupName">Group Name</label>
            <input type="text" class="form-control" name="groupName" id="field_groupName"
                [(ngModel)]="approvalGroups.groupName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.approvalGroups.tenantId" for="field_tenantId">Tenant Id</label>
            <input type="number" class="form-control" name="tenantId" id="field_tenantId"
                [(ngModel)]="approvalGroups.tenantId"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.approvalGroups.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="approvalGroups.description"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.approvalGroups.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                [(ngModel)]="approvalGroups.status"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.approvalGroups.startDate" for="field_startDate">Start Date</label>
            <div class="input-group">
                <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker  #startDateDp="ngbDatepicker" [(ngModel)]="approvalGroups.startDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="startDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.approvalGroups.endDate" for="field_endDate">End Date</label>
            <div class="input-group">
                <input id="field_endDate" type="text" class="form-control" name="endDate" ngbDatepicker  #endDateDp="ngbDatepicker" [(ngModel)]="approvalGroups.endDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="endDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.approvalGroups.createdDate" for="field_createdDate">Created Date</label>
            <div class="d-flex">
                <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="approvalGroups.createdDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.approvalGroups.createdBy" for="field_createdBy">Created By</label>
            <input type="number" class="form-control" name="createdBy" id="field_createdBy"
                [(ngModel)]="approvalGroups.createdBy"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.approvalGroups.lastUpdatedBy" for="field_lastUpdatedBy">Last Updated By</label>
            <input type="number" class="form-control" name="lastUpdatedBy" id="field_lastUpdatedBy"
                [(ngModel)]="approvalGroups.lastUpdatedBy"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.approvalGroups.lastUpdatedDate" for="field_lastUpdatedDate">Last Updated Date</label>
            <div class="d-flex">
                <input id="field_lastUpdatedDate" type="datetime-local" class="form-control" name="lastUpdatedDate" [(ngModel)]="approvalGroups.lastUpdatedDate"
                  />
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
