<div class="component-title">
    <div class="col-md-6">
        <div class="headingIcons">
            <i class="fa fa-fw fa-user-o iconStyle"></i>
        </div>
        <h4>Role(s)</h4>
    </div>
    <div class="col-md-6">
        <div class="pull-right">
            <button md-icon-button [routerLink]="['/roles', {outlets: { 'content': ['roles-new']}}]" mdTooltip="Add Role" *jhiHasAnyAuthority="'ROLE_CREATE'">
                <md-icon>add</md-icon>
            </button>
        </div>
    </div>
</div>
<div class="component-body">
    <div class="d-flex justify-content-between sr-pg-con">
        <input type="text" placeholder="Search.." class="form-control search-input" #gb>
        <md-paginator *ngIf="rolesRecordsLength>0" [length]="rolesRecordsLength" [pageSize]="itemsPerPage" [pageSizeOptions]="pageSizeOptions" [pageIndex]="page" (page)="onPaginateChange($event)"></md-paginator> 
    </div>
    <div class="list-table">
        <p-dataTable [value]="roles" resizableColumns="true" reorderableColumns="true" columnResizeMode="expand"
            scrollable="true" [responsive]="true" [headerCheckboxToggleAllPages]="true"
            [globalFilter]="gb" #dt (onRowSelect)="onRowSelect($event)" selectionMode="single">

            <p-column field="roleCode" header="Code" styleClass="left" [style]="{'width':'25%'}"> 
                <ng-template let-col let-row="rowData" pTemplate="body"> 
                    <span>{{row[col.field]}}</span>
                    <div>
                        <span class="align-items-center" style="color: green;font-size: 10px;" *ngIf="row.functionalitiesCount">
                            <i class="fa fa-cogs"></i>
                            <span style="padding-left:0.5rem;">No. of functionalities assigned ({{row.functionalitiesCount}})</span>
                        </span>
                    </div>
                    <div>
                        <span class="align-items-center" style="color: green;font-size: 10px;" *ngIf="row.usersCount">
                            <i class="fa fa-user-circle"></i>
                            <span style="padding-left:0.5rem;">No. of users assigned ({{row.usersCount}})</span>
                        </span>
                    </div>
                </ng-template> 
            </p-column>

            <p-column field="roleName" header="Name" styleClass="left" [style]="{'width':'20%'}"> 
                <ng-template let-col let-row="rowData" pTemplate="body"> 
                    <span>{{row[col.field]}}</span>
                </ng-template>
            </p-column>

            <p-column field="startDate" header="Start Date" styleClass="left" [style]="{'width':'15%'}"> 
                <ng-template let-col let-row="rowData" pTemplate="body"> 
                    {{row[col.field] | date:'mediumDate'}}
                </ng-template> 
            </p-column>

            <p-column field="endDate" header="End Date" styleClass="left" [style]="{'width':'15%'}"> 
                <ng-template let-col let-row="rowData" pTemplate="body"> 
                    {{row[col.field] | date:'mediumDate'}}
                </ng-template> 
            </p-column>

            <p-column [style]="{'width':'5%' }" field="activeInd" header="Status" styleClass="text-center" styleClass="center"> 
                <ng-template let-col let-row="rowData" pTemplate="body"> 
                    <i *ngIf="row[col.field]==true" style="color: darkgrey" class="material-icons">check_circle</i> 
                    <i *ngIf="row[col.field]==false" style="color: darkgrey" class="material-icons" aria-hidden="true">error</i> 
                </ng-template> 
            </p-column>

            <p-column [style]="{'width':'20%' }" field="roleDesc" header="Description" styleClass="text-center">
                <ng-template let-col let-row="rowData" pTemplate="body">
                    <div class="v-c-h-b">
                        <span>{{row[col.field]}}</span>
                        <div class="icons-list editIcon">
                            <button md-icon-button mdTooltip="View" [routerLink]="['/roles', {outlets: {'content': [row['id']]+'/details'}}]" (click)="$event.stopPropagation()">
                                <md-icon>remove_red_eye</md-icon>
                            </button>
                            <button md-icon-button mdTooltip="Edit" [routerLink]="['/roles', {outlets: {'content': [row['id']]+'/edit'}}]" *ngIf="row.tenantId != 0" (click)="$event.stopPropagation()">
                                <md-icon>edit</md-icon>
                            </button>
                        </div>
                    </div>
                </ng-template>
            </p-column>

        </p-dataTable>
    </div>
    <md-paginator *ngIf="rolesRecordsLength>0" [length]="rolesRecordsLength" [pageSize]="itemsPerPage" [pageSizeOptions]="pageSizeOptions" [pageIndex]="page" (page)="onPaginateChange($event)" class="sr-pg-con"></md-paginator> 
</div>