
<div *ngIf="reconcile">
    <h2><span jhiTranslate="agreeGatewayV1App.reconcile.detail.title">Reconcile</span> {{reconcile.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="agreeGatewayV1App.reconcile.processorName">Processor Name</span></dt>
        <dd>
            <span>{{reconcile.processorName}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.reconcile.transactionDate">Transaction Date</span></dt>
        <dd>
            <span>{{reconcile.transactionDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.reconcile.recordType">Record Type</span></dt>
        <dd>
            <span>{{reconcile.recordType}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.reconcile.amount">Amount</span></dt>
        <dd>
            <span>{{reconcile.amount}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.reconcile.currencyCode">Currency Code</span></dt>
        <dd>
            <span>{{reconcile.currencyCode}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'reconcile/'+ reconcile.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
