<md-card>
    <div class="component-body">
        <div class="botom-dotted-blue-border pageTitle text-center">
            <h3>Hierarchy</h3>
        </div>
        <br>
        <h3 *ngIf="hierarchy.length < 1" class="text-center">No Hierarchy Found</h3>
        <div class="hierarchyClass" *ngIf="hierarchy.length > 0">
            <p-organizationChart [value]="hierarchy" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="onNodeSelect($event)"
                styleClass="company">
                <ng-template let-node pTemplate="person">
                    <div class="node-header ui-corner-top" *ngIf="node.label">{{node.label}}</div>
                    <div class="node-header ui-corner-top" *ngIf="!node.label">User</div>
                    <div class="node-content">
                        <img *ngIf="node.data.imgUrl" src="data:image/png;base64,{{node.data.imgUrl}}" width="32">
                        <img *ngIf="!node.data.imgUrl" src="../../../content/images/user.svg" width="32">
                        <div>{{node.data.userName}}</div>
                    </div>
                </ng-template>
            </p-organizationChart>
        </div>
    </div>
</md-card>