<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLineCriteriaLabel" jhiTranslate="agreeGatewayV1App.lineCriteria.home.createOrEditLabel">Create or edit a Line Criteria</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!lineCriteria.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="lineCriteria.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.lineCriteria.jeTempId" for="field_jeTempId">Je Temp Id</label>
            <input type="number" class="form-control" name="jeTempId" id="field_jeTempId"
                [(ngModel)]="lineCriteria.jeTempId"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.lineCriteria.seq" for="field_seq">Seq</label>
            <input type="number" class="form-control" name="seq" id="field_seq"
                [(ngModel)]="lineCriteria.seq"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.lineCriteria.sViewColumn" for="field_sViewColumn">S View Column</label>
            <input type="text" class="form-control" name="sViewColumn" id="field_sViewColumn"
                [(ngModel)]="lineCriteria.sViewColumn"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.lineCriteria.operator" for="field_operator">Operator</label>
            <input type="text" class="form-control" name="operator" id="field_operator"
                [(ngModel)]="lineCriteria.operator"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.lineCriteria.value" for="field_value">Value</label>
            <input type="text" class="form-control" name="value" id="field_value"
                [(ngModel)]="lineCriteria.value"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.lineCriteria.createdBy" for="field_createdBy">Created By</label>
            <input type="number" class="form-control" name="createdBy" id="field_createdBy"
                [(ngModel)]="lineCriteria.createdBy"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.lineCriteria.lastUpdatedBy" for="field_lastUpdatedBy">Last Updated By</label>
            <input type="number" class="form-control" name="lastUpdatedBy" id="field_lastUpdatedBy"
                [(ngModel)]="lineCriteria.lastUpdatedBy"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.lineCriteria.createdDate" for="field_createdDate">Created Date</label>
            <div class="d-flex">
                <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="lineCriteria.createdDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.lineCriteria.lastUpdatedDate" for="field_lastUpdatedDate">Last Updated Date</label>
            <div class="d-flex">
                <input id="field_lastUpdatedDate" type="datetime-local" class="form-control" name="lastUpdatedDate" [(ngModel)]="lineCriteria.lastUpdatedDate"
                  />
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
