
<div *ngIf="lineCriteria">
    <h2><span jhiTranslate="agreeGatewayV1App.lineCriteria.detail.title">Line Criteria</span> {{lineCriteria.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="agreeGatewayV1App.lineCriteria.jeTempId">Je Temp Id</span></dt>
        <dd>
            <span>{{lineCriteria.jeTempId}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.lineCriteria.seq">Seq</span></dt>
        <dd>
            <span>{{lineCriteria.seq}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.lineCriteria.sViewColumn">S View Column</span></dt>
        <dd>
            <span>{{lineCriteria.sViewColumn}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.lineCriteria.operator">Operator</span></dt>
        <dd>
            <span>{{lineCriteria.operator}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.lineCriteria.value">Value</span></dt>
        <dd>
            <span>{{lineCriteria.value}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.lineCriteria.createdBy">Created By</span></dt>
        <dd>
            <span>{{lineCriteria.createdBy}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.lineCriteria.lastUpdatedBy">Last Updated By</span></dt>
        <dd>
            <span>{{lineCriteria.lastUpdatedBy}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.lineCriteria.createdDate">Created Date</span></dt>
        <dd>
            <span>{{lineCriteria.createdDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.lineCriteria.lastUpdatedDate">Last Updated Date</span></dt>
        <dd>
            <span>{{lineCriteria.lastUpdatedDate | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'line-criteria/'+ lineCriteria.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
