<div style="height: 100%; width: 100%">
    <!-- <vertical-split-pane primary-component-minsize="50" primary-component-initialratio="0.2" [primary-component-toggled-off]="isVisibleA">
        <div id="sticky" class="leftpane split-pane-content-primary">
            <tenant-details-side-bar></tenant-details-side-bar>
        </div>
        <div class="split-pane-content-secondary rightpane">
            <span class="fa fa-bars hand ripple sbclose" mdTooltip="Toggle Sidebar" (click)="toggleSB()" *ngIf="!isCreateNew"></span> -->
    <div class="component-body tenantDetailsForm">
        <div class="botom-dotted-blue-border component-title">
            <div class="col-md-6 col-sm-6 col-xs-6 pageTitle" style="padding-left: 0px;">
                <!--  [ngStyle]="{'padding-left': isCreateNew ? '0' : ''}" -->
                <h3 *ngIf="isCreateNew">Tenant Creation:</h3>
                <h3 *ngIf="!isCreateNew">Tenant Details</h3>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="row float-right">
                    <!-- && f.valid -->
                    <!-- && !f.valid -->
                    <button *ngIf="!isViewOnly && f.valid" md-icon-button class="pull-right color-green" aria-hidden="true" mdTooltip="Save Tenant"
                        (click)="saveTenantDetails();">
                        <md-icon>save</md-icon>
                    </button>
                    <!-- <button *ngIf="!isViewOnly && !f.valid" md-icon-button class="pull-right color-gray" aria-hidden="true" mdTooltip="Fill mandatory fields">
                        <md-icon>save</md-icon>
                    </button> -->
                    <button *ngIf="isViewOnly" md-icon-button mdTooltip="Edit" [routerLink]="['/tenant-details', {outlets: {'content': [tenantDetails.id]+'/edit'}}]">
                        <md-icon>mode_edit</md-icon>
                    </button>
                    <button *ngIf="isEdit" md-icon-button class="pull-right color-gray" mdTooltip="Close" [routerLink]="['/tenant-details', {outlets: {'content': [tenantDetails.id]+'/details'}}]">
                        <md-icon>clear</md-icon>
                    </button>
                    <button *ngIf="isCreateNew" md-icon-button class="pull-right color-gray" mdTooltip="Close" [routerLink]="['/tenant-details', {outlets: {'content': ['tenant-details-home']}}]">
                        <md-icon>clear</md-icon>
                    </button>
                    <button *ngIf="isViewOnly" md-icon-button mdTooltip="Go Back" [routerLink]="['/tenant-details', {outlets: {'content': ['tenant-details-home']}}]">
                        <md-icon>undo</md-icon>
                    </button>
                </div>
            </div>
        </div>
        <br>
        <form novalidate #f="ngForm">
            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-left: 0px !important;">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <div class="topPadding5">
                        <md-input-container class="example-full-width ">
                            <input mdInput [(ngModel)]="tenantDetails.tenantName" [ngClass]="{'color-black' : isViewOnly}" placeholder="Organization Name"
                                name="tenantName" [disabled]="isViewOnly" required>
                        </md-input-container>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <div class="topPadding5">
                        <md-input-container class="example-full-width ">
                            <input mdInput [(ngModel)]="tenantDetails.website" [ngClass]="{'color-black' : isViewOnly}" placeholder="Website" name="website"
                                [disabled]="isViewOnly" required>
                        </md-input-container>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <div class="topPadding5">
                        <md-input-container class="example-full-width ">
                            <input mdInput [(ngModel)]="tenantDetails.domainName" [ngClass]="{'color-black' : isViewOnly}" placeholder="Domain Name"
                                name="domainName" [disabled]="isViewOnly" required>
                        </md-input-container>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" *ngIf="isCreateNew">
                    <div class="topPadding5">
                        <md-input-container class="example-full-width ">
                            <input mdInput [(ngModel)]="tenantDetails.firstName" [ngClass]="{'color-black' : isViewOnly}" placeholder="First Name"
                                name="firstName" [disabled]="isViewOnly" required>
                        </md-input-container>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" *ngIf="isCreateNew">
                    <div class="topPadding5">
                        <md-input-container class="example-full-width ">
                            <input mdInput [(ngModel)]="tenantDetails.lastName" [ngClass]="{'color-black' : isViewOnly}" placeholder="Last Name"
                                name="lastName" [disabled]="isViewOnly">
                        </md-input-container>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" *ngIf="isCreateNew">
                    <div class="topPadding5">
                        <md-input-container class="example-full-width ">
                            <input mdInput [(ngModel)]="tenantDetails.emailId" [ngClass]="{'color-black' : isViewOnly}" placeholder="Email Id"
                                name="emailId" [disabled]="isViewOnly" required>
                        </md-input-container>
                    </div>
                </div>
            </div>
            <md-tab-group>
                <md-tab label="Address">
                    <div class="row" style="height:200px !important;">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                <div class="topPadding5">
                                    <md-input-container class="example-full-width ">
                                        <input mdInput [(ngModel)]="tenantDetails.corporateAddress" [ngClass]="{'color-black' : isViewOnly}" placeholder="Corporate Address"
                                            name="corporateAddress" [disabled]="isViewOnly" required>
                                    </md-input-container>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                <div class="topPadding5">
                                    <md-input-container class="example-full-width ">
                                        <input mdInput [(ngModel)]="tenantDetails.primaryContact" [ngClass]="{'color-black' : isViewOnly}" placeholder="Primary Contact"
                                            name="primaryContact" [disabled]="isViewOnly" type="number" required>
                                    </md-input-container>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                <div class="topPadding5">
                                    <md-input-container class="example-full-width ">
                                        <input mdInput [(ngModel)]="tenantDetails.secondaryContact" [ngClass]="{'color-black' : isViewOnly}" placeholder="Secondary Contact"
                                            name="secondaryContact" [disabled]="isViewOnly" type="number">
                                    </md-input-container>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                <div class="topPadding5">
                                    <!-- <md-input-container class="example-full-width ">
                                        <input mdInput [(ngModel)]="tenantDetails.country" [ngClass]="{'color-black' : isViewOnly}" placeholder="Country" name="country"
                                            [disabled]="isViewOnly" required>
                                    </md-input-container> -->
                                    <md-select placeholder="Country" [(ngModel)]="tenantDetails.country" [disabled]="isViewOnly" style="margin-top: 3px;" [ngClass]="{'color-black' : isViewOnly}"
                                        [ngModelOptions]="{standalone: true}" #country="ngModel" required>
                                        <md-option *ngFor="let col of countriesList" [value]="col.name" (click)="getStates(col.id);"> {{ col.name }} </md-option>
                                    </md-select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                <div class="topPadding5">
                                    <!-- <md-input-container class="example-full-width ">
                                        <input mdInput [(ngModel)]="tenantDetails.state" [ngClass]="{'color-black' : isViewOnly}" placeholder="State" name="state"
                                            [disabled]="isViewOnly" required>
                                    </md-input-container> -->
                                    <md-select placeholder="State" [(ngModel)]="tenantDetails.state" [disabled]="isViewOnly" style="margin-top: 3px;" [ngClass]="{'color-black' : isViewOnly}"
                                        [ngModelOptions]="{standalone: true}" #state="ngModel" required>
                                        <md-option *ngFor="let col of statesList" [value]="col.name" (click)="getCities(col.id);"> {{ col.name }} </md-option>
                                    </md-select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                <div class="topPadding5">
                                    <!-- <md-input-container class="example-full-width ">
                                        <input mdInput [(ngModel)]="tenantDetails.city" [ngClass]="{'color-black' : isViewOnly}" placeholder="City" name="city" [disabled]="isViewOnly"
                                            required>
                                    </md-input-container> -->
                                    <md-select placeholder="City" [(ngModel)]="tenantDetails.city" [disabled]="isViewOnly" style="margin-top: 3px;" [ngClass]="{'color-black' : isViewOnly}"
                                        [ngModelOptions]="{standalone: true}" #city="ngModel" required>
                                        <md-option *ngFor="let col of citiesList" [value]="col.name"> {{ col.name }} </md-option>
                                    </md-select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                <div class="topPadding5">
                                    <md-input-container class="example-full-width ">
                                        <input mdInput [(ngModel)]="tenantDetails.pincode" [ngClass]="{'color-black' : isViewOnly}" placeholder="Pincode" name="pincode"
                                            [disabled]="isViewOnly" type="number" required>
                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                </md-tab>
                <md-tab label="Modules">
                    <div class="col-md-12 table-responsive tableView">
                            <div *ngIf="isCreateNew" class="col-md-3" style="padding-bottom:7px;">
                                <md-input-container class="example-full-width ">
                                    <input mdInput [(ngModel)]="tempContractNum" [ngClass]="{'color-black' : isViewOnly}" placeholder="Contract Number" name="contNum"
                                        type="number" required>
                                </md-input-container>
                            </div>
                            <button md-icon-button class="pull-right  md-36" mdTooltip="Add Module" (click)="addModule();hideButtonIcons = true;" *ngIf="!isCreateNew && !hideButtonIcons">
                                <md-icon>add</md-icon>
                            </button>
                            <table class="table data-view-creation" *ngIf="(isCreateNew && (tempContractNum != null || tempContractNum != undefined)) || !isCreateNew">
                                <thead class="tableheader">
                                    <tr>
                                        <th class="text-center" *ngIf="isCreateNew"></th>
                                        <th style="width: 15%;">Module</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th *ngIf="!isCreateNew" style="white-space: nowrap;width:10%;">Contract Number</th>
                                        <th class="text-center">Mandatory</th>
                                        <th class="text-center" *ngIf="!isCreateNew">Status</th>
                                        <th style="width:5%;" *ngIf="!isCreateNew"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let col of tenantConfigModule;let i = index;" id="hideIconTable">
                                        <td class="text-center" *ngIf="isCreateNew">
                                            <div class="topmargin-10" *ngIf="isCreateNew">
                                                <md-checkbox class="example-margin" name="checkBox{{i}}" [(ngModel)]="col.checkBox"></md-checkbox>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="topmargin-10" *ngIf="(isCreateNew && !col.columnEdit)">{{col.modules}}</div>
                                            <div class="topmargin-10" *ngIf="(!isCreateNew &&  col.enabledFlag)">{{col.purpose}}</div>
                                            <md-select class="mdselectHover" [(ngModel)]="col.modules" [disabled]="!col.columnEdit" style="margin-top: 3px;"
                                                class="example-full-width " [ngClass]="{'color-black' : isViewOnly}" [ngModelOptions]="{standalone: true}"
                                                #modules="ngModel" *ngIf="(col.columnEdit && !isCreateNew && !col.enabledFlag)"
                                                required>
                                                <md-option *ngFor="let col of tenantConfigModule1" [value]="col.lookUpCode" (click)="displayColumns(col,i);"> {{ col.meaning }} </md-option>
                                            </md-select>
                                        </td>
                                        <td>
                                            <!-- <div class="topmargin-10">{{col.startDate | date:'mediumDate'}}</div> -->
                                            <div class="topmargin-10" *ngIf="!isCreateNew && !col.columnEdit">{{col.startDate | date:'mediumDate'}}</div>
                                            <!-- <md-form-field style="top: -6px;" *ngIf="((col.columnEdit || isCreateNew) && col.checkBox) || (col.columnEdit && !isCreateNew && col.modules && !col.tempMinDate)">
                                                <input mdInput [mdDatepicker]="stpicker" placeholder="" [ngClass]="{'color-black' : isViewOnly}" [(ngModel)]="col.startDate"
                                                    name="startDate{{i}}" required (dateChange)="addDateEvent('change', $event, i)"
                                                    required>
                                                <md-datepicker-toggle mdSuffix [for]="stpicker"></md-datepicker-toggle>
                                                <md-datepicker #stpicker></md-datepicker>
                                            </md-form-field> -->
                                            <md-form-field style="top: -6px;" *ngIf="((isCreateNew) && col.checkBox) || (col.columnEdit && !isCreateNew && col.modules && col.tempMinDate)">
                                                <input mdInput [min]="col.tempMinDate" [mdDatepicker]="stpicker" placeholder="" [ngClass]="{'color-black' : isViewOnly}"
                                                    [(ngModel)]="col.startDate" [max]="col.endDate" name="startDate{{i}}" required (dateChange)="addDateEvent('change', $event, i)"
                                                    required>
                                                <md-datepicker-toggle mdSuffix [for]="stpicker"></md-datepicker-toggle>
                                                <md-datepicker #stpicker></md-datepicker>
                                            </md-form-field>
                                        </td>
                                        <td>
                                            <!-- <div class="topmargin-10">{{col.endDate | date:'mediumDate'}}</div> -->
                                            <div class="topmargin-10" *ngIf="!isCreateNew && !col.columnEdit">{{col.endDate | date:'mediumDate'}}</div>
                                            <md-form-field style="top: -6px;" *ngIf="((col.columnEdit || isCreateNew) && col.checkBox) || (col.columnEdit && !isCreateNew && col.modules)">
                                                <input mdInput [min]="col.startDate" [mdDatepicker]="edpicker" placeholder="" [(ngModel)]="col.endDate" name="endDate{{i}}"
                                                    [ngClass]="{'color-black' : isViewOnly}" required>
                                                <md-datepicker-toggle mdSuffix [for]="edpicker"></md-datepicker-toggle>
                                                <md-datepicker #edpicker></md-datepicker>
                                            </md-form-field>

                                        </td>
                                        <td *ngIf="!isCreateNew" class="text-right">
                                            <div class="topmargin-10" *ngIf="col.id">
                                                {{col.contractNum}}
                                            </div>
                                            <div *ngIf="!col.id && col.modules">
                                                <md-input-container class="example-full-width " style="top: -6px;">
                                                    <input mdInput [(ngModel)]="col.contractNum" [ngClass]="{'color-black' : isViewOnly}" name="contractNum" type="number" required>
                                                </md-input-container>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="topmargin-10" *ngIf="isCreateNew && col.checkBox">
                                                <md-checkbox class="example-margin" name="mandatory{{i}}" [(ngModel)]="col.mandatory" [disabled]="!isCreateNew && !col.columnEdit"></md-checkbox>
                                            </div>
                                            <div class="topmargin-10" *ngIf="!isCreateNew && col.modules">
                                                <md-checkbox class="example-margin" name="mandatory{{i}}" [(ngModel)]="col.mandatory" [disabled]="!isCreateNew && !col.columnEdit"></md-checkbox>
                                            </div>
                                        </td>
                                        <td class="text-center" *ngIf="!isCreateNew">
                                            <div class="topmargin-10" *ngIf="!isCreateNew && !col.columnEdit">
                                                <i *ngIf="col.enabledFlag == 1 || col.enabledFlag == true" class="material-icons" mdTooltip="Active">check_circle</i>
                                                <i *ngIf="col.enabledFlag == 0 || col.enabledFlag == false" class="material-icons" aria-hidden="true" mdTooltip="InActive">error</i>
                                            </div>
                                            <div class="topmargin-10" *ngIf="!isCreateNew && col.columnEdit && col.id">
                                                <md-slide-toggle class="pull right example-margin" color="primary" mdTooltip="set status" placeholder="status" [(ngModel)]="col.enabledFlag"
                                                    name="enabledFlag">
                                                </md-slide-toggle>

                                            </div>
                                            <!-- <div class="topmargin-10" *ngIf="isCreateNew">
                                                <md-checkbox class="example-margin" name="enabledFlag{{i}}" [(ngModel)]="col.enabledFlag"></md-checkbox>
                                            </div> -->
                                        </td>
                                        <td *ngIf="!isCreateNew">
                                            <div class="display-flex" id="showIcon">
                                                <button md-icon-button *ngIf="!col.columnEdit && !hideButtonIcons" (click)="col.columnEdit = true;hideButtonIcons = true;testEdit(col,i);"
                                                    mdTooltip="Edit">
                                                        <md-icon>mode_edit</md-icon>
                                                    </button>
                                                <button md-icon-button class="pull-right color-green" *ngIf="col.columnEdit && f.valid" aria-hidden="true" (click)="col.columnEdit = false;hideButtonIcons = false;updateTenantConfig(col);"
                                                    mdTooltip="Update">
                                                        <md-icon>save</md-icon>
                                                    </button>
                                                <button md-icon-button mdTooltip="delete" *ngIf="(!col.columnEdit || !isViewOnly) && !hideButtonIcons" (click)="deleteTenantConfig(col);">
                                                        <md-icon>delete</md-icon>
                                                    </button>
                                                <button md-icon-button class="pull-right color-gray" *ngIf="col.columnEdit" (click)="col.columnEdit = false;hideButtonIcons = false;cancelChanges(i);"
                                                    mdTooltip="Cancel">
                                                        <md-icon>clear</md-icon>
                                                    </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </md-tab>
            </md-tab-group>
            
        </form>
    </div>
    <!--         </div>
    </vertical-split-pane> -->
</div>



<!-- 
<div *ngIf="tenantDetails">
    <h2><span jhiTranslate="agreeGatewayV1App.tenantDetails.detail.title">Tenant Details</span> {{tenantDetails.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="agreeGatewayV1App.tenantDetails.tenantName">Tenant Name</span></dt>
        <dd>
            <span>{{tenantDetails.tenantName}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.tenantDetails.primaryContact">Primary Contact</span></dt>
        <dd>
            <span>{{tenantDetails.primaryContact}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.tenantDetails.primaryContactExt">Primary Contact Ext</span></dt>
        <dd>
            <span>{{tenantDetails.primaryContactExt}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.tenantDetails.secondaryContact">Secondary Contact</span></dt>
        <dd>
            <span>{{tenantDetails.secondaryContact}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.tenantDetails.secondaryContactExt">Secondary Contact Ext</span></dt>
        <dd>
            <span>{{tenantDetails.secondaryContactExt}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.tenantDetails.website">Website</span></dt>
        <dd>
            <span>{{tenantDetails.website}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.tenantDetails.corporateAddress">Corporate Address</span></dt>
        <dd>
            <span>{{tenantDetails.corporateAddress}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.tenantDetails.corporateAddress2">Corporate Address 2</span></dt>
        <dd>
            <span>{{tenantDetails.corporateAddress2}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.tenantDetails.city">City</span></dt>
        <dd>
            <span>{{tenantDetails.city}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.tenantDetails.state">State</span></dt>
        <dd>
            <span>{{tenantDetails.state}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.tenantDetails.country">Country</span></dt>
        <dd>
            <span>{{tenantDetails.country}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.tenantDetails.pincode">Pincode</span></dt>
        <dd>
            <span>{{tenantDetails.pincode}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.tenantDetails.domainName">Domain Name</span></dt>
        <dd>
            <span>{{tenantDetails.domainName}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tenant-details/'+ tenantDetails.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
 -->