<div class="component-title" style="border-bottom: unset !important;">
        <div class="col-lg-6" style="margin:auto;">
                <div class="headingIcons">
                        <i class="rec-font-accounting iconStyle"></i>
                    </div>
            <h4 class="no-mb">Accounting Work Queue</h4>
		</div>
		<div class="col-lg-6">
				<input style="width:300px;border-radius: 20px;float:right;" #gb type="text" class="form-control" placeholder="Search Process..">
			</div>
    </div>
<div class="component-body reconcilewq-main">
	<div class="rec-main-div mat-card">
		<div class="list-table view-div" *ngIf="isAcctList == true;">
			<p-dataTable [value]="accountingDataService.isAcctAllData" [responsive]="true" scrollable="true" scrollHeight="calc(100vh - 220px)"
			resizableColumns="true" columnResizeMode="expand" reorderableColumns="true"
			[globalFilter]="gb" #dt sortField="groupName"
			 rowGroupMode="rowspan">
				<p-column colspan="2" header="Process Name" field="groupName" [style]="{'text-align':'left'}" [sortable]="true">
					<ng-template let-row="rowData" let-ref="rowIndex" pTemplate="body">
						<span class="innerSpan hand link" style="padding-left:20px;padding-top:5px;" [routerLink]="['/rule-group', {outlets: {'content': [row['groupId']]+'/details'}}]"
						 (click)="acctToRule();">
							{{row.groupName}}
						</span>
					</ng-template>
				</p-column>
				<p-column field="isMultiCurrency" [style]="{'text-align':'center','width' :'100px'}" [sortable]="true">
					<ng-template let-row="rowData" let-i="rowIndex" pTemplate="header">
						<div style="display:grid;">
							<span>Multi</span>
							<span>Currency</span>
						</div>
					</ng-template>
					<ng-template let-row="rowData" let-i="rowIndex" pTemplate="body">
						<span class="innerSpan" *ngIf="row.isMultiCurrency == true">Yes</span>
						<span class="innerSpan" *ngIf="row.isMultiCurrency == false">No</span>
					</ng-template>
				</p-column>
				<p-column header="Accounting For" field="viewName" [style]="{'text-align':'left'}" [sortable]="true">
					<ng-template let-row="rowData" let-i="rowIndex" pTemplate="body">
						<span class="innerSpan" style="padding-left:15px;padding-top:5px;">{{row['viewName']}}</span>
					</ng-template>
				</p-column>
				<p-column header="Ledger Name" field="ledgerName" [style]="{'text-align':'left'}" [sortable]="true">
					<ng-template let-row="rowData" let-i="rowIndex" pTemplate="body">
						<span class="innerSpan" style="padding-left:15px;padding-top:5px;" *ngIf="row.ledgerName != null">{{row.ledgerName}}</span>
						<span class="innerSpan" style="padding-left:15px;padding-top:5px;" *ngIf="row.ledgerName == null" style="padding-left:20px;">-</span>
					</ng-template>
				</p-column>
				<p-column header="Total Count" field="viewCount" [style]="{'text-align':'right','width' :'100px'}" [sortable]="true">
					<ng-template let-row="rowData" let-i="rowIndex" pTemplate="body">
						<span class="innerSpan" style="padding-left:15px;padding-top:5px;">{{row.viewCount}}</span>
					</ng-template>
				</p-column>
				<p-column field="trxCount" [style]="{'text-align':'right','width' :'100px'}" [sortable]="true">
					<ng-template let-row="rowData" let-i="rowIndex" pTemplate="header">
						<div style="display:grid;">
							<span>Accounted</span>
							<span>Count</span>
						</div>
					</ng-template>
					<ng-template let-row="rowData" let-i="rowIndex" pTemplate="body">
						<span class="innerSpan" style="padding-right:15px;padding-top:5px;">{{row.trxCount | number: '1.0-0'}}</span>
					</ng-template>
				</p-column>
				<p-column [style]="{'text-align':'right','width' :'100px'}">
					<ng-template let-row="rowData" let-i="rowIndex" pTemplate="header">
						<div style="display:grid;">
							<span>Un-Accounted</span>
							<span>Count</span>
						</div>
					</ng-template>
					<ng-template let-row="rowData" let-i="rowIndex" pTemplate="body">
						<span class="innerSpan" style="padding-right:15px;padding-top:5px;">{{ row.viewCount - row.trxCount | number: '1.0-0'}}</span>
					</ng-template>
				</p-column>
				<p-column field="acctAmount" [style]="{'text-align':'right'}" [sortable]="true">
					<ng-template let-row="rowData" let-i="rowIndex" pTemplate="header">
						<div style="display:grid;">
							<span>Accounted</span>
							<span>Amount</span>
						</div>
					</ng-template>
					<ng-template let-row="rowData" let-i="rowIndex" pTemplate="body">
						<label class="hand amt-div innerSpan" style="font-weight:bold;" (click)="getViewDetails(row)" [routerLink]="['/accounting-data', {outlets: {'content': ['accounting-data-home']}}]">{{row.acctAmount | number:'1.2-2'}}</label>
					</ng-template>
				</p-column>
			</p-dataTable>
		</div>
	</div>
</div>