<div class="attachment-container">
    <div class="attch-trigger">
        <button md-icon-button (click)="showAttachments()" mdTooltip="Attach File">
            <md-icon *ngIf="attachments">attach_file</md-icon>
            <md-icon *ngIf="!attachments" style="color:#8b8b8b;">attach_file</md-icon>
        </button>
        <input type="file" (change)="addAttachment(file)" #file style="display:none" multiple>
    </div>

    <div class="attachment-dialog" *ngIf="disAttchDialog">
        <div class="mat-menu-panel d-block">
            <div class="attch-header">
                <h5 class="m-0 text-center">Attachment(S)</h5>
                <md-icon class="hand" (click)="closeAttchment()">close</md-icon>
            </div>
            <div *ngIf="viewAttachment" class="mat-menu-content">
                <perfect-scrollbar style="max-height: 200px;">
                    <ul class="full-width">
                        <li *ngFor="let atch of attachments?.attachmentFilesList;let i=index;" class="mat-menu-item" id="hideIconTable">
                            <div class="no-wrap d-flex justify-content-between">
                                <div>
                                    <i class="material-icons">attachment</i>
                                    <span>{{atch.fileName}}</span>
                                </div>
                                <div>
                                    <i *ngIf="!atch.url" id="showIcon" class="attch-actions material-icons" style="transform:rotate(90deg)" mdTooltip="Download" (click)="attchActions(i, 'index')">forward</i>
                                    <i *ngIf="atch.url" id="showIcon" class="attch-actions material-icons" mdTooltip="View" (click)="attchActions(i, 'url')">remove_red_eye</i>
                                    <i id="showIcon" class="attch-actions material-icons" (click)="deleteAttachment(atch)" mdTooltip="Delete">delete</i>
                                </div>
                            </div>
                        </li>
                    </ul>
                </perfect-scrollbar>
            </div>
            <div class="attch-input">
                <md-select placeholder="New Attachment Type" [(ngModel)]="attchTypeVal" (change)="attchType(attchTypeVal, file)">
                    <md-option value="url">URL</md-option>
                    <md-option value="localFile">Local File</md-option>
                </md-select>
                <perfect-scrollbar *ngIf="attchTypeVal == 'url'" style="max-height: 200px;">
                        <div class="inputs">
                            <p style="margin: 15px 0 0 0;" *ngIf="formInvalid" class="help-block errorFont">All fields are mandatory*</p>
                            <div *ngFor="let url of attchUrls;let i=index;" class="d-flex">
                                <div class="d-flex flex-column">
                                    <md-input-container>
                                        <input mdInput placeholder="Name" [(ngModel)]="url.fileName" required (blur)="duplicateNameCheck(url, i)" (ngModelChange)="url.duplicateFileName = undefined;formInvalid = undefined">
                                    </md-input-container>
                                    <span style="margin-top:10px;" class="help-block errorFont" *ngIf="url.duplicateFileName">Duplicate Name</span>
                                </div>
                                <md-input-container>
                                    <input mdInput placeholder="Url" [(ngModel)]="url.url" required (ngModelChange)="formInvalid = undefined">
                                </md-input-container>
                                <i class="material-icons hand align-self-center" (click)="addUrlorDelete(i)" mdTooltip="Delete">delete</i>
                            </div>
                        </div>
                </perfect-scrollbar>
                <div class="d-flex justify-content-between" *ngIf="attchTypeVal == 'url'">
                    <button type="button" md-mini-fab mdTooltip="Add One" (click)="addUrlorDelete()">
                        <i class="material-icons" style="color:white;">plus_one</i>
                    </button>
                    <button md-raised-button (click)="addAttachment(null)">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>