.attachment-container {
    position: relative;
    display: inline-block;
    .attachment-dialog {
        min-width: 245px;
        position: absolute;
        right: 0;
        top: 50px;
        z-index: 99;

        .attch-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid lightgray;
            h5 {
                padding: 10px 0 10px 10px;
            }
            i {
                padding-right: 10px;
                color: #909090;
                font-size: 18px;
                &:hover {
                    text-shadow: 1px 1px 5px #2c4bb8;
                }
            }
        }
    
        .mat-menu-panel {
            min-width: 112px;
            max-width: unset;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            max-height: calc(100vh - 48px);
            border-radius: 2px;
    
            &:not([class*=mat-elevation-z]) {
                box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            }
        }
    
        .mat-menu-content {
            padding-top: 8px;
            padding-bottom: 8px;
        }
    
        .mat-menu-item {
            cursor: default !important;
    
            .mat-icon {
                margin-right: unset;
            }
    
            .attch-actions {
                cursor: pointer;
            }
        }
    
        .attch-input {
            padding: 10px 8px 20px 8px;
            border-top: 1px solid lightgray;
    
            .inputs {
                display: unset;
                margin-right: 15px;
                > .d-flex {
                    margin: 15px 0;
                }
            }
    
            .mat-input-container:first-child {
                margin-right: 10px;
            }
        }
    }
}
.attachment-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 9999;
}