<div class="files-manipulation">   
    <md-card class="source-section split-example" style="margin: 2px;">
            <div class="section-title"><h6>Source File Template</h6></div>
        <div class="file-drop-area">
            <div ng2FileDrop [ngClass]="{'file-onhover': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" (onFileDrop)="onFileDrop($event)"
            (click)="singleFile.click()" [uploader]="uploader" class="well my-drop-zone hand" mdTooltip="Click or Drop Files Here">
                <i class="material-icons cloudupload" style="margin-top: 6%;">cloud_upload</i>
                <!-- <i class="material-icons cloudsuccess">cloud_done</i> -->
            </div>
            <input type="file" ng2FileSelect [uploader]="uploader" #singleFile #file (change)="fileChange(file)" style="display: none;"/>
            <div class="row template-buttons">
                <div>
                    <md-select placeholder="Select Template" name="selectTemplate" [(ngModel)]="srcTemplateName" (change)="srcCreateTemplate=false">
                        <md-option value="type"> option1 </md-option>
                    </md-select>
                    <md-checkbox name="srcCreateNew" style="padding-top: 10px; margin: 10px 15px;" [(ngModel)]="srcCreateTemplate" (change)="srcTemplateName=undefined">New Tempalte</md-checkbox>
                </div>
            </div>
        </div>
        <div class="parameters-section row" style="margin-top: 15px" *ngIf="srcCreateTemplate || srcTemplateName">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <md-input-container class="example-full-width">
                    <input mdInput placeholder="Row Identifier" name="rowIdentifier" [(ngModel)]="srcRowIdentifier.rowIdentifier" [disabled]="srcTemplateName && !srcCreateTemplate">
                </md-input-container>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <md-select placeholder="Delemiter" name="selectDelemiter" [(ngModel)]="srcDelemiter" required [disabled]="srcTemplateName && !srcCreateTemplate">
                    <md-option *ngFor="let delimiter of delimiterList" [value]="delimiter.lookUpCode"> {{delimiter.description}} </md-option>
                </md-select>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <md-input-container class="example-full-width">
                    <input mdInput placeholder="Skip Row Start" name="skipRowStart" [disabled]="srcTemplateName && !srcCreateTemplate">
                </md-input-container>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <md-input-container class="example-full-width">
                    <input mdInput placeholder="Skip Row End" name="skipRowEnd" [disabled]="srcTemplateName && !srcCreateTemplate">
                </md-input-container>
            </div>
        </div>
    </md-card>
    <md-card class="target-section split-example" style="margin: 2px;">
        <div class="section-title"><h6>Target File Template</h6></div>
        <div class="file-drop-area">
            <div ng2FileDrop [ngClass]="{'file-onhover': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" (onFileDrop)="onFileDrop($event)"
             (click)="singleFile.click()" [uploader]="uploader" class="well my-drop-zone hand" mdTooltip="Click or Drop Files Here">
                <i class="material-icons cloudupload" style="margin-top: 6%;">cloud_upload</i>
                <!-- <i class="material-icons cloudsuccess">cloud_done</i> -->
            </div>
            <input type="file" ng2FileSelect [uploader]="uploader" #singleFile #file (change)="fileChange(file)" style="display: none;"/>
            <div class="row template-buttons">
                <div>
                    <md-select placeholder="Select Template" name="selectTemplate" [(ngModel)]="trgtTemplateName" (change)="trgtCreateTemplate=false">
                        <md-option value="type"> option1 </md-option>
                    </md-select>
                    <md-checkbox name="trgtCreateNew" style="padding-top: 10px; margin: 10px 15px;" [(ngModel)]="trgtCreateTemplate" (change)="trgtTemplateName=undefined">New Tempalte</md-checkbox>
                </div>
            </div>
        </div>
        <div class="parameters-section row" style="margin-top: 15px" *ngIf="trgtCreateTemplate || trgtTemplateName">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <md-input-container class="example-full-width">
                    <input mdInput placeholder="Row Identifier" [(ngModel)]="trgtRowIdentifier.rowIdentifier" name="trgtrowIdentifier" [disabled]="trgtTemplateName && !trgtCreateTemplate">
                </md-input-container>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <md-select placeholder="Delemiter" name="trgtselectDelemiter" [(ngModel)]="trgtDelemiter" required [disabled]="trgtTemplateName && !trgtCreateTemplate">
                    <md-option *ngFor="let delimiter of delimiterList" [value]="delimiter.lookUpCode"> {{delimiter.description}} </md-option>
                </md-select>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <md-input-container class="example-full-width">
                    <input mdInput placeholder="Skip Row Start" name="trgtskipRowStart" [disabled]="trgtTemplateName && !trgtCreateTemplate">
                </md-input-container>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <md-input-container class="example-full-width">
                    <input mdInput placeholder="Skip Row End" name="trgtskipRowEnd" [disabled]="trgtTemplateName && !trgtCreateTemplate">
                </md-input-container>
            </div>
        </div>
    </md-card>
</div>
<md-card class="navigation-card">
    <button md-raised-button >Next&gt;</button>
</md-card>