<h1 md-dialog-title></h1>
<form novalidate #addFilter="ngForm">
<div md-dialog-content>
    
  <p *ngIf="data.addHeaderFilter">Filter</p>
  <div class="display-flex" *ngIf="data.addHeaderFilter">
    
    <md-select placeholder="Operator" [(ngModel)]="data.operator" style="width:100%" [ngClass]="{'color-black' : isViewOnly}" required name="operator" >
      <md-option *ngFor="let operator of data.operatorsList" [value]="operator.lookUpCode" (click)="data.operatorMeaning=operator.meaning"> {{ operator.meaning}} </md-option>
    </md-select>

    <md-input-container placeholder="Value" style="padding-left: 11px" >
      <input class="inputHeight" mdInput [(ngModel)]="data.value" [ngClass]="{'color-black' : true }" name="value" required >
    </md-input-container>

  </div>
  <p *ngIf="data.copyLineItem">Select debit Line to copy</p>
  <ng-template ngFor let-debitLine [ngForOf]="data.debitLines" let-i="index" ;>
    <md-radio-button class="radio-sm-btn " (click)="data.copyItemIndex=i"> Debit Line - {{i+1}}</md-radio-button>
    <br>
    <!-- <span class="hand">
      {{debitLine.lineTypeDetailMeaning}}<br>
  </span> -->
  </ng-template>
  <p *ngIf="data.addCondition">Build conditions for {{data.ruleName}}</b>
    <br>
    <div class="table-responsive" *ngIf="data.addCondition">
      <table class="table">
        <thead class="text-nowrap">
          <tr>
            <th>Sequence</th>
            <th>Column</th>
            <th>Operator</th>
            <th>Value</th>
            <th>Actions</th>
          </tr>

        </thead>
        <tbody class="text-nowrap">
          <tr *ngFor="let condition of  this.ruleGroupService.accountingRuleGroup.rules[data.i].debitLines[data.j].accountingRuleConditions;let rc=index">
            <td>
              <span class="linetext-input" style="top:24px;">{{rc+1}}</span>
            </td>
            <td>
              <md-select [(ngModel)]="condition.sViewColumnId" [ngClass]="{'color-black' : true}" name="DrsViewColumnId{{data.i}}{{data.i}}{{rc}}"
                required #DrsViewColumnId{{data.ii}}{{data.i}}{{rc}}="ngModel">
                <md-option *ngFor="let col of data.dvColumns " [value]="col.id">
                  {{ col.columnName}} </md-option>
              </md-select>
            </td>
            <!--
            <td>
              <md-select [(ngModel)]="condition.operator" [ngClass]="{'color-black' : isViewOnly}" name="DroperatorLovForConditions{{i}}{{j}}{{rc}}"
               required #DroperatorLovForConditions{{i}}{{j}}{{rc}}="ngModel" *ngIf="!isViewOnly && (!ruleObj.id ) &&  operatorLovForConditions &&     operatorLovForConditions[i] &&  operatorLovForConditions[i][j] &&  operatorLovForConditions[i][j][rc]">
                <md-option *ngFor="let operator of operatorLovForConditions" [value]="operator.lookUpCode" (click)="condition.operatorMeaning=operator.meaning">
                  {{ operator.meaning}} </md-option>
              </md-select>
            </td>
            <td>
              <md-input-container *ngIf="!isViewOnly && (!ruleObj.id || ruleObj.id  <=0)">
                <input class="inputHeight" mdInput [(ngModel)]="condition.value" name="Drvalue{{i}}{{j}}{{rc}}" required #Drvalue{{i}}{{j}}{{rc}}="ngModel"> </md-input-container>
            </td>
            <td>
              <button md-icon-button *ngIf="!isViewOnly   && (!ruleObj.id )" (click)="ruleGroupAccountingNewComponent.deleteDebitRuleCondition(i,j,rc)" mdTooltip="Delete condition"
               id="showIcon">
                <md-icon>delete</md-icon>
              </button>
              <button md-icon-button mdTooltip="Add New Condition" (click)="ruleGroupAccountingNewComponent.addMappingCriteriaForDebitLines(i,j,lineItem.accountingRuleConditions.length)"
               *ngIf="rc == lineItem.accountingRuleConditions.length-1">
                <md-icon>exposure_plus_1</md-icon>
              </button>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>

</div>
</form>
<div md-dialog-actions align="center">
  <div>
    <button md-button [disabled]="data.copyItemIndex == -1" [md-dialog-close]="data.copy" tabindex="2"*ngIf="data.copyLineItem">Copy</button>
    <button md-button [md-dialog-close]="data.skipCopy" tabindex="2" *ngIf="data.copyLineItem">Skip</button>
    <button md-button [md-dialog-close]="data.ok" tabindex="2" *ngIf="data.copyLineItem">Ok</button>
    <button md-button [md-dialog-close]="data.No" tabindex="-1">{{data.No}}</button>
    <button md-button [md-dialog-close]="data.ok" [disabled]="!addFilter.valid"  *ngIf="data.addHeaderFilter" >Ok</button>
    <button md-button tabindex="-1" [disabled]="!addFilter.valid" *ngIf="data.addHeaderFilter"  (click)="data.operator='';data.value='';">Clear</button>
  </div>
</div>