<!-- BEGIN SIDEBAR -->
<div class="sidebarToggle">
	<ng-sidebar-container>
		<ng-sidebar #sidebar [(opened)]='opened' [(mode)]='sideNavMode' [ngSwitch]="isAuthenticated()" class="tempClass">
			<div class="accordianSidebar">
				<div class="sidebar-logo">
					<!-- <i class="fa fa-tachometer sideIcon" aria-hidden="true"><b>R</i>  -->
					<a class="home-link" routerLink="/">
									<img class="recon-logo" alt="app-logo" src="../../../content/images/Recon_modified_logo.PNG">
								</a>
					<span class="toggle-sidebar hand" (click)="toggleSidebarr();"></span>
				</div>
				<div class="sidebar-profile">
					<div class="display-picture fadeInDown"></div>
					<span class="display-name">{{UserData?.firstName}}</span>
					<!-- <i class="fa fa-tachometer sideIcon" aria-hidden="true"><b>R</i>  -->
					<!-- <a class="home-link" routerLink="/">
									<span class="logo-name">'R</span>
									<span class="app-name">RECON</span>
								</a><img src="data:image/png;base64,{{UserData?.image}}" style="width: 90px; height: 90px; border-radius: 50%; margin-top: 10px;" >
					<span class="toggle-sidebar hand" (click)="toggleSidebarr();"></span> -->
				</div>
				<perfect-scrollbar id="maxHeightSidebar">
					<p-accordion>
						<p-accordionTab>
							<p-header>
								<div class="accordianHeader" [routerLinkActive]="['sidebarListActive']" routerLink="/">
									<i class="fa fa-tachometer sideIcon" aria-hidden="true"></i>
									<span>Dashboard</span>
									<!-- <i class="fa fa-plus accordian-plus" style="font-size: 10px !important;"></i>
									<i class="fa fa-minus accordian-minus" style="font-size: 10px !important;"></i> -->
								</div>
							</p-header>
							<!-- <p-accordion class="nestedAccordian">
								<ul class="sidenav-list-items">
									<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/dashboardv2']"><a><span class="title procSpan">DashboardV2</span></a></li>
								</ul>
							</p-accordion> -->
						</p-accordionTab>
						<p-accordionTab [selected]="true">
							<p-header>
								<div class="accordianHeader">
									<i class="fa fa-superpowers sideIcon" aria-hidden="true"></i>
									<span>Process</span>
									<i class="fa fa-plus accordian-plus" style="font-size: 10px !important;"></i>
									<i class="fa fa-minus accordian-minus" style="font-size: 10px !important;"></i>
								</div>
							</p-header>
							<p-accordion class="nestedAccordian">
								<ul class="sidenav-list-items">
									<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/ETL-WQ', {outlets: {'content': ['ETL-WQ-home']}}]"><a><i class="rec-font-ETL sideIcon" aria-hidden="true"></i><span class="title procSpan">ETL</span></a></li>
									<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/reconcilewq', {outlets: {'content': ['reconcilewqhome']}}]"><a><i class="rec-font-reconciliation sideIcon" aria-hidden="true"></i><span class="title procSpan">Reconciliation</span></a></li>
									<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/accounting-data', {outlets: {'content': ['accounting-data-home']}}]"><a><i class="rec-font-accounting sideIcon" aria-hidden="true" style="font-size:20px !important;"></i><span class="title procSpan">Accounting</span></a></li>
									<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['journals-header-data', {outlets: {'content': ['journals-header-data-home']}}]"><a><i href="#" class="fa fa-book sideIcon" aria-hidden="true"></i><span class="title">Journals</span></a></li>
									<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['notification-batch', {outlets: {'content': ['notification-batch-home']}}]"><a><i href="#" class="rec-font-approval sideIcon" aria-hidden="true"></i><span class="title procSpan">Approvals</span></a></li>
									<!-- <li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['notification-batch', {outlets: {'content': ['approval-dashboard']}}]"><a><i href="#" class="fa fa-users sideIcon" aria-hidden="true"></i><span class="title">Approval Dashboard</span></a></li> -->
									<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/reports', {outlets: {'content': ['report-list']}}]"><a><i href="#" class="fa fa-line-chart sideIcon" aria-hidden="true"></i><span class="title">Reports</span></a></li>
									<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/jobs', { outlets: { 'content': ['SCHEDULED'] + '/' + ['Frequency'] + '/' + ['SCHEDULED'] + '/schedulars-list' } }]"><a><i href="#" class="fa fa-clock-o sideIcon" aria-hidden="true"></i><span class="title">Jobs</span></a></li>
								</ul>
							</p-accordion>
						</p-accordionTab>
						
						<p-accordionTab class="multi-nested">
							<p-header>
								<div class="accordianHeader" style="padding-left:0!important;">
									<i class="fa fa-cogs sideIcon" aria-hidden="true"></i>
									<span>Setups</span>
									<i class="fa fa-plus accordian-plus" style="font-size: 10px !important;"></i>
									<i class="fa fa-minus accordian-minus" style="font-size: 10px !important;"></i>
								</div>
							</p-header>
							<p-accordion class="nestedAccordian">
							<p-accordionTab>
								<p-header>
									<div class="accordianHeader">
										<i class="rec-font-ETL sideIcon" aria-hidden="true"></i>
										<span>ETL</span>
										<i class="fa fa-plus accordian-plus" style="font-size: 10px !important;"></i>
										<i class="fa fa-minus accordian-minus" style="font-size: 10px !important;"></i>
									</div>
								</p-header>
								<ul class="sidenav-list-items nest-nested">
									<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/file-templates', {outlets: {'content': ['file-templates-home']}}]"><a><i class="fa fa-file-text-o"></i> <span class="title">File Templates</span></a></li>
									<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/source-profiles', {outlets: {'content': ['source-profiles-list']}}]"><a><i class="rec-font-profile re-icon"></i> <span class="title">Profiles</span></a></li>
									<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/source-connection-details', {outlets: {'content': ['source-connection-detailst']}}]"><a><i class="rec-font-connections re-icon"></i> <span class="title">Connection</span></a></li>
									<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/data-views', { outlets: {'content': ['All']+'/list'} }]"><a><i class="fa fa-newspaper-o"></i> <span class="title">Data Source</span></a></li>
								</ul>
							</p-accordionTab>
							<p-accordionTab>
								<p-header>
									<div class="accordianHeader">
										<i class="rec-font-reconciliation sideIcon" aria-hidden="true"></i>
										<span>Recon</span>
										<i class="fa fa-plus accordian-plus" style="font-size: 10px !important;"></i>
										<i class="fa fa-minus accordian-minus" style="font-size: 10px !important;"></i>
									</div>
								</p-header>
								<ul class="sidenav-list-items nest-nested">
										<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/rule-group', {outlets: {'content': ['RECONCILIATION']+'/list'}}]"><a><i class="rec-font-rules re-icon"></i> <span class="title">Rule Definition</span></a></li>
								</ul>
							</p-accordionTab>
							<p-accordionTab>
								<p-header>
									<div class="accordianHeader">
										<i class="rec-font-accounting sideIcon" aria-hidden="true"></i>
										<span>Accounting</span>
										<i class="fa fa-plus accordian-plus" style="font-size: 10px !important;" style="font-size: 10px !important;"></i>
										<i class="fa fa-minus accordian-minus" style="font-size: 10px !important;" style="font-size: 10px !important;"></i>
									</div>
								</p-header>
								<ul class="sidenav-list-items nest-nested">
									<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['template-details', {outlets: {'content': ['template-details-home']}}]"><a><i class="fa fa-book"></i> <span class="title">Journal Templates</span></a></li>
									<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/rule-group', {outlets: {'content': ['ACCOUNTING']+'/list'}}]"><a><i class="rec-font-rules re-icon"></i><span class="title neSidSpan">Rule Definition</span></a></li>
									<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/mapping-set', {outlets: {'content': ['mapping-set-home']}}]"><a><i class="fa fa-arrow-right"></i> <span class="title">Mapping Set</span></a></li>
								</ul>
							</p-accordionTab>
							<p-accordionTab>
								<p-header>
									<div class="accordianHeader">
										<i href="#" class="rec-font-approval sideIcon" aria-hidden="true"></i>
										<span>Approvals</span>
										<i class="fa fa-plus accordian-plus" style="font-size: 10px !important;"></i>
										<i class="fa fa-minus accordian-minus" style="font-size: 10px !important;"></i>
									</div>
								</p-header>
								<ul class="sidenav-list-items nest-nested">
									<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/rule-group', {outlets: {'content': ['APPROVALS']+'/list'}}]"><a><i class="rec-font-rules re-icon"></i><span class="title neSidSpan">Rule Definition</span></a></li>
									<!-- <li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/approval-groups', {outlets: {'content': ['approval-groups-home']}}]"><a><i class="rec-group re-icon"></i><span class="title">Groups</span></a></li> -->
								</ul>
							</p-accordionTab>
							<p-accordionTab>
								<p-header>
									<div class="accordianHeader">
										<i style="padding-right: 18px;" class="fa fa-clock-o sideIcon" aria-hidden="true"></i>
										<span>Schedulers</span>
										<i class="fa fa-plus accordian-plus" style="font-size: 10px !important;"></i>
										<i class="fa fa-minus accordian-minus" style="font-size: 10px !important;"></i>
									</div>
								</p-header>
								<ul class="sidenav-list-items nest-nested">
									<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/jobs', {outlets: {'content': ['jobs-list']}}]"><a><i class="fa fa-clock-o"></i> <span class="title">Jobs</span></a></li>
								</ul>
							</p-accordionTab>
							<p-accordionTab>
								<p-header>
									<div class="accordianHeader">
										<i style="padding-right: 12px;" href="#" class="fa fa-line-chart sideIcon" aria-hidden="true"></i>
										<span>Reports</span>
										<i class="fa fa-plus accordian-plus" style="font-size: 10px !important;"></i>
										<i class="fa fa-minus accordian-minus" style="font-size: 10px !important;"></i>
									</div>
								</p-header>
								<ul class="sidenav-list-items nest-nested">
										<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/reports', {outlets: {'content': ['new-report']}}]"><a><i href="#" class="fa fa-line-chart sideIcon" aria-hidden="true"></i><span class="title neSidSpan">Report Template</span></a></li>
								</ul>
							</p-accordionTab>
							<p-accordionTab>
								<p-header>
									<div class="accordianHeader">
										<i style="padding-right: 16px;" href="#" class="fa fa-wrench sideIcon" aria-hidden="true"></i>
										<span>Master Setups</span>
										<i class="fa fa-plus accordian-plus" style="font-size: 10px !important;"></i>
										<i class="fa fa-minus accordian-minus" style="font-size: 10px !important;"></i>
									</div>
								</p-header>
								<ul class="sidenav-list-items nest-nested">
									<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/fx-rates', {outlets: {'content': ['fx-rates-home']}}]"><a><i class="rec-font-fx-rates re-icon"></i><span class="title neSidSpan">FX Rates</span></a></li>
									<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/chart-of-account', {outlets: {'content': ['chart-of-account-home']}}]"><a><i class="fa fa-arrow-right"></i> <span class="title">Chart of Account</span></a></li>
									<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/ledger-definition', {outlets: {'content': ['ledger-definition-home']}}]"><a><i class="rec-font-ledger re-icon"></i><span class="title neSidSpan">Ledger Definition</span></a></li>
									<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/calendar', {outlets: {'content': ['calendar-home']}}]"><a><i class="fa fa-calendar"></i><span class="title neSidSpan">Calendar</span></a></li>
									<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/processes', {outlets: {'content': ['processes-home']}}]"><a><i class="fa fa-superpowers"></i><span class="title neSidSpan">Process</span></a></li>
								</ul>
							</p-accordionTab>
						</p-accordion>
						</p-accordionTab>

						<p-accordionTab class="multi-nested">
								<p-header>
									<div class="accordianHeader" style="padding-left:0!important;">
										<i class="rec-font-administrator sideIcon" aria-hidden="true"></i>
										<span>Administration</span>
										<i class="fa fa-plus accordian-plus" style="font-size: 10px !important;"></i>
										<i class="fa fa-minus accordian-minus" style="font-size: 10px !important;"></i>
									</div>
								</p-header>
								<p-accordion class="nestedAccordian">
								<p-accordionTab>
									<p-header>
										<div class="accordianHeader">
											<i class="material-icons sideIcon" aria-hidden="true">group</i>
											<span>User Management</span>
											<i class="fa fa-plus accordian-plus" style="font-size: 10px !important;"></i>
											<i class="fa fa-minus accordian-minus" style="font-size: 10px !important;"></i>
										</div>
									</p-header>
									<ul class="sidenav-list-items nest-nested">
										<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/user-management', {outlets: {'content': ['user-management-home']}}]"><a class="admin-anchor"><i class="fa fa-fw fa-user-circle"></i> <span class="title admin-span">Users</span></a></li>
										<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['roles', {outlets: {'content': ['roles-home']}}]"><a class="admin-anchor"><i class="fa fa-fw fa-user-o"></i> <span class="title admin-span">Roles</span></a></li>
										<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['functionality', {outlets: {'content': ['functionality-home']}}]"><a class="admin-anchor"><i class="fa fa-fw fa-cogs"></i> <span class="title admin-span">Functionality</span></a></li>
										<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/groups', {outlets: {'content': ['groups-home']}}]"><a><i class="rec-font-group re-icon"></i> <span class="title">Groups</span></a></li>
										<li class="start ripple" [routerLinkActive]="['sidebarListActive']" routerLink="hierarchy"><a class="admin-anchor"><i class="fa fa-fw fa-sitemap"></i> <span class="title admin-span">Hierarchy</span></a></li>
									</ul>
								</p-accordionTab>
								<p-accordionTab>
									<p-header>
										<div class="accordianHeader">
											<i class="rec-font-tenant sideIcon" aria-hidden="true"></i>
											<span>Tenant</span>
											<i class="fa fa-plus accordian-plus" style="font-size: 10px !important;"></i>
											<i class="fa fa-minus accordian-minus" style="font-size: 10px !important;"></i>
										</div>
									</p-header>
									<ul class="sidenav-list-items nest-nested">
										<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/look-up-code', {outlets: {'content': ['look-up-code-home']}}]"><a><i class="rec-font-lookup-codes re-icon"></i> <span class="title">Lookup Codes</span></a></li>
										<li class="start ripple" [routerLinkActive]="['sidebarListActive']" (click)="activeTenant()"><a><i class="rec-font-tenant re-icon"></i> <span class="title">Tenant Details</span></a></li>
									</ul>
								</p-accordionTab>
							</p-accordion>
							</p-accordionTab>
					</p-accordion>
				<!-- <p-accordion>
					<p-accordionTab>
						<p-header>
							<div class="accordianHeader" [routerLinkActive]="['sidebarListActive']" routerLink="/">
								<i class="fa fa-tachometer sideIcon" aria-hidden="true"></i>
								<span>Dashboard</span>
							</div>
						</p-header>
					</p-accordionTab>
					<p-accordionTab>
						<p-header>
							<div class="accordianHeader">
								<i class="fa fa-cogs sideIcon" aria-hidden="true"></i>
								<span>Data Management</span>
							</div>
						</p-header>
						<ul class="sidenav-list-items">
							<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/source-connection-details', {outlets: {'content': ['source-connection-detailst']}}]"><a><i class="fa fa-connectdevelop"></i> <span class="title">Connection</span></a></li>
							<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/source-profiles', {outlets: {'content': ['source-profiles-list']}}]"><a><i class="fa fa-newspaper-o"></i> <span class="title">Profile</span></a></li>
							<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/file-templates', {outlets: {'content': ['file-templates-home']}}]"><a><i class="fa fa-file-text-o"></i> <span class="title">File Template</span></a></li>
							<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/data-views', {outlets: {'content': ['data-views-home']}}]"><a><i class="fa fa-newspaper-o"></i> <span class="title">Data Views</span></a></li>
							<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/jobs', {outlets: {'content': ['schedulars-list']}}]"><a><i class="fa fa-clock-o"></i> <span class="title">Jobs</span></a></li>
						</ul>
					</p-accordionTab>
					<p-accordionTab>
						<p-header>
							<div class="accordianHeader">
								<i class="fa fa fa-random sideIcon" aria-hidden="true"></i>
								<span>Reconcile</span>

							</div>
						</p-header>
						<ul class="sidenav-list-items">
							<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/rule-group', {outlets: {'content': ['RECONCILIATION']+'/list'}}]"><a><i class="fa fa-file-text-o"></i> <span class="title">Rules</span></a></li>
							<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/reconcile', {outlets: {'content': ['reconcilehome']}}]"><a><i class="fa fa-file-text-o"></i> <span class="title">Reconcile WQ</span></a></li>
						</ul>
					</p-accordionTab>
					<p-accordionTab>
						<p-header>
							<div class="accordianHeader">
								<i class="fa fa-sitemap sideIcon" aria-hidden="true"></i>
								<span>Accounting</span>

							</div>
						</p-header>
						<ul class="sidenav-list-items">
							<li [routerLinkActive]="['sidebarListActive']" [routerLink]="['/rule-group', {outlets: {'content': ['ACCOUNTING']+'/list'}}]"><a><span class="title">Rules</span></a></li>
							<li [routerLinkActive]="['sidebarListActive']" [routerLink]="['/accounting-data', {outlets: {'content': ['accounting-data-home']}}]"><a><span class="title">Accounting WQ</span></a></li>
							<li [routerLinkActive]="['sidebarListActive']" [routerLink]="['template-details', {outlets: {'content': ['template-details-home']}}]"><a><span class="title">Journal Templates</span></a></li>
							<li [routerLinkActive]="['sidebarListActive']" [routerLink]="['/mapping-set', {outlets: {'content': ['mapping-set-home']}}]"><a><span class="title">Mapping Set</span></a></li>
							<li [routerLinkActive]="['sidebarListActive']" [routerLink]="['journals-header-data', {outlets: {'content': ['journals-header-data-home']}}]"><a><span class="title">Journals</span></a></li>
						</ul>
					</p-accordionTab>
					<p-accordionTab>
						<p-header>
							<div class="accordianHeader">
								<i href="#" class="fa fa-users sideIcon" aria-hidden="true"></i>
								<span>Approvals</span>

							</div>
						</p-header>
						<ul class="sidenav-list-items">
							<li [routerLinkActive]="['sidebarListActive']" [routerLink]="['/rule-group', {outlets: {'content': ['APPROVALS']+'/list'}}]"><a><span class="title">Rules</span></a></li>
							<li [routerLinkActive]="['sidebarListActive']" [routerLink]="['notification-batch', {outlets: {'content': ['notification-batch-home']}}]"><a><span class="title">Approval WQ</span></a></li>
						</ul>
					</p-accordionTab>
					<p-accordionTab>
						<p-header>
							<div class="accordianHeader">
								<i href="#" class="fa fa-line-chart sideIcon" aria-hidden="true"></i>
								<span>Reports</span>

							</div>
						</p-header>
						<ul class="sidenav-list-items">
							<li [routerLinkActive]="['sidebarListActive']" [routerLink]="['/reports', {outlets: {'content': ['report-list']}}]"><a><span class="title">Reports</span></a></li>
							<li [routerLinkActive]="['sidebarListActive']" [routerLink]="['/reports', {outlets: {'content': ['run-reports']}}]"><a><span class="title">Run Reports</span></a></li>
						</ul>
					</p-accordionTab>
					
				</p-accordion> -->
			</perfect-scrollbar>
			</div>

		</ng-sidebar>
	</ng-sidebar-container>
</div>
<!-- END SIDEBAR -->