<div class="component-title">
    <div class="col-md-6">
        <div class="headingIcons">
            <i class="rec-font-ledger iconStyle"></i>
        </div>
        <h4>Ledger Definition(s)</h4>
    </div>
    <div class="col-md-6">
        <div class="pull-right">
            <button md-icon-button [routerLink]="['/ledger-definition', {outlets: { 'content': ['ledger-definition-new']}}]" mdTooltip="Add Ledger Definition">
                <md-icon>add</md-icon>
            </button>
        </div>
    </div>
</div>

<div class="component-body">
    <div class="d-flex justify-content-between sr-pg-con">
        <input class="form-control search-input" type="text" #gb placeholder="Search..">
        <md-paginator *ngIf="ledgerDefinitionRecordsLength>0" [length]="ledgerDefinitionRecordsLength" [pageSize]="itemsPerPage"
            [pageSizeOptions]="pageSizeOptions" [pageIndex]="page" (page)="onPaginateChange($event)">
        </md-paginator>
    </div>
    <div class="list-table">
        <p-dataTable [value]="ledgerDefinitions" reorderableColumns="true" resizableColumns="true" columnResizeMode="expand" scrollable="true"
            [responsive]="true" [headerCheckboxToggleAllPages]="true" [globalFilter]="gb" #dt (onRowSelect)="onRowSelect($event)" selectionMode="single">

            <p-column field="name" header="Name" styleClass="left" [style]="{'width':'20%'}">
                <ng-template let-col let-row="rowData" pTemplate="body">
                    <span class="d-block">{{row[col.field]}}</span>
                </ng-template>
            </p-column>

            <p-column field="ledgerType" header="Ledger Type" styleClass="left" [style]="{'width':'10%'}">
                <ng-template let-col let-row="rowData" pTemplate="body">
                    {{row[col.field]}}
                </ng-template>
            </p-column>

            <p-column field="currency" header="Currency" styleClass="left" [style]="{'width':'10%'}">
                <ng-template let-col let-row="rowData" pTemplate="body">
                    {{row[col.field]}}
                </ng-template>
            </p-column>

            <p-column field="startDate" header="Start Date" [style]="{'width':'15%'}" styleClass="left" [sortable]="true">
                <ng-template let-col let-row="rowData" pTemplate="body">
                    <span *ngIf="row[col.field]">{{row[col.field] | date: 'mediumDate'}}</span>
                </ng-template>
            </p-column>

            <p-column field="endDate" header="End Date" [style]="{'width':'15%'}" styleClass="left" [sortable]="true">
                <ng-template let-col let-row="rowData" pTemplate="body">
                    <span *ngIf="row[col.field]">{{row[col.field] | date: 'mediumDate'}}</span>
                </ng-template>
            </p-column>

            <p-column [style]="{'width':'5%' }" field="enabledFlag" header="Status" styleClass="text-center">
                <ng-template let-col let-row="rowData" pTemplate="body">
                    <i *ngIf="row[col.field]==true" style="color: darkgrey" class="material-icons">check_circle</i>
                    <i *ngIf="row[col.field]==false" style="color: darkgrey" class="material-icons" aria-hidden="true">error</i>
                </ng-template>
            </p-column>

            <p-column [style]="{'width':'25%'}" field="description" header="Description" styleClass="text-center overflow-visible" resizableColumns="false">
                <ng-template let-col let-row="rowData" let-i="rowIndex" pTemplate="body">
                    <div class="v-c-h-b">
                        <span>{{row[col.field]}}</span>
                        <div class="icons-list editIcon">
                            <button md-icon-button mdTooltip="View" [routerLink]="['/ledger-definition', {outlets: {'content': [row['id']]+'/details'}}]">
                                <md-icon>remove_red_eye</md-icon>
                            </button>
                            <button md-icon-button mdTooltip="Edit" [routerLink]="['/ledger-definition', {outlets: {'content': [row['id']]+'/edit'}}]">
                                <md-icon>edit</md-icon>
                            </button>
                        </div>
                    </div>
                </ng-template>
            </p-column>

        </p-dataTable>
    </div>
    <md-paginator *ngIf="ledgerDefinitionRecordsLength>0" [length]="ledgerDefinitionRecordsLength" [pageSize]="itemsPerPage"
        [pageSizeOptions]="pageSizeOptions" [pageIndex]="page" (page)="onPaginateChange($event)" class="sr-pg-con">
    </md-paginator>
</div>