<!-- <div class="sub-side-navbar" style="margin-top:78px;">
<div class="sbSearch">
	<md-input-container class="example-full-width hidethis">
		<input class="mySearchBox ripple" mdInput placeholder="What're we looking for?">
	</md-input-container>
	<i class="material-icons md-36 hand search-icon-sidebar">search</i>
</div> 
<perfect-scrollbar style="height: auto; width:100%; overflow-x: auto;">
<ul class="example-container mat-elevation-z8">
	<li  *ngFor="let profile of profiles; let i = index" routerLinkActive="router-link-active" style="word-wrap:no-wrap;">
					<div class="selecteditem hand ripple">
						<span [routerLink]="['/source-profiles', {outlets: {'content': [profile.id]+'/details'}}]"  >{{profile.sourceProfileName}}</span>
					</div>
				</li>
</ul>
</perfect-scrollbar>
</div> -->

<div class="sub-side-navbar sidebarsmallCon sideBar-top-styles" >
	<perfect-scrollbar style="height: auto; width:100%; overflow-x: auto;">
		<ul class="example-container mat-elevation-z8">
			<li>
				<div class="sourcebody" style="padding-left: 30px; word-wrap: no-wrap;">
					<li  *ngFor="let profile of profiles; let i = index" routerLinkActive="router-link-active" style="word-wrap:no-wrap;">
						<div class="selecteditem hand ripple" [routerLink]="['/source-profiles', {outlets: {'content': [profile.id]+'/details'}}]">
							<span>{{profile.sourceProfileName}}</span>
						</div>
					</li>
				</div>
			</li>
		</ul>
	</perfect-scrollbar>
</div>