<!--  <p align="center"><strong>{{idleState}}</strong></p> -->
<!-- <p *ngIf="lastPing"><small>Last keepalive ping <strong>{{lastPing}}</strong></small></p>
<button (click)="reset()" *ngIf="timedOut">Restart</button> -->
<!-- [class]="commonService.DYNAMIC_THEME" -->
<!-- [class]="commonService.DYNAMIC_FONT" -->
<div>
	<ng-progress></ng-progress>
	<div class="page-wrapper" id="mainDiv">
		<div>
			<router-outlet name="navbar"></router-outlet>
			<div class="clearfix"></div>

			<div class="page-container">
				<jhi-side-nav></jhi-side-nav>
				<jhi-rightside-nav></jhi-rightside-nav>
				<!-- BEGIN CONTENT -->
				<div class="page-content-wrapper home-page-wrapper" [ngSwitch]="isAuthenticated()">
					<!-- BEGIN CONTENT BODY -->
					<div class="page-content" id="">
						<i class="material-icons scrollToTopIcon hand scrollup" (click)="scrollTop();">arrow_drop_down_circle</i>
						<!-- <breadcrumb *ngIf="opened" [ngSwitch]="isAuthenticated()"></breadcrumb> -->



						<!-- <breadcrumb *ngIf="opened" [ngSwitch]="isAuthenticated()"></breadcrumb> -->

						<simple-notifications [options]="notificationOptions"></simple-notifications>
						<div>
							<router-outlet #o="outlet"></router-outlet>
						</div>
						<router-outlet name="popup"></router-outlet>

					</div>
				</div>
			</div>
			<div>
				<div class="page-footer">
					<div class="page-footer-inner">
						<jhi-footer></jhi-footer>
					</div>
					<!-- <div class="scroll-to-top">
							<i class="icon-arrow-up"></i>
						</div>class="page-footer-fixed" -->
				</div>
			</div>
		</div>
	</div>
</div>