<!-- BEGIN SIDEBAR -->
<div class="right-sidebar">
    <md-icon style="color: white !important;" class="hand right-toggle-icon" (click)="isOpened()" mdTooltip="Logged in Users"
        matTooltipPosition="left" *ngIf="isAuthenticated() && navbarService.loggedInUsersList.length > 0">people</md-icon>
    <!-- <ul>
        <li *ngFor="let user of navbarService.loggedInUsersList; let i = index;" class="hand outer-li" style="padding: 10px 8px;">
            <span>{{user.firstName}}</span>
            <span>{{user.lastName}}</span>
            <span>{{user.email}}</span>
        </li>
    </ul> -->
    <ng-sidebar-container *ngIf="isAuthenticated()">
        <ng-sidebar #sidebar [(opened)]='opened' [(mode)]='sideNavMode' position="right" class="ng-sidebar--right ng-sidebar--over">

            <ul>
                <li *ngFor="let user of navbarService.loggedInUsersList; let i = index;" class="hand outer-li" style="padding: 10px 8px;border-bottom:1px solid #ececec">
                    <svg style="display:block;" width="35" height="35" viewBox="0 0 512 512">
                        <rect x="20" y="20" rx="40" ry="40" width="90%" height="90%" [attr.fill]="currentColor" />
                        <text x="50%" y="50%" alignment-baseline="central" text-anchor="middle" fill="#fff" font-size="300" font-weight="100">{{user.firstLetter}}</text>
                    </svg>
                    <ul class="inner-ul">
                        <li class="ellipsis-text">{{user.firstName}}&nbsp;{{user.lastName}}</li>
                        <li class="ellipsis-text">{{user.email}}</li>
                    </ul>
                </li>
            </ul>
        </ng-sidebar>
    </ng-sidebar-container>
</div>
<!-- END SIDEBAR -->