<!-- BEGIN SIDEBAR -->
<div class="sidebarToggle">
	<ng-sidebar-container>
		<ng-sidebar #sidebar [(opened)]='opened' [(mode)]='sideNavMode' [ngSwitch]="isAuthenticated()" class="tempClass">
			<div class="accordianSidebar">
				<!-- <div class="sidebar-pin">
					<img  [@enterAnimation] *ngIf="commonService.sidebarToggler && commonService.DYNAMIC_THEME == 'white'" src="../../../content/images/pin-gray.svg" (click)="toggleSidebarr()">
					<img  [@enterAnimation] *ngIf="commonService.sidebarToggler && commonService.DYNAMIC_THEME != 'white'" src="../../../content/images/pin.svg" (click)="toggleSidebarr()">
					<i [@enterAnimation] *ngIf="!commonService.sidebarToggler" class="material-icons" [ngClass]="commonService.DYNAMIC_THEME == 'white' ? 'white' : ''" (click)="toggleSidebarr()">chevron_left</i>
				</div> -->
				<perfect-scrollbar id="maxHeightSidebar">
					<md-expansion-panel [expanded]=true disabled class="sideBarTitle" style="padding-top: 15px;">
						<md-expansion-panel-header>
							<md-panel-title>
								<span class="titleFont" *ngIf="commonService.showText" [@enterAnimation]>BUSINESS INTELLIGENCE</span>
								<span class="titleFont" *ngIf="!commonService.showText" style="padding-left: 17px;font-size: 20px;" [@enterAnimation]>...</span>
							</md-panel-title>

						</md-expansion-panel-header>
						<div style="position:absolute;right:15px;top:3px;">
							<span class="sidebar-pin">
								<img [@enterAnimation] *ngIf="commonService.sidebarToggler && commonService.DYNAMIC_THEME == 'white'" src="../../../content/images/pin-gray.svg"
								 (click)="toggleSidebarr()">
								<img [@enterAnimation] *ngIf="commonService.sidebarToggler && commonService.DYNAMIC_THEME != 'white'" src="../../../content/images/pin.svg"
								 (click)="toggleSidebarr()">
								<i [@enterAnimation] *ngIf="!commonService.sidebarToggler" class="material-icons" [ngClass]="commonService.DYNAMIC_THEME == 'white' ? 'white' : ''"
								 (click)="toggleSidebarr()">chevron_left</i>
							</span>
						</div>
						<div class="inner-accordion">
							<md-accordion displayMode="flat">
								<md-expansion-panel [expanded]=true disabled>
									<md-expansion-panel-header>
										<md-panel-title>
											<i class="rec-font-ETL sideIcon" aria-hidden="true"></i>
											<span *ngIf="commonService.showText" [@enterAnimation]>Visualizations</span>
										</md-panel-title>
									</md-expansion-panel-header>
									<ul class="sidenav-list-items nest-nested">
										<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/kpiboard']">
											<a>
												<i class="fa fa-tachometer"></i>
												<span class="title" *ngIf="commonService.showText" [@enterAnimation]>KPI's board</span>
											</a>
										</li>
										<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/processboard']">
											<a>
												<i class="fa fa-tachometer"></i>
												<span class="title" *ngIf="commonService.showText" [@enterAnimation]>Process board</span>
											</a>
										</li>
									</ul>
								</md-expansion-panel>
							</md-accordion>
						</div>
						<ul class="sidenav-list-items">
							<!-- <li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/kpiboard']">
								<a>
									<i class="fa fa-tachometer"></i>
									<span class="title" *ngIf="commonService.showText" [@enterAnimation]>KPI's board</span>
								</a>
							</li>
							<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/processboard']">
								<a>
									<i class="fa fa-tachometer"></i>
									<span class="title" *ngIf="commonService.showText" [@enterAnimation]>Process board</span>
								</a>
							</li> -->
							<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/reports', {outlets: {'content': ['reports-dashboard']}}]">
								<a>
									<i href="#" class="fa fa-line-chart" aria-hidden="true"></i>
									<span class="title" *ngIf="commonService.showText" [@enterAnimation]>Data Analytics</span>
								</a>
							</li>
						</ul>
					</md-expansion-panel>
					<md-expansion-panel [expanded]=true class="sideBarTitle">
						<md-expansion-panel-header>
							<md-panel-title>
								<span class="titleFont" *ngIf="commonService.showText" [@enterAnimation]>PROCESSES</span>
								<span class="titleFont" *ngIf="!commonService.showText" style="padding-left: 17px;font-size: 20px;" [@enterAnimation]>...</span>
							</md-panel-title>
						</md-expansion-panel-header>
						<ul class="sidenav-list-items">
							<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/ETL-WQ', {outlets: {'content': ['ETL-WQ-home']}}]"
							 *jhiHasAnyAuthority="['ETL_WQ_VIEW']">
								<a>
									<i class="rec-font-stream sideIcon" aria-hidden="true"></i>
									<span class="title" *ngIf="commonService.showText" [@enterAnimation]>Data Capture</span>
								</a>
							</li>
							<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/reconcile', {outlets: {'content': ['reconcile-list']}}]"
							 (click)="isRecData();">
								<a>
									<i class="rec-font-reconciliation sideIcon" aria-hidden="true"></i>
									<span class="title" *ngIf="commonService.showText" [@enterAnimation]>Reconciliation</span>
								</a>
							</li>
							<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/accounting-data-wq', {outlets: {'content': ['accounting-data-wq-home']}}]"
							 (click)="isAcctData();">
								<a>
									<i class="rec-font-accounting sideIcon" aria-hidden="true"></i>
									<span class="title" *ngIf="commonService.showText" [@enterAnimation]>Accounting</span>
								</a>
							</li>
							<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['journals-header-data', {outlets: {'content': ['journals-header-data-home']}}]">
								<a>
									<i href="#" class="fa fa-book sideIcon" aria-hidden="true"></i>
									<span class="title" *ngIf="commonService.showText" [@enterAnimation]>Journals</span>
								</a>
							</li>
							<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['notification-batch', {outlets: {'content': ['notification-batch-home']}}]">
								<a>
									<i href="#" class="rec-font-approval sideIcon" aria-hidden="true"></i>
									<span class="title" *ngIf="commonService.showText" [@enterAnimation]>Approvals</span>
								</a>
							</li>
							<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/jobs', { outlets: { 'content': ['SCHEDULED'] + '/' + ['Frequency'] + '/' + ['SCHEDULED'] + '/schedulars-list' } }]">
								<a>
									<i href="#" class="fa fa-clock-o sideIcon" aria-hidden="true"></i>
									<span class="title" *ngIf="commonService.showText" [@enterAnimation]>Jobs</span>
								</a>
							</li>
						</ul>
					</md-expansion-panel>
					<md-expansion-panel [expanded]=true class="sideBarTitle">
						<md-expansion-panel-header>
							<md-panel-title>
								<span class="titleFont" *ngIf="commonService.showText" [@enterAnimation]>REPORTING</span>
								<span class="titleFont" *ngIf="!commonService.showText" style="padding-left: 17px;font-size: 20px;" [@enterAnimation]>...</span>
							</md-panel-title>
						</md-expansion-panel-header>
						<ul class="sidenav-list-items">
							<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/reports', {outlets: {'content': ['report-list']}}]">
								<a>
									<i href="#" class="rec-font-file-chart-line sideIcon" aria-hidden="true"></i>
									<span class="title" *ngIf="commonService.showText" [@enterAnimation]>Reports</span>
								</a>
							</li>
						</ul>
					</md-expansion-panel>
					<md-expansion-panel *jhiHasAnyAuthority="['FILE_TEMPLATES_LIST','SRC_PROFILES_LIST','SRC_CONNECTIONS_LIST','DATA_SRC_LIST']"
					 [expanded]=true class="sideBarTitle">
						<md-expansion-panel-header>
							<md-panel-title>
								<span class="titleFont" *ngIf="commonService.showText" [@enterAnimation]>CONFIGURATIONS</span>
								<span class="titleFont" *ngIf="!commonService.showText" style="padding-left: 17px;font-size: 20px;" [@enterAnimation]>...</span>
							</md-panel-title>
						</md-expansion-panel-header>
						<div class="inner-accordion">
							<md-accordion displayMode="flat">
								<md-expansion-panel *jhiHasAnyAuthority="['FILE_TEMPLATES_LIST','SRC_PROFILES_LIST','SRC_CONNECTIONS_LIST','DATA_SRC_LIST']">
									<md-expansion-panel-header>
										<md-panel-title>
											<i class="rec-font-ETL sideIcon" aria-hidden="true"></i>
											<span *ngIf="commonService.showText" [@enterAnimation]>Data Capture</span>
										</md-panel-title>
									</md-expansion-panel-header>
									<ul class="sidenav-list-items nest-nested">
										<!-- [routerLinkActive]="['sidebarListActive']" -->
										<li class="start ripple" [routerLink]="['/file-templates', {outlets: {'content': ['file-templates-home']}}]" [routerLinkActiveContains]="'file-templates'"
										 linkMatchClass="sidebarListActive" *jhiHasAnyAuthority="['FILE_TEMPLATES_LIST','ROLE_USER']">
											<a>
												<i class="fa fa-file-text-o"></i>
												<span class="title" *ngIf="commonService.showText" [@enterAnimation]>Data Templates</span>
											</a>
										</li>
										<li class="start ripple" [routerLink]="['/source-profiles', {outlets: {'content': ['source-profiles-list']}}]" [routerLinkActiveContains]="'source-profiles'"
										 linkMatchClass="sidebarListActive" *jhiHasAnyAuthority="['SRC_PROFILES_LIST','ROLE_USER']">
											<a>
												<i class="rec-font-profile"></i>
												<span class="title" *ngIf="commonService.showText" [@enterAnimation]>Pipelines</span>
											</a>
										</li>
										<li class="start ripple" [routerLink]="['/source-connection-details', {outlets: {'content': ['source-connection-detailst']}}]"
										 [routerLinkActiveContains]="'source-connection-details'" linkMatchClass="sidebarListActive" *jhiHasAnyAuthority="['SRC_CONNECTIONS_LIST']">
											<a>
												<i class="rec-font-connections"></i>
												<span class="title" *ngIf="commonService.showText" [@enterAnimation]>Data Connectors</span>
											</a>
										</li>
										<li class="start ripple" [routerLink]="['/data-views', { outlets: {'content': ['All']+'/list'} }]" [routerLinkActiveContains]="'data-views'"
										 linkMatchClass="sidebarListActive" *jhiHasAnyAuthority="['DATA_SRC_LIST']">
											<a>
												<i class="fa fa-database"></i>
												<span class="title" *ngIf="commonService.showText" [@enterAnimation]>Data Views</span>
											</a>
										</li>
									</ul>
								</md-expansion-panel>
								<md-expansion-panel>
									<md-expansion-panel-header>
										<md-panel-title>
											<i class="rec-font-reconciliation sideIcon" aria-hidden="true"></i>
											<span *ngIf="commonService.showText" [@enterAnimation]>Reconciliation</span>
										</md-panel-title>
									</md-expansion-panel-header>
									<ul class="sidenav-list-items nest-nested">
										<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/rule-group', {outlets: {'content': ['RECONCILIATION']+'/list'}}]">
											<a>
												<i class="rec-font-rules"></i>
												<span class="title" *ngIf="commonService.showText" [@enterAnimation]>Recon Rule Sets</span>
											</a>
										</li>
									</ul>
								</md-expansion-panel>
								<md-expansion-panel>
									<md-expansion-panel-header>
										<md-panel-title>
											<i class="rec-font-accounting sideIcon" aria-hidden="true"></i>
											<span *ngIf="commonService.showText" [@enterAnimation]>Accounting</span>
										</md-panel-title>
									</md-expansion-panel-header>
									<ul class="sidenav-list-items nest-nested">
										<li class="start ripple" [routerLinkActiveContains]="'chart-of-account'" linkMatchClass="sidebarListActive" [routerLink]="['/chart-of-account', {outlets: {'content': ['chart-of-account-home']}}]">
											<a>
												<i class="fa fa-book"></i>
												<span class="title" *ngIf="commonService.showText" [@enterAnimation]>Chart of Accounts</span>
											</a>
										</li>
										<!-- <li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/chart-of-account', {outlets: {'content': ['chart-of-account-home']}}]">
											<a>
												<i class="rec-font-rules"></i>
												<span class="title" *ngIf="commonService.showText" [@enterAnimation]>Chart of Account Values</span>
											</a>
										</li> -->
										<li class="start ripple" [routerLinkActiveContains]="'calendar'" linkMatchClass="sidebarListActive" [routerLink]="['/calendar', {outlets: {'content': ['calendar-home']}}]">
											<a>
												<i class="fa fa-calendar"></i>
												<span class="title" *ngIf="commonService.showText" [@enterAnimation]>Calendar</span>
											</a>
										</li>
										<li class="start ripple" [routerLinkActiveContains]="'ledger-definition'" linkMatchClass="sidebarListActive" [routerLink]="['/ledger-definition', {outlets: {'content': ['ledger-definition-home']}}]">
											<a>
												<i class="rec-font-ledger"></i>
												<span class="title" *ngIf="commonService.showText" [@enterAnimation]>Ledger</span>
											</a>
										</li>
										<!-- <li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/look-up-code', {outlets: {'content': ['look-up-code-home']}}]">
											<a>
												<i class="fa fa-arrow-right"></i>
												<span class="title" *ngIf="commonService.showText" [@enterAnimation]>Lookups</span>
											</a>
										</li> -->
										<li class="start ripple" [routerLinkActiveContains]="'mapping-set'" linkMatchClass="sidebarListActive" [routerLink]="['/mapping-set', {outlets: {'content': ['mapping-set-home']}}]">
											<a>
												<i class="fa fa-arrow-right"></i>
												<span class="title" *ngIf="commonService.showText" [@enterAnimation]>Lookup Sets</span>
											</a>
										</li>
										<li class="start ripple" [routerLinkActiveContains]="'value-set'" linkMatchClass="sidebarListActive" [routerLink]="['/value-set', {outlets: {'content': ['value-set-home']}}]">
											<a>
												<i class="fa fa-arrow-right"></i>
												<span class="title" *ngIf="commonService.showText" [@enterAnimation]>Value Sets</span>
											</a>
										</li>
										<!-- <li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/mapping-set', {outlets: {'content': ['mapping-set-home']}}]">
											<a>
												<i class="fa fa-arrow-right"></i>
												<span class="title" *ngIf="commonService.showText" [@enterAnimation]>Hierarchy</span>
											</a>
										</li> -->
										<li class="start ripple" [routerLinkActiveContains]="'fx-rates'" linkMatchClass="sidebarListActive" [routerLink]="['/fx-rates', {outlets: {'content': ['fx-rates-home']}}]">
											<a>
												<i class="rec-font-fx-rates"></i>
												<span class="title" *ngIf="commonService.showText" [@enterAnimation]>Exchange Rates</span>
											</a>
										</li>
										<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/rule-group', {outlets: {'content': ['ACCOUNTING']+'/list'}}]">
											<a>
												<i class="rec-font-rules"></i>
												<span class="title" *ngIf="commonService.showText" [@enterAnimation]>Accounting Rule Sets</span>
											</a>
										</li>
									</ul>
								</md-expansion-panel>
								<md-expansion-panel>
									<md-expansion-panel-header>
										<md-panel-title>
											<i class="fa fa-book sideIcon" aria-hidden="true"></i>
											<span *ngIf="commonService.showText" [@enterAnimation]>Journals</span>
										</md-panel-title>
									</md-expansion-panel-header>
									<ul class="sidenav-list-items nest-nested">
										<li class="start ripple" [routerLinkActiveContains]="'template-details'" linkMatchClass="sidebarListActive" [routerLink]="['template-details', {outlets: {'content': ['template-details-home']}}]">
											<a>
												<i class="fa fa-book"></i>
												<span class="title" *ngIf="commonService.showText" [@enterAnimation]>Journal Templates</span>
											</a>
										</li>
									</ul>
								</md-expansion-panel>
								<md-expansion-panel>
									<md-expansion-panel-header>
										<md-panel-title>
											<i href="#" class="rec-font-approval sideIcon" aria-hidden="true"></i>
											<span *ngIf="commonService.showText" [@enterAnimation]>Approvals</span>
										</md-panel-title>
									</md-expansion-panel-header>
									<ul class="sidenav-list-items nest-nested">
										<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/rule-group', {outlets: {'content': ['APPROVALS']+'/list'}}]">
											<a>
												<i class="rec-font-rules"></i>
												<span class="title" *ngIf="commonService.showText" [@enterAnimation]>Approval Rule Sets</span>
											</a>
										</li>
										<li class="start ripple" *jhiHasAnyAuthority="['GROUPS_LIST']" [routerLinkActiveContains]="'groups'" linkMatchClass="sidebarListActive"
										 [routerLink]="['/groups', {outlets: {'content': ['groups-home']}}]">
											<a>
												<i class="rec-font-group"></i>
												<span class="title" *ngIf="commonService.showText" [@enterAnimation]>Approval Groups</span>
											</a>
										</li>
									</ul>
								</md-expansion-panel>
								<md-expansion-panel>
									<md-expansion-panel-header>
										<md-panel-title>
											<i href="#" class="rec-font-file-chart-line sideIcon" aria-hidden="true"></i>
											<span *ngIf="commonService.showText" [@enterAnimation]>Reports</span>
										</md-panel-title>
									</md-expansion-panel-header>
									<ul class="sidenav-list-items nest-nested">
										<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/reports', {outlets: {'content': ['report-list']}}]">
											<a>
												<i href="#" class="rec-font-file-chart-line sideIcon" aria-hidden="true"></i>
												<span class="title" *ngIf="commonService.showText" [@enterAnimation]>Report Template</span>
											</a>
										</li>
										<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/reports', {outlets: {'content': ['aging-bucket-list']}}]">
											<a>
												<i href="#" class="fa fa-cog sideIcon" aria-hidden="true"></i>
												<span class="title" *ngIf="commonService.showText" [@enterAnimation]>Aging Buckets</span>
											</a>
										</li>
									</ul>
								</md-expansion-panel>
								<md-expansion-panel>
									<md-expansion-panel-header>
										<md-panel-title>
											<i href="#" class="fa fa-cog sideIcon" aria-hidden="true"></i>
											<span *ngIf="commonService.showText" [@enterAnimation]>Dashboard</span>
										</md-panel-title>
									</md-expansion-panel-header>
									<ul class="sidenav-list-items nest-nested">
										<li class="start ripple" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/processes', {outlets: {'content': ['processes-home']}}]">
											<a>
												<i class="fa fa-superpowers"></i>
												<span class="title" *ngIf="commonService.showText" [@enterAnimation]>Projects</span>
											</a>
										</li>
									</ul>
								</md-expansion-panel>
							</md-accordion>
						</div>
					</md-expansion-panel>
					<md-expansion-panel *jhiHasAnyAuthority="['TENANT_VIEW', 'USERS_LIST']" [expanded]=true class="sideBarTitle">
						<md-expansion-panel-header>
							<md-panel-title>
								<span class="titleFont" *ngIf="commonService.showText" [@enterAnimation]>ADMINISTRATION</span>
								<span class="titleFont" *ngIf="!commonService.showText" style="padding-left: 17px;font-size: 20px;" [@enterAnimation]>...</span>
							</md-panel-title>
						</md-expansion-panel-header>
						<div class="inner-accordion">
							<md-accordion displayMode="flat">
								<md-expansion-panel *jhiHasAnyAuthority="['USERS_LIST', 'ROLES_LIST', 'GROUPS_LIST']">
									<md-expansion-panel-header>
										<md-panel-title>
											<i href="#" class="fa fa-cog sideIcon" aria-hidden="true"></i>
											<span *ngIf="commonService.showText" [@enterAnimation]>Access Controls</span>
										</md-panel-title>
									</md-expansion-panel-header>
									<ul class="sidenav-list-items nest-nested">
										<li class="start ripple" *jhiHasAnyAuthority="['USERS_LIST']" [routerLinkActiveContains]="'user-management'" linkMatchClass="sidebarListActive"
										 [routerLink]="['user-management', {outlets: {'content': ['user-management-home']}}]">
											<a>
												<i class="fa fa-fw fa-user-circle"></i>
												<span class="title" *ngIf="commonService.showText" [@enterAnimation]>Users</span>
											</a>
										</li>
										<li class="start ripple" *jhiHasAnyAuthority="['ROLES_LIST']" [routerLinkActiveContains]="'roles'" linkMatchClass="sidebarListActive"
										 [routerLink]="['roles', {outlets: {'content': ['roles-home']}}]">
											<a>
												<i class="fa fa-fw fa-user-o"></i>
												<span class="title" *ngIf="commonService.showText" [@enterAnimation]>Roles</span>
											</a>
										</li>
									</ul>
								</md-expansion-panel>
								<md-expansion-panel>
									<md-expansion-panel-header>
										<md-panel-title>
											<i class="rec-font-tenant sideIcon" aria-hidden="true"></i>
											<span *ngIf="commonService.showText" [@enterAnimation]>Organization</span>
										</md-panel-title>
									</md-expansion-panel-header>
									<ul class="sidenav-list-items nest-nested">
										<li class="start ripple" *jhiHasAnyAuthority="['HIERARCHY_VIEW']" [routerLinkActive]="['sidebarListActive']" routerLink="hierarchy">
											<a>
												<i class="fa fa-fw fa-sitemap"></i>
												<span class="title" *ngIf="commonService.showText" [@enterAnimation]>Organization Chart</span>
											</a>
										</li>
										<li class="start ripple" *jhiHasAnyAuthority="['TENANT_VIEW']" [routerLinkActive]="['sidebarListActive']" (click)="activeTenant()">
											<a>
												<i class="rec-font-tenant"></i>
												<span class="title" *ngIf="commonService.showText" [@enterAnimation]>Organization Profile</span>
											</a>
										</li>
										<li class="start ripple" *jhiHasAnyAuthority="['LOOKUP_CODE_LIST']" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/look-up-code', {outlets: {'content': ['look-up-code-home']}}]">
											<a>
												<i class="rec-font-lookup-codes"></i>
												<span class="title" *ngIf="commonService.showText" [@enterAnimation]>System Lookups</span>
											</a>
										</li>
										<li class="start ripple" *jhiHasAnyAuthority="['TENANTS_LIST']" [routerLink]="['tenant-details', {outlets: {'content': ['tenant-details-home']}}]"
										 [routerLinkActive]="['sidebarListActive']">
											<a>
												<i class="rec-font-tenant"></i>
												<span class="title" *ngIf="commonService.showText" [@enterAnimation]>Organization List</span>
											</a>
										</li>
									</ul>
								</md-expansion-panel>
							</md-accordion>

						</div>
					</md-expansion-panel>
				</perfect-scrollbar>
			</div>
		</ng-sidebar>
	</ng-sidebar-container>
</div>
<!-- END SIDEBAR -->