<div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" (onFileDrop)="onFileDrop($event)"
 (click)="singleFile.click()" [uploader]="uploader" class="well my-drop-zone hand" mdTooltip="Click or Drop Files Here" >
 <input type="file" ng2FileSelect [uploader]="uploader" #singleFile #file (change)="fileChange(file)" style="display: none;"
 />

	<i class="material-icons cloudupload" *ngIf="!uploader.queue || (uploader.queue && uploader.queue.length==0 )">cloud_upload</i>
	<i class="material-icons cloudsuccess" *ngIf="uploader.queue && uploader.queue.length>0">cloud_done</i>
</div>
{{file.name}}



<p-dialog header="Report" [resizable]="true" [responsive]="true" [(visible)]="bulkUploadResponse" [modal]="true" *ngIf="bulkUploadResponse && bulkUploadResponse.length>0">
	<div class="table-responsive">
		<table class="nowrap-table">
		  <thead>
			<th>Task</th>
			<th>Status</th>
			<th>Reason</th>
		  </thead>
		  <tbody>
			<tr *ngFor="let report of bulkUploadResponse; let i = index">
			  <td>{{report.taskName}}</td>
			  <td> {{report.taskStatus}}</td>
			  <td>
					<span *ngIf="report.details.toString().search('Exception') != -1">
							{{report.details.toString().substr(report.details.toString().indexOf(':')+1 ,report.details.toString().length)}}
					</span>
					<span *ngIf="report.details.toString().search('Exception')  == -1">
						{{report.details}}
					</span>
				</td>
			</tr>
		  </tbody>
		</table>
	  </div>
</p-dialog>