@import "~@angular/material/theming";

@mixin recon-theme($theme, $gradient-bg, $header-bg, $header-color, $default-color, $content-bg, $label-color, $sidebar-color,$reverse-color) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    // Navbar Colors
    .navbar {
        .page-header-inner {
            box-shadow: 0px 1px 2px 0px $header-bg;
            background: linear-gradient(45deg, $header-bg, $gradient-bg);

            // .toggle-sidebar {
            //     background-color: $default-color !important;
            // }

            // .sidebar-static {
            //     .toggle-sidebar {
            //         background-color: $default-color !important;
            //     }
            // }

            .sidebar-logo a span {
                color: $default-color;
            }

            .navbar-nav {
                .nav-link {
                    [class^="rec-font-"],
                    [class*=" rec-font-"],
                    .fa, .mat-icon {
                        color: $default-color !important;
                    }

                    color: $default-color !important;
                }

                > li.dropdown {
                    .dropdown-menu {
                        &:before {
                            border-bottom: 7px solid $reverse-color;
                        }
                    }
                }
            }
        }
    }

    .round-theme .rnd-theme-act {
        color: $label-color;
    }
    /* .ng-sidebar .accordianSidebar .sidenav-list-items li:hover {
        background-color: #e8eaed !important;
    } */
    
    /* .white.light .mat-expansion-indicator::after {
        color: #0b0b0b !important;
    } */
    // Sidebar Colors
    
    .ng-sidebar {
        color: $sidebar-color;
        [class^="rec-font-"],
        [class*=" rec-font-"],
        .fa,
        .mat-icon {
            @if($sidebar-color == #ffffff) {
                color: $sidebar-color;
            } @else {
                color: #767676 !important;
            }
        }

        .accordianSidebar {
            &:before {
                background: linear-gradient(45deg, $gradient-bg, $header-bg);
                bottom: 0;
                content: "";
                display: block;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                opacity: 1;
            }

            .mat-expansion-panel-header.mat-expanded {
                //background-color: $header-bg;
                background-color: unset;
                color: $default-color;
                //border-bottom: 1px solid #d3d3d366;
                .mat-expansion-panel-header-title {
                    color: $default-color;
                    [class^="rec-font-"],
                    [class*=" rec-font-"],
                    .fa,
                    .mat-icon {
                        color: $default-color !important;
                    }
                }
            }
            .mat-expansion-panel-header:not(.mat-expanded) {
                .mat-expansion-panel-header-title {
                    color: $sidebar-color;
                }
            }
            
            .sidenav-list-items {
                a {
                    color: darken($sidebar-color, 10);
                }

                li {
                    a, .fa, [class^="rec-font-"], [class*=" rec-font-"] {
                        color: $sidebar-color;
                    }

                    &:after {
                        background-color: rgba($header-bg, 0.5) !important;
                    }

                    &:hover {
                        background-color: rgba($header-bg, 0.5);

                        a, .fa, [class^="rec-font-"], [class*=" rec-font-"] {
                            color: $sidebar-color ;
                        }
                    }

                    &.sidebarListActive {
                       // border-left: 4px solid $header-bg;
                        background: $default-color;
                        a {
                            color: $header-bg !important;
                        }
                        i {
                            color: $header-bg !important;
                        }

                        &:hover {
                            background-color: $default-color !important;

                            a, .fa, [class^="rec-font-"], [class*=" rec-font-"] {
                                color: $header-bg !important;
                            }
                        }
                    }
                }
            }
        }

        .ui-accordion .ui-accordion-header:hover {
            background: $header-bg !important;

            span, [class^="rec-font-"], [class*=" rec-font-"], .fa, .mat-icon, i {
                color: $header-color !important;
            }
        }

        .ui-state-active {
            span, [class^="rec-font-"], [class*=" rec-font-"], .fa, .mat-icon, i {
                color: $header-color;
            }
        }
    }
    
    input::-moz-placeholder,
    input::-webkit-input-placeholder,
    .mat-input-placeholder,
    .mat-select-arrow,
    .mat-select-disabled .mat-select-value,
    .mat-select-trigger {
        color: $label-color !important;
    }

    .optionTitle,
    .field-title {
        color: $label-color !important;
    }

    input[type=search] {
        border-bottom: solid 1px $header-color !important;
        background: transparent !important;
        color: $header-color !important;

        &::-webkit-input-placeholder {
            color: $header-color !important;
        }
    }

    .ui-accordion {
        .ui-accordion-header {
            border: none !important;
            background: transparent !important;

            a {
                color: $header-color !important;
            }

            /* &.ui-state-active {
                background: transparent !important;
            } */
            .fa {
                color: $header-color;
            }
        }

        .ui-accordion-content {
            background: unset !important;
        }
    }

    .mat-form-field-placeholder,
    span.dat-range-label {
        color: $label-color;
    }

    .mat-input-element {
        color: $header-color !important;
    }

    /* .mat-checkbox-frame {
        border-color: $content-bg !important;
    } */

    .mat-card {
        background-color: $content-bg;
    }

    .mat-checkbox-checked.mat-accent .mat-checkbox-background {
        background: $reverse-color !important;
    }

    .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
        background-color: rgba($reverse-color, 0.2) !important;
    }

    .mat-expansion-panel-header-title {
        color: lighten($header-color, 10);
    }

    .mat-raised-button:not([disabled]) {
        background-color: mat-color($primary, A200) !important;
    }

    .mat-raised-button[disabled] {
        color: rgba(0, 0, 0, 0.5) !important;
        cursor: not-allowed;
    }

    .mat-radio-button {
        color: $header-color;
    }

    // .mat-radio-outer-circle {
    //     border-color: $header-color;
    // }

    .mat-icon-button {
        &[disabled] {
            .mat-icon {
                color: lightgray !important;
            }

            :hover {
                background: unset !important;
            }
        }

        &:not([disabled]):hover {
            background-color: rgba($reverse-color, 0.9) !important;

            .material-icons {
                color: $content-bg !important;
            }

            .mat-icon {
                color: $content-bg !important;
            }

            .fa {
                color: $content-bg !important;
            }

            [class^="rec-font-"],
            [class*=" rec-font-"] {
                color: $content-bg !important;
            }
        }
    }

    label {
        color: $header-color;
    }

    .mat-tab-label {
        color: rgba($header-color, 0.7);
        opacity: 1;
    }

    .mat-expansion-panel,
    .mat-tab-label {
        background-color: $content-bg;
		border-right: 1px solid rgba($label-color, 0.37);
    }

    .mat-tab-label {
        &:focus {
            color: $reverse-color;
            background-color: $content-bg !important;
        }
    }

    .mat-tab-label-active {
        span {
            color: $reverse-color;
        }

        color: $reverse-color;
        background-color: $content-bg;
    }

    .mat-option {
        color: $header-color;
        font-size: 14px;
    }

    .mat-select-content,
    .mat-select-panel-done-animating {
        background: $content-bg;
    }

    table th {
        color: $header-color !important;
    }

    table td {
        color: $header-color !important;
    }

    .cuppa-dropdown {
        .list-area {
            background: $content-bg;
            border: none !important;

            ul li {
                &:hover {
                    background: $content-bg;
                }
            }
        }
    }

    .circular-items {
        .each-item {
            color: $header-color;
        }

        .selected-item {
            background-color: $reverse-color !important;
            color: white;
        }
    }

    .page-logo {
        background: lighten($reverse-color, 10);
    }

    // material colors

    .Rsbclose,
    .ui-state-default,
    .page-bar .page-breadcrumb > li > a,
    .page-bar .page-breadcrumb > li > span,
    .fa-history,
    .page-bar .page-breadcrumb > li > a, .page-bar .page-breadcrumb > li > span,
    .fa-history,
    .ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover {
        color: $sidebar-color;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $header-color;
        text-transform: capitalize;
    }

    a, p {
        color: $header-color;
    }

    tspan {
        fill: $header-color;
    }

    // Prime ng Data tables styles //
    .ui-datatable tbody > tr.ui-widget-content.ui-state-highlight {
        color: $header-color !important;
    }

    .ui-widget-content a {
        color: $header-color;
    }

    .page-footer,
    .page-bar,
    .query-window {
        background-color: $content-bg;
        color: $header-color;
    }

    .page-bar {
        .page-breadcrumb > li > a {
            color: $label-color;
        }
    }

    // .toggle-sidebar i {
    //     color: $content-bg !important;
    // }

    /* .mat-expansion-panel-header.mat-expanded{
        background-color: $content-bg;
    } */

    .mat-tab-body-wrapper {
        border: 0px solid $header-color !important;
    }

    .mat-expansion-indicator::after {
        color: $header-color;
    }

    .mat-select-trigger {
        color: $label-color;

        .mat-select-value {
            color: $header-color;
        }

        // .mat-select-arrow {
        //     color: $header-color;
        // }
    }

    .mat-select-disabled .mat-select-value {
        color: $header-color;
    }

    .page-content {
        background-color: $content-bg !important;
    }

    .ui-datatable-thead {
        th {
            .fa-filter {
                color: mat-color($primary, A200) !important;
            }

            // background: $content-bg;
            /* border-right: 1px solid $content-bg !important;
            border-bottom: 1px solid $content-bg !important; */
            border: 1px solid #e0e0e0 !important;

            input {
                background: $content-bg;
                border: 1px solid $content-bg;
                border-radius: 2px;
                color: $header-color;
                height: 20px;
            }

            &:hover {
                border-right: 1px solid $content-bg !important;
            }
        }
    }

    p {
        color: $header-color !important;
    }

    vertical-split-separator {
        width: 0px !important;
        //background-color: $reverse-color !important;

        /* border-left: 1px solid lighten($header-color,30) !important;
        border-right: 1px solid lighten($header-color,30) !important; */
    }

    ul li {
        color: $header-color !important;
    }

    .templateLines .ui-datatable-even.ui-widget-content,
    .templateLines .ui-datatable-odd.ui-widget-content {
        background-color: $content-bg !important;
        color: $header-color;
    }

    //    .templateLines .ui-datatable-odd.ui-widget-content {
    //         background-color: $content-bg !important;
    //         color: $header-color;
    //     }
    p {
        color: $header-color;
    }

    .errorFont {
        color: red !important;
    }

    // .ui-chkbox-box {
    //     background: transparent !important;
    // }

    .ui-chkbox-box.ui-state-active .ui-chkbox-icon {
        color: $header-color !important;
    }

    .ui-chkbox-box.ui-state-active {
        border: 1px solid $header-color;
    }

    .ui-datatable {
        .ui-widget-content {
            border: none;
        }

        .ui-datatable-scrollable-view {
            border: 1px solid $content-bg;
        }
    }

    perfect-scrollbar {
        background: $content-bg;
    }

    .table-responsive {
        background: $content-bg;
    }

    .mat-paginator {
        background: transparent !important;
        color: $header-color;
    }

    // .ui-datatable th.ui-sortable-column:not(.ui-state-active):hover {
    //     background: none !important;
    // }
    // .ui-datatable .ui-sortable-column:not(.ui-state-active):hover {
    //     background: none !important;
    // }

    .hover-effect:hover {
        border-left: 1px solid $reverse-color;
    }

    .spinner-icon {
        background-color: transparent !important;
        border: unset !important;

        // box-shadow: 4px 4px 15px 5px $reverse-color !important;
   
    }

    /**START Angular Multi select Checkbox*/
    .c-token {
        background: $reverse-color !important;
    }

    .pure-checkbox label::before {
        border-color: $reverse-color !important;
    }

    .pure-checkbox input[type="checkbox"]:checked + label:before {
        background: $reverse-color !important;
    }

    /**END Angular Multi select Checkbox*/
    .customToggleTabs, .customToggleTabsReport {
        .mat-button-toggle{
            &:hover {
                label {
                    color:$reverse-color !important;
                }
            }
        }
        .mat-button-toggle-checked {
            background-color: $reverse-color;
            .mat-icon {
                color: white !important;
            }

            label {
                color: $content-bg;
            }
            &:hover {
                label {
                    color:white !important;
                }
            }
            // border-bottom: 2px solid $reverse-color;
       
        }
    }


    /**START Material Checkbox*/
    .reconcilewq-main {
        .ui-datatable tr.ui-datatable-odd.ui-widget-content {
            background: #f2f2f2 !important;
        }
        .rec-title {
            color: $reverse-color;

            // background: linear-gradient(45deg,darken($gradient-bg,15),darken($reverse-color,15));
            // -webkit-background-clip: text;
            // background-clip: text; 
            // -webkit-text-fill-color: rgba(#000000,0.4);
       
        }

        .mat-expansion-panel-header.mat-expanded {
            background-color: darken($content-bg, 3);
        }

        .tr-active {
            background-color: rgba($reverse-color, 0.5);

            // th,span,.fa,.mat-icon,p,a {
            //     color: White !important;
            // }
            // .ui-chkbox-box.ui-state-active {
            //     border: 1px solid #ffffff !important;
            // }
       
        }

        .query-window {
            .recon-page-title {
                h6 {
                    background: linear-gradient(45deg, $gradient-bg, $reverse-color);
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: rgba(#000000, 0.37);
                }
            }
        }

        .main-group-by {
            .group-by {
                .resp-tabs-list {
                    li:hover {
                        color: $reverse-color !important;
                    }
                    li.group-active {
                        color: $reverse-color !important;
                    }
                }   
            }
        }

        .recon-summary {
            .analytics-window {
                .query-buttons {
                    background: $content-bg;

                    .summary-header {
                        .status-tabs,
                        .status-list,
                        .amount-tabs {
                            .mat-tab-label-active {
                                background: $content-bg;
                                box-shadow: 0px 3px 0px 0px #279fab;

                                &:focus {
                                    background: $content-bg !important;
                                }
                            }
                        }
                    }
                }
            }
        }

        .rightpane {
            .status-list {
                // .mat-tab-label-active {
                //     -webkit-box-shadow: 0px 0px 2px 2px rgba(230,230,230,1);
                //     -moz-box-shadow: 0px 0px 2px 2px rgba(230,230,230,1);
                //     box-shadow: 0px 0px 2px 2px rgba(230,230,230,1);
                // }
           
            }

            .ui-accordion {
                background-color: $content-bg !important;
            }
        }

        // .summary-header {
        //     border-bottom: 2px solid $content-bg;
        // }
        .summary-header,
        .group-by .mat-tab-group,
        .main-group-by {
            background-color: $content-bg;
        }

        .side-head.filter {
            background-color: $content-bg !important;
            color: $header-color;
        }

        .disabled-views {
            background-color: $content-bg;
            color: $header-color;
        }
    }

    .periodicActiveBlock:before {
        border-top: 10px solid $reverse-color;
    }

    .dashboardV5 {
        .sideProgessActive:before {
            border-right: 10px solid $reverse-color;
        }
    }
    .navStEndPicker{
        display: flex;
        border: 1px solid rgba($reverse-color, 0.13);
        border-radius: 6px;
        height: 46px;
        .stDtcol{
            border-right: 1px solid rgba($reverse-color, 0.13);
        }
        /* .mat-form-field-underline {
            display: none;
        } */
        svg {
            fill: $reverse-color !important;
        }
        .mat-form-field-underline {
            position: absolute;
            height: 0 !important;
            width: 100%;
            top: 32px;
        }
        /* label{
            color: #238792 !important;
        } */
    }

    .dashboardV7 {
        .fieldBorderStyle{
            border: 1px solid rgba($reverse-color, 0.13);
            border-radius: 6px;
        }
        .reconview {
            .viewComb-list {
                .mat-tab-label {
                    background: $content-bg;
                    &:focus, &:active {
                        background: $content-bg !important;
                    }
                }
                .mat-tab-label-active {
                    border-bottom: 3px solid $header-bg !important;
                }
            }
            .reconview-list {
                .mat-tab-label-active {
                    background: $header-bg;
                    border-bottom: 3px solid $header-bg;
                }
                .mat-tab-label-active:focus {
                    background: $header-bg !important;
                    border-bottom: 3px solid $header-bg;
                }
            }
        }
        .sideProgessActive:before {
            border-top: 10px solid $reverse-color;
        }

        .sideProgessActive {
            border-bottom: 4px solid $reverse-color !important;
        }
    }

    .ui-state-highlight {
        background: $reverse-color;
    }

    .mat-select-disabled .mat-select-value {
        color: $header-color !important;
    }

    *::-webkit-scrollbar {
        background-color: $content-bg !important;
    }

    *::-webkit-scrollbar-track:hover {
        background: $content-bg;
        border: 1px solid $content-bg;
    }

    *::-webkit-scrollbar-thumb {
        background: darken($content-bg, 20);
        border: 1px solid $content-bg;
    }

    .view-div .ui-datatable tbody > tr.ui-widget-content{
        border: 1px solid #eaeaea !important;

        &:not(.ui-state-highlight):hover {
        box-shadow: unset !important;
        border: 1px solid #eaeaea !important;
        }
        td {
            border-width: 1px;
        }
    }

    .ui-datatable tbody > tr.ui-widget-content:not(.ui-state-highlight):hover {
        box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15) !important;
        border: 2px solid #ededed !important;
        border-left: unset !important;
        border-right: unset !important;
        .link {
                color: #4885ed;
                font-weight: bold;
        }
        a{
            color: #4885ed;
            font-weight: bold;
            cursor: pointer;
        }
        //background: $reverse-color !important;
        //color: white;

        /* td, span.ui-cell-data, a {
          //  color: white;

            .innerSpan {
                color: white !important;
            }
        } */

        a {
            //color: white !important;
            text-decoration: underline;
        }
    }

    .ui-widget-header {
        background: $content-bg !important;
        color: $header-color;
    }

    .mat-paginator-decrement,
    .mat-paginator-increment {
        border-top: 2px solid $header-color;
        border-right: 2px solid $header-color;
    }

    .dark-night-theme .mat-icon-button[disabled] .mat-paginator-increment,
    .dark-night-theme .mat-icon-button[disabled] .mat-paginator-decrement {
        border-color: rgb(139, 139, 139);
    }

    .theming-panel {
        .nav-heading {
            background: $content-bg !important;
        }
    }

    .ui-widget-content {
        background: $content-bg;
    }

    .list-group-item {
        background: $content-bg;
    }

    .component-title {
        background-color: $content-bg;
        //border-bottom: 1px solid $content-bg;
    }

    .ui-dialog-titlebar {
        background: $reverse-color !important;
        color: white;

        span, i {
            color: white !important;
        }
    }

    .ui-dialog .ui-dialog-titlebar-icon:hover {
        color: black !important;
    }

    .ui-dialog-content, .ui-dialog-footer {
        background: $content-bg !important;
        color: $header-color !important;
    }

    .reconcilewq-main {
        .dropdown-menu {
            background: $content-bg !important;
        }
    }

    .nav-heading {
        background: $reverse-color !important;

        * {
            color: white;
        }
    }

    .jobs-window-new, .user-notification {
        /* .mainList:nth-child(even), .userNotifList:nth-child(even) {
            background: $content-bg !important;
            border-bottom: 1px solid $content-bg;
         } */
        .mainList:nth-child(odd), .userNotifList:nth-child(odd) {
            background: $content-bg !important;
            border-bottom: 1px solid $content-bg;
        }

        .mainList, .userNotifList {
            a, span {
                color: $header-color;
            }

            .badge {
                color: white !important;
            }

            &:hover {
                background: rgba($reverse-color, 0.8) !important;
                color: white;

                li, a, span {
                    color: white;
                }
            }
        }

        .showAll, .user-notification-footer {
            background: $content-bg;
        }
    }

    .dropdown-list ul li:hover {
        background: $content-bg !important;
        color: $header-color !important;
    }

    .mat-menu-panel {
        background-color: $content-bg !important;

        li {
            padding: 5px 10px;
            cursor: pointer;
            color: $header-color !important;

            &:hover {
                background-color: $content-bg !important;
                color: $header-color !important;
            }
        }
    }

    .occurnc-circle {
        background: #f5f5f5;
    }

    .badge {
        color: white !important;
    }

    .occ-active {
        background-color: $reverse-color !important;
        color: white !important;

        p {
            color: white !important;
        }
    }

    .mat-dialog-container {
        background: $content-bg !important;
    }

    .ui-multiselect .ui-state-highlight {
        background: $content-bg;
    }

    .BlueTitleDiv, .Heading {
        background: $content-bg;
        letter-spacing: 1.2px;
        //font-weight: 600;
    }
    .Heading {
        background: rgb(245, 245, 245) !important;
    }

    
    .userNotify .unreadCount {
        color: red;
    }

    .dropdown-menu {
        background: $content-bg;
    }

    .navbar .dropdown-menu {
        background: white !important;
    }

    .dropdown-item {
        &:active {
            background: unset;
        }

        &:hover, &:focus {
            background: rgba($reverse-color, 0.8);
            color: white;

            i {
                color: white;
            }
        }

        &.active {
            &, i {
                background: $reverse-color !important;
                color: white;
            }
        }
    }

    .userList {
        .splitListUser {
            .dropdown-item {
                &:hover {
                    background: unset;
                    color: unset;
                }
            }
        }

        .splitList li:hover {
            background: rgba($reverse-color, 0.8);

            a, span, i {
                color: white !important;
            }
        }
    }

    table.pvtTable tbody tr th,
    table.pvtTable thead tr th {
        background-color: $content-bg !important;
    }

    .pvtAxisContainer, .pvtVals, .pvtRenderer, .pvtAttrDropdown {
        background: $content-bg !important;
        color: $header-color !important;
    }

    .pvtAxisContainer li span.pvtAttr, .pvtAttrDropdown {
        background-color: $content-bg !important;
    }

    .pvtFilterBox {
        background-color: $content-bg !important;
    }

    table.pvtTable tbody tr td {
        background-color: $content-bg !important;
    }

    .pvtTotal.colTotal, .pvtGrandTotal {
        border-bottom: 2px solid $reverse-color;
        border-top: 2px solid $reverse-color;
    }

    .run-report-header .parameters-body .param-value {
        background-color: $content-bg !important;
        color: $header-color;
    }

    .drillDownPanel, .drillDownPanelAcc, .allNoti, .reconNoti, .accNoti, .jourNoti {
        background: $content-bg;
    }

    .allNoti, .reconNoti, .accNoti {
        border-right: 1px solid $content-bg;
    }

    /* .dashboardNotification, .mat-card-header-text, .notificationMenuList{
        border-bottom: 1px solid $content-bg;
    } */

    .dashboardV5, .dashboardV7 {
        .fa,
        .mat-icon,
        [class^="rec-font-"],
        [class*=" rec-font-"] {
            color: $header-color !important;
        }
    }

    .reconItemsValueClass:hover, .reconItemsViolationClass:hover, .reconAwaitingAppClass:hover, .accItemsValueClass:hover, .accItemsViolationClass:hover, .accAwaitingAppClass:hover, .accItemsJEClass:hover {
        background: rgba($reverse-color, 0.4);
    }

    .reconItemsValueClass.active, .reconItemsViolationClass.active, .reconAwaitingAppClass.active, .accItemsValueClass.active, .accItemsViolationClass.active, .accAwaitingAppClass.active {
        background: rgba($reverse-color, 0.9);
    }

    .dashboardV5, .dashboardV7 {
        .mat-card-header-text, .notificationMenuList {
            border-bottom: 2px solid $content-bg !important;
        }

        span {
            color: $header-color !important;
        }

        .mat-tab-label {
            &:focus {
                color: $reverse-color !important;
                background-color: transparent !important;
            }
        }

        .customBut {
            color: $reverse-color;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .theme-table {
        th {
            background: #f5f5f5;
            border-right: 1px solid #ebebeb !important;
        }

        th, td {
            border-top: none;
            border-bottom: none;
        }

        tr {
            background-color: $content-bg !important;
            color: $header-color;
        }

        tbody tr:hover {
            box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15) !important;
            border: 2px solid #ededed !important;
            border-left: unset !important;
            border-right: unset !important;
        }
    }

    .innerSidebarActive {
        font-weight: 600 !important;
        color: $reverse-color !important;
    }

    .innerSidebarHover {
        li:hover {
            font-weight: 600 !important;
            color: $reverse-color !important;
        }
    }

    .daterangepicker.dropdown-menu {
        font-size: 12px !important;

        .ranges {
            li {
                margin-bottom: 3px !important;
                background: $content-bg;
                border-color: $content-bg;

                &.active,
                &:hover {
                    background: $reverse-color;
                    color: white !important;
                    border-color: $reverse-color;
                }
            }
        }

        .calendar-table {
            background: $content-bg;

            td.active,
            td.active:hover {
                background-color: $reverse-color;
            }

            td.off,
            td.off.end-date,
            td.off.in-range,
            td.off.start-date {
                background-color: $content-bg;
                color: rgba($header-color, 0.4) !important;
            }

            td.in-range {
                background: $content-bg;
            }

            td.in-range.end-date {
                background: $reverse-color;
            }
        }

        .notificationLabels {
            color: white !important;
        }
    }

    .cuppa-dropdown {
        .selected-list .c-btn {
            background: $content-bg;
            color: $header-color;
        }
    }

    .mat-radio-disabled .mat-radio-label-content {
        color: $header-color !important;
    }

    .mat-radio-disabled .mat-radio-outer-circle {
        border-color: $content-bg !important;
    }

    .recent-dragged {
        -webkit-animation: draggedItemTransition 5s; /* Safari 4.0 - 8.0 */
        animation: draggedItemTransition 5s;
    }

    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes draggedItemTransition {
        from {
            background: lightgray;
        }
    }

    /* Standard syntax */
    @keyframes draggedItemTransition {
        from {
            background: lightgray;
        }
    }

    .subscript-text {
        color: $header-color !important;
    }

    .lastupdate-lable {
        background-color: $content-bg;
    }

    .dashboardV7 {
        .mat-card-header-text, .notificationMenuList {
            border-bottom: 2px solid $content-bg !important;
        }

        .reconViewAnalysisDiv {
            border-left: 1px solid $content-bg !important;
        }

        .progressWidget {
            .bgicon, .fa {
                color: $reverse-color !important;
            }
        }
    }

    .popover-title {
        background: $reverse-color !important;
        color: white;

        span, i {
            color: white !important;
        }

        font-weight: 400 !important;
        letter-spacing: 1px;
    }

    .layovericon {
        color: $reverse-color;
    }

    #dashboardNavSticky {
        background-color: $content-bg;
    }

    .mat-def-hover {
        .mat-icon-button:not([disabled]) {
            background-color: rgba($reverse-color, 0.7);

            .mat-icon {
                color: white !important;
            }
        }
    }

    .mat-cus-dial-head {
        .mat-cus-header {
            background: $reverse-color;
        }
    }

    .mat-cus-body {
        .cloudupload {
            color: $header-color;
        }
    }

    .cdk-overlay-container .cdk-global-overlay-wrapper:nth-child(1) .mat-dialog-container {
        .mat-cus-header, .mat-cus-footer {
            i {
                color: white;
            }
        }
    }

    .theme-bg {
        background: $reverse-color !important;
    }

    .theme-text {
        color: $reverse-color;
    }

    .theme-color {
        color: $header-color;
    }

    .no-input-val {
        color: rgba($header-color, 0.5) !important;
    }

    @media (min-width: 768px) {
        .br768 {
            border-right: 1px solid $content-bg;
        }
    }

    .split-btn {
        .drop-icon {
            border: solid white;
        }
    }

    #pvtoutput {
        .pivot-available-columns-section-head, .pivot-rows-section-head, .pivot-columns-section-head, .pivot-aggregator-section-head, .pivot-viewAs-section-head {
            color: $reverse-color !important;
            background: $content-bg;
        }
    }

    .mat-menu-panel {
        .mat-menu-item {
            color: $header-color !important;
        }
    }

    .ETLWQ, .dBversionv8 {
        .prof-det, .prof-status {
            .mat-tab-label-active {
                background: $content-bg;
                border-bottom: 3px solid $reverse-color;

                &:focus {
                    background: $content-bg !important;
                }
            }
        }

        .more-actions {
            background: $content-bg;
        }
    }

    .dashboardV8 {
        .kpiHeaderFnt .mat-tab-label:hover {
            border-bottom: 3px solid $reverse-color;
        }
        .reconview .reconview-list .mat-tab-label:hover {
            border-bottom: 3px solid $reverse-color;
        }
        .dashboardV8 .reconview .viewComb-list .mat-tab-label:hover {
            border-bottom: 3px solid $reverse-color;
        }
        .mat-select {
            background: $content-bg !important;
        }

        .mat-tab-label {
            span {
                color: $header-color;
                font-weight: unset;
            }
        }

        span {
            color: $header-color;
            font-weight: unset;
        }

        /* .ui-datatable-thead th {
            background-color: $content-bg !important;
        } */

        .prof-det, .prof-status {
            .mat-tab-label-active {
                background: $content-bg;
                border-bottom: 3px solid $reverse-color;

                &:focus {
                    background: $content-bg !important;
                }

                &::after {
                    color: $reverse-color;
                }
            }
        }
        .year-det {
            .mat-tab-label-active {
                background: $reverse-color;
                color: white !important;
                &:focus {
                    color: white !important;
                }
                &::after {
                    color: white !important;
                }
                &:hover{
                    color: white !important;
                }
            }
            .mat-tab-label {
                &:focus {
                    background: $reverse-color !important;
                    color: white !important;
                }
                &:hover{
                    color: $reverse-color;
                }
            }
        }
        .viewByTabs {
            .mat-tab-label-active {
                background: $reverse-color;
                color: white !important;
                &:focus {
                    color: white !important;
                }
                &::after {
                    color: white !important;
                }
                &:hover{
                    color: white !important;
                }
            }
            .mat-tab-label {
                &:focus {
                    background: $reverse-color !important;
                    color: white !important;
                }
                &:hover{
                    color: $reverse-color;
                }
            }
        }

        .more-actions {
            background: $content-bg;
        }

        .mat-ripple-element {
            background-color: rgba($reverse-color, 0.05);
        }

        .dashTabStyle {
            background-color: $content-bg !important;
        }

        .headerBar {
            background: rgba($reverse-color, 0.2);
        }

        .reconview {
            .viewComb-list {
                .mat-tab-label {
                    background: $content-bg;

                    &:focus, &:active {
                        background: $content-bg !important;
                    }
                }

                .mat-tab-label-active {
                    border-bottom: 3px solid $reverse-color;
                    cursor: auto;
                }
            }

            .reconview-list {
                .mat-tab-label-active {
                    background: $reverse-color;
                    border-bottom: 3px solid $reverse-color;
                }

                .mat-tab-label-active:focus {
                    background: $reverse-color !important;
                    border-bottom: 3px solid $reverse-color;
                }
            }
        }

        .kpiHeaderFnt {
            .mat-tab-label {
                color: $header-color !important;
                opacity: 1;
            }
        }
    }

    .fixed-table-head {
        thead th {
            background: $content-bg;
            box-shadow: 1px 1px 1px lightgrey;
        }
    }

    .inline-edit-input {
        color: white !important;

        &:focus {
            color: black !important;
        }
    }

    .data-table-link {
        color: $reverse-color !important;
    }

    .rec-main-div {
        .process-dev {
            h6 {
                color: $reverse-color !important;

                // background: linear-gradient(45deg,$gradient-bg,$reverse-color);
                // -webkit-background-clip: text;
                // background-clip: text;
                // -webkit-text-fill-color: transparent;
           
            }
        }

        .view-div {
            .amt-div {
                // border: 1px solid $reverse-color;
                color: mat-color($primary) !important;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .data-views-component {
        .dv-mt-expansion .mat-expansion-panel .mat-expansion-panel-header-title {
            color: $reverse-color !important;
        }
    }

    .vs-sticky {
        background: $content-bg;
    }

    .dashboardV8 {
        .mdColor {
            color: $content-bg !important;
        }
    }

    .theme-sidebar {
        &.notification-bar {
            .mat-tab-label {
                .userNotify .waves-effect {
                    border: 5px solid $reverse-color !important;
                }
            }
        }
    }

    .mt-exp-disb-col {
        .mat-expansion-panel-header-title {
            color: $reverse-color !important;
        }
    }

    .setups-accordian {
        .mat-expansion-panel-header {
            background-color: white !important;
        }
    }

    .slide-custom-toggle {
        .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
            background: $content-bg !important;
            background-color: $reverse-color !important;
        }
    }

    .form-control {
        background-color: $content-bg;
        border-color: darken($content-bg, 10);
    }

    .matTabPainationStyle {
        .mat-tab-header-pagination-before, .mat-tab-header-pagination-after {
            background: rgba($reverse-color, 0.4);

            .mat-tab-header-pagination-chevron {
                border-color: $header-color;
            }

            &:hover {
                background: $reverse-color;
            }
        }
    }

    .que-card-list .selected-dashboard {
        background-color: $reverse-color;
    }

    .dash-board-usecaselist .edit-filters, .report-title {
        color: $reverse-color;
    }

    .approvalWQCls {
        .mat-raised-button:not([disabled]) {
            background-color: white !important;
        }
    }

    .gridIconVisible {
        position: absolute;
        right: 4px;
        top: 14px;
        background: $content-bg;
        z-index: 1;
    }

    .selectionBorderBackground {
        background: $content-bg !important;
    }

    /** Datatable Styles */
    .ui-datatable {
        .ui-datatable-thead {
            th {
                border-right: 1px solid #ebebeb !important;
            }

            th:last-child {
                border-right: 0px solid #ebebeb !important;
            }
        }

        tr.ui-datatable-even.ui-widget-content,
        tr.ui-datatable-odd.ui-widget-content {
            background: $content-bg;
            //border-bottom: 2px solid $content-bg !important;
            //color: $header-color;

            &:hover {
                /* box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15) !important;
                border: 2px solid #ededed !important; */
                background-color: $content-bg;
                //color: white !important;

                td {
                    span.ui-cell-data {
                        font-size: 16px;
                        //color: white !important;
                    }

                    a, span:not(.ui-cell-data),
                    span:not(.ui-chkbox-icon) {
                        font-size: 15px;
                        //color: white !important;

                        &.userPicture {
                            color: #2196F3 !important;
                        }
                    }

                    span.ui-chkbox-icon {
                        color: black !important;
                    }

                    i, .fa, .mat-icon {
                        //color: white !important;
                    }
                }
            }
        }
    }

    /* .mat-button-toggle:before {
        background: $reverse-color !important;
    } */

    .mat-tab-header {
        border-bottom: 0px solid white !important;
    }

    .date-range-fields {
        .mat-form-field {
            border : 1px solid #ececec;
            padding: 1px 8px;
            border-radius: 3px;
            .mat-form-field-underline {
                height:0;
                .mat-form-field-ripple {
                    display:none;
                }
            }
        }
    }

    .mat-tab-group.mat-primary .mat-ink-bar {
        background: $reverse-color !important;
    }
    .tbody > tr:hover {
        background: $reverse-color !important;
        color: white;

        td, span, a {
            color: white;

            .innerSpan {
                color: white !important;
            }
        }

        a {
            color: white !important;
            text-decoration: underline;
        }
    }
    .white.light .ng-sidebar .titleFont{
        color: #524e4e !important;
    }
    .dashboardV8 .reconview .viewComb-list .mat-tab-label:hover {
        border-bottom: 3px solid $reverse-color;
    }
    .headingIcons{
        background: $reverse-color;
    }
    .mat-select-underline {
        background-color: rgb(224, 224, 224);
    }

    .ui-dialog .ui-dialog-titlebar-icon:hover {
        background: white;
        span.fa-close {
            color: $reverse-color !important;
        }
    }

    .info-msg {
        background: rgba($reverse-color, 0.1);
    }
}
