@import '~@angular/material/theming';
@include mat-core();


.magenta-theme {
  @import 'themes/magenta.scss';
  @include angular-material-theme($magenta-theme);
  @include magenta-theme($magenta-theme);
}

.pleasant-theme {
  @import 'themes/pleasant.scss';
  @include angular-material-theme($pleasant-theme);
  @include pleasant-theme($pleasant-theme);
}

.dark-night-theme {
  @import 'themes/dark-night.scss';
  @include angular-material-theme($dark-night-theme);
  @include dark-night-theme($dark-night-theme);
}


.blue-skies-theme {
  @import 'themes/blue-skies.scss';
  @include angular-material-theme($blue-skies-theme);
  @include blue-skies-theme($blue-skies-theme);
}

.red-rose-theme {
  @import 'themes/red-rose.scss';
  @include angular-material-theme($red-rose-theme);
  @include red-rose-theme($red-rose-theme);
}

.day-light-theme {
  @import 'themes/day-light.scss';
  @include angular-material-theme($day-light-theme);
  @include day-light-theme($day-light-theme);
}


.josefin-sans {
  font-family:  'Josefin Sans', sans-serif !important;
   #divMenu ul li a, .mat-card , .ui-accordion , .ui-widget, body, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button, .mat-option, .mat-select , .mat-form-field, .mat-expansion-panel-header, .mat-expansion-panel-content, .mat-raised-button, .mat-radio-button {
    font-family:  'Josefin Sans', sans-serif !important;
   .amount-section {
      h1,h2,h3,h4,h5,h6,a,p,span {
        font-family:  'Josefin Sans', sans-serif !important;
      }
    }
  }
}

.artifika-serif {
  font-family:   'Artifika', serif !important;
   #divMenu ul li a, .mat-card , .ui-accordion , .ui-widget, body, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button, .mat-option, .mat-select , .mat-form-field, .mat-expansion-panel-header, .mat-expansion-panel-content, .mat-raised-button, .mat-radio-button {
    font-family:  'Josefin Sans', sans-serif !important;
    .amount-section {
       h1,h2,h3,h4,h5,h6,a,p,span {
         font-family:  'Josefin Sans', sans-serif !important;
       }
     }
   }

}

.gentium-basic {
  font-family:   'Gentium Basic', serif !important;
   #divMenu ul li a, .mat-card , .ui-accordion , .ui-widget, body, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button, .mat-option, .mat-select , .mat-form-field, .mat-expansion-panel-header, .mat-expansion-panel-content, .mat-raised-button, .mat-radio-button {
     font-family:  'Gentium Basic', serif !important;
     .amount-section {
      h1,h2,h3,h4,h5,h6,a,p,span {
        font-family:  'Gentium Basic', sans-serif !important;
      }
    }
   }

}

.neuton {
  font-family: 'Neuton', serif !important;
   #divMenu ul li a, .mat-card , .ui-accordion , .ui-widget, body, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button, .mat-option, .mat-select , .mat-form-field, .mat-expansion-panel-header, .mat-expansion-panel-content, .mat-raised-button, .mat-radio-button {
     font-family: 'Neuton', serif !important;
     .amount-section {
      h1,h2,h3,h4,h5,h6,a,p,span {
        font-family:  'Neuton', sans-serif !important;
      }
    }
   }
}

.cormorant-sc {
  font-family: 'Cormorant SC', serif !important;
   #divMenu ul li a, .mat-card , .ui-accordion , .ui-widget, body, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button, .mat-option, .mat-select , .mat-form-field, .mat-expansion-panel-header, .mat-expansion-panel-content, .mat-raised-button, .mat-radio-button {
     font-family: 'Cormorant SC', serif !important;
     .amount-section {
      h1,h2,h3,h4,h5,h6,a,p,span {
        font-family:  'Cormorant SC', sans-serif !important;
      }
    }
   }
}

.buda {
  font-family:  'Buda', cursive !important;
   #divMenu ul li a, .mat-card , .ui-accordion , .ui-widget, body, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button, .mat-option, .mat-select , .mat-form-field, .mat-expansion-panel-header, .mat-expansion-panel-content, .mat-raised-button, .mat-radio-button {
     font-family:  'Buda', cursive !important;
     .amount-section {
      h1,h2,h3,h4,h5,h6,a,p,span {
        font-family:  'Buda', sans-serif !important;
      }
    }
   }
}

.noto-serif {
  font-family:  'Noto Serif', serif !important;
   #divMenu ul li a, .mat-card , .ui-accordion , .ui-widget, body, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button, .mat-option, .mat-select , .mat-form-field, .mat-expansion-panel-header, .mat-expansion-panel-content, .mat-raised-button, .mat-radio-button {
     font-family:  'Noto Serif', serif !important;
     .amount-section {
      h1,h2,h3,h4,h5,h6,a,p,span {
        font-family:  'Noto Serif', sans-serif !important;
      }
    }
   }

}

.raleway {
  font-family:   'Raleway', sans-serif !important;
   #divMenu ul li a, .mat-card , .ui-accordion , .ui-widget, body, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button, .mat-option, .mat-select , .mat-form-field, .mat-expansion-panel-header, .mat-expansion-panel-content, .mat-raised-button, .mat-radio-button {
     font-family:  'Raleway', sans-serif  !important;
     .amount-section {
      h1,h2,h3,h4,h5,h6,a,p,span {
        font-family:  'Raleway', sans-serif !important;
      }
    }
   }

}

.pt-serif {
  font-family:   'PT Serif', serif !important;
   #divMenu ul li a, .mat-card , .ui-accordion , .ui-widget, body, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button, .mat-option, .mat-select , .mat-form-field, .mat-expansion-panel-header, .mat-expansion-panel-content, .mat-raised-button, .mat-radio-button {
     font-family:  'PT Serif', serif !important;
     .amount-section {
      h1,h2,h3,h4,h5,h6,a,p,span {
        font-family:  'PT Serif', sans-serif !important;
      }
    }
   }

}

.alegreya {
  font-family: 'Alegreya', serif !important;
   #divMenu ul li a, .mat-card , .ui-accordion , .ui-widget, body, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button, .mat-option, .mat-select , .mat-form-field, .mat-expansion-panel-header, .mat-expansion-panel-content, .mat-raised-button, .mat-radio-button {
     font-family: 'Alegreya', serif !important;
     .amount-section {
      h1,h2,h3,h4,h5,h6,a,p,span {
        font-family:  'Alegreya', sans-serif !important;
      }
    }
   }
}

.baumans {
  font-family: 'Baumans', cursive !important;
   #divMenu ul li a, .mat-card , .ui-accordion , .ui-widget, body, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button, .mat-option, .mat-select , .mat-form-field, .mat-expansion-panel-header, .mat-expansion-panel-content, .mat-raised-button, .mat-radio-button {
     font-family: 'Baumans', cursive !important;
     .amount-section {
      h1,h2,h3,h4,h5,h6,a,p,span {
        font-family:  'Baumans', sans-serif !important;
      }
    }
   }
}

.katibeh {
  font-family:  'Katibeh', cursive !important;
   #divMenu ul li a, .mat-card , .ui-accordion , .ui-widget, body, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button, .mat-option, .mat-select , .mat-form-field, .mat-expansion-panel-header, .mat-expansion-panel-content, .mat-raised-button, .mat-radio-button {
     font-family:  'Katibeh', cursive !important;
     .amount-section {
      h1,h2,h3,h4,h5,h6,a,p,span {
        font-family:  'Katibeh', sans-serif !important;
      }
    }
   }
}

.play {
  font-family:  'Play', sans-serif !important;
   #divMenu ul li a, .mat-card , .ui-accordion , .ui-widget, body, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button, .mat-option, .mat-select , .mat-form-field, .mat-expansion-panel-header, .mat-expansion-panel-content, .mat-raised-button, .mat-radio-button {
     font-family:  'Play', sans-serif !important;
     .amount-section {
      h1,h2,h3,h4,h5,h6,a,p,span {
        font-family:  'Play', sans-serif !important;
      }
    }
   }

}

.antic-slab {
  font-family:   'Antic Slab', serif !important;
   #divMenu ul li a, .mat-card , .ui-accordion , .ui-widget, body, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button, .mat-option, .mat-select , .mat-form-field, .mat-expansion-panel-header, .mat-expansion-panel-content, .mat-raised-button, .mat-radio-button {
     font-family:  'Antic Slab', serif !important;
     .amount-section {
      h1,h2,h3,h4,h5,h6,a,p,span {
        font-family:  'Antic Slab', sans-serif !important;
      }
    }
   }

}

.roboto {
  font-family:   'Roboto', sans-serif !important;
   #divMenu ul li a, .mat-card , .ui-accordion , .ui-widget, body, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button, .mat-option, .mat-select , .mat-form-field, .mat-expansion-panel-header, .mat-expansion-panel-content, .mat-raised-button, .mat-radio-button {
     font-family:  'Roboto', sans-serif !important;
     .amount-section {
      h1,h2,h3,h4,h5,h6,a,p,span {
        font-family:  'Roboto', sans-serif !important;
      }
    }
   }

}

.roboto-condensed {
  font-family: 'Roboto Condensed', sans-serif !important;
   #divMenu ul li a, .mat-card , .ui-accordion , .ui-widget, body, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button, .mat-option, .mat-select , .mat-form-field, .mat-expansion-panel-header, .mat-expansion-panel-content, .mat-raised-button, .mat-radio-button {
     font-family: 'Roboto Condensed', sans-serif !important;
     .amount-section {
      h1,h2,h3,h4,h5,h6,a,p,span {
        font-family:  'Roboto Condensed', sans-serif !important;
      }
    }
   }
}

.frank-ruhllibre {
  font-family: 'Frank Ruhl Libre', serif !important;
   #divMenu ul li a, .mat-card , .ui-accordion , .ui-widget, body, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button, .mat-option, .mat-select , .mat-form-field, .mat-expansion-panel-header, .mat-expansion-panel-content, .mat-raised-button, .mat-radio-button {
     font-family: 'Frank Ruhl Libre', serif !important;
     .amount-section {
      h1,h2,h3,h4,h5,h6,a,p,span {
        font-family:  'Frank Ruhl Libre', sans-serif !important;
      }
    }
   }
}

.pt-sansnarrow {
  font-family:  'PT Sans Narrow', sans-serif !important;
   #divMenu ul li a, .mat-card , .ui-accordion , .ui-widget, body, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button, .mat-option, .mat-select , .mat-form-field, .mat-expansion-panel-header, .mat-expansion-panel-content, .mat-raised-button, .mat-radio-button {
     font-family:  'PT Sans Narrow', sans-serif !important;
     .amount-section {
      h1,h2,h3,h4,h5,h6,a,p,span {
        font-family:  'PT Sans Narrow', sans-serif !important;
      }
    }
   }
}

.exo-2 {
  font-family:  'Exo 2', sans-serif !important;
   #divMenu ul li a, .mat-card , .ui-accordion , .ui-widget, body, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button, .mat-option, .mat-select , .mat-form-field, .mat-expansion-panel-header, .mat-expansion-panel-content, .mat-raised-button, .mat-radio-button {
     font-family:  'Exo 2', sans-serif !important;
     .amount-section {
      h1,h2,h3,h4,h5,h6,a,p,span {
        font-family:  'Exo 2', sans-serif !important;
      }
    }
   }
}

.domine {
  font-family:  'Domine', serif !important;
   #divMenu ul li a, .mat-card , .ui-accordion , .ui-widget, body, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button, .mat-option, .mat-select , .mat-form-field, .mat-expansion-panel-header, .mat-expansion-panel-content, .mat-raised-button, .mat-radio-button {
     font-family:  'Domine', serif !important;
     .amount-section {
      h1,h2,h3,h4,h5,h6,a,p,span {
        font-family:  'Domine', sans-serif !important;
      }
    }
   }
}

.istok-web {
  font-family:  'Istok Web', sans-serif !important;
   #divMenu ul li a, .mat-card , .ui-accordion , .ui-widget, body, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button, .mat-option, .mat-select , .mat-form-field, .mat-expansion-panel-header, .mat-expansion-panel-content, .mat-raised-button, .mat-radio-button {
     font-family:  'Istok Web', sans-serif !important;
     .amount-section {
      h1,h2,h3,h4,h5,h6,a,p,span {
        font-family:  'Istok Web', sans-serif !important;
      }
    }
   }
}

.lato {
  font-family:  'Lato', sans-serif !important;
   #divMenu ul li a, .mat-card , .ui-accordion , .ui-widget, body, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button, .mat-option, .mat-select , .mat-form-field, .mat-expansion-panel-header, .mat-expansion-panel-content, .mat-raised-button, .mat-radio-button {
     font-family:  'Lato', sans-serif !important;
     .amount-section {
      h1,h2,h3,h4,h5,h6,a,p,span {
        font-family:  'Lato', sans-serif !important;
      }
    }
   }
}