<div class="component-title">
	<div class="col-md-6">
		<div class="headingIcons">
			<i class="fa fa-fw fa-user-circle iconStyle"></i>
		</div>
		<h4 class="m-0">User(s)</h4>
	</div>
	<div class="col-md-6">
		<div class="pull-right">
			<button *jhiHasAnyAuthority="'USER_CREATE'" md-icon-button [routerLink]="['/user-management', {outlets: { 'content': ['user-management-new']}}]"
			 mdTooltip="Add User">
				<md-icon>add</md-icon>
			</button>
			<button *ngIf="tableView" md-icon-button mdTooltip="Grid View" (click)="tableView = false;usersIconDisplay();">
				<md-icon>grid_on</md-icon>
			</button>
			<button *ngIf="!tableView" md-icon-button mdTooltip="Table View" (click)="tableView = true;usersIconDisplay();">
				<md-icon>view_list</md-icon>
			</button>
		</div>
	</div>
</div>

<div class="component-body">
	<div class="d-flex justify-content-between sr-pg-con">
		<input class="form-control search-input" type="text" #gb placeholder="Search..">
		<md-paginator class="sr-pg-con" *ngIf="tableView && usersRecordsLength>0" [length]="usersRecordsLength" [pageSize]="itemsPerPage"
		 [pageSizeOptions]="pageSizeOptions" [pageIndex]="page" (page)="onPaginateChange($event)">
		</md-paginator>
	</div>
	<div class="overflow-hidden">
		<div class="row m-0 gridsUser" [@enterAnimation] *ngIf="!tableView">
			<div class="col-md-3 grid-table-list" *ngFor="let user of users; let i = index;" style="padding: 5px;">
				<md-card class="grid-table-listView grid-border" style="border-radius: 10px;">
					<span class="editIcon" style="position: absolute;right: 0px;top: 2px;">
						<md-icon class="hand" style="font-size: 12px;" mdTooltip="View" (click)="showUserDetails(user.id,'details');">remove_red_eye</md-icon>
						<md-icon class="hand" style="font-size: 12px;" mdTooltip="Edit" (click)="showUserDetails(user.id,'edit');">edit</md-icon>
					</span>
					<div style="display: flex;padding: 12px;">
						<div class="col-md-4" style="text-align: center; margin-top: auto; margin-bottom: auto;">
							<div>
								<span class="display-picture userPictureGrid userPicture userPicture_{{i}}" style="height: 60px !important;width: 60px !important;position: absolute;top: 50%;left: 50%;transform: translateX(-50%) translateY(-50%);"></span>
							</div>
						</div>
						<div class="col-md-8" style="overflow: hidden;margin-top: auto;margin-bottom: auto;">
							<div style="text-overflow: ellipsis;overflow: hidden;">
								<a [routerLink]="['/user-management', {outlets: {'content': user.id+'/details'}}]">
									<h5>{{user.firstName}}</h5>
								</a>
							</div>
							<div style="text-overflow: ellipsis;overflow: hidden;font-size: 13px;color: gray;">{{user.email}}</div>
						</div>
					</div>
				</md-card>
			</div>
		</div>
		<div [@enterAnimation] *ngIf="tableView">
			<div class="list-table">
				<p-dataTable [value]="users" reorderableColumns="true" resizableColumns="true" columnResizeMode="expand" scrollable="true"
				 [responsive]="false" [headerCheckboxToggleAllPages]="true" [globalFilter]="gb" #dt (onRowSelect)="onRowSelect($event)" selectionMode="single">
					<p-column field="firstName" header="First Name" [style]="{'width':'30%'}" styleClass="left" [sortable]="true">
						<ng-template let-col let-row="rowData" pTemplate="body" let-i="rowIndex">
							<div style="display: flex;">
								<span class="display-picture userPicture userPicture_{{i}}" style="height: 40px !important;width: 40px !important;"></span>
								<div style="display: grid;">
									<span style="padding-left: 10px;">{{row[col.field]}}</span>
									<span style="padding-left: 10px;color:#a0a0a0;font-size: 10px;">{{row.businessTitle}}</span>
								</div>
							</div>
						</ng-template>
					</p-column>
					<p-column *ngFor="let col of usersTableColumns" [style]="{'width':col.width,'text-align':col.align}" [field]="col.field"
					 [header]="col.header" [sortable]="true"> </p-column>
					<p-column [style]="{'width':'6%' }" field="activated" header="Status" styleClass="text-center" styleClass="center" [sortable]="true">
						<ng-template let-col let-row="rowData" pTemplate="body">
							<i *ngIf="row[col.field]>0" style="color: darkgrey" class="material-icons" mdTooltip="Active">check_circle</i>
							<i *ngIf="row[col.field]<1" style="color: darkgrey" class="material-icons" aria-hidden="true" mdTooltip="In Active">error</i>
						</ng-template>
					</p-column>
					<p-column [style]="{'width':'14%' }" header="Actions" styleClass="text-center">
						<ng-template let-col let-row="rowData" pTemplate="body">
							<div class="editIcon">
								<button md-icon-button mdTooltip="View" (click)="showUserDetails(row['id'],'details');" (click)="$event.stopPropagation()">
									<md-icon>remove_red_eye</md-icon>
								</button>
								<button md-icon-button mdTooltip="Edit" (click)="showUserDetails(row['id'],'edit');" (click)="$event.stopPropagation()">
									<md-icon>edit</md-icon>
								</button>
							</div>
						</ng-template>
					</p-column>
				</p-dataTable>
			</div>
			<md-paginator class="sr-pg-con" *ngIf="usersRecordsLength>0" [length]="usersRecordsLength" [pageSize]="itemsPerPage" [pageSizeOptions]="pageSizeOptions"
			 [pageIndex]="page" (page)="onPaginateChange($event)">
			</md-paginator>
		</div>
	</div>
</div>