<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myJeLinesLabel" jhiTranslate="agreeGatewayV1App.jeLines.home.createOrEditLabel">Create or edit a Je Lines</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!jeLines.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="jeLines.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.jeLines.jeBatchId" for="field_jeBatchId">Je Batch Id</label>
            <input type="number" class="form-control" name="jeBatchId" id="field_jeBatchId"
                [(ngModel)]="jeLines.jeBatchId"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.jeLines.rowId" for="field_rowId">Row Id</label>
            <input type="number" class="form-control" name="rowId" id="field_rowId"
                [(ngModel)]="jeLines.rowId"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.jeLines.lineNum" for="field_lineNum">Line Num</label>
            <input type="number" class="form-control" name="lineNum" id="field_lineNum"
                [(ngModel)]="jeLines.lineNum"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.jeLines.descriptionAttribute" for="field_descriptionAttribute">Description Attribute</label>
            <input type="text" class="form-control" name="descriptionAttribute" id="field_descriptionAttribute"
                [(ngModel)]="jeLines.descriptionAttribute"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.jeLines.currency" for="field_currency">Currency</label>
            <input type="text" class="form-control" name="currency" id="field_currency"
                [(ngModel)]="jeLines.currency"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.jeLines.debitAmount" for="field_debitAmount">Debit Amount</label>
            <input type="number" class="form-control" name="debitAmount" id="field_debitAmount"
                [(ngModel)]="jeLines.debitAmount"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.jeLines.creditAmount" for="field_creditAmount">Credit Amount</label>
            <input type="number" class="form-control" name="creditAmount" id="field_creditAmount"
                [(ngModel)]="jeLines.creditAmount"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.jeLines.accountedDebit" for="field_accountedDebit">Accounted Debit</label>
            <input type="number" class="form-control" name="accountedDebit" id="field_accountedDebit"
                [(ngModel)]="jeLines.accountedDebit"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.jeLines.accountedCredit" for="field_accountedCredit">Accounted Credit</label>
            <input type="number" class="form-control" name="accountedCredit" id="field_accountedCredit"
                [(ngModel)]="jeLines.accountedCredit"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.jeLines.comments" for="field_comments">Comments</label>
            <input type="text" class="form-control" name="comments" id="field_comments"
                [(ngModel)]="jeLines.comments"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.jeLines.createdBy" for="field_createdBy">Created By</label>
            <input type="number" class="form-control" name="createdBy" id="field_createdBy"
                [(ngModel)]="jeLines.createdBy"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.jeLines.lastUpdatedBy" for="field_lastUpdatedBy">Last Updated By</label>
            <input type="number" class="form-control" name="lastUpdatedBy" id="field_lastUpdatedBy"
                [(ngModel)]="jeLines.lastUpdatedBy"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.jeLines.createdDate" for="field_createdDate">Created Date</label>
            <div class="d-flex">
                <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="jeLines.createdDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.jeLines.lastUpdatedDate" for="field_lastUpdatedDate">Last Updated Date</label>
            <div class="d-flex">
                <input id="field_lastUpdatedDate" type="datetime-local" class="form-control" name="lastUpdatedDate" [(ngModel)]="jeLines.lastUpdatedDate"
                  />
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
