<div class="component-title">
    <div class="col-md-8">
        <div class="d-flex justify-content-between">
            <div class="headingIcons">
                <i class="rec-font-lookup-codes iconStyle"></i>
            </div>
            <h4>System Lookup(s)</h4>
        </div>
    </div>
    <div class="col-md-4">
        <div class="pull-right">
            <button md-icon-button mdTooltip="Bulk Upload" (click)="openDialog()">
                <md-icon>file_upload</md-icon>
            </button>
            <button *jhiHasAnyAuthority="'LOOKUP_CODE_CREATE'" md-icon-button mdTooltip="Add System Lookup" (click)="crtOrUpdtLkpCd(true)">
                <md-icon>add</md-icon>
            </button>
        </div>
    </div>
</div>
<div class="component-body">
    <div class="d-flex justify-content-between sr-pg-con" style="border-bottom: 1px solid #ebebeb;">
        <input class="form-control search-input" type="text" #gb placeholder="Search..">
        <label style="margin:auto 0 auto auto;">Lookup Type: </label>
        <div class="col-md-2">
            <angular2-multiselect [data]="lookupTypesDropDown" [(ngModel)]="lookupType" [settings]="dropdownSettings"
                (onSelect)="changeLookup()" name="lookupTypes"></angular2-multiselect>
        </div>
    </div>

    <h6 style="margin:15px;" *ngIf="lookupTypeDetails">Lookup Type Details for <b>{{lookupTypeDetails.meaning}}</b></h6>
    <div *ngIf="lookupTypeDetails" class="row">
        <div class="col-md-3">
            <div class="mat-c-input-wrapper">
                <md-input-container>
                    <input mdInput placeholder="Lookup Type" [(ngModel)]="lookupTypeDetails.lookUpType" disabled>
                </md-input-container>
            </div>
        </div>
        <div class="col-md-3">
            <div class="mat-c-input-wrapper">
                <md-input-container>
                    <input mdInput placeholder="Meaning" [(ngModel)]="lookupTypeDetails.meaning" disabled>
                </md-input-container>
            </div>
        </div>
        <div class="col-md-2">
            <div class="mat-c-input-wrapper">
                <md-input-container>
                    <input mdInput placeholder="Description" [(ngModel)]="lookupTypeDetails.description" disabled>
                </md-input-container>
            </div>
        </div>
        <div class="col-md-2">
            <div class="mat-c-input-wrapper">
                <!-- <md-input-container>
                    <input mdInput placeholder="Start Date" [(ngModel)]="lookupTypeDetails.activeStartDate" disabled>
                </md-input-container> -->
                <md-form-field>
                    <input mdInput [mdDatepicker]="stpickers" placeholder="Start Date" [min]="today" [(ngModel)]="lookupTypeDetails.activeStartDate"
                         name="startDate" disabled>
                    <md-datepicker-toggle mdSuffix [for]="stpickers"></md-datepicker-toggle>
                    <md-datepicker #stpickers></md-datepicker>
                </md-form-field>
            </div>
        </div>
        <div class="col-md-2">
            <div class="mat-c-input-wrapper">
                <!-- <md-input-container>
                    <input mdInput placeholder="End Date" [(ngModel)]="lookupTypeDetails.activeEndDate" disabled>
                </md-input-container> -->
                <md-form-field>
                    <input mdInput [mdDatepicker]="edpickers" placeholder="End Date" disabled [(ngModel)]="lookupTypeDetails.activeEndDate"
                        name="endDate">
                    <md-datepicker-toggle mdSuffix [for]="edpickers"></md-datepicker-toggle>
                    <md-datepicker #edpickers></md-datepicker>
                </md-form-field>
            </div>
        </div>
    </div>

    <h6 style="margin:15px;" *ngIf="lookupTypeDetails">Lookup Codes</h6>
    <div class="list-table">
        <p-dataTable [value]="lookUpCodes" reorderableColumns="true" resizableColumns="true" columnResizeMode="expand"
            scrollable="true" [responsive]="true" [headerCheckboxToggleAllPages]="true" [globalFilter]="gb" #dt [rows]="10"
            [editable]="true">

            <p-column field="lookUpCode" header="Code" styleClass="left" [style]="{'width':'200px'}" [sortable]="true">
                <ng-template let-col let-row="rowData" pTemplate="body">
                    <span>{{row[col.field]}}</span>
                </ng-template>
            </p-column>

            <p-column *ngFor="let col of lookupCodesTableColumns; let i = index" [style]="{'width':col.width,'text-align':col.align}"
                [field]="col.field" [header]="col.header" [sortable]="true">
            </p-column>

            <p-column field="activeStartDate" header="Start Date" styleClass="left" [style]="{'width':'200px'}"
                [sortable]="true">
                <ng-template let-col let-row="rowData" pTemplate="body">
                    {{row[col.field] | date:'mediumDate'}}
                </ng-template>
            </p-column>
            <p-column field="activeEndDate" header="End Date" styleClass="left" [style]="{'width':'200px'}" [sortable]="true">
                <ng-template let-col let-row="rowData" pTemplate="body">
                    {{row[col.field] | date:'mediumDate'}}
                </ng-template>
            </p-column>

            <p-column [style]="{'width':'160px' }" field="enableFlag" header="Status" styleClass="text-center" [sortable]="true">
                <ng-template let-col let-row="rowData" pTemplate="body">
                    <div class="v-c-h-b">
                        <i *ngIf="row[col.field]==true" class="material-icons">check_circle</i>
                        <i *ngIf="row[col.field]==false" class="material-icons" aria-hidden="true">error</i>
                        <div class="icons-list editIcon">
                            <div *ngIf="!row.isDefault">
                                <button md-icon-button *jhiHasAnyAuthority="'LOOKUP_CODE_EDIT'" mdTooltip="Edit" (click)="crtOrUpdtLkpCd(false, row);">
                                    <md-icon>mode_edit</md-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-column>

        </p-dataTable>
    </div>
</div>