<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLookUpCodeLabel" jhiTranslate="agreeGatewayApp.lookUpCode.home.createOrEditLabel">Create or edit a Look Up Code</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!lookUpCode.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="lookUpCode.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayApp.lookUpCode.tenantId" for="field_tenantId">Tenant Id</label>
            <input type="number" class="form-control" name="tenantId" id="field_tenantId"
                [(ngModel)]="lookUpCode.tenantId"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayApp.lookUpCode.lookUpCode" for="field_lookUpCode">Look Up Code</label>
            <input type="text" class="form-control" name="lookUpCode" id="field_lookUpCode"
                [(ngModel)]="lookUpCode.lookUpCode"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayApp.lookUpCode.lookUpType" for="field_lookUpType">Look Up Type</label>
            <input type="text" class="form-control" name="lookUpType" id="field_lookUpType"
                [(ngModel)]="lookUpCode.lookUpType"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayApp.lookUpCode.meaning" for="field_meaning">Meaning</label>
            <input type="text" class="form-control" name="meaning" id="field_meaning"
                [(ngModel)]="lookUpCode.meaning"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayApp.lookUpCode.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="lookUpCode.description"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayApp.lookUpCode.enableFlag" for="field_enableFlag">Enable Flag</label>
            <input type="checkbox" class="form-control" name="enableFlag" id="field_enableFlag"
                [(ngModel)]="lookUpCode.enableFlag"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayApp.lookUpCode.activeStartDate" for="field_activeStartDate">Active Start Date</label>
            <div class="input-group">
                <input id="field_activeStartDate" type="text" class="form-control" name="activeStartDate" ngbDatepicker  #activeStartDateDp="ngbDatepicker" [(ngModel)]="lookUpCode.activeStartDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="activeStartDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayApp.lookUpCode.activeEndDate" for="field_activeEndDate">Active End Date</label>
            <div class="input-group">
                <input id="field_activeEndDate" type="text" class="form-control" name="activeEndDate" ngbDatepicker  #activeEndDateDp="ngbDatepicker" [(ngModel)]="lookUpCode.activeEndDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="activeEndDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayApp.lookUpCode.secureAttribute1" for="field_secureAttribute1">Secure Attribute 1</label>
            <input type="text" class="form-control" name="secureAttribute1" id="field_secureAttribute1"
                [(ngModel)]="lookUpCode.secureAttribute1"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayApp.lookUpCode.secureAttribute2" for="field_secureAttribute2">Secure Attribute 2</label>
            <input type="text" class="form-control" name="secureAttribute2" id="field_secureAttribute2"
                [(ngModel)]="lookUpCode.secureAttribute2"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayApp.lookUpCode.secureAttribute3" for="field_secureAttribute3">Secure Attribute 3</label>
            <input type="text" class="form-control" name="secureAttribute3" id="field_secureAttribute3"
                [(ngModel)]="lookUpCode.secureAttribute3"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayApp.lookUpCode.createdBy" for="field_createdBy">Created By</label>
            <input type="number" class="form-control" name="createdBy" id="field_createdBy"
                [(ngModel)]="lookUpCode.createdBy"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayApp.lookUpCode.creationDate" for="field_creationDate">Creation Date</label>
            <div class="d-flex">
                <input id="field_creationDate" type="datetime-local" class="form-control" name="creationDate" [(ngModel)]="lookUpCode.creationDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayApp.lookUpCode.lastUpdatedBy" for="field_lastUpdatedBy">Last Updated By</label>
            <input type="number" class="form-control" name="lastUpdatedBy" id="field_lastUpdatedBy"
                [(ngModel)]="lookUpCode.lastUpdatedBy"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayApp.lookUpCode.lastUpdatedDate" for="field_lastUpdatedDate">Last Updated Date</label>
            <div class="d-flex">
                <input id="field_lastUpdatedDate" type="datetime-local" class="form-control" name="lastUpdatedDate" [(ngModel)]="lookUpCode.lastUpdatedDate"
                  />
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
