
<div *ngIf="applicationPrograms">
    <h2><span jhiTranslate="agreeGatewayApp.applicationPrograms.detail.title">Application Programs</span> {{applicationPrograms.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="agreeGatewayApp.applicationPrograms.prgmName">Prgm Name</span></dt>
        <dd>
            <span>{{applicationPrograms.prgmName}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayApp.applicationPrograms.tenantId">Tenant Id</span></dt>
        <dd>
            <span>{{applicationPrograms.tenantId}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayApp.applicationPrograms.prgmDescription">Prgm Description</span></dt>
        <dd>
            <span>{{applicationPrograms.prgmDescription}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayApp.applicationPrograms.generatedPath">Generated Path</span></dt>
        <dd>
            <span>{{applicationPrograms.generatedPath}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayApp.applicationPrograms.targetPath">Target Path</span></dt>
        <dd>
            <span>{{applicationPrograms.targetPath}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayApp.applicationPrograms.prgmPath">Prgm Path</span></dt>
        <dd>
            <span>{{applicationPrograms.prgmPath}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayApp.applicationPrograms.prgmOrClassName">Prgm Or Class Name</span></dt>
        <dd>
            <span>{{applicationPrograms.prgmOrClassName}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayApp.applicationPrograms.prgmType">Prgm Type</span></dt>
        <dd>
            <span>{{applicationPrograms.prgmType}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayApp.applicationPrograms.enable">Enable</span></dt>
        <dd>
            <span>{{applicationPrograms.enable}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayApp.applicationPrograms.startDate">Start Date</span></dt>
        <dd>
            <span>{{applicationPrograms.startDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayApp.applicationPrograms.endDate">End Date</span></dt>
        <dd>
            <span>{{applicationPrograms.endDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayApp.applicationPrograms.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{applicationPrograms.creationDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayApp.applicationPrograms.createdBy">Created By</span></dt>
        <dd>
            <span>{{applicationPrograms.createdBy}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayApp.applicationPrograms.lastUpdationDate">Last Updation Date</span></dt>
        <dd>
            <span>{{applicationPrograms.lastUpdationDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayApp.applicationPrograms.lastUpdatedBy">Last Updated By</span></dt>
        <dd>
            <span>{{applicationPrograms.lastUpdatedBy}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'application-programs/'+ applicationPrograms.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
