<style>
    .activateBackground{
        background: url('https://static.pexels.com/photos/434337/pexels-photo-434337.jpeg') no-repeat center center fixed;
        width: 100%;
        height: auto;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-width: 1024px;
        min-height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0.4;
    }

    .content{
        position: relative;
        text-align: center;
        background: linear-gradient(to right, rgba(247, 247, 247, 0.56),rgba(135, 206, 235, 0.83));
        height: 747px;
    }

    .content h1, .content p{
        color: #0d47a1;
    }

    .foot{
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .foot p{
        color: #0d47a1;
    }

    @media screen and (max-width: 1024px){
        .activateBackground{
            left: 50%;
            margin-left: -512px;
        }
    }
</style>

<div class="activateBackground">
</div>
<div class="content">
    <div style="position:relative;top:20%;">
        <h1>Reconciled Records Successfully Approved.</h1>
    </div>
    <div class="foot">
        <p style="font-size:13px">Powered by NSPL - 2017 (Under Development) Version 1.0.0</p>
    </div>
</div>

<!-- <div ng-cloak class="container">

<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
           hi its in approved

            <div class="alert alert-success"  translate-compile>
                <strong>Reconciled Records Successfully Approved.</strong>
            </div>


        </div>
    </div>
</div>
</div> -->