
<div *ngIf="accountingLineTypes">
    <h2><span jhiTranslate="agreeGatewayV1App.accountingLineTypes.detail.title">Accounting Line Types</span> {{accountingLineTypes.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="agreeGatewayV1App.accountingLineTypes.tenantId">Tenant Id</span></dt>
        <dd>
            <span>{{accountingLineTypes.tenantId}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.accountingLineTypes.ruleId">Rule Id</span></dt>
        <dd>
            <span>{{accountingLineTypes.ruleId}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.accountingLineTypes.lineType">Line Type</span></dt>
        <dd>
            <span>{{accountingLineTypes.lineType}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.accountingLineTypes.createdBy">Created By</span></dt>
        <dd>
            <span>{{accountingLineTypes.createdBy}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.accountingLineTypes.lastUpdatedBy">Last Updated By</span></dt>
        <dd>
            <span>{{accountingLineTypes.lastUpdatedBy}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.accountingLineTypes.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{accountingLineTypes.creationDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.accountingLineTypes.lastUpdatedDate">Last Updated Date</span></dt>
        <dd>
            <span>{{accountingLineTypes.lastUpdatedDate | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'accounting-line-types/'+ accountingLineTypes.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
