@import "~@angular/material/theming";

//*COLOR PALETTES*//
$dark-night-primary: mat-palette($mat-red);
$dark-night-accent: mat-palette($mat-deep-orange);
$dark-night-warn: mat-palette($mat-orange);
$dark-night-theme: mat-light-theme($dark-night-primary, $dark-night-accent, $dark-night-warn);

$header-bg: rgba(0, 0, 0, 0.9);
$logo-bg: lighten($header-bg, 10);
$profile-bg: lighten($header-bg, 10);
$header-color: $header-bg;
$sidebar-bg: #ffffff;
$content-bg: #ececec;
$footer-bg:#ececec;

@mixin dark-night-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .page-header-inner {
        background: $header-bg;
    }

    .accordianSidebar {
        &:before {
            background: rgba($sidebar-bg, 0.9);
            bottom: 0;
            content: "";
            display: block;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
        .sidebar-profile {
            background: rgba($header-bg, 0.7) !important;
            .display-name {
                color:white;
            }
        }

        .sidebar-logo {
            background: rgba($header-bg, 0.9);
        }

        .sidenav-list-items {
            a {
                color: darken($header-color,10);
            }

            li {
                &:after {
                    background-color: $header-bg !important;
                }

                &.sidebarListActive {
                    background-color: rgba($header-bg, 0.8) !important;

                    a {
                        color: white;
                    }
                }

                a:hover {
                    color: white !important;
                }
            }
        }
    }
    .ui-accordion .ui-accordion-header a {
        color: darken($header-color,10) !important;
    }

    h1, h2, h3, h4, h5, h6,
    .sbclose, .Rsbclose,
    .ui-state-default,
    .page-bar .page-breadcrumb > li > a,
    .page-bar .page-breadcrumb > li > span,
    .fa-history,
    .page-bar .page-breadcrumb > li > a, .page-bar .page-breadcrumb > li > span,
    .fa-history,
    .ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover {
        // color: $header-color;
        color: #770000;
    }

    // Prime ng Data tables styles //
    .ui-datatable tbody > tr.ui-widget-content.ui-state-highlight {
        color: black !important;
        border-left: 3px solid $header-bg !important;
    }
    
    .page-footer {
        background-color: $footer-bg;
    }

    .page-content {
        background-color: $content-bg !important
    }

    .ui-datatable-thead {
        th {
            color: #770000 !important;
        }
    }

    .ui-datatable tbody tr.ui-widget-content {
        border-left: 0px solid $header-bg !important;

        &:hover {
            border-left: 3px solid $header-bg !important;
        }
    }

    .hover-effect:hover {
        border-left: 1px solid $header-bg;
    }

    .spinner-icon {
        background-color: $header-bg !important;
        border-top-color: $header-bg !important;
        border-bottom-color: $header-bg !important;
        border-left-color: transparent !important;
    }

    /**START Angular Multi select Checkbox*/
    .c-token {
        background: $header-bg !important;
    }

    .pure-checkbox label::before {
        border-color: $header-bg !important;
    }

    .pure-checkbox input[type="checkbox"]:checked + label:before {
        background: $header-bg !important;
    }

    /**END Angular Multi select Checkbox*/

    /**START Material Checkbox*/
    .mat-checkbox-checked.mat-accent .mat-checkbox-background {
        background: $header-bg !important;
    }

    .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
        background-color: rgba($header-bg, 0.2) !important;
    }

    /**END Material Checkbox*/

    .mat-expansion-panel-header-title {
        color: $header-bg !important;
    }
    .mat-raised-button {
        // background-color: lighten($header-color,10) !important;
        background-color: #770000 !important;
    }
    .mat-icon-button {
        .mat-icon {
            // color: lighten($header-color,10) !important;
            color: #770000 !important;
        }
        .fa {
            color: #770000 !important;
        }
    }
    .reconcilewq-main {
        .side-head.filter {
            // background-color: $header-color;
            background-color: #770000 !important;
        }
    }
    .periodicActiveBlock:before{
        border-top: 10px solid $header-color;
    }
    .sideProgessActive:before{
        border-right: 10px solid $header-color;
    }
}
