<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myJournalsHeaderDataLabel" jhiTranslate="agreeGatewayV1App.journalsHeaderData.home.createOrEditLabel">Create or edit a Journals Header Data</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!journalsHeaderData.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="journalsHeaderData.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.journalsHeaderData.tenantId" for="field_tenantId">Tenant Id</label>
            <input type="number" class="form-control" name="tenantId" id="field_tenantId"
                [(ngModel)]="journalsHeaderData.tenantId"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.journalsHeaderData.jeTempId" for="field_jeTempId">Je Temp Id</label>
            <input type="number" class="form-control" name="jeTempId" id="field_jeTempId"
                [(ngModel)]="journalsHeaderData.jeTempId"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.journalsHeaderData.jeBatchName" for="field_jeBatchName">Je Batch Name</label>
            <input type="text" class="form-control" name="jeBatchName" id="field_jeBatchName"
                [(ngModel)]="journalsHeaderData.jeBatchName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.journalsHeaderData.jeBatchDate" for="field_jeBatchDate">Je Batch Date</label>
            <div class="input-group">
                <input id="field_jeBatchDate" type="text" class="form-control" name="jeBatchDate" ngbDatepicker  #jeBatchDateDp="ngbDatepicker" [(ngModel)]="journalsHeaderData.jeBatchDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="jeBatchDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.journalsHeaderData.glDate" for="field_glDate">Gl Date</label>
            <div class="input-group">
                <input id="field_glDate" type="text" class="form-control" name="glDate" ngbDatepicker  #glDateDp="ngbDatepicker" [(ngModel)]="journalsHeaderData.glDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="glDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.journalsHeaderData.currency" for="field_currency">Currency</label>
            <input type="text" class="form-control" name="currency" id="field_currency"
                [(ngModel)]="journalsHeaderData.currency"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.journalsHeaderData.conversionType" for="field_conversionType">Conversion Type</label>
            <input type="text" class="form-control" name="conversionType" id="field_conversionType"
                [(ngModel)]="journalsHeaderData.conversionType"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.journalsHeaderData.category" for="field_category">Category</label>
            <input type="text" class="form-control" name="category" id="field_category"
                [(ngModel)]="journalsHeaderData.category"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.journalsHeaderData.source" for="field_source">Source</label>
            <input type="text" class="form-control" name="source" id="field_source"
                [(ngModel)]="journalsHeaderData.source"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.journalsHeaderData.ledgerName" for="field_ledgerName">Ledger Name</label>
            <input type="text" class="form-control" name="ledgerName" id="field_ledgerName"
                [(ngModel)]="journalsHeaderData.ledgerName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.journalsHeaderData.batchTotal" for="field_batchTotal">Batch Total</label>
            <input type="number" class="form-control" name="batchTotal" id="field_batchTotal"
                [(ngModel)]="journalsHeaderData.batchTotal"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.journalsHeaderData.runDate" for="field_runDate">Run Date</label>
            <div class="input-group">
                <input id="field_runDate" type="text" class="form-control" name="runDate" ngbDatepicker  #runDateDp="ngbDatepicker" [(ngModel)]="journalsHeaderData.runDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="runDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.journalsHeaderData.submittedBy" for="field_submittedBy">Submitted By</label>
            <input type="text" class="form-control" name="submittedBy" id="field_submittedBy"
                [(ngModel)]="journalsHeaderData.submittedBy"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.journalsHeaderData.createdBy" for="field_createdBy">Created By</label>
            <input type="number" class="form-control" name="createdBy" id="field_createdBy"
                [(ngModel)]="journalsHeaderData.createdBy"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.journalsHeaderData.lastUpdatedBy" for="field_lastUpdatedBy">Last Updated By</label>
            <input type="number" class="form-control" name="lastUpdatedBy" id="field_lastUpdatedBy"
                [(ngModel)]="journalsHeaderData.lastUpdatedBy"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.journalsHeaderData.createdDate" for="field_createdDate">Created Date</label>
            <div class="d-flex">
                <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="journalsHeaderData.createdDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agreeGatewayV1App.journalsHeaderData.lastUpdatedDate" for="field_lastUpdatedDate">Last Updated Date</label>
            <div class="d-flex">
                <input id="field_lastUpdatedDate" type="datetime-local" class="form-control" name="lastUpdatedDate" [(ngModel)]="journalsHeaderData.lastUpdatedDate"
                  />
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
