<style>
    .activateBackground{
        background: url('https://static.pexels.com/photos/434337/pexels-photo-434337.jpeg') no-repeat center center fixed;
        width: 100%;
        height: auto;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-width: 1024px;
        min-height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0.4;
    }

    .content{
        position: relative;
        text-align: center;
        background: linear-gradient(to right, rgba(247, 247, 247, 0.56),rgba(135, 206, 235, 0.83));
        height: 747px;
    }

    .content img{
        width: 200px;
        height: 150px;
    }

    .content button{
        width: 200px;
        height: 50px;
        color: #0d47a1;
    }

    .content h1, .content p{
        color: #0d47a1;
    }

    .foot{
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .foot p{
        color: #0d47a1;
    }

    @media screen and (max-width: 1024px){
        .activateBackground{
            left: 50%;
            margin-left: -512px;
        }
    }
</style>

<div class="activateBackground">
</div>
<div class="content">
    <div style="position:relative;top:20%;">
        <img src="../../../content/images/reconLogo.png" alt="Logo">
        <div>
                <!-- *ngIf="success" -->
            <h1>Success.</h1>
            <p>Your email has been verified!</p>
            <button md-raised-button routerLink="/login">Get Started</button>
        </div>
        <!-- <div *ngIf="error">
            <h1>Error.</h1>
            <p>Your email hasn't been verified!</p>
            <button md-raised-button>Try Again</button>
        </div> -->
    </div>
    <div class="foot">
        <p style="font-size:13px">Powered by NSPL - 2017 (Under Development) Version 1.0.0</p>
    </div>
</div>



<!-- <div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 jhiTranslate="activate.title">Activation</h1>

            <div class="alert alert-success" *ngIf="success">
                <span jhiTranslate="activate.messages.success"><strong>Your user account has been activated.</strong> Please </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a>.
            </div>

            <div class="alert alert-danger" *ngIf="error" jhiTranslate="activate.messages.error">
                <strong>Your user could not be activated.</strong> Please use the registration form to sign up.
            </div>

        </div>
    </div>
</div>
 -->