<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body style="margin:0;">
	<div style="padding:20px;font-family:sans-serif;background:#fff;">
		<div style="display:table;overflow-x:auto;max-width:600px;margin:auto;width:100%;border-top-left-radius:10px;border-top-right-radius:10px;height: 200px;background: #1cbcd8;">
			<div style="width: 70%;color: white;display: table-cell;vertical-align: middle;text-align: center;">
				<img style="width: 320px;" src="https://i.postimg.cc/SRNP6VCp/logo.png"></img>
				<span style="font-size: 21px;letter-spacing: 1.5px;display:block">User Verfication</span>
			</div>
			<div style="width: 30%;display: table-cell;vertical-align: middle;text-align: center;">
				<img src="http://www.free-icons-download.net/images/male-user-icon-94869.png" alt="logo" style="width: 120px;"></img>
			</div>
		</div>
		<div style="background:white;overflow-x:auto;max-width:560px;margin:auto;padding:20px;border:1px solid lightgray;border-bottom-left-radius:10px;border-bottom-right-radius:10px;">
			<h4>Hello <span th:text="${user.firstName}"></span></h4>

			<div>Welcome to GLBYTE Application. Please click below button to validate your email address</div>

			<div style="text-align:center;padding:30px 0px;">
				<a th:href="@{|${baseUrl}/api/activate?key=${user.activationKey}|}" style="font-weight:bold;padding:12px 24px;border-radius:5px;background-color:#1cbcd8;color:white;margin-right:10px;text-decoration:none !important;"
				 id="yui_3_16_0_ym19_1_1527679394420_2382">Validate</a>
			</div>

			<div style="margin-bottom:0;font-size:13px;margin-top:30px;">Thanks,</div>
			<div style="margin-top:0;font-size:13px;">The GLBYTE Team</div>
		</div>
		<div style="margin-top:10px;">
			<div style="text-align:center;font-size:13px;">© 2018 NSPL Pvt. Ltd.</div>
		</div>
	</div>
</body>

</html>