<div class="component-body dashBoardClass">
    <md-card style="margin-top: 5px;height: 59px;" id="dashboardNavSticky">
        <div class="component-title" id="dashboardNavSticky" style="padding-bottom: 0px;">
            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 pageTitle pageListTitle" style="margin-left: 0px;"><!-- border-bottom: 1px solid lightgray;background: white; -->
                <div class="col-md-3" style="display:flex;">
                    <div style="margin-top: auto; margin-bottom: auto;">DashBoard :</div>
                    <div>
                        <md-select placeholder="" [(ngModel)]="selectedVersion" name="selectedVersion" style="padding-top: 0px; padding-left: 8px;">
                            <md-option *ngFor="let col of dashboardVersion" [value]="col.name">
                                {{ col.name }}
                            </md-option>
                        </md-select>
                    </div>
                </div>

                <div class="col-md-3" style="display:flex;">
                    <div style="margin-top: auto; margin-bottom: auto;">Period :</div>
                    <div>
                        <md-select placeholder="" [(ngModel)]="selectedPeriod" name="selectedPeriod" style="padding-top: 0px; padding-left: 8px;">
                            <md-option *ngFor="let col of periodList" [value]="col.name">
                                {{ col.name }}
                            </md-option>
                        </md-select>
                    </div>
                </div>

            </div>
        </div>
    </md-card>
    <md-card style="clear: both">
        <div class="row flex-center" style="height:50px;">
            <div class="display-flex">
                <div style="margin-top:5px;">Processes :</div>
                <div>
                    <md-select placeholder="" [(ngModel)]="selectedProcess" name="selectedProcess" style="padding-top: 0px; padding-left: 8px;">
                        <md-option *ngFor="let col of processesList" [value]="col.id">
                            {{ col.processName }}
                        </md-option>
                    </md-select>
                </div>
            </div>
            <div class="display-flex">
                <div style="margin-top:5px">View By :</div>
                <div>
                    <md-select placeholder="" [(ngModel)]="selectedViewBy" name="selectedViewBy" style="padding-top: 0px; padding-left: 8px;">
                        <md-option *ngFor="let col of viewByList" [value]="col.name">
                            {{ col.name }}
                        </md-option>
                    </md-select>
                </div>
            </div>
        </div>
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-left: 0px;">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 box-shadow" (mouseenter)="showData('reconciliation')" [ngClass]="{activeModule: currentModule == 'reconciliation'}">
                <div class="text-uppercase" style="line-height: 3; border-bottom: 1px solid rgba(211, 211, 211, 0.64);  background: rgba(211, 211, 211, 0.2);text-align: center;">
                    <div>Reconciliation</div>
                    <div style="position: absolute; right: 15px; top: 1px;">
                        <i class="fa fa-pie-chart hand" (click)="changeReconView();" *ngIf="!displayPieRecon" mdTooltip="Pie"></i>
                        <i style="transform: rotate(90deg);" class="fa fa-bar-chart hand" (click)="changeReconView();" *ngIf="displayPieRecon" mdTooltip="Bar"></i>
                        <!-- <button md-icon-button [mdMenuTriggerFor]="menu">
                            <md-icon>more_vert</md-icon>
                        </button>
                        <md-menu #menu="mdMenu" xPosition="before">
                            <button md-menu-item (click)="changeReconView();">
                                 <md-icon>insert_chart</md-icon> --In Comment
                                    <span>Change View</span>
                            </button>
                        </md-menu> -->
                    </div>
                </div>
                <canvas *ngIf="!displayPieRecon && barChartDataReconciliation && barChartLabelsReconciliation" baseChart [datasets]="barChartDataReconciliation"
                    [labels]="barChartLabelsReconciliation" [options]="barChartOptionsReconciliation" [chartType]="barChartTypeReconciliation"
                    (chartClick)="fetchAgingAnalysis($event)">
                </canvas>
                <canvas *ngIf="displayPieRecon && pieChartReconciliation && pieChartReconciliationLabels" baseChart [datasets]="pieChartReconciliation"
                    [labels]="pieChartReconciliationLabels" [chartType]="pieChartReconciliationType" [options]="pieChartReconciliationOptions" 
                    [colors]="pieChartReconciliationColors"><!-- [colors]="pieChartReconciliationColors" -->
                </canvas>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 box-shadow" (mouseenter)="showData('accounting')" [ngClass]="{activeModule: currentModule == 'accounting'}">
                <div class="text-uppercase" style="line-height: 3; border-bottom: 1px solid rgba(211, 211, 211, 0.64);  background: rgba(211, 211, 211, 0.2);text-align: center;">
                    <div>Accounting</div>
                    <div style="position: absolute; right: 15px; top: 1px;">
                        <i class="fa fa-pie-chart hand" (click)="changeAccView();" *ngIf="!displayPieAcc" mdTooltip="Pie"></i>
                        <i style="transform: rotate(90deg);" class="fa fa-bar-chart hand" (click)="changeAccView();" *ngIf="displayPieAcc" mdTooltip="Bar"></i>
                        <!-- <button md-icon-button [mdMenuTriggerFor]="menu1">
                            <md-icon>more_vert</md-icon>
                        </button>
                        <md-menu #menu1="mdMenu" xPosition="before">
                            <button md-menu-item (click)="changeAccView();">
                                 <md-icon>insert_chart</md-icon>  --In Comment
                                    <span>Change View</span>
                            </button>
                        </md-menu> -->
                    </div>
                </div>
                <canvas *ngIf="!displayPieAcc && barChartDataAccounting && barChartLabelsAccounting" baseChart [datasets]="barChartDataAccounting"
                    [labels]="barChartLabelsAccounting" [options]="barChartOptionsAccounting" [legend]="barChartLegendAccounting"
                    [chartType]="barChartTypeAccounting" (chartClick)="fetchAgingAnalysis($event)">
                </canvas>
                <canvas *ngIf="displayPieAcc && pieChartAccounting && pieChartAccountingLabels" baseChart [datasets]="pieChartAccounting"
                    [labels]="pieChartAccountingLabels" [chartType]="pieChartAccountingType" [options]="pieChartAccountingOptions">
                </canvas>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 box-shadow" (mouseenter)="showData('journal-entry')" [ngClass]="{activeModule: currentModule == 'journal-entry'}">
                <div class="text-uppercase" style="line-height: 3; border-bottom: 1px solid rgba(211, 211, 211, 0.64);  background: rgba(211, 211, 211, 0.2);text-align: center;">
                    <div>Journal Entry</div>
                </div>
                <canvas *ngIf="pieChartJournal && pieChartJournalLabels" baseChart [datasets]="pieChartJournal" [labels]="pieChartJournalLabels"
                    [chartType]="pieChartJournalType" [options]="pieChartJournalOptions">
                </canvas>
            </div>
        </div>

        <br>

        <div class="flex-container row">
            <div class="display-flex" style="flex:1.6">
                <div style="margin-top:5px;">View By :</div>
                <div>
                    <md-select placeholder="" [(ngModel)]="dataSelected" name="dataSelected" style="padding-top: 0px; padding-left: 8px;">
                        <md-option *ngFor="let col of dataOptions" [value]="col.id">
                            {{ col.name }}
                        </md-option>
                    </md-select>
                </div>
            </div>
            <div style="flex:2">
                <h4 style="color:black" *ngIf="currentModule == 'reconciliation'">Reconciliation</h4>
                <h4 style="color:black" *ngIf="currentModule == 'accounting'">Accounting</h4>
                <h4 style="color:black" *ngIf="currentModule == 'journal-entry'">Journal Entry</h4>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="table-responsive">
                <table class="table viewTabRec">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Processor</th>
                            <th>currency</th>
                            <th>Status</th>
                            <th style="text-align: right;">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let module of moduleData" class="displayTabRec">
                            <td>{{module.name}}</td>
                            <td>{{module.Processor}}</td>
                            <td>{{module.currency}}</td>
                            <td>{{module.status}}</td>
                            <td style="text-align: right;">{{module.amount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </md-card>
    <md-card style="margin-top: 10px;">
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-left: 0px;padding: 10px 10px 10px 10px;font-size: 18px;">
            System Admin
        </div>
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-left: 0px;">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="text-uppercase" style="line-height: 3; border-bottom: 1px solid rgba(211, 211, 211, 0.64);  background: rgba(211, 211, 211, 0.2);text-align: center;">
                    <div>Extraction</div>
                </div>
                <canvas *ngIf="barChartDataExtraction" baseChart [datasets]="barChartDataExtraction" [labels]="barChartLabelsExtraction"
                    [options]="barChartOptionsExtraction" width="368" height="104" [legend]="barChartLegendExtraction" [chartType]="barChartTypeExtraction"
                    (chartClick)="fetchExtractionProfile($event)">
                </canvas>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="text-uppercase" style="line-height: 3; border-bottom: 1px solid rgba(211, 211, 211, 0.64);  background: rgba(211, 211, 211, 0.2);text-align: center;">
                    <div>Transformation</div>
                </div>
                <canvas *ngIf="barChartDataTransformation" baseChart [datasets]="barChartDataTransformation" [labels]="barChartLabelsTransformation"
                    [options]="barChartOptionsTransformation" width="368" height="104" [legend]="barChartLegendTransformation"
                    [chartType]="barChartTypeTransformation"  (chartClick)="fetchTransformationProfile($event)"><!-- [colors]="barTransformationChartColors" -->
                </canvas>
            </div>
        </div>
    </md-card>
</div>