<div class="component-body dashBoardClass">
    <p-sidebar position="right" [baseZIndex]="10000">
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-left: 0px;padding-top: 5px; padding-bottom: 5px;">
            <md-select style="width: 96%;" placeholder="Process" name="process" [(ngModel)]="dashBoardDetails.process" [ngClass]="{'color-black' : isViewOnly}">
                <md-option value="All">All</md-option>
                <!-- <md-option *ngFor="let col of journalsHeaderData" [value]="col.jeTempId" (click)="fetchLedgerAndPeriodList(col.jeTempId);">
                                    {{ col.templateName }}
                                </md-option> -->
            </md-select>
        </div>
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-left: 0px;padding-top: 5px; padding-bottom: 5px;">
            <md-select style="width: 96%;" placeholder="Project" name="project" [(ngModel)]="dashBoardDetails.project" [ngClass]="{'color-black' : isViewOnly}">
                <md-option value="All">All</md-option>
                <!-- <md-option *ngFor="let col of journalsHeaderData" [value]="col.jeTempId" (click)="fetchLedgerAndPeriodList(col.jeTempId);">
                                    {{ col.templateName }}
                                </md-option> -->
            </md-select>
        </div>
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-left: 0px;padding-top: 5px; padding-bottom: 5px;">
            <div style="color: rgba(0, 0, 0, 0.54);">Date Range :</div>
            <div>
                <md-radio-group class="example-radio-group" [(ngModel)]="selectedDateRange">
                    <md-radio-button value="7 Days" (change)="isCustomRange = false;">
                        <span style="font-size:14px;">7Days</span>
                    </md-radio-button>
                    <md-radio-button value="15 Days" (change)="isCustomRange = false;">
                        <span style="font-size:14px;">15Days</span>
                    </md-radio-button>
                    <md-radio-button value="30 Days" (change)="isCustomRange = false;">
                        <span style="font-size:14px;">30Days</span>
                    </md-radio-button>
                    <md-radio-button value="custom" (change)="isCustomRange = true;">
                        <span style="font-size:14px;">Custom</span>
                    </md-radio-button>
                </md-radio-group>
            </div>
        </div>
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 dashB" style="margin-left: 0px;padding-top: 5px; padding-bottom: 5px;">
            <div class="col-md-6 col-sm-12 col-xs-12" *ngIf="isCustomRange" style="padding: 0px 0px 0px 0px !important;">
                <md-form-field> <input mdInput [mdDatepicker]="stpicker" placeholder="Start date" [ngClass]="{'color-black' : isViewOnly}"
                        [disabled]="isViewOnly" [(ngModel)]="dashBoardDetails.startDate" name="startDate" required>
                    <md-datepicker-toggle mdSuffix [for]="stpicker" *ngIf="!isViewOnly"></md-datepicker-toggle>
                    <md-datepicker #stpicker></md-datepicker>
                </md-form-field>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12" *ngIf="isCustomRange" style="padding: 0px 0px 0px 0px !important;">
                <md-form-field> <input mdInput [mdDatepicker]="edpicker" placeholder="End date" [min]="dashBoardDetails.startDate" [ngClass]="{'color-black' : isViewOnly}"
                        [disabled]="isViewOnly" [(ngModel)]="dashBoardDetails.endDate" name="endDate">
                    <md-datepicker-toggle mdSuffix [for]="edpicker" *ngIf="!isViewOnly"></md-datepicker-toggle>
                    <md-datepicker #edpicker></md-datepicker>
                </md-form-field>
            </div>
        </div>

        <div class="col-md-12 go-button" style="text-align: right;padding-top: 5px; padding-bottom: 5px;">
            <button md-raised-button (click)="visibleSidebar2 = false">Go</button>
            <button md-raised-button (click)="visibleSidebar2 = false">Cancel</button>
        </div>
        <!-- <button pButton type="button" (click)="visibleSidebar2 = false" label="Save" class="ui-button-success"></button>
				<button pButton type="button" (click)="visibleSidebar2 = false" label="Cancel" class="ui-button-secondary"></button> -->
    </p-sidebar>
    <div class="component-title">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pageTitle pageListTitle">
            <h3 class="pageListTitle">Admin Dashboard</h3>
            <button md-fab class="pull-right md-36 settingsIcon" mdTooltip="More" (click)="showFilterData();">
						<md-icon style="position: relative;bottom: 12px;">more_vert</md-icon>
					</button>
            <!-- <button pButton type="button" (click)="visibleSidebar2 = true" icon="fa-arrow-left"></button> -->
        </div>
    </div>
    <!-- <circle-progress [percent]="85" [radius]="50" [space]="-6" [outerStrokeWidth]="6" [innerStrokeWidth]="6" [outerStrokeColor]="'#78C000'"
			 [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300" [showSubtitle]="true" [subtitle]="'mySub'" [titleFontSize]="20"
			 [unitsFontSize]="15" [subtitleFontSize]="14"></circle-progress> -->
    <!-- <br> -->
    <md-card *ngIf="visibleSidebar2 == true;" style="top: -15px;">
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 10px 5px 7px 7px;margin-left: 0px !important;">
            <div class="col-md-4 col-sm-12 col-xs-12" style="padding: 0px 0px 0px 0px !important;">
                <md-select style="width: 96%;" placeholder="Process" name="process" [(ngModel)]="dashBoardDetails.process" [ngClass]="{'color-black' : isViewOnly}">
                    <md-option value="All">All</md-option>
                    <!-- <md-option *ngFor="let col of journalsHeaderData" [value]="col.jeTempId" (click)="fetchLedgerAndPeriodList(col.jeTempId);">
                                    {{ col.templateName }}
                                </md-option> -->
                </md-select>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12" style="padding: 0px 0px 0px 0px !important;">
                <md-select style="width: 96%;" placeholder="Project" name="project" [(ngModel)]="dashBoardDetails.project" [ngClass]="{'color-black' : isViewOnly}">
                    <md-option value="All">All</md-option>
                    <!-- <md-option *ngFor="let col of journalsHeaderData" [value]="col.jeTempId" (click)="fetchLedgerAndPeriodList(col.jeTempId);">
                                    {{ col.templateName }}
                                </md-option> -->
                </md-select>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12" style="padding: 0px 0px 0px 0px !important;">
                <div style="color: rgba(0, 0, 0, 0.54);">Date Range :</div>
                <div>
                    <md-radio-group class="example-radio-group" [(ngModel)]="selectedDateRange">
                        <md-radio-button value="7 Days" (change)="isCustomRange = false;">
                            <span style="font-size:14px;">7Days</span>
                        </md-radio-button>
                        <md-radio-button value="15 Days" (change)="isCustomRange = false;">
                            <span style="font-size:14px;">15Days</span>
                        </md-radio-button>
                        <md-radio-button value="30 Days" (change)="isCustomRange = false;">
                            <span style="font-size:14px;">30Days</span>
                        </md-radio-button>
                        <md-radio-button value="custom" (change)="isCustomRange = true;">
                            <span style="font-size:14px;">Custom</span>
                        </md-radio-button>
                    </md-radio-group>
                </div>
            </div>
        </div>
        <div class="col-md-12 dashB" style="display:flex;flex-wrap:wrap;padding: 10px 5px 7px 7px;">
            <div class="col-md-4 col-sm-12 col-xs-12" *ngIf="isCustomRange" style="padding: 0px 0px 0px 0px !important;">
                <md-form-field> <input mdInput [mdDatepicker]="stpicker" placeholder="Start date" [ngClass]="{'color-black' : isViewOnly}"
                        [disabled]="isViewOnly" [(ngModel)]="dashBoardDetails.startDate" name="startDate" required>
                    <md-datepicker-toggle mdSuffix [for]="stpicker" *ngIf="!isViewOnly"></md-datepicker-toggle>
                    <md-datepicker #stpicker></md-datepicker>
                </md-form-field>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12" *ngIf="isCustomRange" style="padding: 0px 0px 0px 0px !important;">
                <md-form-field> <input mdInput [mdDatepicker]="edpicker" placeholder="End date" [min]="dashBoardDetails.startDate" [ngClass]="{'color-black' : isViewOnly}"
                        [disabled]="isViewOnly" [(ngModel)]="dashBoardDetails.endDate" name="endDate">
                    <md-datepicker-toggle mdSuffix [for]="edpicker" *ngIf="!isViewOnly"></md-datepicker-toggle>
                    <md-datepicker #edpicker></md-datepicker>
                </md-form-field>
            </div>
        </div>
        <div class="col-md-12 go-button" style="text-align: right; padding-bottom: 6px;"><button md-raised-button>Go</button></div>
    </md-card>

    <md-card class="dashBoardLayout">
        <div class="row" style="margin-left: 0px;margin-right: 0px;" [@flyInOut] *ngIf="tableView">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 form-group" style="border-right: 1px solid rgba(211, 211, 211, 0.44);">
                <!-- <md-card class="dashBoardLayout"> -->
                <!-- <div style="display: block"> -->
                <canvas *ngIf="barChartDataExtraction" baseChart [datasets]="barChartDataExtraction" [labels]="barChartLabelsExtraction"
                    [options]="barChartOptionsExtraction" [legend]="barChartLegendExtraction" [chartType]="barChartTypeExtraction"
                    (chartHover)="chartHovered($event);" (chartClick)="chartClicked($event);"></canvas>
                <!-- </div> -->
                <!-- </md-card> -->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 form-group" style="border-right: 1px solid rgba(211, 211, 211, 0.44);">
                <!-- <md-card class="dashBoardLayout"> -->
                <canvas *ngIf="barChartDataTransformation" baseChart [datasets]="barChartDataTransformation" [labels]="barChartLabelsTransformation"
                    [options]="barChartOptionsTransformation" [legend]="barChartLegendTransformation" [chartType]="barChartTypeTransformation"
                    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)" [colors]="barTransformationChartColors"></canvas>
                <!-- </md-card> -->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 form-group" style="border-right: 1px solid rgba(211, 211, 211, 0.44);">
                <!-- <md-card class="dashBoardLayout"> -->
                <canvas *ngIf="barChartDataReconciliation && barChartLabelsReconciliation" baseChart [datasets]="barChartDataReconciliation"
                    [labels]="barChartLabelsReconciliation" [options]="barChartOptionsReconciliation" [legend]="barChartLegendReconciliation"
                    [colors]="barReconciliationChartColors" [chartType]="barChartTypeReconciliation" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClickedReconciliation($event,barChartDataReconciliation)"></canvas>
                <!-- </md-card> -->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 form-group">
                <!-- <md-card class="dashBoardLayout"> -->
                <canvas *ngIf="barChartDataAccounting && barChartLabelsAccounting" baseChart [datasets]="barChartDataAccounting" [labels]="barChartLabelsAccounting"
                    [options]="barChartOptionsAccounting" [legend]="barChartLegendAccounting" [colors]="barAccountingChartColors"
                    [chartType]="barChartTypeAccounting" (chartHover)="chartHovered($event)" (chartClick)="chartClickedReconciliation($event,barChartDataAccounting)"></canvas>
                <!-- </md-card> -->
            </div>
        </div>
    </md-card>
    <!-- <button type="text" pButton label="Basic" (click)="op1.toggle($event)"></button> -->


    <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 7px 0px 7px 0px;margin-left: 0px !important;" *ngIf="pieChartData">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="text-align: -webkit-center;">
            <md-card class="dashBoardLayout">
                <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 navbar ">

                    <li *ngIf="true" ngbDropdown class="nav-item dropdown pointer" style="position: absolute;right: 14px;list-style-type:none;">
                        <button class="pull-right" ngbDropdownToggle md-icon-button mdTooltip="Chart Types">
									<md-icon>more_vert</md-icon>
								</button>
                        <ul class="dropdown-menu fadeInDown dropdown-menu-right agingCls" ngbDropdownMenu>
                            <li>
                                <a class="dropdown-item active" (click)="pieChartType = 'pie'">
												<span>Pie</span>
											</a>
                            </li>
                            <li>
                                <a class="dropdown-item" (click)="pieChartType = 'bar'">
												<span>Bar</span>
											</a>
                            </li>
                            <li>
                                <a class="dropdown-item" (click)="pieChartType = 'line'">
												<span>Line</span>
											</a>
                            </li>
                        </ul>
                    </li>
                    <!-- <div style="margin-top: auto; margin-bottom: auto;">Chart Type :</div>
							<md-select [(value)]="pieChartType" name="pieChartType" style="padding-top: 3px; padding-left: 5px;">
								<md-option value="line">Line</md-option>
								<md-option value="pie">Pie</md-option>
								<md-option value="bar">Bar</md-option>
							</md-select> -->
                </div>
                <div style="display: block;">
                    <canvas baseChart style="padding: 5px 5px 5px 5px;" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)" [options]="pieChartOptions"></canvas>
                </div>
            </md-card>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="text-align: -webkit-center;">
            <md-card class="dashBoardLayout">
                <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 navbar ">
                    <li *ngIf="true" ngbDropdown class="nav-item dropdown pointer" style="position: absolute;right: 14px;list-style-type:none;">
                        <button class="pull-right" ngbDropdownToggle md-icon-button mdTooltip="Chart Types">
									<md-icon>more_vert</md-icon>
								</button>
                        <ul class="dropdown-menu fadeInDown dropdown-menu-right agingAnalysisCls" ngbDropdownMenu>
                            <li>
                                <a class="dropdown-item" (click)="barChartTypeAging = 'pie'">
												<span>Pie</span>
											</a>
                            </li>
                            <li>
                                <a class="dropdown-item" (click)="barChartTypeAging = 'bar'">
												<span>Bar</span>
											</a>
                            </li>
                            <li>
                                <a class="dropdown-item active" (click)="barChartTypeAging = 'line'">
												<span>Line</span>
											</a>
                            </li>
                        </ul>
                    </li>
                    <!-- <div style="margin-top: auto; margin-bottom: auto;">Chart Type :</div>
							<md-select [(value)]="barChartTypeAging" name="barChartTypeAging" style="padding-top: 3px; padding-left: 5px;">
								<md-option value="line">Line</md-option>
								<md-option value="pie">Pie</md-option>
								<md-option value="bar">Bar</md-option>
							</md-select> -->
                </div>
                <div style="display: block;">
                    <canvas baseChart [datasets]="barChartDataAging" [labels]="barChartLabelsAging" [options]="barChartOptionsAging" [legend]="barChartLegendAging"
                        [chartType]="barChartTypeAging" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </md-card>
        </div>
    </div>
    <!-- <br>
			<md-card>
				<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 7px 0px 7px 0px;margin-left: 0px !important;">
					<div style="display: block;height:200px;width:250px;border-right: 1px solid rgba(211, 211, 211, 0.49);">
						<canvas baseChart height="200" width="250" [data]="pieChartDataExtraction" [labels]="pieChartLabelsExtraction" [chartType]="pieChartTypeExtraction"
						 (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)" [options]="pieChartOptions"></canvas>
					</div>
					<div style="display: block;height:200px;width:250px;border-right: 1px solid rgba(211, 211, 211, 0.49);">
						<canvas baseChart height="200" width="250" [data]="pieChartDataTransformation" [labels]="pieChartLabelsTransformation" [chartType]="pieChartTypeTransformation"
						 (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)" [options]="pieChartOptions"></canvas>
					</div>
					<div style="display: block;height:200px;width:250px;border-right: 1px solid rgba(211, 211, 211, 0.49);">
						<canvas baseChart height="200" width="250" [data]="pieChartDataReconciliation" [labels]="pieChartLabelsReconciliation" [chartType]="pieChartTypeReconciliation"
						 (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)" [options]="pieChartOptions"></canvas>
					</div>
					<div style="display: block;height:200px;width:250px;border-right: 1px solid rgba(211, 211, 211, 0.49);">
						<canvas baseChart height="200" width="250" [data]="pieChartDataAccounting" [labels]="pieChartLabelsAccounting" [chartType]="pieChartTypeAccounting"
						 (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)" [options]="pieChartOptions"></canvas>
					</div>
					<div style="display: block;height:200px;width:250px;">
						<canvas baseChart height="200" width="250" [data]="pieChartDataJournals" [labels]="pieChartLabelsJournals" [chartType]="pieChartTypeJournals"
						 (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)" [options]="pieChartOptions"></canvas>
					</div>
				</div>
			</md-card> -->
    <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 7px 0px 7px 0px;margin-left: 0px !important;">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 navbar">
            <md-card>
                <md-card-header style="padding: 7px 5px 0px 5px;">
                    <md-card-title style="margin-bottom: 0px !important;color: #0173cb;">Notification(s)</md-card-title>
                    <li *ngIf="true" ngbDropdown class="nav-item dropdown pointer" style="position: absolute;right: 14px;list-style-type:none;">
                        <button class="pull-right" ngbDropdownToggle md-icon-button mdTooltip="Chart Types">
									<md-icon>more_vert</md-icon>
								</button>
                        <ul class="dropdown-menu fadeInDown dropdown-menu-right notiCls" ngbDropdownMenu>
                            <li>
                                <a class="dropdown-item" value="today" (click)="dayType='today';getNotificationDetails();">
											<span>Today</span>
										</a>
                            </li>
                            <li>
                                <a class="dropdown-item" value="yesterday" (click)="dayType='yesterday';getNotificationDetails();">
											<span>Yesterday</span>
										</a>
                            </li>
                            <li>
                                <a class="dropdown-item active" value="7Days" (click)="dayType='7Days';getNotificationDetails();">
											<span>Last 7 Days</span>
										</a>
                            </li>
                        </ul>
                    </li>
                </md-card-header>
                <md-card-content>
                    <div class="row" style="border-bottom: 1px solid #eeebeb;">
                        <div class="col-md-3 col-xs-3 form-group displayCount hand allNoti" style="border-right: 1px solid #eeebeb;margin-bottom: 0px !important;"
                            (click)="moduleType='All';getNotificationDetails();">
                            <h6><small>All</small></h6>
                            <h4>{{notificationList.count}}</h4>
                        </div>
                        <div class="col-md-3 col-xs-3 form-group displayCount hand reconNoti" style="border-right: 1px solid #eeebeb;margin-bottom: 0px !important;"
                            (click)="moduleType='RECON';getNotificationDetails();">
                            <h6><small>Reconciled</small></h6>
                            <h4>{{notificationList.Recon}}</h4>
                        </div>
                        <div class="col-md-3 col-xs-3 form-group displayCount hand accNoti" style="border-right: 1px solid #eeebeb;margin-bottom: 0px !important;"
                            (click)="moduleType='ACCOUNTING';getNotificationDetails();">
                            <h6><small>Accounting</small></h6>
                            <h4>{{notificationList.Accounting}}</h4>
                        </div>
                        <div class="col-md-3 col-xs-3 form-group displayCount hand jourNoti" style="margin-bottom: 0px !important;" (click)="moduleType='JOURNAL_ENTRY';getNotificationDetails();">
                            <h6><small>Journal</small></h6>
                            <h4>{{notificationList.JournalEntry}}</h4>
                        </div>
                    </div>
                    <perfect-scrollbar style="height: 266px;">
                        <div style="padding: 5px 5px 5px 5px;">
                            <ul>
                                <li class="dashboardNotification" *ngFor="let col of notificationList.data" style="border-bottom: 1px solid #e9e9e9; padding: 9px 5px 5px 5px;cursor: pointer;">
                                    <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-left:0px !important;">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <span style="margin-left: -6px;line-height: 48px; font-size: 24px;background-color: rgb(71, 90, 130);color: white; width: 45px; height: 45px; display: inline-block; font-weight: 400; text-align: center; border-radius: 100%;">
													<i *ngIf="col.module == 'RECON'" class="fa fa fa-random sideIcon" aria-hidden="true" style="margin-top: 11px !important;"></i>
													<i *ngIf="col.module == 'ACCOUNTING'" class="fa fa-sitemap sideIcon" aria-hidden="true" style="margin-top: 11px !important;"></i>
													<i *ngIf="col.module == 'JOURNALS'" class="fa fa-book sideIcon" aria-hidden="true" style="margin-top: 11px !important;"></i>
												</span>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <span style="font-size: 13px; display: block; margin: 1px 0; -o-text-overflow: ellipsis; text-overflow: ellipsis; overflow: hidden; color: #67757c; white-space: normal;">
													{{col.message}}
												</span>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <span class="badge" style="padding: 5px 4px 1px 3px;width: 110px;background: #56bc56;" *ngIf="col.module == 'RECON'">{{col.module}}</span>
                                            <span class="badge" style="padding: 5px 4px 1px 3px;width: 110px;background: #32c2c2;" *ngIf="col.module == 'ACCOUNTING'">{{col.module}}</span>
                                            <span class="badge" style="padding: 5px 4px 1px 3px;width: 110px;background: #fc9d3f;" *ngIf="col.module == 'JOURNALS'">{{col.module}}</span>
                                            <span style="font-size: 12px;display: block;margin: 1px 0;-o-text-overflow: ellipsis;text-overflow: ellipsis;overflow: hidden;color: #67757c;white-space: nowrap;">
													{{col.time}}
												</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </perfect-scrollbar>
                </md-card-content>
            </md-card>
        </div>
        <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-top: 8px;">
            <md-card style="height: 368px;">
                <md-card-header style="padding: 7px 5px 7px 5px;">
                    <md-card-title style="margin-bottom: 0px !important;color: #0173cb;display:flex;">
                        <div>CC Recon Process</div>
                        <div style="right: 0;position: absolute;">
                            <button md-icon-button class="pull-right  md-36" mdTooltip="Change View" (click)="changeReportView();">
										<md-icon>grid_on</md-icon>
									</button>
                        </div>
                    </md-card-title>
                </md-card-header>
                <md-card-content>
                    <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 5px 7px 5px 7px;margin-left: 0px;" [@flyInOut] *ngIf="tableView1">
                        <div class="table-responsive tableView">
                            <table class="table table-bordered">
                                <thead class="tableheader text-nowrap">
                                    <tr>
                                        <th>Day</th>
                                        <th>Extraction</th>
                                        <th>Transformation</th>
                                        <th>Reconciliation</th>
                                        <th>Accounting</th>
                                        <th>Journals</th>
                                        <th>Total Process</th>
                                    </tr>
                                </thead>
                                <tbody class="viewTab text-nowrap">
                                    <tr *ngFor="let col of ccReconProcess;let i = index;" id="hideIconTable" [ngClass]="{'active': col.columnEdit && !isCreateNew}">
                                        <td>
                                            <div>{{col.Date}}</div>
                                        </td>
                                        <td style="text-align: right;">
                                            <div class="circle" *ngIf="col.Extraction < 26" style="background: rgba(255, 0, 0, 0.55)"></div>
                                            <div class="circle" *ngIf="col.Extraction > 25 && col.Extraction<51" style="background: rgba(255, 165, 0, 0.75)"></div>
                                            <div class="circle" *ngIf="col.Extraction > 50 && col.Extraction < 76" style="background: rgb(109, 109, 249)"></div>
                                            <div class="circle" *ngIf="col.Extraction > 76" style="background: rgba(0, 128, 0, 0.58)"></div>
                                            <div class="circleDiv"> {{col.Extraction}}%</div>
                                        </td>
                                        <td style="text-align: right;">
                                            <div class="circle" *ngIf="col.Extraction < 26" style="background: rgba(255, 0, 0, 0.55)"></div>
                                            <div class="circle" *ngIf="col.Extraction > 25 && col.Extraction<51" style="background: rgba(255, 165, 0, 0.75)"></div>
                                            <div class="circle" *ngIf="col.Extraction > 50 && col.Extraction < 76" style="background: rgb(109, 109, 249)"></div>
                                            <div class="circle" *ngIf="col.Extraction > 76" style="background: rgba(0, 128, 0, 0.58)"></div>
                                            <div class="circleDiv">{{col.Transformation}}%</div>
                                        </td>
                                        <td style="text-align: right;">
                                            <div class="circle" *ngIf="col.Reconciliation < 26" style="background: rgba(255, 0, 0, 0.55)"></div>
                                            <div class="circle" *ngIf="col.Reconciliation > 25 && col.Reconciliation<51" style="background: rgba(255, 165, 0, 0.75)"></div>
                                            <div class="circle" *ngIf="col.Reconciliation > 50 && col.Reconciliation < 76" style="background: rgb(109, 109, 249)"></div>
                                            <div class="circle" *ngIf="col.Reconciliation > 76" style="background: rgba(0, 128, 0, 0.58)"></div>
                                            <div class="circleDiv">{{col.Reconciliation}}%</div>
                                        </td>
                                        <td style="text-align: right;">
                                            <div class="circle" *ngIf="col.Accounting < 26" style="background: rgba(255, 0, 0, 0.55)"></div>
                                            <div class="circle" *ngIf="col.Accounting > 25 && col.Accounting<51" style="background: rgba(255, 165, 0, 0.75)"></div>
                                            <div class="circle" *ngIf="col.Accounting > 50 && col.Accounting < 76" style="background: rgb(109, 109, 249)"></div>
                                            <div class="circle" *ngIf="col.Accounting > 76" style="background: rgba(0, 128, 0, 0.58)"></div>
                                            <div class="circleDiv">{{col.Accounting}}%</div>
                                        </td>
                                        <td style="text-align: right;">
                                            <div class="circle" *ngIf="col.Journals < 26" style="background: rgba(255, 0, 0, 0.55)"></div>
                                            <div class="circle" *ngIf="col.Journals > 25 && col.Journals<51" style="background: rgba(255, 165, 0, 0.75)"></div>
                                            <div class="circle" *ngIf="col.Journals > 50 && col.Journals < 76" style="background: rgb(109, 109, 249)"></div>
                                            <div class="circle" *ngIf="col.Journals > 76" style="background: rgba(0, 128, 0, 0.58)"></div>
                                            <div class="circleDiv">{{col.Journals}}%</div>
                                        </td>
                                        <td style="text-align: right;">
                                            <div class="circle" *ngIf="col.Total < 26" style="background: rgba(255, 0, 0, 0.55)"></div>
                                            <div class="circle" *ngIf="col.Total > 25 && col.Total<51" style="background: rgba(255, 165, 0, 0.75)"></div>
                                            <div class="circle" *ngIf="col.Total > 50 && col.Total < 76" style="background: rgb(109, 109, 249)"></div>
                                            <div class="circle" *ngIf="col.Total > 76" style="background: rgba(0, 128, 0, 0.58)"></div>
                                            <div class="circleDiv">{{col.Total}}%</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div [@flyInOut] *ngIf="!tableView1">
                        <md-tab-group (focusChange)="loadContent($event)" [selectedIndex]="selectedTab">
                            <md-tab *ngFor="let data of ccReconProcess ">
                                <ng-template md-tab-label>
                                    {{ data.Date}} ({{data.Total}}%)
                                </ng-template>
                            </md-tab>
                        </md-tab-group>
                        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 5px 0px 5px 0px;margin-left: 0px;">
                            <div class=" col-lg-4 col-md-4 extranctionCol text-center">
                                <circle-progress [percent]="extractionValue" [radius]="50" [space]="-6" [outerStrokeWidth]="6" [innerStrokeWidth]="6" [outerStrokeColor]="'#ffa1b5'"
                                    [innerStrokeColor]="'rgba(255, 161, 181, 0.64)'" [animation]="true" [animationDuration]="300"
                                    [showSubtitle]="true" [subtitle]="'Extraction'" [titleFontSize]="20" [unitsFontSize]="15"
                                    [subtitleFontSize]="12"></circle-progress>
                                <!-- <md-progress-spinner class="example-margin" style="margin-left: 43px;" [color]="extractionColor" [mode]="mode" [value]="extractionValue"
										 [strokeWidth]=3>
										</md-progress-spinner>
										<div style="text-align: center;">Extraction - {{extractionValue}}%</div> -->
                            </div>
                            <div class=" col-lg-4 col-md-4 transformationCol text-center">
                                <circle-progress [percent]="transformationValue" [radius]="50" [space]="-6" [outerStrokeWidth]="6" [innerStrokeWidth]="6"
                                    [outerStrokeColor]="'#86c7f3'" [innerStrokeColor]="'rgba(134, 199, 243, 0.53)'" [animation]="true"
                                    [animationDuration]="300" [showSubtitle]="true" [subtitle]="'Transformation'" [titleFontSize]="20"
                                    [unitsFontSize]="15" [subtitleFontSize]="12"></circle-progress>
                                <!-- <md-progress-spinner class="example-margin" [color]="transformationColor" [mode]="mode" [value]="transformationValue" [strokeWidth]=3>
										</md-progress-spinner>
										<div>Transformation - {{transformationValue}}%</div> -->
                            </div>
                            <div class=" col-lg-4 col-md-4 reconCol text-center">
                                <circle-progress [percent]="reconciliationValue" [radius]="50" [space]="-6" [outerStrokeWidth]="6" [innerStrokeWidth]="6"
                                    [outerStrokeColor]="'rgba(92, 184, 92, 0.85)'" [innerStrokeColor]="'rgba(92, 184, 92, 0.34)'"
                                    [animation]="true" [animationDuration]="300" [showSubtitle]="true" [subtitle]="'Reconciliation'"
                                    [titleFontSize]="20" [unitsFontSize]="15" [subtitleFontSize]="12"></circle-progress>
                                <!-- <md-progress-spinner class="example-margin" [color]="reconColor" [mode]="mode" [value]="reconciliationValue" [strokeWidth]=3>
										</md-progress-spinner>
										<div>Reconciliation - {{reconciliationValue}}%</div> -->
                            </div>
                            <div class=" col-lg-2 col-md-2">
                            </div>
                            <div class=" col-lg-4 col-md-4 accountingCol text-center">
                                <circle-progress [percent]="accountingValue" [radius]="50" [space]="-6" [outerStrokeWidth]="6" [innerStrokeWidth]="6" [outerStrokeColor]="'#93d9d9'"
                                    [innerStrokeColor]="'rgba(147, 217, 217, 0.54)'" [animation]="true" [animationDuration]="300"
                                    [showSubtitle]="true" [subtitle]="'Accounting'" [titleFontSize]="20" [unitsFontSize]="15"
                                    [subtitleFontSize]="12"></circle-progress>
                                <!-- <md-progress-spinner class="example-margin" [color]="accountingColor" [mode]="mode" [value]="accountingValue" [strokeWidth]=3>
										</md-progress-spinner>
										<div>Accounting - {{accountingValue}}%</div> -->
                            </div>
                            <div class=" col-lg-4 col-md-4 journalCol text-center">
                                <circle-progress [percent]="journalsValue" [radius]="50" [space]="-6" [outerStrokeWidth]="6" [innerStrokeWidth]="6" [outerStrokeColor]="'#ff9f40'"
                                    [innerStrokeColor]="'rgba(255, 159, 64, 0.47)'" [animation]="true" [animationDuration]="300"
                                    [showSubtitle]="true" [subtitle]="'Journals'" [titleFontSize]="20" [unitsFontSize]="15" [subtitleFontSize]="12"></circle-progress>
                                <!-- <md-progress-spinner class="example-margin" [color]="journalsColor" [mode]="mode" [value]="journalsValue" [strokeWidth]=3>
										</md-progress-spinner>
										<div>Journals - {{journalsValue}}%</div> -->
                            </div>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>