body {
    height: 100%;
    margin: 0 auto;
    font-family: 'Rajdhani', sans-serif;
}

.dirtl{
    direction: rtl;
}

.allcontent{
    position: relative;
    left: -54px;
}

.books .myBtn{
    border-radius: 0;
    background: rgba(0, 214, 70, 1);
    color: #2D2D2D;
    width: 100%;
}

.reconciliation img, .accounting img, .reporting img{
    width: 83%;
    height: 60%;
    top: 30%;
    left: 9%;
    right: 0;
    position: relative;
}

.books .myBtn:hover{
    background: rgba(0, 214, 70, 1);
    color: #2D2D2D;
}

.form-control{
    border-radius: 0;
}

.bg-trans{
    background: rgba(47, 59, 76, 0.8);
    height: 100%;
}

.pad5{
    padding: 50px;
}

.pt2 {
    position: relative;
    top: 200px;
}

.lightWhite {
    background: #bec7d5;
}

.darkGray {
    background: #2c3345;
    color: white;
}

.getStartF1 {
    margin-top: 90px;
}

.getStartF2 {
    margin-top: 40px;
    margin-bottom: 100px;
}

video {
    width: 100%;
    height: auto;
}

.video {
    padding: 0px 100px 100px;
}

.reconIcon {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    box-shadow: -3px 0px 0px 0px;
    width: 41px;
    top: 4px;
    height: 41px;
    color: #00D646;
}

.reconIcon h3 {
    position: absolute;
    top: -12px;
    font-family: 'Archivo Black', sans-serif;
}

.reconIcon a {
    color: #00D646;
    text-decoration: none;
}

.reconIcon2 {
    height: 100px;
    width: 100px;
    position: relative;
    border-radius: 50%;
    top: 4px;
    background-color: #00D646;
    margin-left: 410px;
}

.reconIconHidden {
    height: 98px;
    width: 98px;
    position: absolute;
    right: -1px;
    bottom: 0;
    border-radius: 50%;
    top: 1px;
    background-color: #2c3345;
}

.reconIcon2 h1 {
    position: relative;
    top: 30px;
    font-family: 'Archivo Black', sans-serif;
    color: #00D646;
}

.navbar {
    background: rgb(44, 51, 69);
    border-bottom: none;
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: #939DAB;
    font-size: 20px;
    font-weight: bold;
}

.navbar-default .navbar-nav>.active>a {
    color: #00D646;
}

.navbar-default .navbar-nav>.active>a:focus {
    background: none;
    color: #00D646;
}

.navbar .nav>li>a:focus {
    color: #A4B0C0;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a:hover {
    color: #A4B0C0;
    cursor: pointer;
    background: none;
}

.navbar-default .navbar-nav>.active>a {
    background: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: initial;
}

.mainFirst {
    color: white;
    line-height: 10px;
    padding: 50px;
    background-color: rgba(47, 59, 76, 0.9);
    position: relative;
    height: 913px;
}

.mainFirst .content {
    margin-top: 130px;
}

.myGreen {
    color: #00D646;
}

.mainSecond {
    background-color: rgba(47, 59, 76, 0.8);
}

.mainSecond p {
    margin: 50px;
    line-height: 2.5em;
}

.mainSecond .container {
    background: #2c3345;
    color: #FFFFFF;
    position: relative;
    top: -170px;
    width: 70%;
}

.recProcCenter h2 {
    margin-top: 10px;
}

.recProcCenter h3 {
    color: #00D646;
}

.brand {
    font-size: 70px;
    font-family: 'Archivo Black', sans-serif;
    letter-spacing: 5px;
    color: white;
}

.line {
    content: '';
    background-color: #00D646;
    height: 1560px;
    width: 2px;
    position: absolute;
    top: 26px;
    left: -56px;
}

.ball-right::before {
    content: '';
    background-color: #00D646;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left: -63px;
}

.ball-right::after {
    content: '';
    background-color: #00D646;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    margin-top: 25px;
    left: -63px;
}

.myProducts p,
.myProducts h2 {
    text-align: center;
    padding-bottom: 20px;
}

.myProducts img {
    padding: 40px 0;
}

.knowMore {
    position: relative;
    text-decoration: underline;
    cursor: pointer;
    font-size: 15px;
}

img {
    width: 100%;
}

.contact {
    background: #2c3345;
    margin: 200px 200px;
    padding: 100px;
    color: #FFFFFF;
    box-shadow: 1px 0px 30px 3px black;
}

.contact p {
    letter-spacing: 0.05em;
    font-size: 20px;
}

.socialIcon {
    font-size: 20px;
    text-align: center;
    position: relative;
    bottom: -55px;
}

.socialIcon li {
    padding: 10px;
}

.parallax {
    height: 100%;
    background: no-repeat fixed center;
    background-size: cover;
}


/* .parallax-size {
    height: 115%;
} */

.conselhofiscal {
    background-image: url('media/conselhofiscal.jpg');
    height: 150%;
}

.table {
    background-image: url('media/table.jpg');
}

.emailbox {
    cursor: pointer;
    border: 1px solid #00D646;
    font-weight: bold;
    color: white;
    background: transparent;
    border-radius: 0;
    text-align: center;
}

.emailbox:hover {
    border: 1px solid #2c3345;
    box-shadow: none;
}

.emailbox:focus {
    border: 1px solid #00D646;
    box-shadow: none;
}

.myBtn {
    background-color: rgba(44, 51, 69, 1);
    cursor: pointer !important;
    color: white;
    border-radius: 0;
    size: 10px;
    padding: 6px 50px;
    border: none;
}

.myBtn:hover {
    background-color: white;
    color: #00D646;
}

.mountain {
    background-image: url('media/mountain.jpg');
}

.mountain .container-fluid {
    background: rgba(57, 65, 87, 0.9);
    padding-bottom: 400px;
}

.mountain .container-fluid p{
    line-height: 1.9em;
}

.mountain .container-fluid p,
.mountain .container-fluid h2 {
    color: white;
}

.mountain .container-fluid h3 {
    color: #00D646;
}

.specH {
    height: 540px;
    margin: 100px 0px;
}

.specTitle {
    position: relative;
    font-size: 35px;
    margin: -20px;
    top: 200px;
    z-index: 1;
    left: 13px;
}

.books {
    background-image: url('media/books.jpg');
}

.books .container{
    background: #2c3345;
    margin-bottom: 200px;
    color: white;
    width: 70%;
}

footer {
    background-color: #2c3345;
    height: 100px;
}

footer p {
    position: relative;
    top: 40px;
    color: white;
}

.keyboard {
    background-image: url('media/keyboard.jpg');
}

.cup {
    background-image: url('media/cup.jpg');
}

.apple {
    background-image: url('media/apple.jpg');
}

.apple .myBtn {
    background: white;
    color: #2c3345;
}

.apple .myBtn:hover {
    color: #00D646;
}

.apple .container {
    background: #2c3345;
    color: #FFFFFF;
    position: relative;
    top: -170px;
    width: 70%;
}

.mainFirst h2:nth-last-child(2) {
    margin-left: 367px;
}

@media screen and (max-width: 490px) {
    .f4px {
        font-size: 40px !important;
    }
    .mainFirst h2:nth-last-child(2){
        margin-left: 0 !important;
    }
}

@media screen and (max-width: 520px) {
    .mainSecond p {
        margin: 50px 0;
    }
}

@media screen and (max-width: 532px) {
    .mainFirst h2:nth-last-child(2) {
        margin-left: 0;
    }
}

@media screen and (max-width: 766px) {
    .mainFirst h1:first-child {
        font-size: 70px;
    }
    .video {
        padding: 0;
        padding-bottom: 50px;
    }
    .mainFirst h2,
    .mainFirst h1 {
        font-size: 20px;
    }
    .mainFirst h2:nth-last-child(2) {
        margin-left: 245px;
    }
    .mainSecond .container {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .apple .container,
    .mainSecond .container {
        width: 100%;
    }
}

@media screen and (max-width: 991px) {
    .dirtl{
        direction: ltr;
    }

    .allcontent{
        left: 0;
    }

    .full-text-center{
        text-align: center;
    }

    .div-1::after,
    .div-1::before,
    .div-2::before,
    .div-2::after,
    .div-3::after {
        display: none;
    }
    .m2b {
        margin-bottom: 200px;
    }
    .m0b {
        margin-bottom: 0;
    }
    .m-1b {
        margin-bottom: -100px;
    }
}

@media screen and (max-width: 1024px) {
    .books .container{
        width: 100%;
    }

    .pad5{
        padding: 0;
    }

    .apple .container,
    .mainSecond .container {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .reconIcon2 {
        display: none;
    }
}