	<div>
	<md-card-title>
		<h5>Drop files</h5> 
		</md-card-title>
				<div ng2FileDrop
	                 [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
					(fileOver)="fileOverBase($event)" (onFileDrop)="onFileDrop($event)" (click)="singleFile.click()"
					[uploader]="uploader" class="well my-drop-zone hand" mdTooltip="Click or Drop Files Here" mdTooltipPosition="above" style="width: 300px !important;">
						<i class="fa fa-plus fa-2x color-dark-blue" ></i>
				</div>
					<input
					type="file" ng2FileSelect [uploader]="uploader" #singleFile
					style="display: none;" />
		<!-- <div class="col-md-9" style="margin-bottom: 40px"> -->
			<table class="table">
				<thead>
				</thead>
				<tbody>
					<tr *ngFor="let item of uploader.queue">
						<td class="text-center"><span *ngIf="item.isSuccess"><i
								class="glyphicon glyphicon-ok"></i></span> <span *ngIf="item.isCancel"><i
								class="glyphicon glyphicon-ban-circle"></i></span> <span
							*ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
						</td>
						<td nowrap><strong>{{ item?.file?.name }}</strong></td>
						<td><i *ngIf="!uploadedIcon" class="fa fa-spinner fa-spin"
							style="font-size: 24px"></i></td>
						<td><i *ngIf="uploadedIcon" class="fa fa-check"
							style="font-size: 24px"></i></td>
						<td class="text-center"></td>
						<td class="text-center"><span *ngIf="item.isSuccess"><i
								class="glyphicon glyphicon-ok"></i></span> <span *ngIf="item.isCancel">
								<!-- 	<i class="glyphicon glyphicon-ban-circle" ></i> -->
						</span> <span *ngIf="item.isError"><i
								class="glyphicon glyphicon-remove"></i></span></td>
	
						<td nowrap><!-- <md-spinner *ngIf="uploadvar"></md-spinner> --> <!-- <ng2-slim-loading-bar></ng2-slim-loading-bar>  -->
							<!-- <i class="fa fa-upload" aria-hidden="true"
							(click)="uploadFile($event)" ngbtooltip="upload"></i>  -->
							<!-- <i
							class="fa fa-times" (click)="item.remove();close()"
							aria-hidden="true" ngbtooltip="cancel"></i>  -->
							<span
							*ngIf="item.isSuccess">success</span></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<div></div>
		<!-- </div> -->
	</div>
	
