<div style="height: 100%; width: 100%">
	<vertical-split-pane primary-component-minsize="50" primary-component-initialratio="0.2" [primary-component-toggled-off]="isVisibleA">
		<div id="sticky" class="leftpane split-pane-content-primary" *ngIf="!isCreateNew && !hideLocalOptions">
			<side-bar></side-bar>
		</div>
		<div class="split-pane-content-secondary rightpane">
			<span class="fa fa-bars hand ripple sbclose" mdTooltip="Toggle Sidebar" (click)="toggleSB()" *ngIf="!isCreateNew && !hideLocalOptions"></span>


			<div class="component-body">

				<div class="botom-dotted-blue-border component-title">
					<div *ngIf="isCreateNew" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pageTitle pageListTitle">
						<h4 class="pageListTitle">Create New Template</h4>
					</div>
					<div *ngIf="!isCreateNew && !hideLocalOptions" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pageTitle">
						<h4 *ngIf="!isCreateNew ">{{fileTemplate.templateName}}</h4>
					</div>

					<!-- <div class="col-md-6 col-sm-6 col-xs-6 pageTitle">
					<h3 *ngIf="isCreateNew">Create New Template</h3>
					<h3 *ngIf="!isCreateNew">{{fileTemplate.templateName}}</h3>
				</div> -->
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="row float-right">
							<div style="padding-top: 11px;" *ngIf="isEdit">
								<span *ngIf="fileTemplate.enabledFlag">Active</span>
								<span *ngIf="!fileTemplate.enabledFlag">Inactive</span>
								<md-slide-toggle class="pull right example-margin" color="primary" [disabled]="!isEdit" mdTooltip="set status" placeholder="status"
								 [(ngModel)]="fileTemplate.enabledFlag" name="status">
								</md-slide-toggle>

							</div>
							<div *ngIf="isViewOnly" >
								<button md-icon-button class="md-36" mdTooltip="Active" *ngIf="fileTemplate.enabledFlag || fileTemplate.status == 'Active'">
									<md-icon>check_circle</md-icon>
								</button>
								<button md-icon-button class=" md-36" mdTooltip="Inactive" *ngIf="!fileTemplate.enabledFlag || fileTemplate.status == 'Inactive'">
									<md-icon>error</md-icon>
								</button>
							</div>
							<button md-icon-button class="pull-right " *ngIf="!isViewOnly && f.valid && !duplicateFileTempName" aria-hidden="true" mdTooltip="Save Template"
							 (click)="saveTemplate()">
								<md-icon>save</md-icon>
							</button>
							<button *ngIf="!isViewOnly && (!f.valid || duplicateFileTempName)" md-icon-button class="pull-right color-gray" aria-hidden="true"
							 mdTooltip="Fill mandatory fields" (click)="validationMsg()">
								<md-icon>save</md-icon>
							</button>

							<button md-icon-button [routerLink]="['/file-templates', {outlets: {'content': [fileTemplate.id]+'/edit'}}]" *ngIf="isViewOnly && !hideLocalOptions"
							 mdTooltip="Edit">
								<md-icon>mode_edit</md-icon>
							</button>
							<button md-icon-button class="pull-right color-gray" [routerLink]="['/file-templates', {outlets: {'content': [fileTemplate.id]+'/details'}}]"
							 *ngIf="isEdit" mdTooltip="Close">
								<md-icon>clear</md-icon>
							</button>
							<button md-icon-button class="pull-right color-gray" [routerLink]="['/file-templates', {outlets: {'content': ['file-templates-home']}}]"
							 *ngIf="isCreateNew && !createFromRemoteArea" mdTooltip="Close">
								<md-icon>clear</md-icon>
							</button>
							<button md-icon-button [routerLink]="['/file-templates', {outlets: {'content': ['file-templates-home']}}]" *ngIf="isViewOnly && !hideLocalOptions"
							 mdTooltip="Template List">
								<md-icon>view_list</md-icon>
							</button>
						</div>
					</div>
				</div>

				<form novalidate #f="ngForm">
					<br>
					<div class="row leftmargin-20 " style="top: 10px;">
						<div [class]="startEndDateClass()" style="display: inline-block;">
							<md-input-container class="example-full-width " md-is-error="ngForm.name.$invalid && ngForm.name.$submitted">
								<input mdInput [(ngModel)]="fileTemplate.templateName" [ngClass]="{'color-black' : isViewOnly}" [disabled]="isViewOnly" placeholder="Template Name"
								 (ngModelChange)="checkFileTemplateName($event)" name="templateName" required #templateName="ngModel"> </md-input-container>
							<span class="help-block errorFont" *ngIf="duplicateFileTempName">{{templateErroMsg}}</span>
						</div>
						<div [class]="startEndDateClass()">
							<md-input-container class="example-full-width">
								<input mdInput [(ngModel)]="fileTemplate.description" [ngClass]="{'color-black' : isViewOnly}" [disabled]="isViewOnly" placeholder="Description"
								 name="description" #description="ngModel"> </md-input-container>
						</div>
						<div class="col-md-2">
							<md-input-container class="example-full-width ">
								<input mdInput placeholder="Source" [(ngModel)]="fileTemplate.source" [ngClass]="{'color-black' : isViewOnly}" [disabled]="isViewOnly"
								 name="source" required #source="ngModel"> </md-input-container>
						</div>
						<div [ngClass]="isCreateNew ? 'col-md-2 col-sm-4':'col-md-2 col-sm-4'">

							<md-form-field>
								<input mdInput [mdDatepicker]="stpicker" placeholder="From" [ngClass]="{'color-black' : isViewOnly}" [disabled]="isViewOnly"
								 [(ngModel)]="fileTemplate.startDate" name="startDate" [min]="today" required (dateChange)="startDateChange=true;startDateChanged(fileTemplate.startDate);">
								<md-datepicker-toggle mdSuffix [for]="stpicker" *ngIf="!isViewOnly"></md-datepicker-toggle>
								<md-datepicker #stpicker></md-datepicker>
							</md-form-field>
						</div>

						<div class="col-md-2 col-sm-4 " *ngIf="!isViewOnly || (isViewOnly && fileTemplate.endDate)">
							<md-form-field>
								<input mdInput [mdDatepicker]="edpicker" placeholder="To" [min]="fileTemplate.startDate" (dateChange)="endDateChange=true;"
								 [ngClass]="{'color-black' : isViewOnly}" [disabled]="isViewOnly" [(ngModel)]="fileTemplate.endDate" name="endDate">
								<md-datepicker-toggle mdSuffix [for]="edpicker" *ngIf="!isViewOnly"></md-datepicker-toggle>
								<md-datepicker #edpicker></md-datepicker>
							</md-form-field>
						</div>

					</div>
					<div class="row" style="margin: 0px 2px;">
						<div class=" col-md-9 ">
							<div class="row " style="padding-bottom: 8px;">
								<div class="col-md-3 col-sm-6" style="top: 22px;" *ngIf="fileTemplate.fileType != 'BAI2' && fileTemplate.fileType != 'Position' && ((!isCreateNew && fileTemplate.multipleRowIdentifiers) || (isCreateNew ))">
									<span *ngIf="(!isCreateNew && fileTemplate.multipleRowIdentifiers) || (isCreateNew )">Multiple Dataset</span>
									<md-checkbox style="padding-left: 11px;" [(ngModel)]="fileTemplate.multipleRowIdentifiers" name="multipleIdentifier" #multipleIdentifier="ngModel"
									 [disabled]="!isCreateNew" (click)="checkIdentifier()" *ngIf="(isCreateNew )">
									</md-checkbox>
									<md-checkbox style="padding-left: 11px;" [(ngModel)]="fileTemplate.multipleRowIdentifiers" name="multipleIdentifier" #multipleIdentifier="ngModel"
									 [disabled]="!isCreateNew" *ngIf="!isCreateNew && fileTemplate.multipleRowIdentifiers">
									</md-checkbox>
								</div>
								<div class="col-md-2 col-sm-4">
									<md-select placeholder="File Type" class="example-full-width" #fileType [(ngModel)]="fileTemplate.fileType" (change)="selectedFileType()"
									 [ngClass]="{'color-black' : isViewOnly}" [disabled]="isViewOnly" name="fileType" #fileType="ngModel" required>
										<md-option *ngFor="let type of fileTypes" [value]="type">
											{{ type }} </md-option>
									</md-select>
								</div>
								<div class="col-md-2 col-sm-4" *ngIf="fileTemplate.fileType == 'Delimiter' || fileTemplate.fileType == 'BAI2'">
									<md-select placeholder="Delimiter" class="example-full-width" #delimiter [(ngModel)]="fileTemplate.delimiter" (change)="selectedDelimiter()"
									 [ngClass]="{'color-black' : isViewOnly}" [disabled]="isViewOnly || fileTemplate.fileType == 'BAI2'" name="delimiter"
									 #delimiter="ngModel" required *ngIf="fileTemplate.fileType">
										<md-option *ngFor="let delimiter of delimiterList" [value]="delimiter.lookUpCode"> {{ delimiter.description}} </md-option>
									</md-select>
								</div>
								<div class="col-md-1 col-sm-2 col-xs-3 " *ngIf="!fileTemplate.multipleRowIdentifiers && fileTemplate.fileType != 'BAI2'">
									<md-input-container class="example-full-width">
										<input type="number" mdInput placeholder="Skip start" [(ngModel)]="fileTemplate.skipRowsStart" [ngClass]="{'color-black' : isViewOnly}"
										 [disabled]="isViewOnly" name="skipRowsStart" #skipRowsStart="ngModel"> </md-input-container>
								</div>

								<div class="nonsdview col-md-1 col-sm-2 col-xs-3  " *ngIf="!fileTemplate.multipleRowIdentifiers && fileTemplate.fileType != 'BAI2'">
									<md-input-container class="example-full-width">
										<input type="number" mdInput placeholder="Skip end" [(ngModel)]="fileTemplate.skipRowsEnd" [ngClass]="{'color-black' : isViewOnly}"
										 [disabled]="isViewOnly" name="skipRownEnd" #skipRownEnd="ngModel"> </md-input-container>
								</div>
								<div class="nonsdview col-md-2 " *ngIf="fileTemplate.fileType != 'Position' && !fileTemplate.multipleRowIdentifiers && fileTemplate.fileType != 'BAI2'">
									<md-input-container class="example-full-width" *ngIf="!isViewOnly || (isViewOnly && fileTemplate.rowIdentifier)">
										<input mdInput placeholder="Row Identifier" [(ngModel)]="fileTemplate.rowIdentifier" [ngClass]="{'color-black' : isViewOnly}"
										 [disabled]="isViewOnly" name="rowIdentifier"> </md-input-container>
								</div>

								<div class="col-md-3 sdtitle" *ngIf="!isCreateNew && fileTemplate.multipleRowIdentifiers">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="font-size: 12px;color: rgba(0,0,0,.54)">
										File Name</div>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 3px;">
										<span *ngIf="fileTemplate.multipleRowIdentifiers"> {{fileTemplate.sdFilename}}</span>
									</div>

								</div>
							</div>
							<!-- <div class="row">
								<div  style="top: 22px;" *ngIf="isCreateNew || fileTemplate.multipleRowIdentifiers==true">
									<span>Multiple Dataset</span>
									<md-checkbox [(ngModel)]="fileTemplate.multipleRowIdentifiers" name="multipleIdentifier" #multipleIdentifier="ngModel" [disabled]="isViewOnly"
									 (click)="checkIdentifier()">
									</md-checkbox>
									
								</div>
							</div> -->

							<div class="row">
								<div [class]="rowIdentifiersClass()" *ngIf="fileTemplate.multipleRowIdentifiers" style="border-style: ridge;border-width: 1px;">

									<div class="flex-container">
										<div style="margin-top: 10px;font-weight: bold;padding-bottom: 6px;">Row Identifiers</div>
										<div>
											<button md-icon-button class="color-yellow-green pull-right" mdTooltip="Add Identifier" [disabled]="fileTemplate.multipleRowIdentifiers.length>0 && fileTemplate.multipleRowIdentifiers[fileTemplate.multipleRowIdentifiers.length-1] && (!fileTemplate.multipleRowIdentifiers[fileTemplate.multipleRowIdentifiers.length-1].rowIdentifier  || fileTemplate.multipleRowIdentifiers[fileTemplate.multipleRowIdentifiers.length-1].rowIdentifier == '' || fileTemplate.multipleRowIdentifiers[fileTemplate.multipleRowIdentifiers.length-1].rowIdentifier == undefined )"
											 (click)="addRowIdentifier()" *ngIf="isCreateNew">
												<md-icon>exposure_plus_1</md-icon>
											</button>
											<button md-icon-button class="color-yellow-green pull-right" mdTooltip="Extract Data" [disabled]="fileTemplate.multipleRowIdentifiers.length>0 && fileTemplate.multipleRowIdentifiers[fileTemplate.multipleRowIdentifiers.length-1] &&  (!fileTemplate.multipleRowIdentifiers[fileTemplate.multipleRowIdentifiers.length-1].rowIdentifier  ||  fileTemplate.multipleRowIdentifiers[fileTemplate.multipleRowIdentifiers.length-1].rowIdentifier == '' || fileTemplate.multipleRowIdentifiers[fileTemplate.multipleRowIdentifiers.length-1].rowIdentifier == undefined )"
											 (click)="extractDataForRI()" *ngIf="isCreateNew && rowIdentifiersList.length>0">
												<md-icon>replay</md-icon>
											</button>
										</div>
									</div>
									<ng-template ngFor let-rowIdentifierRow [ngForOf]="rowIdentifiersList" let-ri="index">

										<div class="row" *ngIf="ri==0" style="margin-left: -4px !important;font-weight: bold;border-bottom: 1px solid #e6e6e6;">
											<ng-template ngFor let-rowIdentifierHeader [ngForOf]="rowIdentifierHeaders" let-riH="index">
												<div class="col-md-4" *ngIf="rowIdentifierHeader == 'Criteria'">
													<span>{{rowIdentifierHeader}}</span>
												</div>
												<div class="col-md-2" *ngIf="(rowIdentifierHeader == 'Position Start' || rowIdentifierHeader== 'Position End') && showPositionCols == true">
													<span>{{rowIdentifierHeader}}</span>
												</div>
												<div class="col-md-2" *ngIf="rowIdentifierHeader =='Identifier'">
													<span>{{rowIdentifierHeader}}</span>
												</div>
											</ng-template>
										</div>

										<div class="row" style="font-size: 13px;padding-bottom: 8px;margin-left: -4px !important;">
											<div class="col-md-4">

												<span *ngIf="!isCreateNew">
													{{rowIdentifierRow.rowIdentifierCriteria}}
												</span>
												<md-select class="example-full-width" [(ngModel)]="rowIdentifierRow.criteria" [ngClass]="{'color-black' : isViewOnly}" [disabled]="isViewOnly"
												 (change)="checkIfRowIdentifierExists(ri)" name="criteria{{ri}}" #criteria{{ri}}="ngModel" required *ngIf="isCreateNew">
													<md-option *ngFor="let criteria of criteriaList" [value]="criteria.lookUpCode"> {{criteria.meaning}} </md-option>
												</md-select>
											</div>
											<div class="col-md-2">
												<span *ngIf="!isCreateNew">{{rowIdentifierRow.rowIdentifier}}</span>
												<md-input-container class="example-full-width" *ngIf="rowIdentifierRow.criteria && isCreateNew">
													<input mdInput [(ngModel)]="rowIdentifierRow.rowIdentifier" [ngClass]="{'color-black' : isViewOnly}" [disabled]="isViewOnly"
													 (ngModelChange)="checkIfRowIdentifierExists(ri)" name="rowIdentifierRow{{ri}}" required #rowIdentifierRow{{ri}}="ngModel"> </md-input-container>
											</div>
											<div class="col-md-2">
												<span *ngIf="!isCreateNew && rowIdentifierRow.criteria && rowIdentifierRow.criteria == 'POSITION' && showPositionCols == true">{{rowIdentifierRow.positionStart}}</span>
												<md-input-container class="example-full-width" *ngIf="isCreateNew && rowIdentifierRow.criteria && rowIdentifierRow.criteria == 'POSITION' && showPositionCols == true">
													<input type="number" mdInput [(ngModel)]="rowIdentifierRow.positionStart" [ngClass]="{'color-black' : isViewOnly}" [disabled]="isViewOnly"
													 (ngModelChange)="checkIfRowIdentifierExists(ri)" name="positionStart{{ri}}" required #positionStart{{ri}}="ngModel"> </md-input-container>
											</div>
											<div class="col-md-2">
												<span *ngIf="!isCreateNew && rowIdentifierRow.criteria && rowIdentifierRow.criteria == 'POSITION' &&  showPositionCols == true">{{rowIdentifierRow.positionEnd}}</span>
												<md-input-container class="example-full-width" *ngIf="isCreateNew && rowIdentifierRow.criteria && rowIdentifierRow.criteria == 'POSITION' &&  showPositionCols == true">
													<input mdInput type="number" [(ngModel)]="rowIdentifierRow.positionEnd" [ngClass]="{'color-black' : isViewOnly}" [disabled]="isViewOnly"
													 (ngModelChange)="checkIfRowIdentifierExists(ri)" name="positionEnd{{ri}}" required #positionEnd{{ri}}="ngModel"> </md-input-container>
											</div>
											<div class="col-md-2">
												<button md-icon-button class="pull-right" (click)="deleteRowIdentifier(ri)" *ngIf="rowIdentifierRow.criteria && isCreateNew"
												 mdTooltip="Delete">
													<md-icon>delete</md-icon>
												</button>
												<button style="top: -8px;" md-icon-button class="pull-right" (click)="viewSampleData = true;indexToView =ri;sampleDataIndexToView=ri  "
												 *ngIf=" ((rowIdentifierRow.criteria &&isCreateNew)||(!isCreateNew && rowIdentifierRow.rowIdentifierCriteria))&& sampleDataForMIInVIewMode  && sampleDataForMIInVIewMode[ri] "
												 mdTooltip="Preview">
													<md-icon>visibility</md-icon>
												</button>
											</div>

										</div>

									</ng-template>

									<div class="sampleDataDilog col-md-8" *ngIf="viewSampleData && fileTemplate.multipleRowIdentifiers && sampleDataForMIInVIewMode && sampleDataForMIInVIewMode[sampleDataIndexToView]">
										<div class="ft-sampleData">
											<p-dialog header="Data Preview" [(visible)]="viewSampleData" resizable="true" (onHide)="closeSDView()">
												<div id="sampleSourceData" class="col-md-12">
													<!-- <table class="table sampledata">
															<thead class="tableheader">
																<tr>
																	<th *ngFor="let header of sampleDataAfterDrop[indexToView].headers">{{header}}</th>
																</tr>
															</thead>
														</table> -->

													<!-- eee{{rowIdentifiersList[0].data|json}} -->
													<ng-template ngFor let-RIsampleData [ngForOf]="sampleDataForMIInVIewMode[sampleDataIndexToView]">
														<B>Identifier : {{RIsampleData.rowIdentifier}}</B>
														<br>
														<div class="row  table-responsive">
															<table class="table nowrap-table">
																<thead class="">
																	<tr *ngIf="isCreateNew && RIsampleData && RIsampleData.colHeaderValues">
																		<th *ngFor="let header of RIsampleData.colHeaderValues">{{header}}</th>
																	</tr>
																	<tr *ngIf="!isCreateNew">
																		<th *ngFor="let header of columnHeaders">{{header}}</th>
																	</tr>
																</thead>
																<tbody>
																	<tr *ngFor="let dataObj of RIsampleData.sampleData">
																		<td *ngFor="let colValue of dataObj ;let rowI=index ">
																			{{colValue[1]}}
																			<!-- <span *ngIf="dataObj[sampleDataAfterDropForMI[sampleDataIndexToView].headers[rowI]]">{{dataObj[sampleDataAfterDropForMI[sampleDataIndexToView].headers[rowI]]}}</span> -->
																		</td>
																		<!-- <td>{{dataObj|json}}</td> -->
																		<!-- <td *ngFor="let obj of dataObj ">{{obj|json}}</td> -->
																	</tr>
																</tbody>
															</table>
														</div>
														<br>
													</ng-template>
													<!-- <ng-template ngFor let-RIsampleData [ngForOf]="sampleDataAfterDropForMI" *ngIf="isCreateNew">
															
																<table class="table" *ngIf="RIsampleData.data && RIsampleData.data.length>0">
																	<thead class="">
																		<tr>
																			<th *ngFor="let header of RIsampleData.headers">{{header}}</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr *ngFor="let dataObj of RIsampleData.data">
																			<td *ngFor="let key of dataObj | keys ;let rowI=index ">
																				<span *ngIf="dataObj[RIsampleData.headers[rowI]]">{{dataObj[RIsampleData.headers[rowI]]}}</span>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</ng-template>
															<table class="table sampledata">
																<thead class="tableheader">
																	<tr>
																		<th *ngFor="let header of sampleDataAfterDrop[indexToView].headers">{{header}}</th>
																	</tr>
																</thead>
																<tbody *ngFor="let key of RIsampleData | keys">
																	<tr *ngFor="let val of RIsampleData[key] ">
																		<td>{{val|json}}</td>
																	</tr>
															
																</tbody>
															</table> -->
												</div>
											</p-dialog>
										</div>
									</div>

								</div>
							</div>


						</div>
						<div class="col-md-3 sdtitle" *ngIf="!isCreateNew && !fileTemplate.multipleRowIdentifiers">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="font-size: 12px;color: rgba(0,0,0,.54)">
								File Name</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 3px;">
								<span (click)="viewSDdata()" *ngIf="!fileTemplate.multipleRowIdentifiers">
									<p class="test hand" style="width: 100%;">
										<i class="material-icons hand" style="padding-top: 5px">attach_file</i>
										<span>{{fileTemplate.sdFilename}}</span>
									</p>
								</span>

							</div>

						</div>

						<div class="col-md-3" *ngIf="dropfile && fileTemplate.fileType == 'Delimiter'">
							<div class="mydiv" *ngIf="!isViewOnly" style="padding-right: 10px;">
								<!-- <drop-zone></drop-zone> -->
								<!-- drop zone start -->

								<div>

									<div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" (onFileDrop)="onFileDrop($event)"
									 (click)="singleFile.click()" [uploader]="uploader" class="well my-drop-zone hand" mdTooltip="Click or Drop Files Here"
									 style="width: 75% !important;">
										<i class="material-icons cloudupload" *ngIf=!enableLineInfo>cloud_upload</i>
										<i class="material-icons cloudsuccess" *ngIf=enableLineInfo>cloud_done</i>
									</div>
									<input type="file" ng2FileSelect [uploader]="uploader" #singleFile #file (change)="fileChange(file)" style="display: none;"
									/>
									<table class="table" *ngIf="filesAdded  && filesAdded.length>0">
										<thead>
										</thead>
										<tbody>
											<tr *ngFor="let item of uploader.queue">
												<td class="text-center">
													<span *ngIf="item && item.isSuccess">
														<i class="glyphicon glyphicon-ok"></i>
													</span>
													<span *ngIf="item && item.isCancel">
														<i class="glyphicon glyphicon-ban-circle"></i>
													</span>
													<span *ngIf="item && item.isError">
														<i class="glyphicon glyphicon-remove"></i>
													</span>
												</td>
												<td nowrap class="hand" (click)="viewSDdata()" mdTooltip="Click to view sample data" *ngIf="!fileTemplate.multipleRowIdentifiers  && item">
													<strong>{{ item?.file?.name }}</strong>
												</td>
												<td nowrap class="hand" *ngIf="fileTemplate.multipleRowIdentifiers && item">
													<strong>{{ item?.file?.name }}</strong>
												</td>
												<td *ngIf="!uploadedIcon">
													<i class="fa fa-spinner fa-spin" style="font-size: 24px"></i>
												</td>
												<!-- <td *ngIf="uploadedIcon">
													<button md-icon-button>
														<md-icon>done</md-icon>
													</button>
												</td> -->
												<td class="text-center"></td>
												<td class="text-center">
													<span *ngIf="item.isSuccess">
														<i class="glyphicon glyphicon-ok"></i>
													</span>
													<span *ngIf="item.isCancel"> </span>
													<span *ngIf="item.isError">
														<i class="glyphicon glyphicon-remove"></i>
													</span>
												</td>
												<td nowrap>
													<span *ngIf="item.isSuccess">success</span>
												</td>
												<td></td>
											</tr>
										</tbody>
									</table>
									<div></div>
								</div>
								<!-- drop zone end -->

							</div>
						</div>
						<!-- Preview and sample data start-->
						<div class="sampleDataDilog col-md-8" *ngIf="sourceData && data &&!fileTemplate.multipleRowIdentifiers">
							<div class="ft-sampleData">
								<p-dialog header="Data Preview" [(visible)]="sourceData" resizable="true" (onHide)="closeSDView()">
									<p-header>
										<i class="material-icons hand pull-right" (click)="refreshAndExtractCSV()" mdTooltip="Refresh" *ngIf="(!dropfile && sourceData && !refreshFile && isCreateNew)">replay</i>
										<i class="material-icons hand pull-right" style="font-size: 24px" (click)="refreshAndExtractCSV()" *ngIf="refreshFile"></i>
									</p-header>
									<div id="sampleSourceData">
										<ng-template ngFor let-RIsampleData [ngForOf]="data">
											<p class="text-center" *ngIf="RIsampleData.rowIdentifier">Identifier : {{RIsampleData.rowIdentifier}}</p>
											<table class="table nowrap-table">
												<thead *ngIf=" isCreateNew && RIsampleData &&  RIsampleData.colHeaderValues">
													<tr>
														<th *ngFor="let header of RIsampleData.colHeaderValues">{{header}}</th>
													</tr>
												</thead>
												<thead *ngIf="!isCreateNew && colHeaders">
													<tr>
														<th *ngFor="let header of colHeaders">{{header}}</th>
													</tr>
												</thead>
												<tbody>
													<tr *ngFor="let dataObj of RIsampleData.sampleData">
														<td *ngFor="let colValue of dataObj ;let rowI=index ">
															<!-- {{colValue|json}} -->
															{{colValue[1]}}
															<!-- <span *ngIf="dataObj[sampleDataAfterDropForMI[sampleDataIndexToView].headers[rowI]]">{{dataObj[sampleDataAfterDropForMI[sampleDataIndexToView].headers[rowI]]}}</span> -->
														</td>
														<!-- <td>{{dataObj|json}}</td> -->
														<!-- <td *ngFor="let obj of dataObj ">{{obj|json}}</td> -->
													</tr>
												</tbody>
											</table>
										</ng-template>
										<!-- <table class="table sampledata">
											<thead class="tableheader">
												<tr>
													<th *ngFor="let FTL of fileTemplateLines">{{FTL.columnHeader}}</th>
												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let dataObj of data">
													<td *ngFor="let obj of dataObj ">{{obj[1]}}</td>
												</tr>
											</tbody>
										</table> -->
									</div>
								</p-dialog>
							</div>
						</div>


						<!-- sample data end -->
					</div>



					<p-accordion>
						<p-accordionTab header="Template Lines" [selected]="true" *ngIf="fileTemplate.multipleRowIdentifiers && sampleDataAfterDropForMI &&sampleDataAfterDropForMI.length>0 && fileTemplate.fileType">
							<div class="accordioncontenet" style="margin-top: -50px;">
								<br>
								<md-tab-group class="file-templates-lines-tabs" (focusChange)="loadFileTemplateLine($event)" [selectedIndex]="selectedTabIndex">
									<md-tab *ngFor="let obj of sampleDataAfterDropForMI;let i =index">
										<ng-template md-tab-label>
											{{obj.rowIdentifier}}

										</ng-template>
										<div class="demo-tab-content">

											<button md-icon-button class="pull-right color-gray" (click)="addLineForMI(selectedTabIndex)" mdTooltip="Add new Line" *ngIf="isCreateNew && linesForm.valid">
												<md-icon>exposure_plus_1</md-icon>
											</button>
											<form novalidate #linesForm="ngForm">
												<div class="file-template-datatable templateLines">
													<div class="table-responsive" *ngIf="sampleDataAfterDropForMI && sampleDataAfterDropForMI[selectedTabIndex] && sampleDataAfterDropForMI[selectedTabIndex].templateLines">
														<p-dataTable id="template_lines" [value]="sampleDataAfterDropForMI[selectedTabIndex].templateLines" scrollable="true" scrollHeight="500px"
														 reorderableColumns="true" columnResizeMode="expand" rowHover="true" (onRowSelect)="onRowSelect($event)" [rows]="10"
														 [editable]="isEditLine" [responsive]="true" resizableColumns="true">
															<p-column [style]="{'width':'100px', 'text-align':'center'}" field="columnNumber" header="No." [sortable]="true" [editable]="true">
																<ng-template let-row="rowData" let-i="rowIndex" pTemplate="body">
																	{{i + 1}} </ng-template>
															</p-column>
															<p-column [style]="{'width':'250px', 'text-align':'left'}" header="Column Name" [sortable]="true">
																<ng-template let-row="rowData" let-colInd="rowIndex" pTemplate="body">
																	<!-- <span *ngIf="row['columnHeader']">
																	{{row['columnHeader']}}
																</span> -->
																	<div class="inputTypeClass">

																		<input type="text" style="border:none;" required [(ngModel)]="row['columnHeader']" (blur)="checkForColumnDuplicates($event,colInd)"
																		 [ngModelOptions]="{standalone: true}">

																		<!-- <input class="" mdInput [(ngModel)]="row['columnHeader']" [ngModelOptions]="{standalone: true}" onkeypress="checkForColumnDuplicates($event)" > -->
																	</div>


																</ng-template>
															</p-column>
															<p-column *ngFor="let col of finalLineInfoCols" [field]="col.field" [header]="col.header" [style]="{'width':'100px','text-align':'left'}"
															 [sortable]="true" [editable]="true"></p-column>
															<p-column field="formula" header="Translational Formula" [style]="{'width':'100px','text-align':'left'}">
																<ng-template let-row="rowData" let-colInd="rowIndex" ng-mouseover="mouseOverLine = colInd" pTemplate="body">
																	<!-- p-dialog start -->
																	<a class="hand" style="color: green; font-style: italic; font-family: cursive; font-weight: normal; font-size: 20px; visibility: visible;"
																	 mdTooltip="{{sampleDataAfterDropForMI[selectedTabIndex].templateLines[colInd].formula}}" *ngIf="sampleDataAfterDropForMI[selectedTabIndex].templateLines[colInd].formula "
																	 (click)="addFunctionForMI(selectedTabIndex,colInd)">
																		<b>fx</b>
																	</a>
																	<a class="hand tempActionButton" style="color: green; font-style: italic; font-family: cursive; font-weight: normal; font-size: 20px; visibility: visible;"
																	 mdTooltip="Add Function" (click)="addFunctionForMI(selectedTabIndex,colInd)" *ngIf="!sampleDataAfterDropForMI[selectedTabIndex].templateLines[colInd].formula && isCreateNew">
																		<b>fx</b>
																	</a>
																</ng-template>
															</p-column>
															<p-column field="" [style]="{'width':'100px','text-align':'left'}">
																<ng-template let-row="rowData" let-i="rowIndex" pTemplate="body">

																	<button md-icon-button class="pull-right line-hover-action tempActionButton" style="font-size: 10px" (click)="clearFields(i)"
																	 *ngIf="isCreateNew" mdTooltip="Delete Line">
																		<md-icon>delete</md-icon>
																	</button>

																</ng-template>
															</p-column>
														</p-dataTable>
													</div>
												</div>
											</form>
										</div>
									</md-tab>
								</md-tab-group>
							</div>
						</p-accordionTab>
						<p-accordionTab header="Template Lines" [selected]="enableLineInfo" *ngIf="!fileTemplate.multipleRowIdentifiers && fileTemplateLines && fileTemplateLines.length>0">
							<div class="accordioncontenet" style="margin-top: -50px;">
								<!-- Lines start here -->
								<div class="portlet">
									<div class="portlet-title" style="margin-top: -47px;">
										<div class="tools">

											<button md-icon-button class="pull-right color-gray" (click)="addLinee()" mdTooltip="Add new Line" *ngIf="isCreateNew">
												<md-icon>exposure_plus_1</md-icon>
											</button>
										</div>

									</div>
									<div class="portlet-body file-template-width">
										<p class="text-center" *ngIf="!fileTemplate.fileType"> Select file type to view lines </p>
										<div id="sampleSourceData" class="sampleDataView" class="col-md-12" *ngIf="fullScreenView">
											<span class="title">
												<h5>
													Data Preview
													<!--<i class="fa fa-refresh fa-3x fa-fw" style="font-size: 24px" (click)="refreshAndExtractCSV()" *ngIf="!dropfile && sourceData && !refreshFile "></i>-->
													<i class="material-icons" (click)="refreshAndExtractCSV()" *ngIf="(!dropfile && sourceData && !refreshFile && !isViewOnly) || isCreateNew ">sync</i>
													<i class="fa fa-refresh fa-spin fa-3x fa-fw" style="font-size: 24px" (click)="refreshAndExtractCSV()" *ngIf="refreshFile "></i>
													<!-- <i class="material-icons float-center"   >autorenew</i> -->
												</h5>
											</span>
											<perfect-scrollbar style="height: 200px; ">
												{{data|json}}
												<table class="table sampledata">
													<thead class="tableheader">
														<tr>
															<th *ngFor="let FTL of fileTemplateLines">{{FTL.columnHeader}}</th>
														</tr>
													</thead>
													<tbody>
														<!-- <tr *ngFor="let dataObj of data">
															<td *ngFor="let obj of dataObj ">{{obj[1]}}</td>
														</tr> -->
													</tbody>
												</table>
											</perfect-scrollbar>

										</div>
										<!-- <perfect-scrollbar style="height: 200px;" > -->
										<hr *ngIf="fullScreenView">
										<h4 *ngIf="fullScreenView">Template Lines</h4>
										<div *ngIf="fileTemplateLines && fileTemplateLines.length>0 && fileTemplate.fileType">
											<div class="file-template-datatable templateLines">
												<div style="text-align: right">
													<p-multiSelect [options]="columnOptions" [(ngModel)]="finalLineInfoCols" [name]="finalCols" #finalCols="ngModel"></p-multiSelect>

												</div>
												<p-dataTable id="template_lines" [value]="fileTemplateLines" scrollable="true" scrollHeight="500px" reorderableColumns="true"
												 columnResizeMode="expand" (onRowSelect)="onRowSelect($event)" rowHover="true" [rows]="10" [editable]="isEditLine"
												 [responsive]="true" resizableColumns="true">
													<!-- <p-column [style]="{'width':'38px'}" selectionMode="multiple" unfrozenWidth="{{templateUnfrozenWidth}}"
                    frozen="true"></p-column>  -->
													<!-- <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column> -->

													<p-column [style]="{'width':'100px', 'text-align':'center'}" field="columnNumber" header="No." [sortable]="true" [editable]="true">
														<ng-template let-row="rowData" let-i="rowIndex" pTemplate="body">
															{{i + 1}} </p-column>
													<p-column [style]="{'width':'250px', 'text-align':'left'}" header="Column Name" [sortable]="true">
														<ng-template let-row="rowData" let-colInd="rowIndex" pTemplate="body">
															<!-- <span *ngIf="row['columnHeader']">
																				{{row['columnHeader']}}
																			</span> -->
															<div class="inputTypeClass">

																<input type="text" style="border:none;" required [(ngModel)]="row['columnHeader']" (blur)="checkForColumnDuplicates($event,colInd)"
																 [ngModelOptions]="{standalone: true}">

																<!-- <input class="" mdInput [(ngModel)]="row['columnHeader']" [ngModelOptions]="{standalone: true}" onkeypress="checkForColumnDuplicates($event)" > -->
															</div>


														</ng-template>
													</p-column>
													<!-- <p-column [style]="{'width':'250px', 'text-align':'left'}" field="columnHeader" header="Column Name" [sortable]="true" [editable]="true"></p-column> -->
													<p-column *ngFor="let col of finalLineInfoCols" [field]="col.field" [header]="col.header" [style]="{'width':'100px','text-align':'left'}"
													 [sortable]="true" [editable]="true"></p-column>
													<p-column field="formula" header="Translational Formula" [style]="{'width':'100px','text-align':'left'}">
														<ng-template let-row="rowData" let-i="rowIndex" ng-mouseover="mouseOverLine = i" pTemplate="body">
															<!-- p-dialog start -->
															<a class="hand" style="color: green; font-style: italic; font-family: cursive; font-weight: normal; font-size: 20px; visibility: visible;"
															 mdTooltip="{{fileTemplateLines[i].formula}}" *ngIf="fileTemplateLines[i].formula" (click)="addfunction(i)">
																<b>fx</b>
															</a>
															<a class="hand tempActionButton" style="color: green; font-style: italic; font-family: cursive; font-weight: normal; font-size: 20px; visibility: visible;"
															 mdTooltip="Add Function" (click)="addfunction(i)" *ngIf="!fileTemplateLines[i].formula  && isCreateNew">
																<b>fx</b>
															</a>
															<!-- <div class="ftlFunction">
																<p-dialog header="Add Formula For {{fileTemplateLines[i].columnHeader}} " [resizable]="true" [responsive]="true" [(visible)]="showFunction[i]"
																 [modal]="true" (onHide)="closeFormulaModel(i)">
																	<label class="control-label" style="font-size: 16px;">Select Function: </label>
																	<md-select [(ngModel)]="fileTemplateLines[i].functionName" style="width:230px" [ngClass]="{'color-black' : isViewOnly}" name="excelexpression{{i}}"
																	 #excelexpression{{i}}="ngModel">
																		<md-option *ngFor="let excelexpression of functionsList" [value]="excelexpression.lookUpCode" (click)="showExcelFunction(i,excelexpression.description)">
																			{{ excelexpression.meaning }} </md-option>
																	</md-select>
																	<br>
																	<div *ngIf="fileTemplateLines[i].functionName" class="data-view-query-build">
																		<textarea mdInput [(ngModel)]="fileTemplateLines[i].formula" name="function{{i}}" mdTooltip=""></textarea>
																	</div>

																	<div *ngIf="fileTemplateLines[i].functionName" style="padding-top: 10px;">
																		<span>Eg: {{fileTemplateLines[i].example}}</span>
																		<button md-icon-button class="pull-right ripple" aria-hidden="true" (click)="saveFunc(i)" mdTooltip="Save">
																			<md-icon>done</md-icon>
																		</button>
																		<button md-icon-button class="pull-right ripple " aria-hidden="true" (click)="cancelFormula(i)" mdTooltip="delete">
																			<md-icon>delete</md-icon>
																		</button>
																	</div>
																</p-dialog>
															</div> -->
														</ng-template>
													</p-column>
													<p-column field="" [style]="{'width':'100px','text-align':'left'}">
														<ng-template let-row="rowData" let-i="rowIndex" pTemplate="body">

															<button md-icon-button class="pull-right line-hover-action tempActionButton" style="font-size: 10px" (click)="clearFields(i)"
															 *ngIf="isCreateNew && !fileTemplateLines[i].id" mdTooltip="Delete Line">
																<md-icon>delete</md-icon>
															</button>

														</ng-template>
													</p-column>
												</p-dataTable>
											</div>
										</div>

									</div>
								</div>

							</div>
						</p-accordionTab>
						<p-accordionTab header="Profiles" [selected]="expandProfiles" (click)="getSourceProfilesList()">
							<div class="accordioncontenet " *ngIf="!isCreateNew">
								<!-- present detail -->
								<div class="table-responsive">
									<table class="table" *ngIf=" sourceProfileAssignments && sourceProfileAssignments.sourcePRofileName">
										<thead class="tableheader">
											<th>Profile Name</th>
											<th>File Format</th>
											<th>File Description</th>
											<!-- <th>Prefix</th>
											<th>File Name</th>
											<th>Postfix</th> -->
											<th>File Extension</th>
											<th>Source Directory Path</th>
											<th>Local Directory Path</th>
											<!-- <th>Frequency</th> -->
										</thead>
										<tbody>
											<tr>
												<td>{{sourceProfileAssignments.sourcePRofileName}}</td>
												<td>{{sourceProfileAssignments.fileNameFormat}}</td>
												<td>{{sourceProfileAssignments.fileDescription}}</td>
												<!-- <td>{{sourceProfileAssignments.prefix}}</td>
												<td>{{sourceProfileAssignments.fileName}}</td>
												<td>{{sourceProfileAssignments.postFix}}</td> -->
												<td>{{sourceProfileAssignments.fileExtension}}</td>
												<td>{{sourceProfileAssignments.sourceDirectoryPath}}</td>
												<td>{{sourceProfileAssignments.localDirectoryPath}}</td>
												<!-- <td>{{sourceProfileAssignments.frequency}}</td> -->
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<label *ngIf="isViewOnly && !selectedProfileId">No profiles associated </label>
							<div class="accordioncontenet" *ngIf="(!isViewOnly && !selectedProfileId) || isCreateNew">
								<!-- profile assignment start -->
								<div class="row">
									<div class="col-md-3">
										<md-select placeholder="Select profile" class="example-full-width" (change)="selectedProfile()" [(ngModel)]="selectedProfileName"
										 [disabled]="hideLocalOptions" name="selectedprofilename" #selectedprofilename="ngModel">
											<perfect-scrollbar style="height: 200px;">
												<md-option *ngFor="let profile of profilesList" [value]="profile.name">
													{{ profile.name }} </md-option>
											</perfect-scrollbar>
											<md-option class="create-connection-divider" [value]="-1">Create New</md-option>
										</md-select>
									</div>
									<div class="col-md-3" *ngIf="selectedProfileName">
										<md-input-container class="example-full-width ">
											<input mdInput placeholder="File Name Format" class="inputHeight" [(ngModel)]="sourceProfilesAdded.fileNameFormat" name="filenameformat"
											 required #filenameformat="ngModel">
										</md-input-container>
									</div>
									<div class="col-md-3" *ngIf="selectedProfileName">
										<md-input-container class="example-full-width ">
											<input mdInput placeholder="File Description" class="inputHeight" [(ngModel)]="sourceProfilesAdded.fileDescription" name="filedescription"
											 #filedescription="ngModel" required>
										</md-input-container>
									</div>
									<div class="col-md-3" *ngIf="selectedProfileName">
										<md-input-container class="example-full-width ">
											<input mdInput placeholder="File Extension" class="inputHeight" [(ngModel)]="sourceProfilesAdded.fileExtension" required
											 name="fileextension" #fileextension="ngModel" required>
										</md-input-container>
									</div>

								</div>
								<div class="row">
									<div class="col-md-3" *ngIf="selectedProfileName"></div>
									<div class="col-md-3" *ngIf="selectedProfileName">
										<md-input-container class="example-full-width ">
											<input mdInput placeholder="Source Directory Path" [(ngModel)]="sourceProfilesAdded.sourceDirectoryPath" name="sourceDirectoryPath"
											 #sourceDirectoryPath="ngModel" required> </md-input-container>
									</div>
									<div class="col-md-3" *ngIf="selectedProfileName">
										<md-input-container class="example-full-width ">
											<input mdInput placeholder="Local Directory Path" class="inputHeight" [(ngModel)]="sourceProfilesAdded.localDirectoryPath"
											 name="localDirectoryPath" #localDirectoryPath="ngModel" required>
										</md-input-container>
									</div>
									<!-- <div class="col-md-3" *ngIf="selectedProfileName">
										<md-select placeholder="Select frequency type" class="inputHeight" class="example-full-width" (change)="selectedFreqType()"
										 [(ngModel)]="selectedFrequencyType" name="selectedfrequencytype" required #selectedfrequencytype="ngModel">
											<md-option *ngFor="let freq of frequencyList" [value]="freq.name">
												{{ freq.name }} </md-option>
										</md-select>
									</div> -->
								</div>
							</div>
							<div style="margin-bottom: 20px;"></div>
						</p-accordionTab>
					</p-accordion>

				</form>
				<!-- </perfect-scrollbar> -->
			</div>


		</div>
	</vertical-split-pane>

</div>