<h1 md-dialog-title></h1>
<div md-dialog-content  >
	<label class="control-label font-weight-bold" style="font-size: 16px;">Select Function: </label>
	<md-select [(ngModel)]="data.functionName" style="width:230px" [ngModelOptions]="{standalone: true}" >
		<md-option *ngFor="let excelexpression of functionsList" [value]="excelexpression.lookUpCode" (click)="data.example= excelexpression.description" >
			{{ excelexpression.meaning }} 
		</md-option> 
	</md-select><br>
	<div *ngIf="data.functionName" class="data-view-query-build">
		<textarea mdInput [(ngModel)]="data.formula"  [ngModelOptions]="{standalone: true}" ></textarea>
	</div>

	<div style="padding-top: 10px;" *ngIf="data.example">
		<span *ngIf="data.example">Eg:{{data.example}}</span>
		
	</div>
</div>

<div md-dialog-actions align="center">
	<div>
		<button md-button [md-dialog-close]="data.ok" tabindex="2" [disabled]="!data.formula" >Ok</button>
		<button md-button  tabindex="3" [disabled]="!data.formula" (click)="data.functionName='';data.formula='';data.example=''">Clear</button>
		<button md-button [md-dialog-close]="data.cancel" tabindex="-1">Cancel</button>
	</div>
</div>