<!-- <div class="sub-side-navbar sidebarsmallCon" style="margin-top: 78px;">
	<perfect-scrollbar style="height: auto;width:100%; overflow-x: auto;">
		<ul class="example-container mat-elevation-z8">
			<li *ngFor="let sourcelist of sideBarData; let i = index">
				<div class="ripple psproviders">
					<i class="fa fa-caret-right hand ripple" aria-hidden="true" (click)="expandsource(sourcelist.source)" *ngIf="sourcebody != sourcelist.source"></i>
					<i class="fa fa-caret-down hand ripple" aria-hidden="true" (click)="expandsource(sourcelist.source)" *ngIf="sourcebody == sourcelist.source"></i>
					<img src="{{sourcelist.imagePath}}" class="filetemplateimgsource hand ripple" (click)="expandsource(sourcelist.source)" *ngIf="sourcelist.imagePath.length > 0"
					/>
					<span class="hand" (click)="expandsource(sourcelist.source)">{{sourcelist.dispname}} - {{sourcelist.count}}</span>
				</div>
				<div class="sourcebody" *ngIf="sourcebody == sourcelist.source" [ngClass]="sourcelist.imagePath.length == 0 ? 'padLeft10px' : 'padLeft46px'">
					<perfect-scrollbar style="height: auto;width:100%; overflow-x: auto;max-height:120px;">
						<li *ngFor="let template of sourcelist.Lists; let i = index" routerLinkActive="router-link-active">
							<div class="selecteditem hand ripple" [routerLink]="['/file-templates', {outlets: {'content': [template.id]+'/details'}}]">
								<span>{{template.templateName}}</span>
							</div>
						</li>
					</perfect-scrollbar>
				</div>
			</li>
		</ul>
	</perfect-scrollbar>
</div> -->

<div class="sub-side-navbar datViewSidePad sideBar-top-styles">
	<perfect-scrollbar style="height: auto; width:100%; overflow-x: auto;">
		<p-accordion >
			<p-accordionTab [selected]="sourcelist.firstOpened" *ngFor="let sourcelist of sideBarData; let i = index">
					<p-header >
						<img [src]="sourcelist.imagePath" alt="Smiley face" width="20" height="20" style="position:absolute;top:16px" 
						*ngIf="sourcelist && sourcelist.imagePath && sourcelist.imagePath.length > 0">
						<a href="#" [ngStyle]="{'padding-left':(!sourcelist.imagePath || (sourcelist.imagePath && sourcelist.imagePath.length == '0')) ? '0' : '2em'}">{{sourcelist.dispname}}  ({{sourcelist.count}})</a>
					</p-header>
				<perfect-scrollbar style="height: auto; width:100%; overflow-x: auto; max-height:160px;" >
					<ul [ngClass]="(!sourcelist.imagePath || ( sourcelist.imagePath && sourcelist.imagePath.length == 0))? 'padLeft13px' : 'padLeft43px'" >
						<li *ngFor="let template of sourcelist.Lists; let j = index" routerLinkActive="router-link-active">
							<div class="selecteditem hand ripple" [routerLink]="['/file-templates', {outlets: {'content': [template.id]+'/details'}}]">
								<span>{{template.templateName}}</span>
							</div>
						</li>
					</ul>
				</perfect-scrollbar>	
			</p-accordionTab>
		</p-accordion>
	</perfect-scrollbar>
</div>