<div style="height: 100%; width: 100%">
    <vertical-split-pane primary-component-minsize="50" primary-component-initialratio="0.2" [primary-component-toggled-off]="isVisibleA">
        <div id="sticky" class="leftpane split-pane-content-primary">
            <journals-header-data-side-bar></journals-header-data-side-bar>
        </div>
        <div class="split-pane-content-secondary rightpane">
            <span class="fa fa-bars hand ripple sbclose" mdTooltip="Toggle Sidebar" (click)="toggleSB()" *ngIf="!isCreateNew"></span>
            <div class="component-body">
                <div class="botom-dotted-blue-border component-title">
                    <div class="col-md-6 col-sm-6 col-xs-6 pageTitle">
                        <h3 *ngIf="!isCreateNew">{{journalsHeader.templateName}} Batch Details</h3>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="row float-right">
                            <button  *ngIf="isViewOnly" md-icon-button mdTooltip="Batches List" [routerLink]="['/journals-header-data', {outlets: {'content': ['journals-header-data-home']}}]">
                                <md-icon>undo</md-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <br>
                <form novalidate #journalsDetailsForm="ngForm">
                    <div class="row leftmargin-20">

                        <div class="col-md-3 col-xs-6 form-group">
                            <md-input-container class="example-full-width">
                                <input mdInput [(ngModel)]="journalsHeader.templateName" [ngClass]="{'color-black' : isViewOnly}" [disabled]="isViewOnly"
                                    placeholder="Journal Template Name" name="templateName">
                            </md-input-container>
                            <!-- <span class="help-block errorFont" style="margin-top: 32px;">Journal Template Name already exists.</span> -->
                        </div>
                        <div class="col-md-3 col-xs-6 form-group">
                            <md-input-container class="example-full-width">
                                <input mdInput [(ngModel)]="journalsHeader.jeBatchName" [ngClass]="{'color-black' : isViewOnly}" [disabled]="isViewOnly"
                                    placeholder="JE Batch Name" name="jeBatchName">
                            </md-input-container>
                        </div>
                        <div class="col-md-3 col-xs-6 form-group">
                            <md-input-container class="example-full-width">
                                <input mdInput [(ngModel)]="journalsHeader.period" [ngClass]="{'color-black' : isViewOnly}" [disabled]="isViewOnly" placeholder="JE Period"
                                    name="jeperiod">
                            </md-input-container>
                        </div>
                        <div class="col-md-3 col-xs-6 form-group">
                            <md-input-container class="example-full-width">
                                <input mdInput [(ngModel)]="journalsHeader.history" [ngClass]="{'color-black' : isViewOnly}" [disabled]="isViewOnly" placeholder="History"
                                    name="history">
                            </md-input-container>
                        </div>
                        <div class="col-md-2  col-xs-6" *ngIf="isEdit">
                            <span *ngIf="journalsHeader.enable">Active</span> <span *ngIf="!journalsHeader.enable">Inactive</span>
                            <md-slide-toggle class="pull right example-margin" color="primary" [disabled]="!isEdit" mdTooltip="set status" placeholder="status"
                                [(ngModel)]="journalsHeader.enable" name="status">
                            </md-slide-toggle>

                        </div>
                        <!-- <div class="col-md-2 col-xs-6" *ngIf="isViewOnly">
                    <span class="badge badge-success"  *ngIf="journalsHeader.enable">Active</span>
                    <span class="badge badge-warning" *ngIf="!journalsHeader.enable" >Inactive</span>
                </div> -->
                        <!-- {{journalHeaderList.jeBatchName}} -->

                        <!-- {{journalHeaderList | json}} -->
                    </div>
                    <p-accordion [multiple]="true">
                        <div style="margin-left: 20px;margin-top: 14px;">
                            <p-accordionTab header="JE Batch Header Details" [selected]="true">
                                <div class="row accordioncontenet" style="margin-left:0px !important;padding-left: 10px!important;margin-right:0px !important;">
                                    <div class="col-md-3 col-xs-6">
                                        <md-input-container class="example-full-width">
                                            <input mdInput [(ngModel)]="journalHeaderList.jeBatchName" [ngClass]="{'color-black' : isViewOnly}" [disabled]="isViewOnly"
                                                placeholder="Journal Batch Name" name="batchName">
                                        </md-input-container>
                                    </div>
                                    <div class="col-md-3 col-xs-6">
                                        <md-input-container class="example-full-width">
                                            <input mdInput [(ngModel)]="journalHeaderList.ledgerName" [ngClass]="{'color-black' : isViewOnly}" [disabled]="isViewOnly"
                                                placeholder="Ledger" name="ledgerName">
                                        </md-input-container>
                                    </div>
                                    <div class="col-md-3 col-xs-6">
                                        <md-input-container class="example-full-width">
                                            <input mdInput [(ngModel)]="journalHeaderList.source" [ngClass]="{'color-black' : isViewOnly}" [disabled]="isViewOnly" placeholder="Source"
                                                name="source">
                                        </md-input-container>
                                    </div>
                                    <div class="col-md-3 col-xs-6">
                                        <md-input-container class="example-full-width">
                                            <input mdInput [(ngModel)]="journalHeaderList.category" [ngClass]="{'color-black' : isViewOnly}" [disabled]="isViewOnly"
                                                placeholder="Category" name="category">
                                        </md-input-container>
                                    </div>
                                    <div class="col-md-3 col-xs-6">
                                        <md-input-container class="example-full-width">
                                            <input mdInput [(ngModel)]="journalHeaderList.currency" [ngClass]="{'color-black' : isViewOnly}" [disabled]="isViewOnly"
                                                placeholder="Currency" name="currency">
                                        </md-input-container>
                                    </div>
                                    <div class="col-md-3 col-xs-6">
                                        <md-input-container class="example-full-width">
                                            <input mdInput [(ngModel)]="journalHeaderList.glDate" [ngClass]="{'color-black' : isViewOnly}" [disabled]="isViewOnly" placeholder="GL Date"
                                                name="glDate">
                                        </md-input-container>
                                    </div>
                                    <div class="col-md-3 col-xs-6">
                                        <md-input-container class="example-full-width">
                                            <input mdInput [(ngModel)]="journalHeaderList.period" [ngClass]="{'color-black' : isViewOnly}" [disabled]="isViewOnly" placeholder="Period"
                                                name="period">
                                        </md-input-container>
                                    </div>

                                    <div class="col-md-3 col-xs-6">
                                        <md-input-container class="example-full-width">
                                            <input mdInput [(ngModel)]="journalHeaderList.conversionType" [ngClass]="{'color-black' : isViewOnly}" [disabled]="isViewOnly"
                                                placeholder="Conversion Type" name="conversionType">
                                        </md-input-container>
                                    </div>

                                </div>
                            </p-accordionTab>
                            <!--  <div class="col-md-3 col-xs-6">
                            <md-input-container class="example-full-width">
                                <input mdInput [(ngModel)]="journalsHeader.journalHeader.rate" [ngClass]="{'color-black' : isViewOnly}" [disabled]="isViewOnly"
                                    placeholder="Rate" name="rate">
                            </md-input-container>
                        </div> -->
                            <!-- <div class="col-md-3 col-xs-6">
                            <md-input-container class="example-full-width">
                                <input mdInput [(ngModel)]="journalsHeader.journalHeader.journalGenerationLevel" [ngClass]="{'color-black' : isViewOnly}" [disabled]="isViewOnly"
                                    placeholder="Journal Generation Level" name="journalGenerationLevel">
                            </md-input-container>
                        </div> -->
                            <!-- <div class="col-md-3 col-xs-6">
                            <md-input-container class="example-full-width">
                                <input mdInput [(ngModel)]="journalsHeader.journalHeader.journalBalance" [ngClass]="{'color-black' : isViewOnly}" [disabled]="isViewOnly"
                                    placeholder="Journal Balance" name="journalBalance">
                            </md-input-container>
                        </div> -->
                            <p-accordionTab header="JE Batch Line Details" [selected]="true">
                                <div class="row accordioncontenet" style="padding-left: 0px;">
                                    <div class="col-lg-8 col-md-12 col-sm-12">
                                        <div class="table-responsive tableView">
                                        <perfect-scrollbar style="max-height: 400px">
                                            <table class="table">
                                                <thead class="tableheader text-nowrap">
                                                    <tr>
                                                        <th style="width: 35%;">Code Combination</th>
                                                        <th>Description</th>
                                                        <th class="text-right" style="width: 15%;">Debit</th>
                                                        <th class="text-right" style="width: 15%;">Credit</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="viewTab text-nowrap">
                                                    <tr *ngFor="let viewCol of journalHeaderList.jeLinesDTO; let i=index;">

                                                        <td>
                                                            <div>{{viewCol.codeCombination}}</div>
                                                        </td>
                                                        <td>
                                                            <div>{{viewCol.descriptionAttribute}}</div>
                                                        </td>
                                                        <td class="text-right">
                                                            <div>{{viewCol.accountedDebit}}</div>
                                                        </td>
                                                        <td class="text-right">
                                                            <div>{{viewCol.accountedCredit}}</div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </perfect-scrollbar>
                                        </div>
                                    </div>
                                </div>
                            </p-accordionTab>
                        </div>
                    </p-accordion>
                </form>
            </div>
        </div>
    </vertical-split-pane>
</div>