
<div *ngIf="processes">
    <h2><span jhiTranslate="agreeGatewayV1App.processes.detail.title">Processes</span> {{processes.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="agreeGatewayV1App.processes.processName">Process Name</span></dt>
        <dd>
            <span>{{processes.processName}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.processes.desc">Desc</span></dt>
        <dd>
            <span>{{processes.desc}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.processes.tenantId">Tenant Id</span></dt>
        <dd>
            <span>{{processes.tenantId}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.processes.startDate">Start Date</span></dt>
        <dd>
            <span>{{processes.startDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.processes.endDate">End Date</span></dt>
        <dd>
            <span>{{processes.endDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.processes.enable">Enable</span></dt>
        <dd>
            <span>{{processes.enable}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.processes.createdDate">Created Date</span></dt>
        <dd>
            <span>{{processes.createdDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.processes.createdBy">Created By</span></dt>
        <dd>
            <span>{{processes.createdBy}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.processes.lastUpdatedDate">Last Updated Date</span></dt>
        <dd>
            <span>{{processes.lastUpdatedDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.processes.lastUpdatedBy">Last Updated By</span></dt>
        <dd>
            <span>{{processes.lastUpdatedBy}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'processes/'+ processes.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
