<style>
    .userList {
        height: 150px !important;
        padding: 0;
    }

    /* .splitList li:hover {
        background: #2197ad !important;
    }

    .splitList li:hover a {
        color: white !important;
    }

    .userList .dropdown-item:hover {
        background: white;
        cursor: default;
    }

    .dropdown-item.active {
        background: #2197ad !important;
    }

    .curPointer:hover {
        cursor: pointer !important;
    } */

    .splitListUser>li {
        padding: 4px;
    }

    .splitList {
        clear: both;
        bottom: 0px;
        position: absolute;
        display: flex;
        width: 100%;
    }

    .splitList li {
        border: 1px solid lightgray;
        padding: 6px;
        padding-right: 22px;
        border-bottom: 0;
        border-left: 0;
        width: 50%;
        text-align: center;

    }

    .splitList li a {
        text-decoration: none;
    }
</style>



<nav class="page-header navbar navbar-inverse navbar-fixed-top">
    <div class="saveConfigurtion" *ngIf="saveConfigurtion" @slideInOut>
        <div style="width: 220px;">
            <span style="color:white">Save Preference ?</span>
            <md-checkbox [(ngModel)]="saveConfigurtionDontShowAgain">Don't Show Again</md-checkbox>
            <md-icon style="color:white;margin-right: 18px;" class="pull-right hand" (click)="postUserPreference()">done</md-icon>
        </div>

    </div>
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner">
        <!-- BEGIN LOGO -->
        <!-- <div class="page-logo"> -->
        <!-- <span class="glbyte-logo" >GLBYTE</span> -->
        <img *ngIf="!isAuthenticated()" src="../../../content/images/logo.PNG" style="width: 12rem;padding: 1rem;">
        <div class="sidebar-logo" *ngIf="isAuthenticated()">
            <!-- <i class="fa fa-tachometer sideIcon" aria-hidden="true"><b>R</i>  -->
            <!-- <span class="toggle-sidebar hand" (click)="toggleSidebarr();">
                <i class="material-icons" style="color:white" [ngClass]="switchLogo ? 'logo-c' : ''">menu</i>
                //<i  class="fa fa-angle-right"></i>//
            </span> -->
            <a class="home-link" [routerLink]="['/kpiboard']">
                <img *ngIf="!switchLogo" src="../../../content/images/logo.PNG" style="width: 8rem;margin-left: 1rem;">
                <img *ngIf="switchLogo" src="../../../content/images/logo-c.png" style="width: 8rem;margin-left: 1rem;">
                <!-- <span style="letter-spacing:9.5px;">GLBYTE</span> -->
                <!-- <span *ngIf="commonService.sidebarToggler">GB</span> -->
                <!-- <img class="recon-logo" alt="app-logo" src="../../../content/images/Recon_modified_logo.PNG"> -->
            </a>
        </div>
        <!-- <a class="float-left" routerLink="/" (click)="collapseNavbar()">
                <img alt="page-logo-sm-screen" class="recon-logo" src="../../../content/images/Recon_modified_logo.PNG">
            </a> -->
        <!-- </div> -->
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span></span>
        </a>

        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu" [ngSwitch]="isAuthenticated()" style="height:48px;">
            <ul class="nav navbar-nav pull-right">
                <!-- <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                        <md-icon>home</md-icon>
                    </a>
                </li> -->
                <!-- <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer">
                    <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);">
                        <span>
                            <md-icon>group</md-icon>
                            <i class="fa fa-fw fa-users" aria-hidden="true"></i> <-Commented
                        </span>
                    </a>
                    <ul class="dropdown-menu fadeInDown dropdown-menu-right" ngbDropdownMenu>
                        <div class="nav-heading"><h5 class="nav-inner-heading">User Management</h5></div>
                        <li>
                            <a class="dropdown-item" [routerLink]="['/user-management', {outlets: {'content': ['user-management-home']}}]" routerLinkActive="active"
                                (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-user-circle" aria-hidden="true"></i>
                            <span>Users</span>
                        </a>
                        </li>
                        <li>
                            <a class="dropdown-item" [routerLink]="['roles', {outlets: {'content': ['roles-home']}}]" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-user-o" aria-hidden="true"></i>
                            <span>Roles</span>
                        </a>
                        </li>
                        <li>
                            <a class="dropdown-item" [routerLink]="['functionality', {outlets: {'content': ['functionality-home']}}]" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-cogs" aria-hidden="true"></i>
                            <span>Functionality</span>
                        </a>
                        </li>
                        <li>
                            <a class="dropdown-item" [routerLinkActive]="['sidebarListActive']" [routerLink]="['/groups', {outlets: {'content': ['groups-home']}}]" (click)="collapseNavbar()">
                                <i class="rec-font-group re-icon" aria-hidden="true" style="padding-right: 3px;margin-left: 2px;"></i>
                                <span>Groups</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="hierarchy" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-sitemap" aria-hidden="true"></i>
                                <span>Hierarchy</span>
                            </a>
                        </li>
                    </ul>
                </li> -->
                <!--*jhiHasAnyAuthority="'Function1_VIEW'"   -->
                <!-- <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer">
                    <a class="nav-link dropdown-toggle theme-mode" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                        <span style="color:white;position: relative;top: -4px;" *ngIf="isDark">Dark</span>
                        <span style="color:white;position: relative;top: -4px;" *ngIf="!isDark">Light</span>
                        <md-slide-toggle style="position: relative;top: -4px;left:6px;" [(ngModel)]="isDark" (change)="showConfig = true;isDark = !isDark;onThemeModeChange();">
                        </md-slide-toggle>
                    </a>
                </li> -->
                <li *jhiHasAnyAuthority="['APPL_ADMIN', 'TENANTS_LIST']" ngbDropdown class="nav-item dropdown pointer">
                    <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                        <span>
                            <i class="rec-font-administrator" aria-hidden="true"></i>
                            <!-- <md-icon>adb</md-icon> -->
                        </span>
                    </a>
                    <ul class="dropdown-menu fadeInDown dropdown-menu-right" ngbDropdownMenu>
                        <div class="nav-heading">
                            <h5 class="nav-inner-heading">Administration</h5>
                        </div>
                        <li>
                            <a class="dropdown-item" routerLink="gateway" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-road" aria-hidden="true"></i>
                                <span>Gateway</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="jhi-metrics" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-tachometer" aria-hidden="true"></i>
                                <span>Metrics</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="jhi-health" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-heart" aria-hidden="true"></i>
                                <span>Health</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="jhi-configuration" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-list" aria-hidden="true"></i>
                                <span>Configuration</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="audits" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-bell" aria-hidden="true"></i>
                                <span>Audits</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="logs" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-tasks" aria-hidden="true"></i>
                                <span>Logs</span>
                            </a>
                        </li>
                        <li *ngIf="swaggerEnabled">
                            <a class="dropdown-item" routerLink="docs" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-book" aria-hidden="true"></i>
                                <span>API</span>
                            </a>
                        </li>
                        <!-- <li style="border-top:1px solid rgba(12, 46, 104, 0.34);margin: 0 10px;"></li> -->
                        <!-- <li>
                            <a class="dropdown-item" [routerLink]="['/look-up-code', {outlets: {'content': ['look-up-code-home']}}]" [routerLinkActive]="['active']">
                                <i class="rec-font-lookup-codes" aria-hidden="true"></i>
                                <span>Lookup Codes</span>
                            </a>
                        </li> -->
                        <!-- <li *jhiHasAnyAuthority="['TENANTS_LIST']">
                            <a class="dropdown-item" [routerLink]="['tenant-details', {outlets: {'content': ['tenant-details-home']}}]" (click)="collapseNavbar()" routerLinkActive="active">
                                <i class="rec-font-tenant" aria-hidden="true"></i>
                                <span>Tenant</span>
                            </a>
                        </li> -->
                    </ul>
                </li>
                <!-- <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer jobsIcon">
                    <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="message-menu" (click)="loadschedularList()">
                        <span>
                            <md-icon style="position: relative;">chat</md-icon>
                        </span>
                    </a>
                    <div class="dropdown-menu jobs-window-new fadeInDown dropdown-menu-right">
                        <div *ngIf="schedularList.length < 1" style="text-align: center; margin-top: 20%;">No jobs schedules</div>
                        <div *ngIf="schedularList.length > 1" class="nav-heading">
                            <h5 class="nav-inner-heading">Job Notifications</h5>
                        </div>
                        <ul>
                            <perfect-scrollbar style="max-height:280px">
                                <li class="mainList" *ngFor="let col of schedularList">
                                    <div class="jobNameDiv">
                                        <span class="jobNameSpan">{{col.jobName}}</span>
                                    </div>
                                    <span class="badge badge-success pull-right statusIcon" *ngIf="col.oozieStatus == 'SUCCEEDED'">{{col.oozieStatus}}</span>
                                    <span class="badge badge-danger pull-right statusIcon" *ngIf="col.oozieStatus == 'KILLED'">{{col.oozieStatus}}</span>
                                    <span class="badge badge-warning pull-right statusIcon" *ngIf="col.oozieStatus == 'SUSPENDED'">{{col.oozieStatus}}</span>
                                    <span class="badge badge-primary pull-right statusIcon" *ngIf="col.oozieStatus == 'RUNNING'">
                                        <i style="font-size: 12px;" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i> {{col.oozieStatus}}</span>
                                    <span class="badge badge-info pull-right statusIcon" *ngIf="col.oozieStatus == 'RESUME'">{{col.oozieStatus}}</span>
                                    <ul>
                                        <li>{{col.programName}} - {{col.frequencyType}}</li>
                                    </ul>
                                </li>
                            </perfect-scrollbar>
                        </ul>
                        <div *ngIf="schedularList.length > 0" class="showAll" [ngClass]="schedularList.length<3?'posAbsol':''">
                            <p class="hand" [routerLink]="['/jobs', { outlets: { 'content': ['SCHEDULED'] + '/' + ['Frequency'] + '/' + ['SCHEDULED'] + '/schedulars-list' } }]">More jobs schedules.</p>
                        </div>
                    </div>
                </li>
                <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer user-notification">
                    <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="notification-menu" (click)="loadnotification()">
                        <span>
                            <md-icon style="position: relative;">notifications</md-icon>
                        </span>
                        <div class="userNotify" *ngIf="navbarService.notificationlist && navbarService.notificationlist.unRead > 0">
                            <span class="waves-effect"></span>
                            <span class="unreadCount">{{navbarService.notificationlist.unRead}}</span>
                        </div>
                    </a>
                    <ul class="dropdown-menu fadeInDown dropdown-menu-right" ngbDropdownMenu *ngIf="navbarService.notificationlist">
                        <div class="nav-heading">
                            <h5 class="nav-inner-heading">Notifications</h5>
                        </div>
                        <perfect-scrollbar style="max-height:280px;min-height:138px;">
                            <p *ngIf="navbarService.notificationlist.data < 1" style="margin-top: 55px; text-align: center; color: gray;">All Caught Up! No new notification.</p>
                            <li *ngFor="let usernotif of navbarService.notificationlist.data" class="userNotifList">
                                <a href="#" *ngIf="usernotif.actionType != 'REQUEST,REPORT'">
                                    <span>
                                        <div>
                                            <span class="usernotifMessage" [ngClass]="usernotif.isViewed == true || null ? 'text-muted' : ''">{{usernotif.message}}</span>
                                        </div>
                                        <span class="userNotifyModule pull-right text-primary" *ngIf="usernotif.module == 'RECON'">{{usernotif.module}}</span>
                                        <span class="userNotifyModule pull-right text-info" *ngIf="usernotif.module == 'ACCOUNTING'">{{usernotif.module}}</span>
                                        <span class="userNotifyModule pull-right text-success" *ngIf="usernotif.module == 'JOURNALS'">{{usernotif.module}}</span>
                                        <span class="userNotifyModule pull-right text-warning" *ngIf="usernotif.module == 'APPROVALS'">{{usernotif.module}}</span>
                                    </span>
                                    <ul>
                                        <li>
                                            <span class="userNotifyTime pull-right text-muted">{{usernotif.time}}</span>
                                        </li>
                                    </ul>
                                </a>
                                <a *ngIf="usernotif.actionType == 'REQUEST,REPORT'" (click)="showReportOutput(usernotif.actionValue);"> <span>
                                        <div>
                                            <span class="usernotifMessage" [ngClass]="usernotif.isViewed == true || null ? 'text-muted' : ''">{{usernotif.message}}</span>
                                        </div>
                                        <span class="userNotifyModule pull-right text-primary">{{usernotif.module}}</span>
                                    </span>
                                    <ul>
                                        <li>
                                            <span class="userNotifyTime pull-right text-muted">{{usernotif.time}}</span>
                                        </li>
                                    </ul>
                                </a>
                            </li>
                        </perfect-scrollbar>
                        <div class="user-notification-footer" *ngIf="navbarService.notificationlist && navbarService.notificationlist.data.length > 0">
                            <p>View all notification.</p>
                        </div>
                    </ul>
                </li> -->


                <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer theming-panel">
                    <a class="nav-link dropdown-toggle" (click)="toggleThemeSidebar('open')" ngbDropdownToggle mdTooltip="Themes">
                        <span>
                            <md-icon style="position: relative;">format_color_fill</md-icon>
                            <b class="caret"></b>
                        </span>
                    </a>
                </li>
                <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer theming-panel">
                    <a class="nav-link dropdown-toggle" (click)="commentsSidebar = true;comments();postUnReadCom();" ngbDropdownToggle mdTooltip="Comments">
                        <span>
                            <md-icon style="position: relative;">chat</md-icon>
                            <b class="caret"></b>
                        </span>
                        <div class="userNotify" *ngIf="trackerService.commentUnReadCount">
                            <!-- <span class="waves-effect"></span> -->
                            <span class="unreadCount">{{trackerService.commentUnReadCount}}</span>
                        </div>
                    </a>
                </li>
                <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer theming-panel">
                    <a class="nav-link dropdown-toggle" (click)="notificationSidebar = true;" ngbDropdownToggle mdTooltip="Notifications">
                        <span>
                            <md-icon style="position: relative;">format_align_left</md-icon>
                            <b class="caret"></b>
                        </span>
                        <div class="userNotify" *ngIf="navbarService.notificationlist && navbarService.notificationlist.unRead > 0">
                            <!-- <span class="waves-effect"></span> -->
                            <span class="unreadCount">{{navbarService.notificationlist?.unRead}}</span>
                        </div>
                    </a>
                </li>

                <!-- <li *ngSwitchCase="false" ngbDropdown class="blog-nav-items nav-item dropdown pointer">

                    <a class="nav-link dropdown-toggle" ngbDropdownToggle>
                        <span>PRODUCTS
                        </span>
                    </a>
                </li>
                <li *ngSwitchCase="false" ngbDropdown class="blog-nav-items nav-item dropdown pointer">

                    <a class="nav-link dropdown-toggle" ngbDropdownToggle>
                        <span>SUPPORT
                        </span>
                    </a>
                </li>
                <li *ngSwitchCase="false" ngbDropdown class="blog-nav-items nav-item dropdown pointer">

                    <a class="nav-link dropdown-toggle" ngbDropdownToggle>
                        <span>BLOG
                        </span>
                    </a>
                </li>
                <li *ngSwitchCase="false" ngbDropdown class="blog-nav-items nav-item dropdown pointer">

                    <a class="nav-link dropdown-toggle" ngbDropdownToggle>
                        <span>CONTACT
                        </span>
                    </a>
                </li> -->

                <span *ngSwitchCase="false" routerLink="login" style="font-size: 18px;color: white;padding:15px;top:20px;position:relative;">Login</span>
                <li ngbDropdown class="nav-item dropdown pointer" *ngSwitchCase="true">
                    <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu" style="position: relative;top: 3px;">
                        <!-- <span style="font-size:18px;" *ngIf="!getImageUrl()">
                            <md-icon *ngSwitchCase="true" style="position: relative;">person</md-icon>
                        </span> -->
                        <svg style="display:block;" *ngIf="cs.currentAccount && !cs.currentAccount.image" width="35" height="35" viewBox="0 0 512 512">
                            <rect x="20" y="20" rx="40" ry="40" width="90%" height="90%" [attr.fill]="currentColor" />
                            <text x="50%" y="50%" alignment-baseline="central" text-anchor="middle" fill="#fff" font-size="300" font-weight="100">{{firstLetter}}</text>
                        </svg>
                        <span *ngIf="cs.currentAccount && cs.currentAccount.image" class="display-picture account-picture">

                        </span>
                    </a>
                    <ul class="fadeInDown dropdown-menu dropdown-menu-right" [ngClass]="isAuthenticated() ? 'userList' : 'noClass'" ngbDropdownMenu>
                        <div class="splitListUser display-flex">
                            <div *ngIf="cs.currentAccount && cs.currentAccount.image" class="display-picture account-picture" style="width:60px;height:60px;margin: 15px 10px;left:5px;box-shadow: 0px 0px 5px 0px black;">

                            </div>
                            <svg style="display:block;margin-top: 15px;margin-left: 10px;" *ngIf="cs.currentAccount && !cs.currentAccount.image" width="65"
                                height="65" viewBox="0 0 512 512">
                                <rect x="20" y="20" rx="40" ry="40" width="90%" height="90%" [attr.fill]="currentColor" />
                                <text x="50%" y="50%" alignment-baseline="central" text-anchor="middle" fill="#fff" font-size="300" font-weight="100">{{firstLetter}}</text>
                            </svg>
                            <div *ngSwitchCase="true" style="cursor:default" style="min-width: 150px;margin-left: 10px;padding-top: 10px;">
                                <span style="font-size:14px;padding-right: 3px;">{{cs.currentAccount?.lastName}} {{cs.currentAccount?.firstName}}</span>
                                <span style="display:block;font-size:12px;padding-right: 5px;">{{cs.currentAccount?.email}}</span>
                                <span style="display:block;font-size:12px;padding-right: 5px;">{{cs.currentAccount?.businessTitle}}</span>
                                <span style="display:block;font-size:12px;padding-right: 5px;color:rgb(0, 110, 255)" [routerLink]="['/user-management', {outlets: {'content': cs.currentAccount?.id+'/details'}}]">
                                    View Profile
                                </span>
                            </div>
                            <!-- <li *ngSwitchCase="true" style="width:30%;">
                                <a class="dropdown-item curPointer" style="height:45px" routerLinkActive="active" (click)="collapseNavbar();userSetting();">
                                <i class="fa fa-fw fa-wrench" aria-hidden="true" style="margin: 10px 0px 0px 0px;"></i>
                            </a>
                            </li> -->
                        </div>
                        <ul class="splitList">
                            <li *ngSwitchCase="true" routerLink="password" routerLinkActive="active">
                                <a (click)="collapseNavbar()" style="margin-left:10px;font-size: 14px;">
                                    <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>
                                    <span style="color:black;">Password</span>
                                </a>
                            </li>
                            <li *ngSwitchCase="true" (click)="logout()">
                                <a id="logout" style="margin-left:10px;font-size: 14px;">
                                    <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>
                                    <span style="color:black;">Sign out</span>
                                </a>
                            </li>
                        </ul>
                        <li *ngSwitchCase="false" routerLink="login" routerLinkActive="active">
                            <a class="dropdown-item unsigned" (click)="collapseNavbar()" id="login" style="padding:10px">
                                <i class="fa fa-fw fa-sign-in" aria-hidden="true"></i>
                                <span>Sign in</span>
                            </a>
                        </li>
                        <li *ngSwitchCase="false" routerLink="register" routerLinkActive="active">
                            <a class="dropdown-item unsigned" (click)="collapseNavbar()" style="padding:10px">
                                <i class="fa fa-fw fa-registered" aria-hidden="true"></i>
                                <span>Register</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="theme-sidebar">
    <p-sidebar [(visible)]="themeSidebar" position="right" [baseZIndex]="10000" modal="false" (onHide)="toggleThemeSidebar('hide')">
        <div>
            <h4>Theming Panel</h4>
            <p>Customize in Real Time</p>
        </div>
        <hr>
        <div class="theme-colors">
            <h5>Color Options</h5>
            <div class="display-flex">
                <span class="round-theme g1" (click)="showConfig = true;onThemeChange('gradient1')" mdTooltip="gradient1">
                    <md-icon class="rnd-theme-act" *ngIf="cs.DYNAMIC_THEME == 'gradient1'">check_circle</md-icon>
                </span>
                <span class="round-theme g2" (click)="showConfig = true;onThemeChange('gradient2')" mdTooltip="gradient2">
                    <md-icon class="rnd-theme-act" *ngIf="cs.DYNAMIC_THEME == 'gradient2'">check_circle</md-icon>
                </span>
                <span class="round-theme g3" (click)="showConfig = true;onThemeChange('gradient3')" mdTooltip="gradient3">
                    <md-icon class="rnd-theme-act" *ngIf="cs.DYNAMIC_THEME == 'gradient3'">check_circle</md-icon>
                </span>
                <span class="round-theme" style="background-color: #EC407A;" (click)="showConfig = true;onThemeChange('pink')" mdTooltip="Hot Pink">
                    <md-icon class="rnd-theme-act" *ngIf="cs.DYNAMIC_THEME == 'pink'">check_circle</md-icon>
                </span>
                <span class="round-theme" style="background-color: #131313;" (click)="showConfig = true;onThemeChange('black')" mdTooltip="Dark">
                    <md-icon class="rnd-theme-act" *ngIf="cs.DYNAMIC_THEME == 'black'">check_circle</md-icon>
                </span>
                <span class="round-theme" style="background-color: #ffffff;border:1px solid rgb(221, 221, 221);" (click)="showConfig = true;onThemeChange('white')"
                    mdTooltip="White">
                    <md-icon class="rnd-theme-act" *ngIf="cs.DYNAMIC_THEME == 'white'">check_circle</md-icon>
                </span>
                <span class="round-theme" style="background-color: #4885ed;" (click)="showConfig = true;onThemeChange('blue-skies3')" mdTooltip="Navy Blue3">
                    <md-icon class="rnd-theme-act" *ngIf="cs.DYNAMIC_THEME == 'blue-skies3'">check_circle</md-icon>
                </span>


            </div>
            <div class="display-flex">
                <span class="round-theme" style="background-color: #6460AA;" (click)="showConfig = true;onThemeChange('indigo1')" mdTooltip="Magenta1">
                    <md-icon class="rnd-theme-act" *ngIf="cs.DYNAMIC_THEME == 'indigo1'">check_circle</md-icon>
                </span>
                <span class="round-theme" style="background-color: #303F9F;" (click)="showConfig = true;onThemeChange('indigo')" mdTooltip="Indigo">
                    <md-icon class="rnd-theme-act" *ngIf="cs.DYNAMIC_THEME == 'indigo'">check_circle</md-icon>
                </span>
                <span class="round-theme" style="background-color: #009DDC;" (click)="showConfig = true;onThemeChange('blue')" mdTooltip="Navy Blue">
                    <md-icon class="rnd-theme-act" *ngIf="cs.DYNAMIC_THEME == 'blue'">check_circle</md-icon>
                </span>
                <span class="round-theme" style="background-color: #1cbcd8;" (click)="showConfig = true;onThemeChange('blue-skies')" mdTooltip="Blue Skies">
                    <md-icon class="rnd-theme-act" *ngIf="cs.DYNAMIC_THEME == 'blue-skies'">check_circle</md-icon>
                </span>
                <span class="round-theme" style="background-color: #F37021;" (click)="showConfig = true;onThemeChange('coral')" mdTooltip="Coral">
                    <md-icon class="rnd-theme-act" *ngIf="cs.DYNAMIC_THEME == 'coral'">check_circle</md-icon>
                </span>
                <span class="round-theme" style="background-color: #009da0" (click)="showConfig = true;onThemeChange('aqua')" mdTooltip="Aqua">
                    <md-icon class="rnd-theme-act" *ngIf="cs.DYNAMIC_THEME == 'aqua'">check_circle</md-icon>
                </span>
                <span class="round-theme" style="background-color: #0cc27e;" (click)="showConfig = true;onThemeChange('green')" mdTooltip="Bristle Grass">
                    <md-icon class="rnd-theme-act" *ngIf="cs.DYNAMIC_THEME == 'green'">check_circle</md-icon>
                </span>
                <span class="round-theme" style="background-color: #FDB827;" (click)="showConfig = true;onThemeChange('lime')" mdTooltip="Lemonade">
                    <md-icon class="rnd-theme-act" *ngIf="cs.DYNAMIC_THEME == 'lime'">check_circle</md-icon>
                </span>

            </div>
            <div class="display-flex">
                <span class="round-theme" style="background-color: #7E57C2;" (click)="showConfig = true;onThemeChange('magenta')" mdTooltip="Magenta">
                    <md-icon class="rnd-theme-act" *ngIf="cs.DYNAMIC_THEME == 'magenta'">check_circle</md-icon>
                </span>
                <span class="round-theme" style="background-color: #963D97;" (click)="showConfig = true;onThemeChange('indigo2')" mdTooltip="Indigo2">
                    <md-icon class="rnd-theme-act" *ngIf="cs.DYNAMIC_THEME == 'indigo2'">check_circle</md-icon>
                </span>
                <span class="round-theme" style="background-color: #0089D0;" (click)="showConfig = true;onThemeChange('blue-skies1')" mdTooltip="Navy Blue1">
                    <md-icon class="rnd-theme-act" *ngIf="cs.DYNAMIC_THEME == 'blue-skies1'">check_circle</md-icon>
                </span>
                <span class="round-theme" style="background-color: #176BEF;" (click)="showConfig = true;onThemeChange('blue-skies2')" mdTooltip="Navy Blue2">
                    <md-icon class="rnd-theme-act" *ngIf="cs.DYNAMIC_THEME == 'blue-skies2'">check_circle</md-icon>
                </span>
                <span class="round-theme" style="background-color: #F5821F;" (click)="showConfig = true;onThemeChange('coral1')" mdTooltip="Coral1">
                    <md-icon class="rnd-theme-act" *ngIf="cs.DYNAMIC_THEME == 'coral1'">check_circle</md-icon>
                </span>
                <span class="round-theme" style="background-color: #61BB46" (click)="showConfig = true;onThemeChange('green1')" mdTooltip="Green1">
                    <md-icon class="rnd-theme-act" *ngIf="cs.DYNAMIC_THEME == 'green1'">check_circle</md-icon>
                </span>
                <span class="round-theme" style="background-color: #009925;" (click)="showConfig = true;onThemeChange('green2')" mdTooltip="Bristle Grass">
                    <md-icon class="rnd-theme-act" *ngIf="cs.DYNAMIC_THEME == 'green2'">check_circle</md-icon>
                </span>

                <span class="round-theme" style="background-color: #EEB211;" (click)="showConfig = true;onThemeChange('lime1')" mdTooltip="Lemonade1">
                    <md-icon class="rnd-theme-act" *ngIf="cs.DYNAMIC_THEME == 'lime1'">check_circle</md-icon>
                </span>

            </div>
        </div>
        <hr>
        <div class="theme-colors">
            <h5>Fonts</h5>
            <div>
                <md-select [(ngModel)]="cs.DYNAMIC_FONT" (change)="onFontChange(cs.DYNAMIC_FONT)" name="font">
                    <md-option *ngFor="let f of fonts" [value]="f.value" [ngClass]="f.fontFamily">{{f.label}}</md-option>
                </md-select>
            </div>
        </div>
    </p-sidebar>
</div>
<div class="theme-sidebar notification-bar">
    <p-sidebar [(visible)]="notificationSidebar" position="right" [baseZIndex]="10000" modal="false">
        <div style="width: 28em !important;margin-top: 50px;">
            <!-- <div style="border-bottom: 1px solid #e2e2e2">
            <h4>Notifications</h4>
        </div> -->
        <md-tab-group class="col-md-12" [selectedIndex]="selectedTab" dynamicHeight="true" (focusChange)="loadnotification($event);">
                <md-tab>
                    <ng-template md-tab-label>
                        <label class="hand">Jobs</label>
                        <!-- <div class="userNotify" *ngIf="navbarService.notificationlist && navbarService.notificationlist.unRead > 0">
                                        <span class="waves-effect"></span>
                                        <span class="unreadCount">{{navbarService.notificationlist.unRead}}</span>
                                </div> -->
                    </ng-template>
                    <div class="jobs-window-new">
                        <div *ngIf="trackerService.schedularList.length < 1" style="text-align: center; margin-top: 20%;">No jobs schedules</div>
                        <!-- <div class="nav-heading notification-heading">
                                            <div class="nav-inner-heading">
                                                <h3>Job Notifications</h3>
                                            </div>
                                        </div> -->
                        <!-- <div *ngIf="schedularList.length > 1" class="nav-heading">
                            <h5 class="nav-inner-heading">Job Notifications</h5>
                        </div> -->
                        <ul>
                            <perfect-scrollbar style="max-height:calc(100vh - 200px);" id="sidenavscrollJobs">
                                <li class="mainList" *ngFor="let col of trackerService.schedularList">
                                    <div class="jobNameDiv">
                                        <span class="jobNameSpan">{{col.jobName}}</span>
                                    </div>
                                    <ul>
                                        <li style="padding:10px 0;">{{col.programName}} - {{col.frequencyType}}
                                            <span class="badge badge-success pull-right statusIcon" *ngIf="col.oozieStatus == 'SUCCEEDED'">{{col.oozieStatus}}</span>
                                            <span class="badge badge-danger pull-right statusIcon" *ngIf="col.oozieStatus == 'KILLED'">{{col.oozieStatus}}</span>
                                            <span class="badge badge-warning pull-right statusIcon" *ngIf="col.oozieStatus == 'SUSPENDED'">{{col.oozieStatus}}</span>
                                            <span class="badge badge-primary pull-right statusIcon" *ngIf="col.oozieStatus == 'RUNNING'">
                                                <i style="font-size: 12px;" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i> {{col.oozieStatus}}</span>
                                            <span class="badge badge-info pull-right statusIcon" *ngIf="col.oozieStatus == 'RESUME'">{{col.oozieStatus}}</span>
                                        </li>
                                    </ul>
                                </li>
                            </perfect-scrollbar>
                        </ul>
                        <div class="user-notification-footer" *ngIf="trackerService.schedularList.length > 0" [ngClass]="trackerService.schedularList.length<3?'posAbsol':''">
                            <button md-raised-button [routerLink]="['/jobs', { outlets: { 'content': ['SCHEDULED'] + '/' + ['Frequency'] + '/' + ['SCHEDULED'] + '/schedulars-list' } }]">More job submissions</button>
                        </div>
                    </div>
                </md-tab>
                <md-tab>
                    <ng-template md-tab-label>
                        <label class="hand">Processes</label>
                        <div class="userNotify" *ngIf="navbarService.notificationlist && navbarService.notificationlist.unRead > 0">
                            <!-- <span class="waves-effect"></span> -->
                            <span class="unreadCount">{{navbarService.notificationlist?.unRead}}</span>
                        </div>
                    </ng-template>
                    <div class="jobs-window-new">
                        <div *ngIf="navbarService.notificationlist?.data < 1" style="text-align: center; margin-top: 20%;">All Caught Up! No new notification.</div>
                        <perfect-scrollbar style="max-height:calc(100vh - 250px);" id="sidenavscrollprocess">
                            <ul *ngIf="navbarService.notificationlist">
                                <li class="mainList" *ngFor="let usernotif of navbarService.notificationlist?.data">
                                    <span *ngIf="usernotif.actionType != 'REQUEST,REPORT'" [ngClass]="usernotif.isViewed == true || null ? 'text-muted' : ''">{{usernotif.message}}</span>
                                    <span *ngIf="usernotif.actionType == 'REQUEST,REPORT'" (click)="showReportOutput(usernotif.actionValue);" [ngClass]="usernotif.isViewed == true || null ? 'text-muted' : ''">{{usernotif.message}}</span>
                                    <div class="d-flex justify-content-between">
                                        <span class="userNotifyTime pull-left">{{usernotif.time}}</span>
                                        <span [ngClass]="usernotif.module == 'RECON' ? 'text-primary' : usernotif.module == 'ACCOUTING' ? 'text-info' : usernotif.module == 'JOURNALS' ? 'text-success' : usernotif.module == 'APPROVALS' ? 'text-warning' : ''">
                                            {{usernotif.module}}
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </perfect-scrollbar>
                        <!-- <div class="user-notification-footer" *ngIf="navbarService.notificationlist && navbarService.notificationlist.data.length > 0">
                            <button md-raised-button>View all notifications</button>
                        </div> -->
                    </div>
                </md-tab>
            </md-tab-group>
        </div>
    </p-sidebar>

    <p-sidebar [(visible)]="commentsSidebar" position="right" [baseZIndex]="10000" modal="false">
        <!-- <md-tab-group class="col-md-12" [selectedIndex]="selectedTab" dynamicHeight="true" (focusChange)="postUnReadCom();">
            <md-tab>
                <ng-template md-tab-label>
                    <label class="hand">Comments</label>
                    <div class="userNotify" *ngIf="trackerService.commentUnReadCount">
                        <span class="waves-effect"></span>
                        <span class="unreadCount">{{trackerService.commentUnReadCount}}</span>
                    </div>
                </ng-template> -->
        <div class="jobs-window-new">
            <div *ngIf="trackerService.allMessages.length < 1" style="text-align: center;margin-top: 10px;padding-left: 30px;">No Comments Found!</div>
            <div class="comments-table" style="overflow:auto;border-bottom: 1px solid lightgray;padding: 10px;">
                <!-- <perfect-scrollbar > -->
                <div id="comments_table">


                    <div class="comment-loop" *ngFor="let msg of trackerService.allMessages;let i = index;">
                        <!-- <div *ngIf="msg && msg.image" class="chat-picture" [style.backgroundImage]="'url(data:image/png;base64,' + msg.image + ')'"
                            style="width:42px;height:37px;margin: 8px 2px;box-shadow: 0px 0px 5px 0px black;"></div> -->
                        <!-- <svg *ngIf="msg && !msg.image && msg.firstLetter" style="display:block;" width="35" height="35" viewBox="0 0 512 512">
                                <rect x="20" y="20" rx="40" ry="40" width="90%" height="90%" [attr.fill]="currentColor"/>
                                <text x="50%" y="50%" alignment-baseline="central" text-anchor="middle" fill="#fff" font-size="300" font-weight="100">{{msg.firstLetter}}</text>
                            </svg> -->
                        <!-- <div *ngIf="msg && !msg.image && msg.firstLetter" class="chat-picture" style="width:42px;height:37px;margin: 8px 2px;box-shadow: 0px 0px 5px 0px black;"
                            [attr.data-content]="msg.firstLetter"></div> -->
                        <div *ngIf="msg" class="comment-body">
                            <svg *ngIf="msg && msg.firstLetter" style="display:block;position: absolute;" width="35" height="35" viewBox="0 0 512 512">
                                <rect x="20" y="20" rx="40" ry="40" width="90%" height="90%" [attr.fill]="currentColor" />
                                <text x="50%" y="50%" alignment-baseline="central" text-anchor="middle" fill="#fff" font-size="300" font-weight="100">{{msg.firstLetter}}</text>
                            </svg>
                            <div style="min-height:48px;margin-left:35px;">
                                <div class="comment-inner">
                                    <div class="author">{{msg?.userName}}</div>
                                    <!-- <div class="more-options">
                                                    <md-icon class="hand" mdTooltip="More Actions" [mdMenuTriggerFor]="moreActions" *ngIf="msg && cs.currentAccount && cs.currentAccount.id == msg.userId">more_vert</md-icon>
                                                    <md-menu [overlapTrigger]="false" #moreActions="mdMenu" yPosition="below" xPosition="after">
                                                        <ul>
                                                            <li (click)="deleteComment(msg.id,'comment')" mdTooltip="Permanently delete your comment!">
                                                                Delete
                                                            </li>
                                                        </ul>
                                                    </md-menu>
                                                </div> -->
                                    <div class="send-time">{{msg?.creationDate}}</div>
                                    <div style="padding-top:2px;">
                                        <div class="message-body">
                                            {{msg?.messageBody}}
                                        </div>
                                        <div class="reply-actions">
                                            <div style="color: #999;line-height: 100%;">
                                                <a (click)="openReplyBox(i)">Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="margin: 4px 12px 3px 0;">
                                <div *ngIf="msg && msg.replies && msg.replies.length > 0">
                                    <div class="all-replies" *ngFor="let rep of msg.replies;let r = index;">
                                        <!-- <div *ngIf="msg && msg.image" class="chat-picture" [style.backgroundImage]="'url(data:image/png;base64,' + rep.image + ')'"
                                            style="width:29px;height:28px;box-shadow: 0px 0px 5px 0px black;"></div>
                                        <div *ngIf="msg && !msg.image && msg.firstLetter" class="chat-picture" style="width:29px;height:28px;box-shadow: 0px 0px 5px 0px black;"
                                            [attr.data-content]="rep.firstLetter"></div> -->
                                        <div class="replies-body">
                                            <svg *ngIf="msg && msg.firstLetter" style="display:block;position: absolute;" width="35" height="35" viewBox="0 0 512 512">
                                                <rect x="20" y="20" rx="40" ry="40" width="90%" height="90%" [attr.fill]="currentColor" />
                                                <text x="50%" y="50%" alignment-baseline="central" text-anchor="middle" fill="#fff" font-size="300" font-weight="100">{{rep.firstLetter}}</text>
                                            </svg>
                                            <div style="text-align:left;padding-left: 38px;">
                                                <div class="reply-username">
                                                    {{rep.userName}}
                                                </div>
                                                <span class="reply-messagebody">
                                                    {{rep.messageBody}}
                                                </span>
                                            </div>
                                            <div class="d-flex" style="padding-left:36px;">
                                                <div style="color: #999;font-size: 11px;white-space: pre;padding:2px;">
                                                    {{rep.creationDate}}
                                                </div>
                                                <!-- <div class="deleteReply" *ngIf="rep && cs.currentAccount && cs.currentAccount.id == rep.userId">
                                                                <a style="color:#2196F3;" (click)="deleteComment(rep.id,'reply')" mdTooltip="Permanently delete your comment!">Delete</a>
                                                            </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="msg && isReplyBox && msg.isReply == true" class="reply-comment">
                                <!-- <div *ngIf="msg && cs.currentAccount && cs.currentAccount.image" class="chat-picture" [style.backgroundImage]="'url(data:image/png;base64,' + cs.currentAccount.image + ')'"
                                    style="width:29px;height:28px;box-shadow: 0px 0px 5px 0px black;"></div>
                                <div *ngIf="msg && !msg.image && msg.firstLetter" class="chat-picture" style="width:29px;height:28px;box-shadow: 0px 0px 5px 0px black;"
                                    [attr.data-content]="msg.firstLetter"></div> -->
                                <svg *ngIf="msg && msg.firstLetter" style="display:block;position: absolute;" width="30" height="30" viewBox="0 0 512 512">
                                    <rect x="20" y="20" rx="40" ry="40" width="90%" height="90%" [attr.fill]="currentColor" />
                                    <text x="50%" y="50%" alignment-baseline="central" text-anchor="middle" fill="#fff" font-size="280" font-weight="100">{{msg.firstLetter}}</text>
                                </svg>
                                <div class="reply-body">
                                    <input type="text" (click)="openReplyActions(i);" class="form-control" [name]="'replyInput' + i" [(ngModel)]="msg.replyText"
                                        style="font-size: 12px;width: 250px;border-radius: 20px;display:initial;height: 25px;">
                                    <div *ngIf="isReplyActions && selectedIndex == i" style="padding:5px;">
                                        <span class="badge hand" (click)="sendReply(msg.replyText,msg.id);">Reply</span>
                                        <span class="badge hand" (click)="closeReplyBox(i);">Cancel</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </perfect-scrollbar> -->
            </div>
            <!-- <div class="col-md-12 new-comment hand">
                <a (click)="openCommentBox()">
                    <i class="fa fa-plus"></i>Post New Comment</a>
            </div> -->
            <div class="col-md-12 comment-area">
                <!-- <a (click)="closeCommentBox()">
                    <i class="fa fa-angle-left"></i>Cancel</a> -->
                <textarea class="sc-text-area" [(ngModel)]="sendtext" name="textmessage" placeholder="Post New Comment" required style="width:100%;">
                                </textarea>
                <button *ngIf="sendtext" md-raised-button (click)="OnKeyDown(sendtext);comments();">Post</button>
            </div>
        </div>
        <!-- </md-tab>
        </md-tab-group> -->
    </p-sidebar>

</div>