
<div *ngIf="jeLines">
    <h2><span jhiTranslate="agreeGatewayV1App.jeLines.detail.title">Je Lines</span> {{jeLines.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="agreeGatewayV1App.jeLines.jeBatchId">Je Batch Id</span></dt>
        <dd>
            <span>{{jeLines.jeBatchId}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.jeLines.rowId">Row Id</span></dt>
        <dd>
            <span>{{jeLines.rowId}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.jeLines.lineNum">Line Num</span></dt>
        <dd>
            <span>{{jeLines.lineNum}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.jeLines.descriptionAttribute">Description Attribute</span></dt>
        <dd>
            <span>{{jeLines.descriptionAttribute}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.jeLines.currency">Currency</span></dt>
        <dd>
            <span>{{jeLines.currency}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.jeLines.debitAmount">Debit Amount</span></dt>
        <dd>
            <span>{{jeLines.debitAmount}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.jeLines.creditAmount">Credit Amount</span></dt>
        <dd>
            <span>{{jeLines.creditAmount}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.jeLines.accountedDebit">Accounted Debit</span></dt>
        <dd>
            <span>{{jeLines.accountedDebit}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.jeLines.accountedCredit">Accounted Credit</span></dt>
        <dd>
            <span>{{jeLines.accountedCredit}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.jeLines.comments">Comments</span></dt>
        <dd>
            <span>{{jeLines.comments}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.jeLines.createdBy">Created By</span></dt>
        <dd>
            <span>{{jeLines.createdBy}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.jeLines.lastUpdatedBy">Last Updated By</span></dt>
        <dd>
            <span>{{jeLines.lastUpdatedBy}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.jeLines.createdDate">Created Date</span></dt>
        <dd>
            <span>{{jeLines.createdDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="agreeGatewayV1App.jeLines.lastUpdatedDate">Last Updated Date</span></dt>
        <dd>
            <span>{{jeLines.lastUpdatedDate | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'je-lines/'+ jeLines.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
